// Buttons and Knobs

button::-moz-focus-inner {

    /* "I found out that Firefox adds an extra margin/padding to button
     * elements that cannot be changed by standard CSS, you can however
     * add the following to make it behave"
     *
     *  http://stackoverflow.com/questions/5939781/
     */

    border: 0;
    padding: 0;
}

button,
.button {
    background: $gray;
    border: 0;
    color: white;
    font: bold 12px $Ideal;
    margin: 0 0 0 1px;
    padding: 5px 8px;
    @include border-radius(3px);
    cursor: pointer;
    display: inline;

    &:disabled {
        opacity: .5;

        &:hover {
            background: $gray;
            cursor: default;
        }
    }
}
button:hover,
.button:hover {
    background: $darker-gray;
}
button.selected,
.button.selected {
    background: $green;
}
button.selected:hover, button.selected.drag,
.button.selected:hover, .button.selected.drag {
    background: $darker-green;
}

button.join-leave[data-is-member="true"],
.button.join-leave[data-is-member="true"],
button.close-account {
    font-weight: normal;
    background: none;
    color: $red;
    border: 1px solid $red;
    &:hover {
        background: $red;
        color: white;
        text-decoration: none;
    }
}

button.join-leave[data-is-member="false"],
.button.join-leave[data-is-member="false"] {
    @extend .selected;
}
