@import "icons-mixins";

// Fonts
$Mono: Monaco, "Lucida Mono", monospace;
$Ideal: 'Ideal Sans SSm A', 'Ideal Sans SSm B', sans-serif;
$Chronicle: 'Chronicle SSm A', 'Chronicle SSm B', Georgia, serif;

// Colors
$green: #396;
$darker-green: darken($green, 10);
$lighter-green: lighten($green, 10);
$brown: #630;
$light-brown: desaturate(lighten($brown, 60), 60);
$gray: #555;
$light-gray: #DDD;
$darker-gray: #CCC;
$lighter-gray: #EEE;
$black: #454545;
$red: #C00;
$light-red: #F99;
$gold: #FFC300;
$white: #FFF;

// Mixins
@mixin border-radius($radius: 5px) {
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-color-border($top, $sides, $bottom) {
    border-top: 1px solid $top;
    border-left: 1px solid $sides;
    border-right: 1px solid $sides;
    border-bottom: 1px solid $bottom;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: ($start + $stop) / 2 $image;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin opacity($op) {
    opacity: $op;
}
