/*

    This is the top of the Gittip CSS tree. This gets compiled to a single
    compressed CSS file by `make css`, and that is stored in the repo so new
    devs can get up and running quickly.

*/


// Define some basic things that are used throughout the site.

@import "fonts-colors-mixins";
@import "utils";
@import "buttons-knobs";
@import "modules";  // bigger than a knob, but used in multiple places
@import "elements"; // specific HTML elements (body, p, etc.)


// Page layout styles

@import "layout";


// Styles specific to certain pages. 

@import "history";
@import "horn";
@import "team";
@import "profile-edit";


// Group media queries together.

@import "responsiveness";
