.matrix th, .matrix td, .matrix input.my-tip {
    font: normal 12px/14px $Ideal;
}
.matrix td {
    text-align: left;
    height: 30px;
}
.matrix h2,
.matrix tr.tip td,
.matrix tr.tip th,
.matrix tr.pledge td,
.matrix tr.pledge th {
    white-space: nowrap;
}
.matrix th {
    vertical-align: middle;
    padding-right: 0.5em;
}
