/*
    This is the top of the Gratipay CSS tree.

    Our code organization here was inspired by Brad Frost's Atomic Web Design:

        http://bradfrost.com/blog/post/atomic-web-design/

    We dropped the "atomic" metaphor and tried to use nomenclature consistent
    with how the W3C talks about HTML.

*/

@import "mixins/layout";
@import "mixins/icons";
@import "mixins/borders-backgrounds-shadows";
@import "mixins/animation";
@import "mixins/transform";
@import "utils";
@import "variables";

@import "elements/reset";
@import "elements/buttons-knobs";
@import "elements/elements";

@import "components/chart";
@import "components/chosen";
@import "components/communities";
@import "components/cta";
@import "components/dropdown";
@import "components/emails";
@import "components/feedback";
@import "components/js-edit";
@import "components/leaderboard";
@import "components/linear_gradient";
@import "components/loading-indicators";
@import "components/memberships";
@import "components/payments-by";
@import "components/profile-statement";
@import "components/sign_in";
@import "components/support_gratipay";
@import "components/table";
@import "components/tip-distribution";
@import "components/tipr";
@import "components/upgrade";

@import "fragments/accounts";
@import "fragments/members";
@import "fragments/mini-user";
@import "fragments/notifications";

@import "layouts/layout";
@import "layouts/responsiveness";

@import "pages/homepage";
@import "pages/history";
@import "pages/team";
@import "pages/profile-edit";
@import "pages/giving";
@import "pages/settings";
@import "pages/cc-ba";
@import "pages/on-confirm";
@import "pages/search";
@import "pages/hall-of-fame";
