.homepage {

    color: red; // so any anomalies are clear
    display: table;
    width: 100%;
    min-height: 100%;
    height: 100%;

    background: #434343 url("pennies.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -54px;

    span {
        white-space: nowrap;
    }

    h1 {
        font: bold 30px/40px $Ideal;
        text-transform: none;
        margin: 0;
        padding: 0;
    }

    p, .jump {
        font: normal 18px/24px $Ideal;
    }
    p {
        margin: 0;
        padding: 0 0 24px 0;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .jump {
        margin: 0;
        padding: 48px 0 0;
    }

    .pitch,.action {
        display: table-cell;
        position: relative;
    }

    .pitch {
        width: 480px;
        padding: 256px 48px 128px 110px;
        color: transparentize($white, 0.3);
        background: transparentize($brown, 0.1);
        img {
            width: 384px;
            position: absolute;
            top: 48px;
            left: 48px;
        }
        h1 { color: $white; }
        a {
            color: transparentize($gold, 0.2);
            &:hover {
                color: $gold;
            }
        }
    }

    .action {
        padding: 256px 48px 128px;
        color: transparentize($brown, 0.2);
        background: transparentize($white, 0.1);
        h1 { color: $brown; }
        a {
            color: transparentize($green, 0.3);
            &:hover {
                color: $green;
            }
        }

        form {
            display: inline;
        }

        div.twitter {
            margin-bottom: 48px;
            button {
                @include has-icon("twitter", 24px, 4px);
                font-size: 24px;
                padding: 10px 24px 10px 18px;
                border-radius: 6px;
                background: $green;
                color: $white;
                &:hover {
                    color: $gold;
                    border-color: $brown;
                    background: $brown;
                }
            }
        }
        .other {
            padding-bottom: 24px;
            font-size: 13px;
            line-height: 18px;

            button {
                border: 1px solid transparentize($brown, 0.2);
                background: transparent;
                color: transparentize($brown, 0.2);
                &:hover {
                    color: $gold;
                    border-color: $brown;
                    background: $brown;
                }
            }
            form.github button { @include has-icon("github"); }
            form.bitbucket button { @include has-icon("bitbucket"); }
            form.openstreetmap button { @include has-icon("openstreetmap"); }
        }
    }

    .support-gittip {
        padding-right: 10px;
        text-align: center;
        margin: 0 0 24px;
        border-radius: 3px;
        .knobs {
            width: 261px;
            display: table;
            position: static;
            top: 0;
            right: 0;
            margin: 20px auto 0;
            button {
                width: 128px;
                height: 40px;
                font-size: 18px;
            }
            a {
                width: 128px;
                margin-top: 14px;
            }
        }
        .help {
            margin-top: 0;
        }
    }

}
