#hero {
    .homepage-content {
        padding: 128px 0;
    }
}

#hero .homepage-content,
.homepage-content {

    color: $white; 

    span {
        white-space: nowrap;
    }

    h1 {
        font: bold 96px/96px $Ideal;
        text-shadow: 0.05em 0.05em 0.2em black;
        text-transform: none;
        margin: 0 0 24px;
        padding: 0;
        color: $white;
    }

    p {
        font: normal 48px/72px $Ideal;
        text-shadow: 0.1em 0.1em 0.2em black;
        margin: 0;
        padding: 0;

        .parenthesis {
            font-size: 36px;
            line-height: 60px;
        }
    }

    a {
        color: $gold;
        &:hover {
            color: $brown;
        }
    }

    .give-receive {
        display: table;
        width: 100%;

        .give,.receive {
            width: 50%;
            display: table-cell;
            padding: 96px 48px;
        }

        .give {
            background: transparentize($brown, 0.1);
        }

        .receive {
            background: transparentize($gold, 0.1);
        }

    }

    .why {
        text-align: center;
        padding: 96px 48px;
            background: transparentize($green, 0.2);
    }

    .browse-about {
        display: table;
        width: 100%;

        .browse,.about {
            width: 50%;
            display: table-cell;
        }

        .browse {
            background: transparentize($brown, 0.1);
        }

        .about {
            background: transparentize($gold, 0.1);
            a {
                color: $brown;
            }
        }
        h1 {
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 96px 48px;
                text-align: center;
                &:hover {
                    color: $green;
                }
            }
        }

    }
}
