#horn {
    .box {
        margin-top: 0;
    }

    textarea {
        width: 100%;
        height: 40px;
        font: normal 16px/20px $Helvetica;
    }
    .help {
        font: normal 10px/12px $Helvetica;
        color: $brown;
        text-transform: uppercase;
        display: block;

        span {
            display: inline-block;
            white-space: nowrap;
            padding: 2pt 0;
        }
    }
    .datetime {
        display: block;
        padding: 0 0 3pt;
    }
    button#toot-button {
        float: right;
    }
    .toot-form-wrapper {
        margin: 0 auto 12pt;
        width: 480px;
    }
    .toot {
        padding: 20px 10px;
    }
    .nav {
        padding: 5px 10px;
    }
    li {
        text-align: left;
        margin: 0 auto 12pt;

        .level-1 {
            font: normal 11px/13px $Helvetica;
        }

        &.me.theirs {
            font: bold 18px/19px $Helvetica;
        }
        &.them {
            font: normal 12px/13px $Helvetica;
        }
        &.them.own {
            font-weight: bold;
        }
        .meta {
            text-align: right;
            text-transform: none;
            font: normal 11px/13px $Helvetica;
            color: $light-brown;

            span {
                display: inline-block;
                white-space: nowrap;
                padding: 2pt 0;
            }

            .re {
                text-align: left;
                padding-right: 3pt;
            }
            .tootee {
                font-weight: bold;
            }
            .time {
                font-style: italic;
            }
        }
    }
}
