@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?r52iz1');
    src:url('fonts/icomoon.eot?#iefixr52iz1') format('embedded-opentype'),
        url('fonts/icomoon.woff?r52iz1') format('woff'),
        url('fonts/icomoon.ttf?r52iz1') format('truetype'),
        url('fonts/icomoon.svg?r52iz1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin icon($name: "", $font-size: 16px, $margin-right: 4px) {
  font-family: 'icomoon';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  font-size: $font-size;
  margin-right: $margin-right;
  text-transform: none;
  -webkit-font-smoothing: antialiased;

  @if $name == "facebook" {
    content: "\e000";
  } @else if $name == "twitter" {
    content: "\e001";
  } @else if $name == "google" {
    content: "\e002";
  } @else if $name == "github" {
    content: "\e003";
  } @else if $name == "openstreetmap" {
    content: "\e004";
  } @else if $name == "bitbucket" {
    content: "\e005";
  }
}

@mixin has-icon($name: "", $font-size: 16px, $margin-right: 4px) {
  &:before {
    @include icon($name, $font-size, $margin-right);
  }
}
