body {
    background: #434343 url("pennies.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -54px;
    line-height: 100%;
}

#header {
    background: transparentize($white, 0.1);
    position: relative;
    border-bottom: 1px solid $brown;

    h1 {
        line-height: 100%;
        a {
            display: block;
            padding: 10px;
            width: 200px;
            img {
                display: block;
                width: 180px;
            }
        }
    }
    .sign-in, .you-are {
        padding-top: 18px;
        position: absolute;
        top: 0;
        right: 40px;
        font: normal 13px $Ideal;
        text-align: right;
    }
    .you-are {
        padding-top: 4px;
        white-space: nowrap;

        .quick-stats {
            font: normal 11px/13px $Ideal;
            a {
                color: $brown;
                &:hover {
                    color: $green;
                }
            }
        }
    }
}

#wrapper {
    display: table;
    width: 100%;
}
#wrapper-2 {
    display: table-row;
}
#sidebar {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    padding: 50px 0;
    background: transparentize($brown, 0.1);
    border-right: 1px solid $brown;
    color: $white;

    .avatar img {
        width: 180px;
        height: 180px;
        margin: -40px 10px 10px;
        border: 1px solid $brown;
    }

    .nav {
        li {
            margin: 0;
        }
        a {
            padding: 5px 20px;
            display: block;
            color: $gold;
            &.selected {
                background: transparentize($gold, 0.8);
                color: $white;
            }
        }
    }

    .padding {
        padding: 0 20px 50px;
        line-height: 150%;
    }

    .is-suspicious-knob {
        text-align: right;
        margin: -10px 10px 2px;
        font-size: 10px;
        text-transform: uppercase;
        display: block;
    }
}
#content {
    display: table-cell;
    vertical-align: top;
    padding: 50px;
    background: transparentize($white, 0.03);
    font: 300 16px/170% $Chronicle;

    h1 {
        color: $green;
        font: normal 35px $Ideal;
        margin: 0 0 20px 0;
    }

    h2, #members th {
        color: $brown;
        font: bold 14px $Ideal;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 35px 0 8px;
    }
    .statement {
        font: 300 16px/170% $Chronicle;
    }
}

.col {
    width: auto;
    margin: 0 auto;
}

.col0, .col1, .col2 {
    width: 50%;
    max-width: 100%;
}

.col0 {
}

.col1 {
    float: left;
    padding-right: 3%;
}

.col2 {
    float: right;
    padding-left: 3%;
}

.more-container {
    @include clearfix;
    text-align: center;
    padding-top: 20px;
}

.payment-footer {
    font: normal 12px $Ideal;
    text-align: center;
}

#footer {
    @include clearfix;
    background: transparentize($white, 0.1);
    border-top: 1px solid $brown;
    padding: 10px 40px;
    text-align: right;
    font-size: 13px;
    line-height: 13px;

    .social {
        float: left;
    }

    ul {
        float: right;
        @include clearfix;
    }
    li {
        float: left;
        margin: 0;

        &:before {
            content: "|";
            padding: 0 0.4em;
        }

        &:first-child:before {
            content: none;
        }
    }
}
