body {
    background: #434343 url("pennies.jpg") no-repeat;
    background-size: 100% auto;
    background-position: 0 -54px;
    line-height: 100%;
}

#header {
    background: transparentize($white, 0.1);
    border-bottom: 1px solid $brown;
    position: relative;

    h1 {
        line-height: 100%;
        height: 78px;
        width: 200px;
        float: left;
        a {
            display: inline-block;
            padding: 10px;
            width: 200px;
            img {
                display: inline-block;
                width: 180px;
            }
            &:hover {
                padding-top: 6px;
                border-top: 4px solid $gold;
                background: transparentize($gold, 0.8);
            }
        }
    }
    .nav {
        line-height: 100%;
        display: inline-block;
        height: 78px;

        li {
            display: inline;
            margin: 0;
            a {
                height: 78px;
                font: normal 16px/16px $Ideal;
                display: inline-block;
                padding: 31px 10px 31px 40px;
                color: $black;
                &.selected {
                    padding-top: 27px;
                    border-top: 4px solid $brown;
                    background: transparentize($brown, 0.9);
                    font-weight: bold;
                }
                &:hover {
                    padding-top: 27px;
                    border-top: 4px solid $gold;
                    background: transparentize($gold, 0.8);
                }
            }
        }
    }
    .you-are {
        float: right;
        white-space: nowrap;
        .quick-stats {
            font: normal 11px/13px $Mono;
        }
        li {
            text-align: right;
            float: left;
            a#sign-out {
                padding-left: 25px;
                padding-right: 20px;
                .icon {
                    font: normal 20px/20px 'icomoon';
                }
            }
        }
    }
}
#wrapper {
    display: table;
    width: 100%;
}
#wrapper-2 {
    display: table-row;
}
#sidebar {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    padding: 78px 0 40px;
    background: transparentize($brown, 0.1);
    color: $white;

    .avatar {
        &.is-suspicious {
            background: red;
        }
        img {
            width: 160px;
            height: 160px;
            margin: -58px 0 20px 20px;
        }
    }

    .nav {
        li {
            margin: 0;
        }
        a {
            padding: 5px 20px 5px 40px;
            text-indent: -20px;
            display: block;
            color: $gold;
            &.selected {
                padding-left: 38px;
                border-left: 2px solid $gold;
                background: transparentize($gold, 0.8);
                color: $white;
            }
            &:hover {
                padding-left: 38px;
                border-left: 2px solid $gold;
                background: transparentize($gold, 0.8);
            }
        }
    }

    .padding {
        padding: 0 20px 50px;
        line-height: 150%;
    }

    table {
        width: 100%;
        margin-bottom: 10px;
        .left {
            padding-right: 10px;
        }
        .right {
            text-align: right;
        }
    }

    .is-suspicious-knob {
        text-align: right;
        margin: -20px 20px 20px;
        font-size: 10px;
        text-transform: uppercase;
        display: block;
    }
}
#content {
    display: table-cell;
    vertical-align: top;
    font: 300 16px/27px $Chronicle;
    padding: 0 40px 40px;
    background: transparentize($white, 0.03);

    h1 {
        color: $black;
        font: bold 28px/33px $Ideal;
        padding: 40px 0 5px 0;
    }
    .nav {
        line-height: 100%;
        display: block;
        position: relative;
        height: 24px;
        margin-bottom: 20px;

        li {
            display: inline;
            margin: 0;
            float: left;
            padding: 0 5px;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
            a {
                font: normal 14px/14px $Ideal;
                height: 24px;
                display: inline-block;
                padding: 5px 0;
                color: $gray;
                &.selected {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $green;
                    font-weight: bold;
                }
                &:hover {
                    background: transparentize($gold, 0.8);
                }
            }
        }
    }
    h2, #members th {
        color: $black;
        font: bold 14px $Ideal;
        text-transform: uppercase;
        padding: 34px 0 8px;
    }
    a:hover {
        background: transparentize($gold, 0.8);;
    }
}

.col {
    width: auto;
    margin: 0 auto;
}

.col0, .col1, .col2 {
    width: 50%;
    max-width: 100%;
}

.col0 {
}

.col1 {
    float: left;
    padding-right: 3%;
}

.col2 {
    float: right;
    padding-left: 3%;
}

.more-container {
    @include clearfix;
    text-align: center;
    padding-top: 20px;
}

.payment-footer {
    font: normal 12px $Ideal;
    text-align: center;
}

#footer {
    @include clearfix;
    background: transparentize($white, 0.1);
    border-top: 1px solid $brown;
    padding: 10px 40px;
    text-align: right;
    font-size: 13px;
    line-height: 13px;

    .social {
        float: left;
    }

    ul {
        float: right;
        @include clearfix;
    }
    li {
        float: left;
        margin: 0;

        &:before {
            content: "|";
            padding: 0 0.4em;
        }

        &:first-child:before {
            content: none;
        }
    }
}
