.markdown-output{
	strong{
		font-weight: bold;
	}

	em{
		font-style: italic;
	}

	ul,ol{
		list-style: disc;
	}	

	blockquote {
	    border-left:.5em solid #eee;
	    padding: 0 2em;
	    margin-left:0;
	    max-width: 476px;
	}
}