// Modules

.mini-user {
    background: white;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    border: 4px solid #DEE0E0;
    @include border-radius(3px);

    span.inner {
        border: 1px solid #B6B7B9;
        display: block;
        min-height: 50px;
        padding: 5px;

        span.avatar {
            background: transparent url('avatar-default.gif') center center no-repeat;
            background-size: cover;
            display: block;
            min-height: 70px;
            position: relative;
        }
        span.age,
        span.money {
            color: $black;
            display: block;
            font: bold 18px $Helvetica;
            margin: 7px 0 5px 0;
            white-space: nowrap;

            span.unit {
                font: normal 11px $Helvetica;
            }
        }
        span.name {
            display: block;
            font: normal 11px $Helvetica;
            margin: 3px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.anonymous {
        opacity: 0.33;
    }
}
a.mini-user {
    span.name {
        color: $green;
    }
}
span.mini-user {
    border-color: white;
    span.name {
        color: $black;
    }
}
a.mini-user:hover {
    border: 4px solid $light-brown;
    text-decoration: none;

    span.inner {
        border-color: $brown;
    }
}

.accounts {
    margin-bottom: 12pt;
    width: 400px;
    span.none {
        font-style: italic;
        color: $gray;
    }
    #cc-delete, #cb-delete, #ba-delete {
        display: inline-block;
        float: right;
        margin-top: -13px;
    }
    .auth-button, .account-delete, .toggle-bitcoin {
        float: right;
        margin-top: -13px;
    }
    table {
        width: 100%;
    }
    tr {
        border-top: 1px solid $light-gray;

        &:last-of-type {
            border-bottom: 1px solid $light-gray;
        }
    }
    td {
        text-align: left;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        line-height: 100%;

        &.account-type {
            padding: 6pt 6pt 6pt 0;
            width: 49px;
            margin-bottom: 3px;

            img {
                width: 36pt;
                height: 36pt;
            }
        }
    }
    div.account-type {
        font-size: 12px;
        clear: both;
        color: $gray;
        text-transform: uppercase;
        padding: 3px 0;
    }
    .account-details {
        padding: 10px;
        position: relative;
        word-break: break-all;
    }
    .account-username {
        line-height: 16pt;
    }
    .close {
        position: absolute;
        background-image: url("close-button.png");
        background-size: cover;
        width: 15px;
        height: 15px;
        top: 39px;
        right: 10px;

        &:hover {
            cursor: pointer;
        }
    }
    img.avatar {
        width: 16pt;
        height: 16pt;
        float: left;
        margin-right: 3pt;
    }
}

#members { /* used on accounts elsewhere for GitHub org = Bitbucket team */
    margin: 1em auto 1em;

    td, th {
        padding: 0 6px 6px;
        text-align: left;
        vertical-align: baseline;
    }
    .declines, .not-on-gittip {
        font-size: 75%;
        a {
            font-weight: normal;
        }
    }
    .declines {
        color: #aaa;
        a {
            color: $darker-green;
        }
    }
    img {
        width: 18pt;
        height: 18pt;
        margin-right: 6pt;
        float: left;
    }
}


.tip-distribution {

    /** This is blatantly copied from stats.html. We should really fix
        that somehow. **/

    .dollar-sign {
        padding: 0 2pt 0 24pt;
        text-align: right;
    }
    .amount {
        padding: 0 6pt 0 0;
        text-align: right;
    }
    .amount-change {
        padding: 6pt 0 6pt 24pt;
        text-align: left;
    }
    .count {
        text-align: left;
        white-space: nowrap;
    }
    .count span.number {
        font-size: 8pt;
    }
    .count span.bar {
        background: $light-brown;
        display: inline-block;
        margin-right: 3pt;
        height: 9pt;
    }
    .count span.bar.green {
        background: $green;
    }
}

ul.memberships {
    margin: 0 0 2em;
    padding: 0;
    float: left;
    width: 100%;

    li {
        padding: 0;
        margin: 0;
        width: 33%;
        float: left;

        div.fine {
            display: block;
            font-size: 9pt;
            line-height: 9pt;
            padding-bottom: 6pt;

            span.leave {
                cursor: pointer;
                color: $green;
                text-decoration: underline;
            }
        }
    }
    li:nth-child(3n+1) {
        clear: both;
    }
}
.communities {
    select {
        width: 98%;
    }
}
#page h1.congrats {
    font-size: 25px;
}
