// Modules

.mini-user {
    background: white;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    border: 4px solid #DEE0E0;
    @include border-radius(3px);

    span.inner {
        border: 1px solid #B6B7B9;
        display: block;
        min-height: 50px;
        padding: 5px;

        span.avatar {
            background: transparent url('avatar-default.gif') center center no-repeat;
            background-size: cover;
            display: block;
            min-height: 70px;
            position: relative;
        }
        span.age,
        span.money {
            color: $black;
            display: block;
            font: bold 18px $Helvetica;
            margin: 7px 0 5px 0;
            white-space: nowrap;

            span.unit {
                font: normal 11px $Helvetica;
            }
        }
        span.name {
            display: block;
            font: normal 11px $Helvetica;
            margin: 3px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.anonymous {
        opacity: 0.33;
    }
}
a.mini-user {
    span.name {
        color: $green;
    }
}
span.mini-user {
    border-color: white;
    span.name {
        color: $black;
    }
}
a.mini-user:hover {
    border: 4px solid $light-brown;
    text-decoration: none;

    span.inner {
        border-color: $brown;
    }
}

#accounts {
    margin-bottom: 12pt;

    td {
        text-align: left;
        vertical-align: middle;
        line-height: 100%;

        &.account-type {
            border-right: 1pt solid #B2A196;
            padding: 6pt 6pt 6pt 0;

            IMG {
                width: 36pt;
                height: 36pt;
            }
        }
    }
    DIV.account-type {
        font-size: x-small;
        clear: both;
        color: $light-brown;
    }
    .account-details {
        padding-left: 6pt;
    }
    IMG.avatar {
        width: 24pt;
        height: 24pt;
        float: left;
        margin-right: 3pt;
    }
}

#members { /* used on accounts elsewhere for GitHub org = Bitbucket team */
    list-style: none;
    margin-bottom: 12pt;
    margin: 0 auto;

    TD {
        padding: 0 0 0.5em 0;
        text-align: left;
    }
    IMG {
        width: 18pt;
        height: 18pt;
        margin-right: 6pt;
        float: left;
    }
}


.tip-distribution {

    /** This is blatantly copied from stats.html. We should really fix
        that somehow. **/

    .dollar-sign {
        padding: 0 2pt 0 24pt;
        text-align: right;
    }
    .amount {
        padding: 0 6pt 0 0;
        text-align: right;
    }
    .amount-change {
        padding: 6pt 0 6pt 24pt;
        text-align: left;
    }
    .count {
        text-align: left;
        white-space: nowrap;
    }
    .count SPAN.number {
        font-size: 8pt;
    }
    .count SPAN.bar {
        background: $light-brown;
        display: inline-block;
        margin-right: 3pt;
        height: 9pt;
    }
    .count SPAN.bar.green {
        background: $green;
    }
}

UL.memberships {
    margin: 0 0 2em;
    padding: 0;
    float: left;
    width: 100%;

    LI {
        padding: 0;
        margin: 0;
        width: 33%;
        float: left;

        DIV.fine {
            display: block;
            font-size: 9pt;
            line-height: 9pt;
            padding-bottom: 6pt;

            SPAN.leave {
                cursor: pointer;
                color: $green;
                text-decoration: underline;
            }
        }
    }
}
.communities {
    SELECT {
        width: 98%;
    }
}
#page h1.congrats {
    font-size: 25px;
}
