// Modules

.mini-user {
    background: white;
    display: block;
    float: left;
    width: 100%;
    overflow: hidden;
    border: 4px solid #DEE0E0;
    @include border-radius(3px);

    span.inner {
        border: 1px solid #B6B7B9;
        display: block;
        min-height: 50px;
        padding: 5px;

        span.avatar {
            background: transparent url('avatar-default.png') center center no-repeat;
            background-size: cover;
            display: block;
            min-height: 70px;
            position: relative;
        }
        span.age,
        span.money {
            color: $black;
            display: block;
            font: bold 18px $Ideal;
            margin: 7px 0 5px 0;
            white-space: nowrap;

            span.unit {
                font: normal 11px $Ideal;
            }
        }
        span.name {
            display: block;
            font: normal 11px $Ideal;
            margin: 3px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.anonymous {
        opacity: 0.33;
    }
}
a.mini-user {
    span.name {
        color: $green;
    }
}
span.mini-user {
    border-color: white;
    span.name {
        color: $black;
    }
}
a.mini-user:hover {
    border: 4px solid $light-brown;
    text-decoration: none;

    span.inner {
        border-color: $brown;
    }
}
.payments-by {
    background-image: url("payments-by.png");
    background-size: cover;
    width: 200px;
    height: 24px;
    float: right;
    margin-bottom: 5px;
    padding-left: 6pt;
    > a {
        line-height: 24pt;
    }
}
.accounts {
    margin-bottom: 12pt;
    width: 100%;
    span.none {
        font-style: italic;
        color: $gray;
    }

    .account-action {
        padding-right: 8px;
        vertical-align: middle;
        text-align: right;

        .account-delete {
            display: inline-block;
        }
    }

    tr.has-avatar > .account-details {
      vertical-align: bottom;
    }

    .email {
        position: relative;
    }
    .toggle-bitcoin, .toggle-email {
        position: absolute;
        right: 0;
    }
    .toggle-bitcoin {
        margin-top: 8px;
        right: 8px;
    }
    .account-type ~ .auth-button, .toggle-email {
        margin-top: -1.25em;
    }
    table {
        width: 100%;
    }
    tr {
        border-top: 1px solid $light-gray;

        &:last-of-type {
            border-bottom: 1px solid $light-gray;
        }
    }
    td {
        text-align: left;
        vertical-align: middle;
        line-height: 100%;

        padding: 6pt 0;

        &.account-type {
            width: 49px;
            margin-bottom: 3px;

            // Width and height of the avatar.
            // The images and whitespace surrounding them scale to based on this.
            $AvatarSize: 36pt;

            // Width and height of the platform icon. 70% of avatar size.
            $PlatformImageSize: round($AvatarSize * 0.7);

            // Right offset of the platform icon.
            $PlatformImageOffset: round($PlatformImageSize * 0.6);

            .sanity-preserving-wrapper {
                position: relative;
                margin-right: $PlatformImageOffset - 4pt;
            }

            img {
                width: $AvatarSize;
                height: $AvatarSize;
            }

            img.avatar ~ img.platform {
                width: $PlatformImageSize;
                height: $PlatformImageSize;
                position: absolute;
                bottom: -6pt;
                right: -$PlatformImageOffset;
                border-radius: 3em;
                border: 2px solid #FFFFFF;
                background-color: #D7E4DE;
            }
        }
    }
    div.account-type {
        font-size: 12px;
        color: $gray;
        text-transform: uppercase;
        &:first-child {
            padding-bottom: 3px;
        }
        &:last-child {
            padding-top: 3px;
        }
    }
    .account-details {
        padding: 6pt;
        word-break: break-all;
    }
    .account-username, span.none {
        line-height: 16pt;
    }
    .account-delete {
        background-image: url("close-button.png");
        background-size: cover;
        width: 15px;
        height: 15px;

        &:hover {
            cursor: pointer;
        }
    }
}

#members { /* used on accounts elsewhere for GitHub org = Bitbucket team */
    margin: 1em auto 1em;

    td, th {
        padding: 0 6px 6px;
        text-align: left;
        vertical-align: baseline;
    }
    .declines, .not-on-gittip {
        font-size: 75%;
        a {
            font-weight: normal;
        }
    }
    .declines {
        color: #aaa;
        a {
            color: $darker-green;
        }
    }
    img {
        width: 18pt;
        height: 18pt;
        margin-right: 6pt;
        float: left;
    }
}


.tip-distribution {

    /** This is blatantly copied from stats.html. We should really fix
        that somehow. **/

    .dollar-sign {
        padding: 0 2pt 0 24pt;
        text-align: right;
    }
    .amount {
        padding: 0 6pt 0 0;
        text-align: right;
    }
    .amount-change {
        padding: 6pt 0 6pt 24pt;
        text-align: left;
    }
    .count {
        text-align: left;
        white-space: nowrap;
    }
    .count span.number {
        font-size: 8pt;
    }
    .count span.bar {
        background: $light-brown;
        display: inline-block;
        margin-right: 3pt;
        height: 9pt;
    }
    .count span.bar.green {
        background: $green;
    }
}

ul.memberships {
    margin: 0 0 2em;
    padding: 0;
    float: left;
    width: 100%;

    li {
        padding: 0;
        margin: 0;
        width: 33%;
        float: left;

        div.fine {
            display: block;
            font-size: 9pt;
            line-height: 9pt;
            padding-bottom: 6pt;

            span.leave {
                cursor: pointer;
                color: $green;
                text-decoration: underline;
            }
        }
    }
    li:nth-child(3n+1) {
        clear: both;
    }
}
.communities {
    select {
        width: 98%;
    }
}
#page h1.congrats {
    font-size: 25px;
}

#dnt {
  width: 100%
}

#dnt tr {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  width: 100%
}

td.dnt-label {
  height: 36pt;
  margin-bottom: 3px;
}

td.dnt-value {
  text-align: right;
  padding-right: 8px;
}


