#notification-area {
    $transparency: 0.15;

    .notifications-fixed {
        position: fixed;
    }

    &, & .notifications-fixed {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    > .notification {
        opacity: 0;
    }

    .notification {
        box-sizing: border-box;
        text-align: center;
        border-bottom: 1px solid #fff;
        border-bottom-color: rgba(255, 255, 255, .6);
        overflow: hidden;

        @include animation(fadein 0.5s 1 ease-in);

        &.fade-out {
            @include animation(fadeout 0.5s 1 ease-out);
            opacity: 0;
            max-height: 0;
        }

        div {
            padding: 10px;
        }

        & > .btn-close {
            cursor: pointer;
            padding: 10px 15px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .notification-notice {
        background: $darker-gray;
        background: transparentize($darker-gray, $transparency);
    }

    .notification-success {
        background: $lighter-green;
        background: transparentize($lighter-green, $transparency);
    }

    .notification-error {
        background: $light-red;
        background: transparentize($light-red, $transparency);
    }
}

@include keyframes(fadein) {
    0% {
        opacity: 0;
        max-height: 0;
    }

    100% {
        opacity: 1;
        max-height: 150px;
    }
}

@include keyframes(fadeout) {
    0% {
        opacity: 1;
        max-height: 150px;
    }

    100% {
        opacity: 0;
        max-height: 0;
    }
}
