// These should probably each have their own file.

#accounts {
    margin-bottom: 12pt;

    td {
        text-align: left;
        vertical-align: middle;
        line-height: 100%;

        &.account-type {
            border-right: 1pt solid #B2A196;
            padding: 6pt 6pt 6pt 0;

            IMG {
                width: 36pt;
                height: 36pt;
            }
        }
    }
    DIV.account-type {
        font-size: x-small;
        clear: both;
        color: $light-brown;
    }
    .account-details {
        padding-left: 6pt;
    }
    IMG.avatar {
        width: 24pt;
        height: 24pt;
        float: left;
        margin-right: 3pt;
    }
}

#members {
    list-style: none;
    margin-bottom: 12pt;
    margin: 0 auto;

    TD {
        padding: 0 0 0.5em 0;
        text-align: left;
    }
    IMG {
        width: 18pt;
        height: 18pt;
        margin-right: 6pt;
        float: left;
    }
}


.tip-distribution {

    /** This is blatantly copied from stats.html. We should really fix
        that somehow. **/

    .dollar-sign {
        padding: 0 2pt 0 24pt;
        text-align: right;
    }
    .amount {
        padding: 0 6pt 0 0;
        text-align: right;
    }
    .amount-change {
        padding: 6pt 0 6pt 24pt;
        text-align: left;
    }
    .count {
        text-align: left;
        white-space: nowrap;
    }
    .count SPAN.number {
        font-size: 8pt;
    }
    .count SPAN.bar {
        background: $light-brown;
        display: inline-block;
        margin-right: 3pt;
        height: 9pt;
    }
    .count SPAN.bar.green {
        background: $green;
    }
}

UL.community-memberships {
    margin: 1em 0;
    padding: 0;
    float: left;
    width: 100%;

    LI {
        padding: 0;
        margin: 0;
        width: 33%;
        float: left;

        DIV.fine {
            display: block;
            font-size: 9pt;
            line-height: 9pt;
            padding-bottom: 6pt;

            SPAN.leave {
                cursor: pointer;
                color: $green;
                text-decoration: underline;
            }
        }
    }
}
.communities {
    SELECT {
        width: 98%;
    }
}

#profile-edit {
    BUTTON.save, BUTTON.cancel {
        display: none;
    }
    .username {
        INPUT {
            width: 6em;
            display: none;
        }
        .warning {
            margin-top: 5px;
            display: block;
            color: red;
            display: none;
        }
    }
    .statement {
        DIV.edit {
            display: none;
        }
        TEXTAREA {
            width: 98%;
            height: 126pt; /* 18pt * 7 rows; overriden in js */
            padding: 1%;
            margin-top: 8px;
        }
        .help {
            font: normal 12px/12px $Helvetica;
        }
    }
    .goal {
        TABLE.edit {
            display: none;
        }
        TD {
            text-align: left;
        }
        #goal-custom {
            text-align: right;
            width: 6pc;
        }
        LI {
            margin-bottom: 1em;
        }
    }
}


#horn {
    textarea {
        width: 100%;
        height: 40px;
        font: normal 16px/20px $Helvetica;
    }
    .help {
        font: normal 10px/12px $Helvetica;
        color: $brown;
        text-transform: uppercase;
        display: block;

        span {
            display: inline-block;
            white-space: nowrap;
            padding: 2pt 0;
        }
    }
    .datetime {
        display: block;
        padding: 0 0 3pt;
    }
    button#toot-button {
        float: right;
    }
    li {
        margin: 0;
        padding: 0 0 2pt;

        &.me.theirs {
            font: bold 18px/19px $Helvetica;
        }
        &.them {
            font: normal 12px/13px $Helvetica;
        }
        &.them.own {
            font-weight: bold;
        }
        .meta {
            text-align: right;
            text-transform: none;
            font: normal 11px/13px $Helvetica;
            color: $light-brown;

            span {
                display: inline-block;
                white-space: nowrap;
                padding: 2pt 0;
            }

            .re {
                text-align: left;
                padding-right: 3pt;
            }
            .tootee {
                font-weight: bold;
            }
            .time {
                font-style: italic;
            }
        }
    }
}


#history {
    th {
        padding: 0 3pt;

        b {
            font-weight: 300;
            font-size: 9pt;
        }
    }
    td {
        padding: 1pt 3pt;
        font-size: 9pt;
        line-height: 10pt;
        text-align: right;

        h2 {
            text-align: left;
        }
    }
    .head td {
        font-size: 9pt;
        white-space: normal;
        text-align: left;
        border-bottom: 1px solid $brown;
    }
    td.card, td.fees, td.debits {
        color: red;
    }
    .head td.card, .head td.fees, .head td.debits {
        color: $brown;
    }
    td.notes {
        text-align: left;
    }
    .fees {
        border-right: 1px solid $brown;
        text-align: right;
    }
    .outside {
        border-right: 1px solid $brown;
        text-align: right ! important;
    }
}

#open_group {

    .fine {
        font: normal 10px $Helvetica;
        text-transform: uppercase;
    }

    TD {
        padding-right: 0.5em;
    }

    #identifications {
        width: 250px;
        float: right;
        position: relative;

        ::-webkit-input-placeholder { color: $light-brown; }
        ::-moz-placeholder { color: $light-brown; } /* firefox 19+ */
        :-ms-input-placeholder { color: $light-brown; } /* ie */
        input:-moz-placeholder { color: $light-brown; }

        #query {
            width: 170px;
            padding: 2px 5px;
            z-index: 1;
            position: relative;
            top: 1px;
            outline: none;
            border: none;
        }

        .weight {
            background: $green;
            display: inline-block;
        }
        .weight.a { height: 24px; width: 24px; }
        .weight.b { height: 12px; width: 12px; }
        .weight.c { height: 6px; width: 6px }
        .weight.d { height: 3px; width: 3px; }
        .weight.e { height: 1px; width: 1px; }
        .weight.f { height: 0.25px; width: 0.25px; }
        .weight.g { background: red; width: 1px; height: 1px; }

        #lookup-container {
            position: relative;
            vertical-align: middle;

            #lookup-results {
                width: 188px;
                min-height: 30px;
                position: absolute;
                bottom: -1px;
                left: -4px;
                background: white;
                margin: 0;
                padding: 2px 0;
                border: 4px solid rgba($brown, 0.5);
                color: $light-brown;
                @include border-radius(3px);

                li {
                    font: normal 16px/16px $Helvetica;
                    white-space: nowrap;
                    margin: 0;
                    padding: 3px 5px;
                    overflow: hidden;
                }
            }
        }
    }

    #split {
        width: 180px;
        float: left;

        .percentage {
            text-align: right;
        }
    }

}

