// /* A Special Responsive Hell */
// /*****************************/

@media (max-width: 940px) {
  // 2 column sections
  #leaderboard {
    width: leaderboard-width(2);

    .people {
      width: $people-column-width * 2;
    }
  }

  .col0, .col1, .col2 {
    float: none;
    margin: auto;
    padding: 0;
    width: 460px;
  }
}

@media (max-width: 700px) {
  .luxury {
    display: none !important;  
  }

  #hero {
    h2.top {
      font-size: 30px;
    }

    h1 {
      font-size: 48px;
    }
  }

  #leaderboard {
    width: 100%;

    .people {
      float: none;
      width: $people-column-width * 4;
      margin: 0 auto;

      li {
        &.luxury { display: none; }
      }
    }
  }
}

@media (max-width: 479px) {
  #hero {
    font-size: 15px;
    h2.top {
      letter-spacing: -1px;
      font-size: 1.33em;
    }

    h1 {
      letter-spacing: -1px;
      font-size: 36px;
    }
  }

  #jump {
    select, input, button {
      display: block;
      width: 75%;
      margin: 1em auto;
    }
  }

  #leaderboard {
    .people {
      width: $people-column-width * 3;
      
      li:nth-child(4n) {
        display: none;
      }
    }
  }
}

@media (max-width: 320px) {

}