/* A Special Responsive Hell */
/*****************************/

@media (max-width: 1029px) {
    .main-padding {
        width: auto;
        padding: 0 35px;
    }
    #page {
        .col, .col1, .col2 {
            width: 460px;
            float: none;
            margin: 0 auto;
        }
        #leaderboard {
            width: 600px;
            > * {
                width: 180px;
            }
        }
    }
}

@media (max-width: 680px) {
    #page #leaderboard {
        width: 375px;
        > * {
            width: auto;
            margin: 0;
            float: none;
        }
        ul li.luxury {
            display: none;
        }
    }
}

@media (max-width: 670px) {
    .main-padding {
        padding: 0 34px;
    }
}

@media (max-width: 660px) {
    .main-padding {
        padding: 0 32px;
    }
}

@media (max-width: 640px) {
    .main-padding {
        padding: 0 30px;
    }
    #header .motto {
        visibility: hidden;
    }
}

@media (max-width: 620px) {
    .main-padding {
        padding: 0 28px;
    }
}

@media (max-width: 600px) {
    .main-padding {
        padding: 0 26px;
    }
    #hero {
        h2.top {
            font-size: 35px;
            line-height: 1em;
            padding: 50px 0 35px;
            &:after {
                margin-top: -17px;
            }
        }
        h1 {
            font-size: 64px;
            line-height: 1em;
            letter-spacing: -3px;
            padding: 0 0 20px;
        }
    }
}
@media (max-width: 580px) {
    .main-padding {
        padding: 0 24px;
    }
}

@media (max-width: 560px) {
    .main-padding {
        padding: 0 22px;
    }
}

@media (max-width: 550px) {
    #hero {
        h2.top {
            font-size: 31px;
            line-height: 1em;
            padding: 43px 0 29px;
            &:after {
                margin-top: -9px;
            }
        }
        h1 {
            font-size: 57px;
            line-height: 1em;
            letter-spacing: -1px;
            padding: 0 0 15px;
        }
    }
}

@media (max-width: 540px) {
    .main-padding {
        padding: 0 20px;
    }
    body {
        font: normal 14px $Helvetica;
    }
    #header div.login {
        font: normal 12px $Helvetica;
    }
}

@media (max-width: 530px) {
    .main-padding {
        padding: 0 18px;
    }
}

@media (max-width: 520px) {
    .main-padding {
        padding: 0 16px;
    }
}

@media (max-width: 510px) {
    .main-padding {
        padding: 0 14px;
    }
}

@media (max-width: 500px) {
    .main-padding {
        padding: 0 12px;
    }
    #hero {
        h2.top {
            font-size: 27px;
            line-height: 1em;
            padding: 36px 0 23px;
            &:after {
                margin-top: -9px;
            }
        }
        h1 {
            font-size: 50px;
            line-height: 1em;
            letter-spacing: -1px;
            padding: 0 0 10px;
        }
    }
}

@media (max-width: 494px) {
    .box {
        width: auto !important ;
    }
}

@media (max-width: 490px) {
    .main-padding {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .main-padding {
        padding: 0 8px;
    }
    #header {
        text-align: center;
        div.login {
            position: static;
        }
        table {
            margin: 0 auto;
        }
    }
    body {
        font: normal 13px $Helvetica;
    }
    .box #jump .luxury {
        display: none;
    }
    #page {
        .col, .col0, .col1, .col2 {
            width: auto;
        }
    }
}

@media (max-width: 470px) {
    .main-padding {
        padding: 0 6px;
    }
}

@media (max-width: 460px) {
    .main-padding {
        padding: 0 4px;
    }
    #header .luxury {
        display: none;
    }
    .box table {
        h2 {
            font-size: 14px;
            line-height: 1em;
        }
        .pad-sign {
            padding-left: 36px;
        }
        .number {
            font-size: 56px;
            line-height: 1em;
        }
        .unit {
            font-size: 12px;
            line-height: 1em;
        }
    }
}

@media (max-width: 450px) {
    #hero {
        h2.top {
            font-size: 23px;
            line-height: 1em;
            padding: 29px 0 17px;
            &:after {
                margin-top: -9px;
            }
        }
        h1 {
            font-size: 43px;
            line-height: 1em;
            letter-spacing: -1px;
            padding: 0 0 5px;
        }
    }
}

@media (max-width: 420px) {
    .box table {
        h2 {
            font-size: 13px;
            line-height: 1em;
        }
        .pad-sign {
            padding-left: 30px;
        }
        .number {
            font-size: 48px;
            line-height: 1em;
        }
        .unit {
            font-size: 11px;
            line-height: 1em;
        }
    }
}

@media (max-width: 400px) {
    #hero {
        h2.top {
            font-size: 19px;
            line-height: 1em;
            padding: 22px 0 11px;
            &:after {
                margin-top: -9px;
            }
        }
        h1 {
            font-size: 36px;
            line-height: 1em;
            letter-spacing: -1px;
            padding: 0;
        }
    }
}

@media (max-width: 380px) {
    .box table {
        h2 {
            /* Should these be the same value? */
            font-size: 13px;
            line-height: 12px;
        }
        .pad-sign {
            padding-left: 24px;
        }
        .number {
            font-size: 40px;
            line-height: 1em;
        }
    }
}

@media (max-width: 360px) {
    .box {
        border-radius: 0;
        border-left-width: 1px;
        border-right-width: 1px;
    }
}

@media (max-width: 350px) {
    #hero {
        h2.top {
            font-size: 15px;
            line-height: 1em;
            padding: 15px 0 5px;
            &:after {
                margin-top: -9px;
            }
        }
        h1 {
            font-size: 29px;
            line-height: 1em;
            letter-spacing: 0px;
            padding: 0;
        }
    }
}

@media (max-width: 340px) {
    .box table {
        h2 {
            font-size: 11px;
            line-height: 1em;
        }
        .pad-sign {
            padding-left: 18px;
        }
        .number {
            font-size: 32px;
            line-height: 1em;
        }
        .unit {
            font-size: 10px;
            line-height: 1em;
        }
    }
}

@media (max-width: 320px) {
    body {
        font: normal 13px $Helvetica;
    }
}

@media (max-width: 300px) {
    .box table {
        h2 {
            font-size: 10px;
            line-height: 1em;
        }
        .pad-sign {
            padding-left: 12px;
        }
        .number {
            font-size: 24px;
            line-height: 1em;
        }
        .unit {
            font-size: 9px;
            line-height: 1em;
        }
    }
}

@media (max-width: 240px) {
    #header {
        .logo {
            padding-right: 0;
        }
        .motto.luxury {
            display: none;
        }
        .login .luxury {
            display: none;
        }
    }
}

@media (max-width: 200px) {
    .box #jump input {
        width: 80%;
    }
}
