// Large screens
@media (min-width: 940px) {
    .two-column > * {
        float: left;
        width: 50%;
        padding: 0 20px 0 0;
        &:last-child {
            padding-right: 0;
        }
    }
}

// Small screens/tablets
@media (max-width: 1150px) {
    // 2 column sections
    #leaderboard {
        width: leaderboard-width(2);

        .people {
            width: $people-column-width * 2;
        }
    }
    .more-container {
        width: $people-column-width * 2 * 3;
    }
}

@media (max-width: 940px) {
    .support-gratipay {
        text-align: center;
        table, tbody, tr, td {
            display: block;
            margin: 0 auto;
        }
        padding-right: 10px;
        .cta {
            display: block;
            line-height: 150%;
        }
        .knobs {
            width: 261px;
            display: block;
            position: static;
            top: 0;
            right: 0;
            margin: 20px auto;
            button {
                width: 128px;
                height: 40px;
                font-size: 18px;
            }
            a {
                width: 128px;
                margin-top: 14px;
            }
        }
        .help {
            margin-top: 0;
            line-height: 150%;
        }
    }

    .accounts {
        width: 100%;
    }

    .homepage {
        .support-gratipay {
            position: static;
            top: 0;
            left: 0;
        }

        display: block;
        height: auto;
        .pitch,.action,.greeting {
            display: block;
            width: auto;
        }
        .pitch {
            padding: 216px 48px 72px 110px;
        }
        .action,.greeting {
            padding: 48px 48px 72px 110px;
            .jump {
                padding-top: 0;
            }
        }
    }

    .col0, .col1, .col2 {
        float: none;
        margin: auto;
        padding: 0;
        width: 460px;
    }
}

// Smaller tablets in portrait/landscape phones
@media (max-width: 880px) {
    #leaderboard {
        width: 100%;

        .people {
            float: none;
            width: $people-column-width * 4;
            margin: 0;

            li {
                &.luxury { display: none; }
            }
        }
    }
    .more-container {
        width: $people-column-width * 4;
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .luxury {
        display: none !important;
    }

    #footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        text-align: left;
        width: 480px;

        .social, ul, li {
            float: none;
        }

        li, .social a, li a {
            display: block;
        }

        li {
            margin: 0.25em 0;
            padding: 0.25em 0;
            border-top: 1px solid #eee;

            &:before {
                content: none;
            }
        }
    }
}

// Portrait phones
@media (max-width: 479px) {
    body {
        font-size: 14px;
    }

    .homepage {
        span { white-space: normal; }
        display: block;
        .pitch,.action,.greeting {
            display: block;
            width: auto;
            h1 {
                font-size: 24px;
                line-height: 36px;
            }
            p, .jump {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .pitch {
            text-align: center;
            img { width: 256px; position: static; }
            h1 { margin-top: 36px; }
            h1, p { text-align: left; }
            padding: 36px 36px 60px;
        }
        .action,.greeting {
            padding: 36px 36px 60px;
            div.twitter {
                text-align: center;
            }
        }
    }


    #leaderboard {
        .people {
            width: $people-column-width * 3;

            li:nth-child(4n) {
                display: none;
            }
        }
    }

    .box {
        border-radius: 0;
        border-left-width: 1px;
        border-right-width: 1px;

        .on-profile {
            .picture {
                width: 100px;
                height: 100px;

                img {
                    width: 90px !important;
                    height: 90px;
                }
            }

            .number {
                font-size: 36px;
            }

            .pad-sign {
                padding-left: 23px;
            }
        }
    }
}
