// Large screens
@media (min-width: 940px) {
    .two-column > * {
        float: left;
        width: 50%;
        padding: 0 20px 0 0;
        &:nth-child(even) {
            padding-right: 0;
        }
    }
}

// Small screens/tablets
@media (max-width: 1150px) {
    // 2 column sections
    #leaderboard {
        width: leaderboard-width(2);

        .people {
            width: $people-column-width * 2;
        }
    }
    .more-container {
        width: $people-column-width * 2 * 3;
    }
}

@media (max-width: 940px) {
    .support-gratipay {
        line-height: 125%;
    }

    .accounts {
        width: 100%;
    }

    #homepage {
        #sidebar img {
            left: 32px;
            top: 32px;
            width: 284px;
        }
        #sidebar, #content {
            padding: 150px 32px 60px;
            width: auto;
            .jump {
                padding-top: 0;
            }
        }
    }
}

// Smaller tablets in portrait/landscape phones
@media (max-width: 880px) {
    #leaderboard {
        width: 100%;

        .people {
            float: none;
            width: $people-column-width * 4;
            margin: 0;

            li {
                &.luxury { display: none; }
            }
        }
    }
    .more-container {
        width: $people-column-width * 4;
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .luxury {
        display: none !important;
    }

    #main {
        display: inline;
    }
    #content {
        min-height: 100%;
    }
    #sidebar, #content {
        display: block;
        width: 100% !important;
    }

    .col0, .col1, .col2 {
        float: none;
        padding: 0;
        width: auto;
        min-width: 0;
    }

    #sidebar {
        &:empty {
            display: none;
        }
        & > div {
            display: inline-block;
            vertical-align: top;
            margin: 0 20px 30px 0 !important;
        }
        .avatar {
            margin-bottom: 0;
        }
        .nav li {
            display: inline-block;
            a {
                font-size: 20px;
                line-height: 24px;
                margin: 0 10px 10px 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid $gold;
                border-radius: 6px;
            }
        }
    }

    #homepage {
        #content {
            padding: 60px 32px;
        }
    }

    #header {
        h1 {
            height: 50px;
            a {
                padding: 3px 5px 5px;
                img {
                    width: 120px;
                }
            }
        }
        .nav {
            height: 50px;
            li a {
                height: 50px;
                padding: 13px 12px 18px;
            }
        }
        .sign-in {
            .dropdown-toggle {
                height: 50px;
                padding: 13px 10px 18px 15px;
            }
            .dropdown-menu {
                background: transparentize($gold, 0.3);
            }
        }
    }

    #footer {
        text-align: center;

        .social, ul, li {
            float: none;
        }

        li, .social a, li a {
            display: block;
        }

        li {
            margin: 0.25em 0;
            padding: 0.25em 0;
            border-top: 1px solid #eee;

            &:before {
                content: none;
            }
        }
    }
}

// Portrait phones
@media (max-width: 479px) {
    body {
        font-size: 14px;
    }

    #homepage {
        #sidebar, #content {
            padding: 32px 32px 60px;
            h1 {
                font-size: 24px;
                line-height: 36px;
            }
            p, .jump {
                font-size: 16px;
                line-height: 24px;
            }
        }
        #sidebar {
            text-align: center;
            img { width: 256px; position: static; }
            h1 { margin-top: 32px; }
            h1, p { text-align: left; }
        }
        #content {
            div.twitter {
                text-align: center;
            }
        }
    }


    #leaderboard {
        .people {
            width: $people-column-width * 3;

            li:nth-child(4n) {
                display: none;
            }
        }
    }
}
