#team {

    .fine {
        font: normal 10px $Ideal;
        text-transform: uppercase;
    }
    table {
        margin: 0 auto;
    }
    td {
        padding-right: 5px;
        font: normal 12px/14px $Ideal;
    }
    td.no-members {
        text-align: center;
        padding: 20px 0 0;
        color: $light-brown;
    }
    td.n {
        text-align: right;
        padding-right: 3px;
    }
    td.figure {
        font: normal 11px/14px $Mono;
        text-align: right;
        padding: 0 0 0 5px;
    }
    th {
        font: bold 11px/14px $Ideal;
        text-transform: uppercase;
        color: $brown;
        padding: 0 0 5px 0;
        vertical-align: bottom;
    }
    th.figure {
        text-align: center;
        padding-left: 1em;
        white-space: nowrap;
    }
    td.figure {
        padding-right: 1em;
    }
    td.take.moderate { color: green; }
    td.take.high { color: orange; }
    td.take.max { color: red; }
    span.remove:hover {
        text-decoration: line-through;
        cursor: pointer;
    }
    #take input {
        text-align: right;
        width: 48pt;
        position: relative;
        right: -2px;
    }

    td.lookup {
        border: 1px solid $brown;
        border-style: solid none;
        background: $lighter-gray;
        padding: 5px 0 5px 38px;
        text-align: center;
        vertical-align: middle;
        font: normal 16px/16px $Ideal;
        height:40px;
    }
    #lookup-container {
        position: relative;
        z-index: 3;
        text-align: left;

        ::-webkit-input-placeholder { color: $light-brown; }
        ::-moz-placeholder { color: $light-brown; } /* firefox 19+ */
        :-ms-input-placeholder { color: $light-brown; } /* ie */
        input:-moz-placeholder { color: $light-brown; }

        #query {
            width: 220px;
            padding: 2px 5px;
            z-index: 1;
            position: relative;
            top: 1px;
            outline: none;
            border: none;
        }

        #lookup-results {
            width: 225px;
            min-height: 26px;
            position: absolute;
            bottom: -1px;
            z-index: 0;
            left: -4px;
            background: white;
            margin: 0;
            padding: 2px 0;
            border: 1px solid rgba($brown, 0.5);
            color: $light-brown;
            @include border-radius(3px);

            li {
                font: normal 16px/16px $Ideal;
                white-space: nowrap;
                margin: 0;
                padding: 3px 5px;
                overflow: hidden;
                &:hover {
                    background-color: rgba(yellow, 0.3);
                    cursor: pointer;
                }
            }
        }
    }
}
