// Utility rules

.clearfix {
    @include clearfix;
}
.hidden {
    display: none ! important;
}
.clear {
    clear: both;
}
.centered {
    margin: 0 auto;
}
.highlight {
    background: #FFFE26;
}
.word-wrap {
    white-space: pre-wrap;
}
.screen-reader-text {
    position: absolute;
    top: -99999px;
    left: -99999px;
}
