// Utility rules

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none ! important;
}
.clear {
    clear: both;
}
.centered {
    margin: 0 auto;
}
.highlight {
    background: #FFFE26;
}
.word-wrap {
    white-space: pre-wrap;
}
.screen-reader-text {
    position: absolute;
    top: -99999px;
    left: -99999px;
}
