// Utility rules

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}
input {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.clear {
    clear: both;
}
.centered {
    margin: 0 auto;
}
.highlight {
    background: #FFFE26;
}

