from gittip.models import community
from gittip.utils import plural

THRESHOLD = website.NMEMBERS_THRESHOLD

# ========================== ^L

communities = community.get_list_for(None)
ncommunities = len(communities)

viable = []
forming = []

for community in communities:
    if community['nmembers'] >= THRESHOLD:
        seq = viable
    else:
        seq = forming
    seq.append(community)

grouped = [ ( 'Viable Communities'
            , 'at least %d members' % THRESHOLD
            , viable
             )
          , ( 'Communities in Formation'
            , 'less than %d members' % THRESHOLD
            , forming
             )
           ]

# ========================== ^L
{% extends templates/base.html %}
{% block heading %}
<h2 class="top"><span>Communities</span></h2>
{% end %}
{% block box %}
<div class="on-community">
    <h2 class="pad-sign">There are</h2>
    <div class="number">
        <span class="total-giving">{{ ncommunities }}</span>
    </div>
    <div class="unit pad-sign">
        communit{{ plural(ncommunities, 'y', 'ies') }} on Gittip.
    </div>
</div>
{% end %}
{% block page %}
<style>
    .help {
        font-size: 10px;
        text-transform: uppercase;
    }
</style>
<div class="col0">
    {% for heading, explanation, seq in grouped %}
    <h2>{{ heading }} (N = {{ len(seq) }})</h2>
    <p class="help">{{ explanation }}</p>
    <ul class="community-memberships">
        {% for community in seq %}
        <li>
            <a href="/for/{{ community['slug'] }}/">{{ community['name'] }}</a>
            {% set n = community['nmembers'] %}
            <div class="fine">{{ n }} member{{ plural(n) }}</div>
        </li>
        {% end %}
    </ul>
    {% end %}
</div>
{% end %}
