"""Github user page on Gittip.
"""
import decimal


import requests
from aspen import json, Response
from gittip import AMOUNTS, db, get_tip, get_tipjar
from gittip.networks import github


# ========================================================================== ^L

# Try to load from Github.
# ========================

url = "https://api.github.com/users/%s"
userinfo = requests.get(url % path['login'])
if userinfo.status_code != 200:
    raise Response(404)
userinfo = json.loads(userinfo.text)


# Try to load from Gittip.
# ==========================

participant_id, claimed_time, balance = github.upsert(userinfo)
if claimed_time:
    request.redirect('/%s/' % participant_id)

participant = False
username = userinfo['login']
name = userinfo.get('name')
if not name:
    name = username

if not user.ANON:
    my_tip = get_tip(user.id, participant_id)

# ========================================================================== ^L
{% extends templates/participant.html %}

{% block their_voice %}
    <script>
        $(document).ready(Gittip.initTipButtons);
    </script>
    
    <h2 class="first"><b>{{ name }}</b> has {{ get_tipjar(username) }}</h2>

    {% if user.ANON %}
    <ul id="accounts">
        <li>
            <img src="{{ userinfo.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" /> 
            Are you <a href="{{ userinfo['html_url'] }}">{{ userinfo['login'] }}</a> from Github?<br />
            <a href="{{ github_oauth_url(username) }}">Click here</a> to claim this tipjar.
        </li>
    </ul>
    {% else %}
    <ul id="accounts">
        <li>
            <img src="{{ userinfo.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" /> 
            Are you <a href="{{ userinfo['html_url'] }}">{{ userinfo['login'] }}</a> from Github?<br />
            You&rsquo;ll have to <a href="/sign-out.html">sign out</a> and sign back in to claim this tipjar.
        </li>
    </ul>
    {% end %}

{% end %}
