"""GitHub user page on Gittip.
"""
import decimal

import requests
from aspen import json, Response
from gittip import AMOUNTS, CARDINALS, db, get_tip, get_number_of_backers
from gittip.networks import github


# ========================================================================== ^L

# Try to load from GitHub.
# ========================

url = "https://api.github.com/users/%s"
userinfo = requests.get(url % path['login'])
if userinfo.status_code != 200:
    raise Response(404)
userinfo = json.loads(userinfo.text)


# Try to load from Gittip.
# ==========================
# We can only tip Users, not Organizations (or whatever else type can be).

participant = False
username = userinfo['login']
name = userinfo.get('name')
if not name:
    name = username

usertype = userinfo.get("type", "unknown type of account").lower()
if usertype == "user":
    participant_id, is_claimed, is_locked, balance = github.upsert(userinfo)
    can_tip = not is_locked
    lock_action = "unlock" if is_locked else "lock"
    if is_claimed:
        request.redirect('/%s/' % participant_id)

    if not user.ANON:
        my_tip = get_tip(user.id, participant_id)
elif usertype == "organization":
    members = []
    resp = requests.get("https://api.github.com/orgs/%s/members" % username)
    if resp.status_code == 200:
        members = json.loads(resp.text)
    members = [(member, get_tip(user.id, member['login'])) for member in members]
    can_tip = user.ANON
else:
    can_tip = False

tip_or_pledge = "pledge"
nbackers = get_number_of_backers(username)

# ========================================================================== ^L
{% extends templates/participant.html %}

{% block their_voice %}
    {% if usertype == "user" %}
      {% if is_locked %}

        <h2 class="first"><b>{{ username }}</b> has opted out of Gittip.</h2>

        <p>If you are <a href="{{ userinfo.get('html_url', '') }}">{{ username }}</a>
        on GitHub, you can unlock your account to allow people to
        pledge tips to you on Gittip. We never collect any money on your behalf
        until you explicitly opt in.</p>

        <a href="{{ github.oauth_url(website, u'unlock', username) }}"
            ><button>Unlock</button></a>

      {% else %}
        <script>
            $(document).ready(Gittip.initTipButtons);
        </script>

        <h2 class="first"><b>{{ name }}</b> has not joined Gittip.</h2>

        {% if user.ANON %}
        <ul id="accounts">
            <li>
                <img src="{{ userinfo.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                Are you <a href="{{ userinfo['html_url'] }}">{{ userinfo['login'] }}</a> from GitHub?<br />
                <a href="{{ github.oauth_url(website, u'opt-in', username) }}">Click here</a> to opt in to Gittip.
            </li>
        </ul>
        {% else %}
        <ul id="accounts">
            <li>
                <img src="{{ userinfo.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                Are you <a href="{{ userinfo['html_url'] }}">{{ userinfo['login'] }}</a> from GitHub?<br />
                You&rsquo;ll have to <a href="/sign-out.html">sign out</a> and sign back in to claim this account.
            </li>
        </ul>
        {% end %}


        {% if nbackers == 0 %}
        {% elif nbackers == 1 %}
        <h3>There is one person ready to give.</h3>
        {% elif nbackers < 10 %}
        <h3>There are {{ CARDINALS[nbackers] }} people ready to give.</h3>
        {% else %}
        <h3>There are {{ nbackers }} people ready to give.</h3>
        {% end %}


        {% if not user.ANON %}

        <p>{{ 'But we' if nbackers > 0 else 'We' }} will never collect money on
        behalf of {{ username }} until they ask us to.</p>

        {% else %}

        <p>{{ 'But we' if nbackers > 0 else 'We' }} will never collect money on
        your behalf until you ask us to.</p>

        <h3>Don&rsquo;t like what you see?</h3>

        <p>If you are {{ username }} you can explicitly opt out of Gittip by
        locking this account. We don&rsquo;t allow new pledges to locked
        accounts, and we&rsquo;ll set aside your username on Gittip to prevent
        squatting.</p>

        <a href="{{ github.oauth_url(website, u'lock', username) }}"
            ><button>Lock</button></a>

        {% end %}
      {% end %}
    {% elif usertype == "organization"  %}
    <script>
        $(document).ready(Gittip.initTipButtons);
    </script>

    <h2 class="first"><b>{{ name }}</b> is an {{ usertype }} on GitHub.</h2>
    <ul id="accounts">
        <li>
            <img src="{{ userinfo.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
            Gittip is optimized for people at the moment, not organizations.<br />
            {% if len(members) == 0 %}
            {{ name }} does not have any public members.
            {% elif len(members) == 1 %}
            {{ name }} has one public member.
            {% else %}
            Here are the {{ len(members) }} public members of <a href="https://github.com/{{ username }}">{{ name }}</a>.
            {% end %}
        </li>
    </ul>
    <table id="members">
        {% for member, tip in members %}
        <tr class="not-over"><td>
            {% if not user.ANON %}
            <th>
                <a href="/github/{{ member['login'] }}/"><img src="{{ member.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                    {{ member['login'] }}</a>
            </th>
            <td>
                {% for amount in AMOUNTS %}
                <button amount="{{ amount }}" tippee="{{ member['login'] }}"
                    class="tip small {{ 'selected' if amount == tip else 'empty' }}">{{ amount }}</button>
                {% end %}
                {% if tip not in AMOUNTS %}
                <span class="old-amount">
                    <button class="tip small disabled selected">{{ tip }}</button>
                    <span class="old-amount-link">&mdash;
                    <a href="http://blog.gittip.com/post/26505682007/is-personal-funding-viable" target="_blank">old amount</a>!</span>
                </span>
                {% end %}
            </td>
            {% else %}
            <td>
                <a href="/github/{{ member['login'] }}/"><img src="{{ member.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                    {{ member['login'] }}</a>
            </td>
            {% end %}
        </td></tr>
        {% end %}
    </table>

    {% else %}

    <h2 class="first">Not sure what to do with <b>{{ name }}</b>.</h2>
    <ul id="accounts">
        <li>
            <img src="{{ userinfo.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
            I don&rsquo;t recognize the &ldquo;{{ usertype }}&rdquo; type of user on GitHub.<br />
            Sorry. :-(
        </li>
    </ul>

    {% end %}

    {% if user.ANON %}
    {% end %}
{% end %}
