.mini-user, .search-result {
    background: white !important;
    border: 4px solid #DEE0E0;
    box-shadow: inset 0 0 0 1px #B6B7B9;
    display: block;
    overflow: hidden;
    @include border-radius(3px);
    &:hover {
        border-color: $light-brown;
        box-shadow: inset 0 0 0 1px $brown;
        text-decoration: none;
    }
}

.mini-user {
    float: left;
    width: $people-column-width - 4px;

    span.inner {
        display: block;
        min-height: 50px;
        padding: 5px;

        span.avatar {
            background: transparent url('avatar-default.png') center center no-repeat;
            background-size: cover;
            display: block;
            height: 66px;
            position: relative;
        }
        span.age,
        span.money {
            color: $black;
            display: block;
            font: bold 16px $Ideal;
            margin: 7px 0 5px 0;
        }
        span.age {
            font-size: 11px;
        }
        span.name {
            display: block;
            font: normal 11px $Ideal;
            margin: 3px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.anonymous {
        opacity: 0.33;
    }
}
a.mini-user {
    span.name {
        color: $green;
    }
}
span.mini-user {
    border-color: white;
    span.name {
        color: $black;
    }
}
