#notification-area {
    $transparency: 0.15;

    .notifications-fixed {
        position: fixed;
    }

    &, & .notifications-fixed {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    > .notification {
        opacity: 0;
    }

    .notification {
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
        position: relative;

        div {
            padding: 10px;
        }

        & > .btn-close {
            cursor: pointer;
            padding: 10px 15px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    .notification-notice {
        background: $darker-gray;
        background: transparentize($darker-gray, $transparency);
    }

    .notification-success {
        background: $lighter-green;
        background: transparentize($lighter-green, $transparency);
    }

    .notification-error {
        background: $light-red;
        background: transparentize($light-red, $transparency);
    }
}
