^L
{% extends "base.html" %}
{% block head %}
<style>
    TD {
        text-align: right;
        padding-left: 10px;
    }
    .attrib {
        padding-left: 2em;
    }
</style>
{% end %}
{% block content %}

    <img src="cover.jpg" style="float: left; margin-right: 20px;" />

    <h2>The Gospels</h2>

    <p>  
        <b>Paperback:</b> 224 pages<br />
        <b>ISBN-13:</b> 0-98515-490-5<br />
        <b>Dimensions:</b> 6.0 x 9.0 x 0.7 inches<br />
        <b>Weight:</b> 0.9 pounds<br />
    </p>

    <h3>Praise</h3>

    <p class="quote">&ldquo;<span class="highlight">[A] splendid edition of
        the gospels based on a sound design
        philosophy[.]</span>&rdquo;<br /><span class="attrib">&mdash;J. Mark
        Bertrand on the <a
            href="http://www.bibledesignblog.com/2011/08/the-gospels-edited-by-chad-whitacre.html">Bible
            Design Blog</a></span></p>

    <h3>Order</h3>

    <table>
        <tr><th>Quantity</th><td>Price Each</td></tr>
        <tr><th>&nbsp;&nbsp;&nbsp;1</th><td>$13.95</td></tr>
        <tr><th>&nbsp;&nbsp;&nbsp;2-8</th><td>$12.00</td></tr>
        <tr><th>&nbsp;&nbsp;&nbsp;12+</th><td>$9.00</td></tr>
        <tr><td colspan="2">plus shipping</td></tr>
    </table>

    <h3>
        <a href="mailto:chad@zetaweb.com">chad@zetaweb.com</a><br />
        412-925-4220
    </h3>

{% end %}
