^L
{% extends "base.html" %}
{% block head %}
<style>
    TD {
        text-align: right;
        padding-left: 10px;
    }
    IMG {
        float: left;
        margin-top: 20px;
    }
    .details {
        float: left;
        margin: 20px 0 0 20px;
    }
    .details H2 {
        margin: 0;
        padding: 0;
        line-height: 100%;
    }
    .attrib {
        padding-left: 2em;
    }
    .reseller {
        margin: 0 0 2em 1em;
        text-indent: -1em;
    }
</style>
{% end %}
{% block content %}

    <img src="cover.jpg" />

    <div class="details">
    <h2>The Gospels</h2>

    <p>  
        <b>Paperback:</b> 224 pages<br />
        <b>ISBN-13:</b> 0-98515-490-5<br />
        <b>Dimensions:</b> 6.0 x 9.0 x 0.7 inches<br />
        <b>Weight:</b> 0.9 pounds<br />
    </p>

    <h3>Praise</h3>

    <p class="quote">&ldquo;<b><a
            href="http://www.bibledesignblog.com/2011/08/the-gospels-edited-by-chad-whitacre.html">a
            splendid edition of the gospels based on a sound design
            philosophy</a></b>&rdquo;<br /><span class="attrib">&mdash;J. Mark
        Bertrand on the Bible Design Blog</span></p>

    <h3>Order</h3>

    <p>Suggested retail price is $13.95.</p>

    <p>Available at ...</p>

    <p class="reseller">
        <b><a href="https://www.heartsandmindsbooks.com/">Hearts and Minds Bookstore</a></b><br />
        Byron and Beth Borger<br />
        234 East Main Street<br />
        Dallastown, PA 17313<br />
        (717) 246-3333<br />
        <a href="https://www.heartsandmindsbooks.com/order/">online ordering</a><br />
    </p> 
    <p class="reseller">
        <b><a href="http://tsm.edu/bookstore">Trinity School for Ministry Bookstore</a></b><br />
        Pam Kuhns<br />
        311 Eleventh Street<br />
        Ambridge, PA 15003<br />
        (800) 874-8754<br />
        <a href="mailto:bookstore@tsm.edu">bookstore@tsm.edu</a><br />
    </p> 

    </div>


{% end %}
