interactions:
- request:
    body: '{"CountryOfResidence": "BE", "FirstName": "David", "LastName": "Foobar",
      "Birthday": 0, "Nationality": "BE", "KYCLevel": "LIGHT", "Email": "nobody@example.net",
      "PersonType": "NATURAL"}'
    headers: {}
    method: POST
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/users/natural
  response:
    body: {string: !!python/unicode '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"David","LastName":"Foobar","Birthday":0,"Nationality":"BE","CountryOfResidence":"BE","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"nobody@example.net","KYCLevel":"LIGHT","Id":"20717489","Tag":null,"CreationDate":1486643834}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Currency": "EUR", "Owners": ["20717489"], "Description": "test wallet"}'
    headers: {}
    method: POST
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/wallets
  response:
    body: {string: !!python/unicode '{"Description":"test wallet","Owners":["20717489"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"20717490","Tag":null,"CreationDate":1486643835}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"Currency": "EUR", "CardType": "CB_VISA_MASTERCARD", "UserId": "20717491"}'
    headers: {}
    method: POST
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/cardregistrations
  response:
    body: {string: !!python/unicode '{"Id":"20717493","Tag":null,"CreationDate":1486643836,"UserId":"20717491","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"3HqPlFutoDFNG4POzHjI-EJvs0hRfGcdwqOkKhA_2caJalbkNxO1w8vGQ7EVYHklS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: cardExpirationDate=1234&data=3HqPlFutoDFNG4POzHjI-EJvs0hRfGcdwqOkKhA_2caJalbkNxO1w8vGQ7EVYHklS4wCy-yiraxeE65tmxOe8A&cardNumber=3569990000000132&cardCvx=123&accessKeyRef=1X0m87dmM2LiwFgxPLBJ
    headers: {}
    method: POST
    uri: https://homologation-webpayment.payline.com:443/webpayment/getToken
  response:
    body: {string: !!python/unicode data=zOuEJSfzxAo1kG_ispVi9ULg7yYLkeFMUYCxEVMRMoBGgcfgbh3J977hrrf95vhP5W33Sc5ADgYtH05up6wRFdc2GAZ6UnizlE2PDw3UzRJLUzpAFJfmVS1nYQ6h6tH6itqiOziq3ql-zEa3CerCpg}
    headers:
      content-type: [text/plain; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Status": "CREATED", "CardRegistrationURL": "https://homologation-webpayment.payline.com/webpayment/getToken",
      "AccessKey": "1X0m87dmM2LiwFgxPLBJ", "UserId": "20717491", "RegistrationData":
      "data=zOuEJSfzxAo1kG_ispVi9ULg7yYLkeFMUYCxEVMRMoBGgcfgbh3J977hrrf95vhP5W33Sc5ADgYtH05up6wRFdc2GAZ6UnizlE2PDw3UzRJLUzpAFJfmVS1nYQ6h6tH6itqiOziq3ql-zEa3CerCpg",
      "PreregistrationData": "3HqPlFutoDFNG4POzHjI-EJvs0hRfGcdwqOkKhA_2caJalbkNxO1w8vGQ7EVYHklS4wCy-yiraxeE65tmxOe8A",
      "Currency": "EUR", "CardType": "CB_VISA_MASTERCARD", "CreationDate": 1486598400}'
    headers: {}
    method: PUT
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/cardregistrations/20717493
  response:
    body: {string: !!python/unicode '{"Id":"20717493","Tag":null,"CreationDate":1486643836,"UserId":"20717491","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"3HqPlFutoDFNG4POzHjI-EJvs0hRfGcdwqOkKhA_2caJalbkNxO1w8vGQ7EVYHklS4wCy-yiraxeE65tmxOe8A","RegistrationData":"data=zOuEJSfzxAo1kG_ispVi9ULg7yYLkeFMUYCxEVMRMoBGgcfgbh3J977hrrf95vhP5W33Sc5ADgYtH05up6wRFdc2GAZ6UnizlE2PDw3UzRJLUzpAFJfmVS1nYQ6h6tH6itqiOziq3ql-zEa3CerCpg","CardId":"20717494","CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":"000000","ResultMessage":"Success","Currency":"EUR","Status":"VALIDATED"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"DepositAccountType": "CHECKING", "UserId": "20717495", "IBAN": "FR1420041010050500013M02606",
      "OwnerName": "Homer Jay", "Active": 1, "OwnerAddress": {"PostalCode": "75001",
      "City": "The City of Light", "Country": "FR", "AddressLine1": "Somewhere"},
      "Type": "IBAN"}'
    headers: {}
    method: POST
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/users/20717495/bankaccounts/IBAN
  response:
    body: {string: !!python/unicode '{"OwnerAddress":{"AddressLine1":"Somewhere","AddressLine2":null,"City":"The
        City of Light","Region":null,"PostalCode":"75001","Country":"FR"},"IBAN":"FR1420041010050500013M02606","BIC":"PSSTFRPPLIL","UserId":"20717495","OwnerName":"Homer
        Jay","Type":"IBAN","Id":"20717497","Tag":null,"CreationDate":1486643837,"Active":true}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
