interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/users/liberapay
  response:
    body: {string: '{"login":"liberapay","id":12560099,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyNTYwMDk5","avatar_url":"https://avatars1.githubusercontent.com/u/12560099?v=4","gravatar_id":"","url":"https://api.github.com/users/liberapay","html_url":"https://github.com/liberapay","followers_url":"https://api.github.com/users/liberapay/followers","following_url":"https://api.github.com/users/liberapay/following{/other_user}","gists_url":"https://api.github.com/users/liberapay/gists{/gist_id}","starred_url":"https://api.github.com/users/liberapay/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liberapay/subscriptions","organizations_url":"https://api.github.com/users/liberapay/orgs","repos_url":"https://api.github.com/users/liberapay/repos","events_url":"https://api.github.com/users/liberapay/events{/privacy}","received_events_url":"https://api.github.com/users/liberapay/received_events","type":"Organization","site_admin":false,"name":"Liberapay","company":null,"blog":"https://liberapay.com/","location":null,"email":null,"hireable":null,"bio":null,"public_repos":9,"public_gists":0,"followers":0,"following":0,"created_at":"2015-05-22T12:47:26Z","updated_at":"2016-02-22T18:29:18Z"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"588eb01cf37d2935135d39d6c9a26dd0"]
      last-modified: ['Mon, 22 Feb 2016 18:29:18 GMT']
      status: [200 OK]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/orgs/liberapay/public_members
  response:
    body: {string: '[{"login":"Calinou","id":180032,"node_id":"MDQ6VXNlcjE4MDAzMg==","avatar_url":"https://avatars3.githubusercontent.com/u/180032?v=4","gravatar_id":"","url":"https://api.github.com/users/Calinou","html_url":"https://github.com/Calinou","followers_url":"https://api.github.com/users/Calinou/followers","following_url":"https://api.github.com/users/Cal[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://bitbucket.org/api/2.0/users/adhsjakdjsdkjsajdhksda
  response:
    body: {string: '{"type": "error", "error": {"message": "adhsjakdjsdkjsajdhksda"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: ['"391bfec2a9c670615650436ed4cb607f"']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/users/adhsjakdjsdkjsajdhksda
  response:
    body: {string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/#get-a-single-user"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://gitlab.com/api/v4/users?username=adhsjakdjsdkjsajdhksda
  response:
    body: {string: '[]'}
    headers:
      content-type: [application/json]
      etag: [W/"d751713988987e9331980363e24189ce"]
      link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=adhsjakdjsdkjsajdhksda&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=adhsjakdjsdkjsajdhksda&with_custom_attributes=false>;
          rel="last"']
      ratelimit-limit: ['600']
      ratelimit-observed: ['1']
      ratelimit-remaining: ['599']
      ratelimit-reset: ['1540799319']
      ratelimit-resettime: ['Tue, 29 Oct 2018 07:48:39 GMT']
    status: {code: 200, message: OK}
- request:
    body: client_secret=o090sc7828d7gljtrqc5n4vcpx3bfx&grant_type=client_credentials&client_id=9ro3g4slh0de5yijy6rqb2p0jgd7hi
    headers: {}
    method: POST
    uri: https://id.twitch.tv/oauth2/token
  response:
    body: {string: '{"access_token":"l5v4ham8prjwrvowu1pd1pue81t1qp","expires_in":5281481,"token_type":"bearer"}

        '}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.twitch.tv/helix/users?login=adhsjakdjsdkjsajdhksda
  response:
    body: {string: '{"data":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      front-end-https: ['on']
      ratelimit-limit: ['800']
      ratelimit-remaining: ['799']
      ratelimit-reset: ['1540799264']
      twitch-trace-id: [b1907dcd26af1b2ca083092425a05083]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=adhsjakdjsdkjsajdhksda&include_entities=false
  response:
    body: {string: '{"errors":[{"code":50,"message":"User not found."}]}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json; charset=utf-8]
      last-modified: ['Mon, 29 Oct 2018 07:47:44 GMT']
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://bitbucket.org/api/2.0/users/%3E%27%3E%22%3E%3Cimg%20src%3Dx%20onerror%3Dalert%280%29%3E
  response:
    body: {string: ''}
    headers:
      content-type: [text/html; charset=utf-8]
      etag: ['"d41d8cd98f00b204e9800998ecf8427e"']
      www-authenticate: [OAuth realm="Bitbucket.org HTTP"]
    status: {code: 401, message: Unauthorized}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/users/%3E%27%3E%22%3E%3Cimg%20src%3Dx%20onerror%3Dalert%280%29%3E
  response:
    body: {string: '{"message":"Not Found","documentation_url":"https://developer.github.com/v3/users/#get-a-single-user"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://gitlab.com/api/v4/users?username=%3E%27%3E%22%3E%3Cimg%20src%3Dx%20onerror%3Dalert%280%29%3E
  response:
    body: {string: '[]'}
    headers:
      content-type: [application/json]
      etag: [W/"d751713988987e9331980363e24189ce"]
      link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=%3E%27%3E%22%3E%3Cimg+src%3Dx+onerror%3Dalert%280%29%3E&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=20&skip_ldap=false&username=%3E%27%3E%22%3E%3Cimg+src%3Dx+onerror%3Dalert%280%29%3E&with_custom_attributes=false>;
          rel="last"']
      ratelimit-limit: ['600']
      ratelimit-observed: ['2']
      ratelimit-remaining: ['598']
      ratelimit-reset: ['1540799325']
      ratelimit-resettime: ['Tue, 29 Oct 2018 07:48:45 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.twitch.tv/helix/users?login=%3E%27%3E%22%3E%3Cimg%20src%3Dx%20onerror%3Dalert%280%29%3E
  response:
    body: {string: '{"error":"Bad Request","status":400,"message":"Error (400): Invalid
        login parameter requested: \u003e''\u003e\"\u003e\u003cimg src=x onerror=alert(0)\u003e"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      ratelimit-limit: ['800']
      ratelimit-remaining: ['799']
      ratelimit-reset: ['1540799266']
      twitch-trace-id: [c9c4c79b589526c43ea917adffba0966]
    status: {code: 400, message: Bad Request}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=%3E%27%3E%22%3E%3Cimg%20src%3Dx%20onerror%3Dalert%280%29%3E&include_entities=false
  response:
    body: {string: '{"errors":[{"code":50,"message":"User not found."}]}'}
    headers:
      content-disposition: [attachment; filename=json.json]
      content-type: [application/json; charset=utf-8]
      last-modified: ['Mon, 29 Oct 2018 07:47:46 GMT']
      status: [404 Not Found]
    status: {code: 404, message: Not Found}
version: 1
