interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1QlBK3Fk4eGpfLOC2upY9AmT\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": null,\n    \"name\": null,\n\
        \    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n    \"\
        checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\"\
        : null,\n      \"cvc_check\": \"unchecked\"\n    },\n    \"country\": \"US\"\
        ,\n    \"display_brand\": \"visa\",\n    \"exp_month\": 1,\n    \"exp_year\"\
        : 2026,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"regulated_status\": \"unregulated\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1737819059,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"type\": \"card\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
