interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/customers/x
  response:
    body: {string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"\
        doc_url\": \"https://stripe.com/docs/error-codes/resource-missing\",\n   \
        \ \"message\": \"No such customer: 'x'\",\n    \"param\": \"id\",\n    \"\
        request_log_url\": \"https://dashboard.stripe.com/test/logs/req_zzyQOrtRtY3j4X?t=1737810284\"\
        ,\n    \"type\": \"invalid_request_error\"\n  }\n}\n"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 404, message: Not Found}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/customers/x
  response:
    body: {string: "{\n  \"error\": {\n    \"code\": \"resource_missing\",\n    \"\
        doc_url\": \"https://stripe.com/docs/error-codes/resource-missing\",\n   \
        \ \"message\": \"No such customer: 'x'\",\n    \"param\": \"id\",\n    \"\
        request_log_url\": \"https://dashboard.stripe.com/test/logs/req_mWULplSg4SxZtN?t=1737810285\"\
        ,\n    \"type\": \"invalid_request_error\"\n  }\n}\n"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 404, message: Not Found}
version: 1
