interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1EZc8vFk4eGpfLOCibbhONPo
  response:
    body: {string: "{\n  \"id\": \"pm_1EZc8vFk4eGpfLOCibbhONPo\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        \"67898\",\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        \"Alice Foobar\",\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\":
        \"visa\",\n    \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        \"pass\",\n      \"cvc_check\": \"pass\"\n    },\n    \"country\": \"US\",\n
        \   \"exp_month\": 12,\n    \"exp_year\": 2034,\n    \"fingerprint\": \"BNQBOIVWZcaCjKHn\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"3063\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1557746189,\n  \"customer\": \"cus_Du92cWYYEVlZXa\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-03-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1E42IaFk4eGpfLOCUau5nIdg
  response:
    body: {string: "{\n  \"id\": \"src_1E42IaFk4eGpfLOCUau5nIdg\",\n  \"object\":
        \"source\",\n  \"amount\": null,\n  \"client_secret\": \"src_client_secret_EX6VtYCUKYFeSa7Wap4TkfZY\",\n
        \ \"created\": 1550220236,\n  \"currency\": \"eur\",\n  \"customer\": \"cus_Du92cWYYEVlZXa\",\n
        \ \"flow\": \"none\",\n  \"livemode\": false,\n  \"mandate\": {\n    \"acceptance\":
        {\n      \"date\": null,\n      \"ip\": null,\n      \"offline\": null,\n
        \     \"online\": null,\n      \"status\": \"pending\",\n      \"type\": null,\n
        \     \"user_agent\": null\n    },\n    \"amount\": null,\n    \"currency\":
        null,\n    \"interval\": null,\n    \"notification_method\": \"none\",\n    \"reference\":
        \"6VZTBZTQLFBVBEVE\",\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1E42IaFk4eGpfLOCUau5nIdg/src_client_secret_EX6VtYCUKYFeSa7Wap4TkfZY\"\n
        \ },\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\": {\n      \"city\":
        null,\n      \"country\": \"FR\",\n      \"line1\": null,\n      \"line2\":
        null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n    \"email\":
        \"alice@liberapay.com\",\n    \"name\": \"Jane Doe\",\n    \"phone\": null,\n
        \   \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\":
        null,\n    \"verified_phone\": null\n  },\n  \"sepa_debit\": {\n    \"bank_code\":
        \"20041\",\n    \"branch_code\": \"01005\",\n    \"country\": \"FR\",\n    \"fingerprint\":
        \"bevtMDy4Cud4ZswV\",\n    \"last4\": \"2606\",\n    \"mandate_reference\":
        \"6VZTBZTQLFBVBEVE\",\n    \"mandate_url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1E42IaFk4eGpfLOCUau5nIdg/src_client_secret_EX6VtYCUKYFeSa7Wap4TkfZY\"\n
        \ },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n  \"type\":
        \"sepa_debit\",\n  \"usage\": \"reusable\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-03-14']
    status: {code: 200, message: OK}
version: 1
