interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/users/liberapay
  response:
    body: {string: '{"login":"liberapay","id":12560099,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyNTYwMDk5","avatar_url":"https://avatars1.githubusercontent.com/u/12560099?v=4","gravatar_id":"","url":"https://api.github.com/users/liberapay","html_url":"https://github.com/liberapay","followers_url":"https://api.github.com/users/liberapay/followers","following_url":"https://api.github.com/users/liberapay/following{/other_user}","gists_url":"https://api.github.com/users/liberapay/gists{/gist_id}","starred_url":"https://api.github.com/users/liberapay/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/liberapay/subscriptions","organizations_url":"https://api.github.com/users/liberapay/orgs","repos_url":"https://api.github.com/users/liberapay/repos","events_url":"https://api.github.com/users/liberapay/events{/privacy}","received_events_url":"https://api.github.com/users/liberapay/received_events","type":"Organization","site_admin":false,"name":"Liberapay","company":null,"blog":"https://liberapay.com/","location":null,"email":null,"hireable":null,"bio":null,"public_repos":10,"public_gists":0,"followers":0,"following":0,"created_at":"2015-05-22T12:47:26Z","updated_at":"2019-12-02T15:55:31Z"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"0d1d666982422d763ae8371ce589a531"]
      Last-Modified: ['Mon, 02 Dec 2019 15:55:31 GMT']
      Status: [200 OK]
      X-GitHub-Media-Type: [github.v3; format=json]
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4994']
      X-RateLimit-Reset: ['1576928829']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/orgs/liberapay/public_members
  response:
    body: {string: '[{"login":"Calinou","id":180032,"node_id":"MDQ6VXNlcjE4MDAzMg==","avatar_url":"https://avatars3.githubusercontent.com/u/180032?v=4","gravatar_id":"","url":"https://api.github.com/users/Calinou","html_url":"https://github.com/Calinou","followers_url":"https://api.github.com/users/Calinou/followers","following_url":"https://api.github.com/users/Cal[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/user/1
  response:
    body: {string: '{"login":"mojombo","id":1,"node_id":"MDQ6VXNlcjE=","avatar_url":"https://avatars0.githubusercontent.com/u/1?v=4","gravatar_id":"","url":"https://api.github.com/users/mojombo","html_url":"https://github.com/mojombo","followers_url":"https://api.github.com/users/mojombo/followers","following_url":"https://api.github.com/users/mojombo/following{/other_user}","gists_url":"[...]
[...]
