interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1QlCyNFk4eGpfLOCWWLmQFzR\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": null,\n    \"name\": null,\n\
        \    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n    \"\
        checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\"\
        : null,\n      \"cvc_check\": \"unchecked\"\n    },\n    \"country\": \"US\"\
        ,\n    \"display_brand\": \"visa\",\n    \"exp_month\": 1,\n    \"exp_year\"\
        : 2026,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"regulated_status\": \"unregulated\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1737825403,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"type\": \"card\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: email=alice%40liberapay.com&metadata[participant_id]=1&payment_method=pm_1QlCyOFk4eGpfLOCpQTKuctl&preferred_locales[0]=en
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_ReW0fAwS0JVO4t\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1737825404,\n  \"currency\": null,\n  \"default_currency\": null,\n\
        \  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\"\
        : null,\n  \"discount\": null,\n  \"email\": \"alice@liberapay.com\",\n  \"\
        invoice_prefix\": \"48D497C5\",\n  \"invoice_settings\": {\n    \"custom_fields\"\
        : null,\n    \"default_payment_method\": null,\n    \"footer\": null,\n  \
        \  \"rendering_options\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n    \"participant_id\": \"1\"\n  },\n  \"name\": null,\n  \"next_invoice_sequence\"\
        : 1,\n  \"phone\": null,\n  \"preferred_locales\": [\n    \"en\"\n  ],\n \
        \ \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n    \"\
        data\": [],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\"\
        : \"/v1/customers/cus_ReW0fAwS0JVO4t/sources\"\n  },\n  \"subscriptions\"\
        : {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n\
        \    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_ReW0fAwS0JVO4t/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_ReW0fAwS0JVO4t/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null,\n  \"test_clock\": null\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_customer_for_participant_1_with_pm_1QlCyOFk4eGpfLOCpQTKuctl]
      Original-Request: [req_oSWi39JUZBYekQ]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: amount=3700&confirm=True&currency=eur&customer=cus_ReW0OhnuhBViLL&description=Liberapay&metadata[payin_id]=2262&off_session=True&payment_method=pm_1QlCyPFk4eGpfLOCzKfSex5q&payment_method_types[0]=card&return_url=http%3A%2F%2Flocalhost%2Falice%2Fgiving%2Fpay%2Fstripe%2F2262&statement_descriptor=Liberapay+2262
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body: {string: "{\n  \"id\": \"pi_3QlCyQFk4eGpfLOC0dxzuM6J\",\n  \"object\": \"\
        payment_intent\",\n  \"amount\": 3700,\n  \"amount_capturable\": 0,\n  \"\
        amount_details\": {\n    \"tip\": {}\n  },\n  \"amount_received\": 3700,\n\
        \  \"application\": null,\n  \"application_fee_amount\": null,\n  \"automatic_payment_methods\"\
        : null,\n  \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"\
        capture_method\": \"automatic\",\n  \"charges\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n      {\n        \"id\": \"ch_3QlCyQFk4eGpfLOC0VvdXVf9\"\
        ,\n        \"object\": \"charge\",\n        \"amount\": 3700,\n        \"\
        amount_captured\": 3700,\n        \"amount_refunded\": 0,\n        \"application\"\
        : null,\n        \"application_fee\": null,\n        \"application_fee_amount\"\
        : null,\n        \"balance_transaction\": \"txn_3QlCyQFk4eGpfLOC0CMMnivB\"\
        ,\n        \"billing_details\": {\n          \"address\": {\n            \"\
        city\": null,\n            \"country\": null,\n            \"line1\": null,\n\
        \            \"line2\": null,\n            \"postal_code\": null,\n      \
        \      \"state\": null\n          },\n          \"email\": null,\n       \
        \   \"name\": null,\n          \"phone\": null\n        },\n        \"calculated_statement_descriptor\"\
        : \"LIBERAPAY 2262\",\n        \"captured\": true,\n        \"created\": 1737825407,\n\
        \        \"currency\": \"eur\",\n        \"customer\": \"cus_ReW0OhnuhBViLL\"\
        ,\n        \"description\": \"Liberapay\",\n        \"destination\": null,\n\
        \        \"dispute\": null,\n        \"disputed\": false,\n        \"failure_balance_transaction\"\
        : null,\n        \"failure_code\": null,\n        \"failure_message\": null,\n\
        \        \"fraud_details\": {},\n        \"invoice\": null,\n        \"livemode\"\
        : false,\n        \"metadata\": {\n          \"payin_id\": \"2262\"\n    \
        \    },\n        \"on_behalf_of\": null,\n        \"order\": null,\n     \
        \   \"outcome\": {\n          \"advice_code\": null,\n          \"network_advice_code\"\
        : null,\n          \"network_decline_code\": null,\n          \"network_status\"\
        : \"approved_by_network\",\n          \"reason\": null,\n          \"risk_level\"\
        : \"normal\",\n          \"risk_score\": 63,\n          \"seller_message\"\
        : \"Payment complete.\",\n          \"type\": \"authorized\"\n        },\n\
        \        \"paid\": true,\n        \"payment_intent\": \"pi_3QlCyQFk4eGpfLOC0dxzuM6J\"\
        ,\n        \"payment_method\": \"pm_1QlCyPFk4eGpfLOCzKfSex5q\",\n        \"\
        payment_method_details\": {\n          \"card\": {\n            \"amount_authorized\"\
        : 3700,\n            \"authorization_code\": null,\n            \"brand\"\
        : \"visa\",\n            \"checks\": {\n              \"address_line1_check\"\
        : null,\n              \"address_postal_code_check\": null,\n            \
        \  \"cvc_check\": \"pass\"\n            },\n            \"country\": \"US\"\
        ,\n            \"exp_month\": 1,\n            \"exp_year\": 2026,\n      \
        \      \"extended_authorization\": {\n              \"status\": \"disabled\"\
        \n            },\n            \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n   \
        \         \"funding\": \"credit\",\n            \"incremental_authorization\"\
        : {\n              \"status\": \"unavailable\"\n            },\n         \
        \   \"installments\": null,\n            \"last4\": \"4242\",\n          \
        \  \"mandate\": null,\n            \"multicapture\": {\n              \"status\"\
        : \"unavailable\"\n            },\n            \"network\": \"visa\",\n  \
        \          \"network_token\": {\n              \"used\": false\n         \
        \   },\n            \"network_transaction_id\": \"107541219911711\",\n   \
        \         \"overcapture\": {\n              \"maximum_amount_capturable\"\
        : 3700,\n              \"status\": \"unavailable\"\n            },\n     \
        \       \"regulated_status\": \"unregulated\",\n            \"three_d_secure\"\
        : null,\n            \"wallet\": null\n          },\n          \"type\": \"\
        card\"\n        },\n        \"radar_options\": {},\n        \"receipt_email\"\
        : null,\n        \"receipt_number\": null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xQ2h5YXlGazRlR3BmTE9DKP-41LwGMgY96l6m1lY6LBba8kfgWdGcXeHhK_5zsuk-uO8yJqr7jsLL0zAbCektr5-hfoiR7Ef0pjX4\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [],\n          \"has_more\": false,\n   \
        \       \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_3QlCyQFk4eGpfLOC0VvdXVf9/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : \"Liberapay 2262\",\n        \"statement_descriptor_suffix\": null,\n  \
        \      \"status\": \"succeeded\",\n        \"transfer_data\": null,\n    \
        \    \"transfer_group\": null\n      }\n    ],\n    \"has_more\": false,\n\
        \    \"total_count\": 1,\n    \"url\": \"/v1/charges?payment_intent=pi_3QlCyQFk4eGpfLOC0dxzuM6J\"\
        \n  },\n  \"client_secret\": \"pi_3QlCyQFk4eGpfLOC0dxzuM6J_secret_o90p1E86LGrPvVxyyrGimbfU8\"\
        ,\n  \"confirmation_method\": \"automatic\",\n  \"created\": 1737825406,\n\
        \  \"currency\": \"eur\",\n  \"customer\": \"cus_ReW0OhnuhBViLL\",\n  \"description\"\
        : \"Liberapay\",\n  \"invoice\": null,\n  \"last_payment_error\": null,\n\
        \  \"latest_charge\": \"ch_3QlCyQFk4eGpfLOC0VvdXVf9\",\n  \"livemode\": false,\n\
        \  \"metadata\": {\n    \"payin_id\": \"2262\"\n  },\n  \"next_action\": null,\n\
        \  \"on_behalf_of\": null,\n  \"payment_method\": \"pm_1QlCyPFk4eGpfLOCzKfSex5q\"\
        ,\n  \"payment_method_configuration_details\": null,\n  \"payment_method_options\"\
        : {\n    \"card\": {\n      \"installments\": null,\n      \"mandate_options\"\
        : null,\n      \"network\": null,\n      \"request_three_d_secure\": \"automatic\"\
        \n    }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"processing\"\
        : null,\n  \"receipt_email\": null,\n  \"review\": null,\n  \"setup_future_usage\"\
        : null,\n  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\"\
        : \"Liberapay 2262\",\n  \"statement_descriptor_suffix\": null,\n  \"status\"\
        : \"succeeded\",\n  \"transfer_data\": null,\n  \"transfer_group\": null\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [payin_intent_2262]
      Original-Request: [req_2cZqFiiG2eAViE]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/balance_transactions/txn_3QlCyQFk4eGpfLOC0CMMnivB
  response:
    body: {string: "{\n  \"id\": \"txn_3QlCyQFk4eGpfLOC0CMMnivB\",\n  \"object\":\
        \ \"balance_transaction\",\n  \"amount\": 3700,\n  \"available_on\": 1738195200,\n\
        \  \"created\": 1737825407,\n  \"currency\": \"eur\",\n  \"description\":\
        \ \"Liberapay\",\n  \"exchange_rate\": null,\n  \"fee\": 145,\n  \"fee_details\"\
        : [\n    {\n      \"amount\": 145,\n      \"application\": null,\n      \"\
        currency\": \"eur\",\n      \"description\": \"Stripe processing fees\",\n\
        \      \"type\": \"stripe_fee\"\n    }\n  ],\n  \"net\": 3555,\n  \"reporting_category\"\
        : \"charge\",\n  \"source\": \"ch_3QlCyQFk4eGpfLOC0VvdXVf9\",\n  \"status\"\
        : \"pending\",\n  \"type\": \"charge\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/balance_transactions/txn_3QlCyTFk4eGpfLOC0Tos5zDa
  response:
    body: {string: "{\n  \"id\": \"txn_3QlCyTFk4eGpfLOC0Tos5zDa\",\n  \"object\":\
        \ \"balance_transaction\",\n  \"amount\": 1200,\n  \"available_on\": 1738195200,\n\
        \  \"created\": 1737825409,\n  \"currency\": \"eur\",\n  \"description\":\
        \ \"Liberapay\",\n  \"exchange_rate\": null,\n  \"fee\": 64,\n  \"fee_details\"\
        : [\n    {\n      \"amount\": 64,\n      \"application\": null,\n      \"\
        currency\": \"eur\",\n      \"description\": \"Stripe processing fees\",\n\
        \      \"type\": \"stripe_fee\"\n    }\n  ],\n  \"net\": 1136,\n  \"reporting_category\"\
        : \"charge\",\n  \"source\": \"ch_3QlCyTFk4eGpfLOC0O5DTA1z\",\n  \"status\"\
        : \"pending\",\n  \"type\": \"charge\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_threeDSecureRequired
  response:
    body: {string: "{\n  \"id\": \"pm_1QlCyVFk4eGpfLOCi3x9oF7a\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
 [...]
[...]
- request:
    body: amount=4300&confirm=True&currency=eur&customer=cus_ReW08DyWlPb4ik&description=Liberapay&metadata[payin_id]=2272&off_session=True&payment_method=pm_1QlCyVFk4eGpfLOCi3x9oF7a&payment_method_types[0]=card&return_url=http%3A%2F%2Flocalhost%2Falice%2Fgiving%2Fpay%2Fstripe%2F2272&statement_descriptor=Liberapay+2272
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body: {string: "{\n  \"error\": {\n    \"charge\": \"ch_3QlCyXFk4eGpfLOC1dIi8M0P\"\
        ,\n    \"code\": \"card_declined\",\n    \"decline_code\": \"generic_decline\"\
        ,\n    \"doc_url\": \"https://stripe.com/docs/error-codes/card-declined\"\
        ,\n    \"message\": \"Your card was declined.\",\n    \"payment_intent\":\
        \ {\n      \"id\": \"pi_3QlCyXFk4eGpfLOC134Xilfh\",\n      \"object\": \"\
        payment_intent\",\n      \"amount\": 4300,\n      \"amount_capturable\": 0,\n\
        \      \"amount_details\": {\n        \"tip\": {\n        }\n      },\n  \
        \    \"amount_received\": 0,\n      \"application\": null,\n      \"application_fee_amount\"\
        : null,\n      \"automatic_payment_methods\": null,\n      \"canceled_at\"\
        : null,\n      \"cancellation_reason\": null,\n      \"capture_method\": \"\
        automatic\",\n      \"charges\": {\n        \"object\": \"list\",\n      \
        \  \"data\": [\n          {\n            \"id\": \"ch_3QlCyXFk4eGpfLOC1dIi8M0P\"\
        ,\n            \"object\": \"charge\",\n            \"amount\": 4300,\n  \
        \          \"amount_captured\": 0,\n            \"amount_refunded\": 0,\n\
        \            \"application\": null,\n            \"application_fee\": null,\n\
        \            \"application_fee_amount\": null,\n            \"balance_transaction\"\
        : null,\n            \"billing_details\": {\n              \"address\": {\n\
        \                \"city\": null,\n                \"country\": null,\n   \
        \             \"line1\": null,\n                \"line2\": null,\n       \
        \         \"posta[...]
