interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://graph.facebook.com:443/whit537/picture?redirect=false&width=256&height=256
  response:
    body: {string: !!python/unicode '{"data":{"url":"https:\/\/fbcdn-profile-a.akamaihd.net\/hprofile-ak-xaf1\/v\/t1.0-1\/c22.22.276.276\/p320x320\/526914_658292107058_572540028_n.jpg?oh=5b766b453f56c559685129e9ef267f01&oe=548D9F46&__gda__=1418653178_3e0112971831b70203845f80af4ba9c7","width":276,"height":276,"is_silhouette":false}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      etag: ['"82232411a56853d6558069c3104a54256e1cb6d0"']
      facebook-api-version: [v1.0]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://graph.facebook.com:443/whit537/picture?redirect=false&width=256&height=256
  response:
    body: {string: !!python/unicode '{"data":{"url":"https:\/\/fbcdn-profile-a.akamaihd.net\/hprofile-ak-xaf1\/v\/t1.0-1\/c22.22.276.276\/p320x320\/526914_658292107058_572540028_n.jpg?oh=5b766b453f56c559685129e9ef267f01&oe=548D9F46&__gda__=1418653178_3e0112971831b70203845f80af4ba9c7","width":276,"height":276,"is_silhouette":false}}'}
    headers:
      content-type: [application/json; charset=UTF-8]
      etag: ['"82232411a56853d6558069c3104a54256e1cb6d0"']
      facebook-api-version: [v1.0]
    status: {code: 200, message: OK}
version: 1
