interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://liberapay.com/data/exchange-rates.json
  response:
    body: {string: "{\"base\":\"EUR\",\"rates\":{\"AED\":3.802052,\"AFN\":72.674249,\"ALL\":97.199333,\"AMD\":410.494537,\"ANG\":1.864382,\"AOA\":944.045474,\"ARS\":1067.005511,\"AUD\":1.671181,\"AWG\":1.863248,\"AZN\":1.758045,\"BAM\":1.936462,\"BBD\":2.088741,\"BDT\":123.624842,\"BGN\":1.955789,\"BHD\":0.390263,\"BIF\":3059.150251,\"BMD\":1.035138,\"BND\":1.402395,\"BOB\":7.174457,\"BRL\":6.522922,\"BSD\":1.034469,\"BTC\":1.0888025e-5,\"BTN\":88.493275,\"BWP\":14.408115,\"BYN\":3.385392,\"BYR\":20288.699919,\"BZD\":2.077949,\"CAD\":1.488057,\"CDF\":2970.845311,\"CHF\":0.939708,\"CLF\":0.037305,\"CLP\":1028.771544,\"CNY\":7.555574,\"CNH\":7.594826,\"COP\":4559.698982,\"CRC\":526.937814,\"CUC\":1.035138,\"CUP\":27.43115,\"CVE\":109.174221,\"CZK\":25.1879,\"DJF\":183.964476,\"DKK\":7.457774,\"DOP\":62.99095,\"DZD\":140.52305,\"EGP\":52.614912,\"ERN\":15.527066,\"ETB\":132.135944,\"EUR\":1,\"FJD\":2.403482,\"FKP\":0.81981,\"GBP\":0.826894,\"GEL\":2.908781,\"GGP\":0.81981,\"GHS\":15.207354,\"GIP\":0.81981,\"GMD\":74.529722,\"GNF\":8941.662231,\"GTQ\":7.976345,\"GYD\":216.431773,\"HKD\":8.041038,\"HNL\":26.283524,\"HRK\":7.424946,\"HTG\":135.180045,\"HUF\":410.892779,\"IDR\":16869.950469,\"ILS\":3.771136,\"IMP\":0.81981,\"INR\":88.979354,\"IQD\":1355.166828,\"IRR\":43566.361335,\"ISK\":143.904632,\"JEP\":0.81981,\"JMD\":161.021208,\"JOD\":0.734118,\"JPY\":162.844248,\"KES\":133.708563,\"KGS\":90.05673,\"KHR\":4162.492209,\"KMF\":482.503569,\"KPW\":931.623397,\"KRW\":1526.248063,\"KWD\":0.318823,\"KYD\":0.862103,\"KZT\":542.858821,\"LAK\":22612.186763,\"LBP\":92641.987047,\"LKR\":302.578346,\"LRD\":189.309489,\"LSL\":19.40452,\"LTL\":3.056493,\"LVL\":0.626144,\"LYD\":5.083213,\"MAD\":10.443854,\"MDL\":19.034194,\"MGA\":4830.758351,\"MKD\":61.207341,\"MMK\":3362.087037,\"MNT\":3517.397943,\"MOP\":8.26924,\"MRU\":41.212241,\"MUR\":48.640953,\"MVR\":15.942382,\"MWK\":1793.786617,\"MXN\":21.61204,\"MYR\":4.629653,\"MZN\":66.149163,\"NAD\":19.40452,\"NGN\":1600.32287,\"NIO\":38.069821,\"NOK\":11.788019,\"NPR\":141.589042,\"NZD\":1.850294,\"OMR\":0.398545,\"PAB\":1.034469,\"PEN\":3.877181,\"PGK\":4.202017,\"PHP\":59.763164,\"PKR\":288.073893,\"PLN\":4.276941,\"PYG\":8085.257777,\"QAR\":3.772805,\"RON\":4.973529,\"RSD\":116.37528,\"RUB\":117.717495,\"RWF\":1435.345338,\"SAR\":3.888401,\"SBD\":8.678134,\"SCR\":14.74064,\"SDG\":622.64026,\"SEK\":11.453748,\"SGD\":1.413486,\"SHP\":0.81981,\"SLE\":23.602457,\"SLL\":21706.324204,\"SOS\":591.196108,\"SRD\":36.513463,\"SVC\":9.051564,\"SYP\":2600.814905,\"SZL\":19.389371,\"THB\":35.495955,\"TJS\":11.275535,\"TMT\":3.633334,\"TND\":3.285391,\"TOP\":2.424392,\"TRY\":36.608373,\"TTD\":7.030788,\"TWD\":34.056545,\"TZS\":2530.911931,\"UAH\":43.534638,\"UGX\":3800.051353,\"USD\":1.035138,\"UYU\":45.376634,\"UZS\":13349.62151,\"VES\":53.788,\"VND\":26380.485583,\"VUV\":122.893627,\"WST\":2.859866,\"XAF\":649.471153,\"XAG\":0.035851,\"XAU\":0.000394,\"XCD\":2.797511,\"XDR\":0.793179,\"XOF\":649.468047,\"XPF\":119.331742,\"YER\":259.172588,\"ZAR\":19.550693,\"ZMK\":9317.489348,\"ZMW\":28.81029,\"ZWL\":333.313933}}"}
    headers:
      content-type: [application/json; charset=UTF-8]
    status: {code: 200, message: OK}
version: 1
