interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1G7iwRFk4eGpfLOCTQirOcvZ\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 2,\n    \"exp_year\"\
        : 2021,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1580651811,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"type\": \"card\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: email=alice%40liberapay.com&payment_method=pm_1G7iwSFk4eGpfLOCJEgvQN4Z
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_Gf32lHqazK5rov\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1580651813,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n\
        \  \"email\": \"alice@liberapay.com\",\n  \"invoice_prefix\": \"36FBED1A\"\
        ,\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\"\
        : [\n\n  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_Gf32lHqazK5rov/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_Gf32lHqazK5rov/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_Gf32lHqazK5rov/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_customer_for_participant_1_with_pm_1G7iwSFk4eGpfLOCJEgvQN4Z]
      original-request: [req_Bl3CSQbabkcD12]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1G7iwUFk4eGpfLOCRBin7KxN
  response:
    body: {string: "{\n  \"id\": \"pm_1G7iwUFk4eGpfLOCRBin7KxN\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 2,\n    \"exp_year\"\
        : 2021,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1580651814,\n  \"customer\": \"cus_Gf32DbpjlX7ig1\",\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: amount=3700&confirm=True&currency=eur&customer=cus_Gf32DbpjlX7ig1&metadata[payin_id]=1466&payment_method=pm_1G7iwUFk4eGpfLOCRBin7KxN&return_url=http%3A%2F%2Flocalhost%2Falice%2Fgiving%2Fpay%2Fstripe%2F1466&statement_descriptor=Liberapay+1466
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body: {string: "{\n  \"id\": \"pi_1G7iwWFk4eGpfLOCaEigzKha\",\n  \"object\": \"\
        payment_intent\",\n  \"amount\": 3700,\n  \"amount_capturable\": 0,\n  \"\
        amount_received\": 3700,\n  \"application\": null,\n  \"application_fee_amount\"\
        : null,\n  \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"\
        capture_method\": \"automatic\",\n  \"charges\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n      {\n        \"id\": \"ch_1G7iwWFk4eGpfLOC9i2PTKNC\"\
        ,\n        \"object\": \"charge\",\n        \"amount\": 3700,\n        \"\
        amount_refunded\": 0,\n        \"application\": null,\n        \"application_fee\"\
        : null,\n        \"application_fee_amount\": null,\n        \"balance_transaction\"\
        : \"txn_1G7iwWFk4eGpfLOCeLUAsmw3\",\n        \"billing_details\": {\n    \
        \      \"address\": {\n            \"city\": null,\n            \"country\"\
        : null,\n            \"line1\": null,\n            \"line2\": null,\n    \
        \        \"postal_code\": null,\n            \"state\": null\n          },\n\
        \          \"email\": null,\n          \"name\": null,\n          \"phone\"\
        : null\n        },\n        \"captured\": true,\n        \"created\": 1580651816,\n\
        \        \"currency\": \"eur\",\n        \"customer\": \"cus_Gf32DbpjlX7ig1\"\
        ,\n        \"description\": null,\n        \"destination\": null,\n      \
        \  \"dispute\": null,\n        \"disputed\": false,\n        \"failure_code\"\
        : null,\n        \"failure_message\": null,\n        \"fraud_details\": {\n\
        \        },\n        \"invoice\": null,\n        \"livemode\": false,\n  \
        \      \"metadata\": {\n          \"payin_id\": \"1466\"\n        },\n   \
        \     \"on_behalf_of\": null,\n        \"order\": null,\n        \"outcome\"\
        : {\n          \"network_status\": \"approved_by_network\",\n          \"\
        reason\": null,\n          \"risk_level\": \"normal\",\n          \"risk_score\"\
        : 59,\n          \"seller_message\": \"Payment complete.\",\n          \"\
        type\": \"authorized\"\n        },\n        \"paid\": true,\n        \"payment_intent\"\
        : \"pi_1G7iwWFk4eGpfLOCaEigzKha\",\n        \"payment_method\": \"pm_1G7iwUFk4eGpfLOCRBin7KxN\"\
        ,\n        \"payment_method_details\": {\n          \"card\": {\n        \
        \    \"brand\": \"visa\",\n            \"checks\": {\n              \"address_line1_check\"\
        : null,\n              \"address_postal_code_check\": null,\n            \
        \  \"cvc_check\": null\n            },\n            \"country\": \"US\",\n\
        \            \"exp_month\": 2,\n            \"exp_year\": 2021,\n        \
        \    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n            \"funding\": \"credit\"\
        ,\n            \"installments\": null,\n            \"last4\": \"4242\",\n\
        \            \"network\": \"visa\",\n            \"three_d_secure\": null,\n\
        \            \"wallet\": null\n          },\n          \"type\": \"card\"\n\
        \        },\n        \"receipt_email\": null,\n        \"receipt_number\"\
        : null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1ChyayFk4eGpfLOC/ch_1G7iwWFk4eGpfLOC9i2PTKNC/rcpt_Gf32PAD5BpnEmm6d6wubwimvxO6oLl8\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [\n\n          ],\n          \"has_more\"\
        : false,\n          \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_1G7iwWFk4eGpfLOC9i2PTKNC/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : \"Liberapay 1466\",\n        \"statement_descriptor_suffix\": null,\n  \
        \      \"status\": \"succeeded\",\n        \"transfer_data\": null,\n    \
        \    \"transfer_group\": null\n      }\n    ],\n    \"has_more\": false,\n\
        \    \"total_count\": 1,\n    \"url\": \"/v1/charges?payment_intent=pi_1G7iwWFk4eGpfLOCaEigzKha\"\
        \n  },\n  \"client_secret\": \"pi_1G7iwWFk4eGpfLOCaEigzKha_secret_T9pV8kqzJUyj8wTyoLIKnpltC\"\
        ,\n  \"confirmation_method\": \"automatic\",\n  \"created\": 1580651816,\n\
        \  \"currency\": \"eur\",\n  \"customer\": \"cus_Gf32DbpjlX7ig1\",\n  \"description\"\
        : null,\n  \"invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\"\
        : false,\n  \"metadata\": {\n    \"payin_id\": \"1466\"\n  },\n  \"next_action\"\
        : null,\n  \"on_behalf_of\": null,\n  \"payment_method\": \"pm_1G7iwUFk4eGpfLOCRBin7KxN\"\
        ,\n  \"payment_method_options\": {\n    \"card\": {\n      \"installments\"\
        : null,\n      \"request_three_d_secure\": \"automatic\"\n    }\n  },\n  \"\
        payment_method_types\": [\n    \"card\"\n  ],\n  \"receipt_email\": null,\n\
        \  \"review\": null,\n  \"setup_future_usage\": null,\n  \"shipping\": null,\n\
        \  \"source\": null,\n  \"statement_descriptor\": \"Liberapay 1466\",\n  \"\
        statement_descriptor_suffix\": null,\n  \"status\": \"succeeded\",\n  \"transfer_data\"\
        : null,\n  \"transfer_group\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [payin_intent_1466]
      original-request: [req_WrtcmZ5cjZfQsu]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/balance_transactions/txn_1G7iwWFk4eGpfLOCeLUAsmw3
  response:
    body: {string: "{\n  \"id\": \"txn_1G7iwWFk4eGpfLOCeLUAsmw3\",\n  \"object\":\
        \ \"balance_transaction\",\n  \"amount\": 3700,\n  \"available_on\": 1580947200,\n\
        \  \"created\": 1580651816,\n  \"currency\": \"eur\",\n  \"description\":\
        \ null,\n  \"exchange_rate\": null,\n  \"fee\": 132,\n  \"fee_details\": [\n\
        \    {\n      \"amount\": 132,\n      \"application\": null,\n      \"currency\"\
        : \"eur\",\n      \"description\": \"Stripe processing fees\",\n      \"type\"\
        : \"stripe_fee\"\n    }\n  ],\n  \"net\": 3568,\n  \"reporting_category\"\
        : \"charge\",\n  \"source\": \"ch_1G7iwWFk4eGpfLOC9i2PTKNC\",\n  \"status\"\
        : \"pending\",\n  \"type\": \"charge\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1G7iwYFk4eGpfLOCTNZTBEEi
  response:
    body: {string: "{\n  \"id\": \"pm_1G7iwYFk4eGpfLOCTNZTBEEi\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 2,\n    \"exp_year\"\
        : 2021,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1580651818,\n  \"customer\": \"cus_Gf32Keyg7yWVqk\",\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/balance_transactions/txn_1G7iwaFk4eGpfLOCEPqtewhN
  response:
    body: {string: "{\n  \"id\": \"txn_1G7iwaFk4eGpfLOCEPqtewhN\",\n  \"object\":\
        \ \"balance_transaction\",\n  \"amount\": 1200,\n  \"available_on\": 1580947200,\n\
        \  \"created\": 1580651819,\n  \"currency\": \"eur\",\n  \"description\":\
        \ null,\n  \"exchange_rate\": null,\n  \"fee\": 60,\n  \"fee_details\": [\n\
        \    {\n      \"amount\": 60,\n      \"application\": null,\n      \"currency\"\
        : \"eur\",\n      \"description\": \"Stripe processing fees\",\n      \"type\"\
        : \"stripe_fee\"\n    }\n  ],\n  \"net\": 1140,\n  \"reporting_category\"\
        : \"charge\",\n  \"source\": \"ch_1G7iwZFk4eGpfLOC80q1ffeq\",\n  \"status\"\
        : \"pending\",\n  \"type\": \"charge\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_threeDSecureRequired
  response:
    body: {string: "{\n  \"id\": \"pm_1H1awjFk4eGpfLOCiLSMu3d9\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 7,\n    \"exp_year\"\
        : 2021,\n    \"fingerprint\": \"BNQBOIVWZcaCjKHn\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"3063\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"three_d_secure_usage\": {\n      \"supported\": true\n\
        \    },\n    \"wallet\": null\n  },\n  \"created\": 1593967445,\n  \"customer\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: email=alice%40liberapay.com&payment_method=pm_1H1awjFk4eGpfLOCiLSMu3d9
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_HamVIYODp29cgY\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1593967445,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n\
        \  \"email\": \"alice@liberapay.com\",\n  \"invoice_prefix\": \"8FD2E81C\"\
        ,\n  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"next_invoice_sequence\": 1,\n  \"phone\"\
        : null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n  \"sources\"\
        : {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\"\
        : false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_HamVIYODp29cgY/sources\"\
        \n  },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_HamVIYODp29cgY/subscriptions\"\n  },\n  \"tax_exempt\"\
        : \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_HamVIYODp29cgY/tax_ids\"\n  },\n  \"tax_info\": null,\n\
        \  \"tax_info_verification\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_customer_for_participant_1_with_pm_1H1awjFk4eGpfLOCiLSMu3d9]
      original-request: [req_cya3QgWmAYDZC3]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1H1awjFk4eGpfLOCiLSMu3d9
  response:
    body: {string: "{\n  \"id\": \"pm_1H1awjFk4eGpfLOCiLSMu3d9\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    [...]
- request:
    body: amount=4300&confirm=True&currency=eur&customer=cus_HamVIYODp29cgY&metadata[payin_id]=1954&payment_method=pm_1H1awjFk4eGpfLOCiLSMu3d9&return_url=http%3A%2F%2Flocalhost%2Falice%2Fgiving%2Fpay%2Fstripe%2F1954&statement_descriptor=Liberapay+1954
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body: {string: "{\n  \"id\": \"pi_1H1awkFk4eGpfLOCupru098v\",\n  \"object\": \"\
        payment_intent\",\n  \"amount\": 4300,\n  \"amount_capturable\": 0,\n  \"\
        amount_received\": 0,\n  \"application\": null,\n  \"application_fee_amount\"\
        : null,\n  \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"\
        capture_method\": \"automatic\",\n  \"charges\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/charges?payment_intent=pi_1H1awkFk4eGpfLOCupru098v\"\
        \n  },\n  \"client_secret\": \"pi_1H1awkFk4eGpfLOCupru098v_secret_rS51HNbT4xsPOm2QEuUuCD8Mx\"\
        ,\n  \"confirmation_method\": \"automatic\",\n  \"created\": 1593967446,\n\
        \  \"currency\": \"eur\",\n  \"customer\": \"cus_HamVIYODp29cgY\",\n  \"description\"\
        : null,\n  \"invoice\": null,\n  \"last_payment_error\": null,\n  \"livemode\"\
        : false,\n  \"metadata\": {\n    \"payin_id\": \"1954\"\n  },\n  \"next_action\"\
        : {\n    \"redirect_to_url\": {\n      \"return_url\": \"http://localhost/alice/giving/pay/stripe/1954\"\
        ,\n      \"url\": \"https://hooks.stripe.com/redirect/authenticate/src_1H1awkFk4eGpfLOCUcoUgbgZ?client_secret=src_client_secret_VbL2Kmad985z4iCv7lvS9nB3\"\
        \n    },\n    \"type\": \"redirect_to_url\"\n  },\n  \"on_behalf_of\": null,\n\
        \  \"payment_method\": \"pm_1H1awjFk4eGpfLOCiLSMu3d9\",\n  \"payment_method_options\"\
        : {\n    \"card\": {\n      \"installments\": null,\n      \"network\": null,\n\
        \      \"request_three_d_secure\": \"automatic\"\n    }\n  },\n  \"payment_method_types\"\
        : [\n    \"card\"\n  ],\n  \"receipt_email\": null,\n  \"review\": null,\n\
        \  \"setup_future_usage\": null,\n  \"shipping\": null,\n  \"source\": null,\n\
        \  \"statement_descriptor\": \"Liberapay 1954\",\n  \"statement_descriptor_suffix\"\
        : null,\n  \"status\": \"requires_action\",\n  \"transfer_data\": null,\n\
        \  \"transfer_group\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [payin_intent_1954]
      original-request: [req_IhcQUY3hl2wYQU]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_intents/pi_1H1awkFk4eGpfLOCupru098v
  response:
    body: {string: "{\n  \"id\": \"pi_1H1awkFk4eGpfLOCupru098v\",\n  \"object\": \"\
        payment_intent\",\n  \"amount\": 4300,\n  \"amount_capturable\": 0,\n  \"\
        amount_received\": 0,\n  \"application\": null,\n  \"application_fee_amount\"\
        : null,\n  \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"\
        captu[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1M06OVFk4eGpfLOCzxU6jC1D\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 11,\n    \"exp_year\"\
        : 2023,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"three_d_secure_usage\": {\n      \"supported\": true\n\
        \    },\n    \"wallet\": null\n  },\n  \"created\": 1667493355,\n  \"customer\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"type\": \"card\"\
        \n}"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
version: 1
