interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1QUWHCFk4eGpfLOCAQyEhOXd\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": null,\n    \"name\": null,\n\
        \    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n    \"\
        checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\"\
        : null,\n      \"cvc_check\": \"unchecked\"\n    },\n    \"country\": \"US\"\
        ,\n    \"display_brand\": \"visa\",\n    \"exp_month\": 12,\n    \"exp_year\"\
        : 2025,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"three_d_secure_usage\": {\n      \"supported\": true\n\
        \    },\n    \"wallet\": null\n  },\n  \"created\": 1733848030,\n  \"customer\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"type\": \"card\"\
        \n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: email=alice%40liberapay.com&metadata[participant_id]=1000&payment_method=pm_1QUWHCFk4eGpfLOCAQyEhOXd&preferred_locales[0]=en
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_RNGo5gSSdncb3m\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1733848030,\n  \"currency\": null,\n  \"default_currency\": null,\n\
        \  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\"\
        : null,\n  \"discount\": null,\n  \"email\": \"alice@liberapay.com\",\n  \"\
        invoice_prefix\": \"B009924D\",\n  \"invoice_settings\": {\n    \"custom_fields\"\
        : null,\n    \"default_payment_method\": null,\n    \"footer\": null,\n  \
        \  \"rendering_options\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n    \"participant_id\": \"1000\"\n  },\n  \"name\": null,\n  \"next_invoice_sequence\"\
        : 1,\n  \"phone\": null,\n  \"preferred_locales\": [\n    \"en\"\n  ],\n \
        \ \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n    \"\
        data\": [],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\"\
        : \"/v1/customers/cus_RNGo5gSSdncb3m/sources\"\n  },\n  \"subscriptions\"\
        : {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n\
        \    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_RNGo5gSSdncb3m/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_RNGo5gSSdncb3m/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null,\n  \"test_clock\": null\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_customer_for_participant_1000_with_pm_1QUWHCFk4eGpfLOCAQyEhOXd]
      Original-Request: [req_WkYGkB59QjVLaX]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1QUWHCFk4eGpfLOCAQyEhOXd
  response:
    body: {string: "{\n  \"id\": \"pm_1QUWHCFk4eGpfLOCAQyEhOXd\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
  [...]
- request:
    body: type=sepa_debit&billing_details[email]=dupond.dupont%40example.com&billing_details[name]=Dupond+et+Dupont&sepa_debit[iban]=BE62510007547061
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body: {string: "{\n  \"id\": \"pm_1QUWHDFk4eGpfLOC2Rtdljhd\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null\n  },\n  \"created\"\
        : 1733848031,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"sepa_debit\": {\n    \"bank_code\": \"510\",\n    \"branch_code\"\
        : \"\",\n    \"country\": \"BE\",\n    \"fingerprint\": \"Sn4vUwcwpaXNMJsz\"\
        ,\n    \"generated_from\": {\n      \"charge\": null,\n      \"setup_attempt\"\
        : null\n    },\n    \"last4\": \"7061\"\n  },\n  \"type\": \"sepa_debit\"\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [2818796c-28ed-4557-b360-9e0f622cb747]
      Original-Request: [req_SGiua2Xgd89LON]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1QUWHDFk4eGpfLOC2Rtdljhd
  response:
    body: {string: "{\n  \"id\": \"pm_1QUWHDFk4eGpfLOC2Rtdljhd\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null\n  },\n  \"created\"\
        : 1733848031,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"sepa_debit\": {\n    \"bank_code\": \"510\",\n    \"branch_code\"\
        : \"\",\n    \"country\": \"BE\",\n    \"fingerprint\": \"Sn4vUwcwpaXNMJsz\"\
        ,\n    \"generated_from\": {\n      \"charge\": null,\n      \"setup_attempt\"\
        : null\n    },\n    \"last4\": \"7061\"\n  },\n  \"type\": \"sepa_debit\"\n\
        }"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: customer=cus_RNGo5gSSdncb3m
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1QUWHDFk4eGpfLOC2Rtdljhd/attach
  response:
    body: {string: "{\n  \"id\": \"pm_1QUWHDFk4eGpfLOC2Rtdljhd\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null\n  },\n  \"created\"\
        : 1733848031,\n  \"customer\": \"cus_RNGo5gSSdncb3m\",\n  \"livemode\": false,\n\
        \  \"metadata\": {},\n  \"sepa_debit\": {\n    \"bank_code\": \"510\",\n \
        \   \"branch_code\": \"\",\n    \"country\": \"BE\",\n    \"fingerprint\"\
        : \"Sn4vUwcwpaXNMJsz\",\n    \"generated_from\": {\n      \"charge\": null,\n\
        \      \"setup_attempt\": null\n    },\n    \"last4\": \"7061\"\n  },\n  \"\
        type\": \"sepa_debit\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [attach_pm_1QUWHDFk4eGpfLOC2Rtdljhd_to_cus_RNGo5gSSdncb3m]
      Original-Request: [req_ORnbHQNsM0C3jG]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: confirm=True&customer=cus_RNGo5gSSdncb3m&mandate_data[customer_acceptance][type]=online&mandate_data[customer_acceptance][accepted_at]=1733848032&mandate_data[customer_acceptance][online][ip_address]=0.0.0.0&mandate_data[customer_acceptance][online][user_agent]=Pando-test-client%2F0.47&metadata[route_id]=1001&payment_method=pm_1QUWHDFk4eGpfLOC2Rtdljhd&payment_method_types[0]=sepa_debit&usage=off_session
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/setup_intents
  response:
    body: {string: "{\n  \"id\": \"seti_1QUWHEFk4eGpfLOCYlsdTQeL\",\n  \"object\"\
        : \"setup_intent\",\n  \"application\": null,\n  \"automatic_payment_methods\"\
        : null,\n  \"cancellation_reason\": null,\n  \"client_secret\": \"seti_1QUWHEFk4eGpfLOCYlsdTQeL_secret_RNGogfTbKJWrovq6XlZ5Z1OEMpRTgVl\"\
        ,\n  \"created\": 1733848032,\n  \"customer\": \"cus_RNGo5gSSdncb3m\",\n \
        \ \"description\": null,\n  \"flow_directions\": null,\n  \"last_setup_error\"\
        : null,\n  \"latest_attempt\": \"setatt_1QUWHEFk4eGpfLOCIiLKfNWm\",\n  \"\
        livemode\": false,\n  \"mandate\": \"mandate_1QUWHEFk4eGpfLOCOm3mpD8x\",\n\
        \  \"metadata\": {\n    \"route_id\": \"1001\"\n  },\n  \"next_action\": null,\n\
        \  \"on_behalf_of\": null,\n  \"payment_method\": \"pm_1QUWHDFk4eGpfLOC2Rtdljhd\"\
        ,\n  \"payment_method_configuration_details\": null,\n  \"payment_method_options\"\
        : {},\n  \"payment_method_types\": [\n    \"sepa_debit\"\n  ],\n  \"single_use_mandate\"\
        : null,\n  \"status\": \"succeeded\",\n  \"usage\": \"off_session\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_SI_for_route_1001]
      Original-Request: [req_yCRfjqBqf9xpqW]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/mandates/mandate_1QUWHEFk4eGpfLOCOm3mpD8x
  response:
    body: {string: "{\n  \"id\": \"mandate_1QUWHEFk4eGpfLOCOm3mpD8x\",\n  \"object\"\
        : \"mandate\",\n  \"customer_acceptance\": {\n    \"accepted_at\": 1733848032,\n\
        \    \"online\": {\n      \"ip_address\": \"0.0.0.0\",\n      \"user_agent\"\
        : \"Pando-test-client/0.47\"\n    },\n    \"type\": \"online\"\n  },\n  \"\
        livemode\": false,\n  \"multi_use\": {},\n  \"payment_method\": \"pm_1QUWHDFk4eGpfLOC2Rtdljhd\"\
        ,\n  \"payment_method_details\": {\n    \"sepa_debit\": {\n      \"reference\"\
        : \"E9NAUZGZMDTCAOU4\",\n      \"url\": \"https://payments.stripe.com/sepa_debit/mandate/mandate_test_YWNjdF8xQ2h5YXlGazRlR3BmTE9DLG1hbmRhdGVzdF9STkdvdDB1ZHlWeGgyWlhlR2NhTDdsaDlaa2FSY1h4000057JhtxCh\"\
        \n    },\n    \"type\": \"sepa_debit\"\n  },\n  \"status\": \"active\",\n\
        \  \"type\": \"multi_use\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1QUWHDFk4eGpfLOC2Rtdljhd/detach
  response:
    body: {string: "{\n  \"id\": \"pm_1QUWHDFk4eGpfLOC2Rtdljhd\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null\n  },\n  \"created\"\
        : 1733848031,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"sepa_debit\": {\n    \"bank_code\": \"510\",\n    \"branch_code\"\
        : \"\",\n    \"country\": \"BE\",\n    \"fingerprint\": \"Sn4vUwcwpaXNMJsz\"\
        ,\n    \"generated_from\": {\n      \"charge\": null,\n      \"setup_attempt\"\
        : null\n    },\n    \"last4\": \"7061\"\n  },\n  \"type\": \"sepa_debit\"\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [d2d5ff77-a2ff-46d2-8aaf-a18ce8dc21d9]
      Original-Request: [req_gFb0vGwl3RokO0]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1QUWHCFk4eGpfLOCAQyEhOXd/detach
  response:
    body: {string: "{\n  \"id\": \"pm_1QUWHCFk4eGpfLOCAQyEhOXd\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": nul[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/mandates/mandate_1QUWHEFk4eGpfLOCOm3mpD8x
  response:
    body: {string: "{\n  \"id\": \"mandate_1QUWHEFk4eGpfLOCOm3mpD8x\",\n  \"object\"\
        : \"mandate\",\n  \"customer_acceptance\": {\n    \"accepted_at\": 1733848032,\n\
        \    \"online\": {\n      \"ip_address\": \"0.0.0.0\",\n      \"user_agent\"\
        : \"Pando-test-client/0.47\"\n    },\n    \"type\": \"online\"\n  },\n  \"\
        livemode\": false,\n  \"multi_use\": {},\n  \"payment_method\": \"pm_1QUWHDFk4eGpfLOC2Rtdljhd\"\
        ,\n  \"payment_method_details\": {\n    \"sepa_debit\": {\n      \"reference\"\
        : \"E9NAUZGZMDTCAOU4\",\n      \"url\": \"https://payments.stripe.com/sepa_debit/mandate/mandate_test_YWNjdF8xQ2h5YXlGazRlR3BmTE9DLG1hbmRhdGVzdF9STkdvdDB1ZHlWeGgyWlhlR2NhTDdsaDlaa2FSY1h4000057JhtxCh\"\
        \n    },\n    \"type\": \"sepa_debit\"\n  },\n  \"status\": \"inactive\",\n\
        \  \"type\": \"multi_use\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
version: 1
