interactions:
- request:
    body: bank_account[country]=DE&bank_account[currency]=EUR&bank_account[account_number]=DE89370400440532013000&bank_account[account_holder_name]=Jane+Doe
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"btok_1MIJTFFk4eGpfLOC9s4ykqK2\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1MIJTFFk4eGpfLOCBTzJyP0o\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Jane\
        \ Doe\",\n    \"account_holder_type\": null,\n    \"account_type\": null,\n\
        \    \"bank_name\": \"STRIPE TEST BANK\",\n    \"country\": \"DE\",\n    \"\
        currency\": \"eur\",\n    \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\"\
        : \"3000\",\n    \"routing_number\": \"110000000\",\n    \"status\": \"new\"\
        \n  },\n  \"client_ip\": \"77.132.65.89\",\n  \"created\": 1671833525,\n \
        \ \"livemode\": false,\n  \"type\": \"bank_account\",\n  \"used\": false\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_german_bank_account_token_2200]
      Original-Request: [req_EVmPGd3n0fK0EQ]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: bank_account[country]=CH&bank_account[currency]=CHF&bank_account[account_number]=CH9300762011623852957&bank_account[account_holder_name]=Foo+Bar
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"btok_1MIJTGFk4eGpfLOCWLV8Nor0\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1MIJTGFk4eGpfLOCLGdbMvKA\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Foo Bar\"\
        ,\n    \"account_holder_type\": null,\n    \"account_type\": null,\n    \"\
        bank_name\": \"STRIPE TEST BANK\",\n    \"country\": \"CH\",\n    \"currency\"\
        : \"chf\",\n    \"fingerprint\": \"JIAY3PROGLCP57ES\",\n    \"last4\": \"\
        2957\",\n    \"routing_number\": \"110000000\",\n    \"status\": \"new\"\n\
        \  },\n  \"client_ip\": \"77.132.65.89\",\n  \"created\": 1671833526,\n  \"\
        livemode\": false,\n  \"type\": \"bank_account\",\n  \"used\": false\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_swiss_bank_account_token_2200]
      Original-Request: [req_px6McipLXi09ex]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: account_token=ct_1MIJTGFk4eGpfLOCjYKztGDN&country=CH&type=custom&business_profile[mcc]=5734&business_profile[url]=https%3A%2F%2Fliberapay.com%2F&capabilities[card_payments][requested]=True&capabilities[sepa_debit_payments][requested]=True&capabilities[transfers][requested]=True&external_account=btok_1MIJTGFk4eGpfLOCWLV8Nor0
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/accounts
  response:
    body: {string: "{\n  \"id\": \"acct_1MIJTGFsLJG8wY8M\",\n  \"object\": \"account\"\
        ,\n  \"business_profile\": {\n    \"mcc\": \"5734\",\n    \"name\": null,\n\
        \    \"product_description\": null,\n    \"support_address\": null,\n    \"\
        support_email\": null,\n    \"support_phone\": null,\n    \"support_url\"\
        : null,\n    \"url\": \"https://liberapay.com/\"\n  },\n  \"business_type\"\
        : \"individual\",\n  \"capabilities\": {\n    \"card_payments\": \"active\"\
        ,\n    \"sepa_debit_payments\": \"active\",\n    \"transfers\": \"active\"\
        \n  },\n  \"charges_enabled\": true,\n  \"company\": {\n    \"address\": {\n\
        \      \"city\": \"Bern\",\n      \"country\": \"CH\",\n      \"line1\": \"\
        address_full_match\",\n      \"line2\": null,\n      \"postal_code\": \"3000\"\
        ,\n      \"state\": null\n    },\n    \"directors_provided\": true,\n    \"\
        executives_provided\": true,\n    \"name\": null,\n    \"owners_provided\"\
        : true,\n    \"phone\": \"+41665554433\",\n    \"tax_id_provided\": false,\n\
        \    \"verification\": {\n      \"document\": {\n        \"back\": null,\n\
        \        \"details\": null,\n        \"details_code\": null,\n        \"front\"\
        : null\n      }\n    }\n  },\n  \"country\": \"CH\",\n  \"created\": 1671833528,\n\
        \  \"default_currency\": \"chf\",\n  \"details_submitted\": true,\n  \"email\"\
        : null,\n  \"external_accounts\": {\n    \"object\": \"list\",\n    \"data\"\
        : [\n      {\n        \"id\": \"ba_1MIJTHFsLJG8wY8MzhzuosJl\",\n        \"\
        object\": \"bank_account\",\n        \"account\": \"acct_1MIJTGFsLJG8wY8M\"\
        ,\n        \"account_holder_name\": \"Foo Bar\",\n        \"account_holder_type\"\
        : null,\n        \"account_type\": null,\n        \"available_payout_methods\"\
        : [\n          \"standard\"\n        ],\n        \"bank_name\": \"STRIPE TEST\
        \ BANK\",\n        \"country\": \"CH\",\n        \"currency\": \"chf\",\n\
        \        \"default_for_currency\": true,\n        \"fingerprint\": \"JIAY3PROGLCP57ES\"\
        ,\n        \"last4\": \"2957\",\n        \"metadata\": {},\n        \"routing_number\"\
        : \"110000000\",\n        \"status\": \"new\"\n      }\n    ],\n    \"has_more\"\
        : false,\n    \"total_count\": 1,\n    \"url\": \"/v1/accounts/acct_1MIJTGFsLJG8wY8M/external_accounts\"\
        \n  },\n  \"future_requirements\": {\n    \"alternatives\": [],\n    \"current_deadline\"\
        : null,\n    \"currently_due\": [],\n    \"disabled_reason\": null,\n    \"\
        errors\": [],\n    \"eventually_due\": [],\n    \"past_due\": [],\n    \"\
        pending_verification\": []\n  },\n  \"individual\": {\n    \"id\": \"person_1MIJTHFsLJG8wY8MnzJ2yRuo\"\
        ,\n    \"object\": \"person\",\n    \"account\": \"acct_1MIJTGFsLJG8wY8M\"\
        ,\n    \"address\": {\n      \"city\": \"Bern\",\n      \"country\": \"CH\"\
        ,\n      \"line1\": \"address_full_match\",\n      \"line2\": null,\n    \
        \  \"postal_code\": \"3000\",\n      \"state\": null\n    },\n    \"created\"\
        : 1671833527,\n    \"dob\": {\n      \"day\": 1,\n      \"month\": 1,\n  \
        \    \"year\": 1901\n    },\n    \"email\": \"test-swiss-1@liberapay.com\"\
        ,\n    \"first_name\": \"Foo\",\n    \"future_requirements\": {\n      \"\
        alternatives\": [],\n      \"currently_due\": [],\n      \"errors\": [],\n\
        \      \"eventually_due\": [],\n      \"past_due\": [],\n      \"pending_verification\"\
        : []\n    },\n    \"id_number_provided\": true,\n    \"last_name\": \"Bar\"\
        ,\n    \"metadata\": {},\n    \"phone\": \"+41665554433\",\n    \"relationship\"\
        : {\n      \"account_opener\": true,\n      \"director\": false,\n      \"\
        executive\": false,\n      \"owner\": false,\n      \"percent_ownership\"\
        : null,\n      \"representative\": true,\n      \"title\": null\n    },\n\
        \    \"requirements\": {\n      \"alternatives\": [],\n      \"currently_due\"\
        : [],\n      \"errors\": [],\n      \"eventually_due\": [],\n      \"past_due\"\
        : [],\n      \"pending_verification\": []\n    },\n    \"ssn_last_4_provided\"\
        : true,\n    \"verification\": {\n      \"additional_document\": {\n     \
        \   \"back\": null,\n        \"details\": null,\n        \"details_code\"\
        : null,\n        \"front\": null\n      },\n      \"details\": null,\n   \
        \   \"details_code\": null,\n      \"document\": {\n        \"back\": null,\n\
        \        \"details\": null,\n        \"details_code\": null,\n        \"front\"\
        : null\n      },\n      \"status\": \"pending\"\n    }\n  },\n  \"metadata\"\
        : {},\n  \"payouts_enabled\": true,\n  \"requirements\": {\n    \"alternatives\"\
        : [],\n    \"current_deadline\": null,\n    \"currently_due\": [],\n    \"\
        disabled_reason\": null,\n    \"errors\": [],\n    \"eventually_due\": [],\n\
        \    \"past_due\": [],\n    \"pending_verification\": []\n  },\n  \"settings\"\
        : {\n    \"bacs_debit_payments\": {},\n    \"branding\": {\n      \"icon\"\
        : null,\n      \"logo\": null,\n      \"primary_color\": null,\n      \"secondary_color\"\
        : null\n    },\n    \"card_issuing\": {\n      \"tos_acceptance\": {\n   \
        \     \"date\": null,\n        \"ip\": null\n      }\n    },\n    \"card_payments\"\
        : {\n      \"decline_on\": {\n        \"avs_failure\": false,\n        \"\
        cvc_failure\": false\n      },\n      \"statement_descriptor_prefix\": null,\n\
        \      \"statement_descriptor_prefix_kana\": null,\n      \"statement_descriptor_prefix_kanji\"\
        : null\n    },\n    \"dashboard\": {\n      \"display_name\": \"Liberapay\"\
        ,\n      \"timezone\": \"Etc/UTC\"\n    },\n    \"payments\": {\n      \"\
        statement_descriptor\": \"LIBERAPAY.COM\",\n      \"statement_descriptor_kana\"\
        : null,\n      \"statement_descriptor_kanji\": null\n    },\n    \"payouts\"\
        : {\n      \"debit_negative_balances\": false,\n      \"schedule\": {\n  \
        \      \"delay_days\": 7,\n        \"interval\": \"daily\"\n      },\n   \
        \   \"statement_descriptor\": null\n    },\n    \"sepa_debit_payments\": {}\n\
        \  },\n  \"tos_acceptance\": {\n    \"date\": 1671833526,\n    \"ip\": \"\
        77.132.65.89\",\n    \"user_agent\": \"Stripe/v1 PythonBindings/2.35.1\"\n\
        \  },\n  \"type\": \"custom\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_swiss_account_2200]
      Original-Request: [req_ihMf8OvNZIjhyG]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_visa
  response:
    body: {string: "{\n  \"id\": \"tok_1MIJTKFk4eGpfLOC0afAmKov\",\n  \"object\":\
        \ \"token\",\n  \"card\": {\n    \"id\": \"card_1MIJTKFk4eGpfLOCXxutaCTJ\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"US\",\n    \"currency\": \"usd\",\n    \"cvc_check\": null,\n\
        \    \"dynamic_last4\": null,\n    \"exp_month\": 12,\n    \"exp_year\": 2023,\n\
        \    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"4242\",\n    \"metadata\": {},\n    \"name\": null,\n  \
        \  \"tokenization_method\": null\n  },\n  \"client_ip\": null,\n  \"created\"\
        : 1671833530,\n  \"livemode\": false,\n  \"type\": \"card\",\n  \"used\":\
        \ false\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=tok_1MIJTKFk4eGpfLOC0afAmKov&type=card&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: "{\n  \"id\": \"src_1MIJTKFk4eGpfLOCB9lJFUgx\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"address_line1_check\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"US\",\n    \"cvc_check\": null,\n    \"dynamic_last4\": null,\n\
        \    \"exp_month\": 12,\n    \"exp_year\": 2023,\n    \"fingerprint\": \"\
        k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\",\n    \"last4\": \"4242\"\
        ,\n    \"name\": null,\n    \"three_d_secure\": \"optional\",\n    \"tokenization_method\"\
        : null\n  },\n  \"client_secret\": \"src_client_secret_63wp3YIZTjjtHOSf5fPELIti\"\
        ,\n  \"created\": 1671833530,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"owner\": {\n    \"address\"\
        : null,\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n    \"\
        phone\": null,\n    \"verified_address\": null,\n    \"verified_email\": null,\n\
        \    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\"\
        : null,\n  \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\"\
        : \"reusable\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_source_from_tok_1MIJTKFk4eGpfLOC0afAmKov]
      Original-Request: [req_WnH0w2rYWV8zke]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: email=donor%40example.com&source=src_1MIJTKFk4eGpfLOCB9lJFUgx
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_N2OFPE68ozKSRI\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1671833530,\n  \"currency\": null,\n  \"default_currency\": null,\n\
        \  \"default_source\": \"src_1MIJTKFk4eGpfLOCB9lJFUgx\",\n  \"delinquent\"\
        : false,\n  \"description\": null,\n  \"discount\": null,\n  \"email\": \"\
        donor@example.com\",\n  \"invoice_prefix\": \"4E63E898\",\n  \"invoice_settings\"\
        : {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n\
        \    \"footer\": null,\n    \"rendering_options\": null\n  },\n  \"livemode\"\
        : false,\n  \"metadata\": {},\n  \"name\": null,\n  \"next_invoice_sequence\"\
        : 1,\n  \"phone\": null,\n  \"preferred_locales\": [],\n  \"shipping\": null,\n\
        \  \"sources\": {\n    \"object\": \"list\",\n    \"data\": [\n      {\n \
        \       \"id\": \"src_1MIJTKFk4eGpfLOCB9lJFUgx\",\n        \"object\": \"\
        source\",\n        \"amount\": null,\n        \"card\": {\n          \"address_line1_check\"\
        : null,\n          \"address_zip_check\": null,\n          \"brand\": \"Visa\"\
        ,\n          \"country\": \"US\",\n          \"cvc_check\": null,\n      \
        \    \"dynamic_last4\": null,\n          \"exp_month\": 12,\n          \"\
        exp_year\": 2023,\n          \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \
        \      \"funding\": \"credit\",\n          \"last4\": \"4242\",\n        \
        \  \"name\": null,\n          \"three_d_secure\": \"optional\",\n        \
        \  \"tokenization_method\": null\n        },\n        \"client_secret\": \"\
        src_client_secret_63wp3YIZTjjtHOSf5fPELIti\",\n        \"created\": 1671833530,\n\
        \        \"currency\": null,\n        \"customer\": \"cus_N2OFPE68ozKSRI\"\
        ,\n        \"flow\": \"none\",\n        \"livemode\": false,\n        \"metadata\"\
        : {},\n        \"owner\": {\n          \"address\": null,\n          \"email\"\
        : \"donor@example.com\",\n          \"name\": null,\n          \"phone\":\
        \ null,\n          \"verified_address\": null,\n          \"verified_email\"\
        : null,\n          \"verified_name\": null,\n          \"verified_phone\"\
        : null\n        },\n        \"statement_descriptor\": null,\n        \"status\"\
        : \"chargeable\",\n        \"type\": \"card\",\n        \"usage\": \"reusable\"\
        \n      }\n    ],\n    \"has_more\": false,\n    \"total_count\": 1,\n   \
        \ \"url\": \"/v1/customers/cus_N2OFPE68ozKSRI/sources\"\n  },\n  \"subscriptions\"\
        : {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n\
        \    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_N2OFPE68ozKSRI/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_N2OFPE68ozKSRI/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null,\n  \"test_clock\": null\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_customer_for_participant_2210_with_src_1MIJTKFk4eGpfLOCB9lJFUgx]
      Original-Request: [req_nOkHeiBUCZK2dn]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: amount=2499&currency=eur&customer=cus_N2OFPE68ozKSRI&description=Liberapay&metadata[payin_id]=2210&source=src_1MIJTKFk4eGpfLOCB9lJFUgx&statement_descriptor=Liberapay+2210&expand[0]=balance_transaction
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: "{\n  \"id\": \"ch_3MIJTLFk4eGpfLOC1tEoF4yw\",\n  \"object\": \"\
        charge\",\n  \"amount\": 2499,\n  \"amount_captured\": 2499,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"application_fee_amount\"\
        : null,\n  \"balance_transaction\": {\n    \"id\": \"txn_3MIJTLFk4eGpfLOC1LFWC23L\"\
        ,\n    \"object\": \"balance_transaction\",\n    \"amount\": 2499,\n    \"\
        available_on\": 1672272000,\n    \"created\": 1671833531,\n    \"currency\"\
        : \"eur\",\n    \"description\": \"Liberapay\",\n    \"exchange_rate\": null,\n\
        \    \"fee\": 97,\n    \"fee_details\": [\n      {\n        \"amount\": 97,\n\
        \        \"application\": null,\n        \"currency\": \"eur\",\n        \"\
        description\": \"Stripe processing fees\",\n        \"type\": \"stripe_fee\"\
        \n      }\n    ],\n    \"net\": 2402,\n    \"reporting_category\": \"charge\"\
        ,\n    \"source\": \"ch_3MIJTLFk4eGpfLOC1tEoF4yw\",\n    \"status\": \"pending\"\
        ,\n    \"type\": \"charge\"\n  },\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n    \"\
        phone\": null\n  },\n  \"calculated_statement_descriptor\": \"LIBERAPAY* LIBERAPAY\
        \ 2\",\n  \"captured\": true,\n  \"created\": 1671833531,\n  \"currency\"\
        : \"eur\",\n  \"customer\": \"cus_N2OFPE68ozKSRI\",\n  \"description\": \"\
        Liberapay\",\n  \"destination\": null,\n  \"dispute\": null,\n  \"disputed\"\
        : false,\n  \"failure_balance_transaction\": null,\n  \"failure_code\": null,\n\
        \  \"failure_message\": null,\n  \"fraud_details\": {},\n  \"invoice\": null,\n\
        \  \"livemode\": false,\n  \"metadata\": {\n    \"payin_id\": \"2210\"\n \
        \ },\n  \"on_behalf_of\": null,\n  \"order\": null,\n  \"outcome\": {\n  \
        \  \"network_status\": \"approved_by_network\",\n    \"reason\": null,\n \
        \   \"risk_level\": \"normal\",\n    \"risk_score\": 12,\n    \"seller_message\"\
        : \"Payment complete.\",\n    \"type\": \"authorized\"\n  },\n  \"paid\":\
        \ true,\n  \"payment_intent\": null,\n  \"payment_method\": \"src_1MIJTKFk4eGpfLOCB9lJFUgx\"\
        ,\n  \"payment_method_details\": {\n    \"card\": {\n      \"brand\": \"visa\"\
        ,\n      \"checks\": {\n        \"address_line1_check\": null,\n        \"\
        address_postal_code_check\": null,\n        \"cvc_check\": null\n      },\n\
        \      \"country\": \"US\",\n      \"exp_month\": 12,\n      \"exp_year\"\
        : 2023,\n      \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n      \"funding\":\
        \ \"credit\",\n      \"installments\": null,\n      \"last4\": \"4242\",\n\
        \      \"mandate\": null,\n      \"network\": \"visa\",\n      \"three_d_secure\"\
        : null,\n      \"wallet\": null\n    },\n    \"type\": \"card\"\n  },\n  \"\
        receipt_email\": null,\n  \"receipt_number\": null,\n  \"receipt_url\": \"\
        https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xQ2h5YXlGazRlR3BmTE9DKLzPmJ0GMgbyKxcFlkE6LBb221X9n_94wVLiIMaouWdQN26yWt4mea-dxlZ56Aq5Hi-WjiAlnPSfxN3r\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [],\n    \"has_more\": false,\n    \"total_count\": 0,\n   \
        \ \"url\": \"/v1/charges/ch_3MIJTLFk4eGpfLOC1tEoF4yw/refunds\"\n  },\n  \"\
        review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"id\": \"src_1MIJTKFk4eGpfLOCB9lJFUgx\"\
        ,\n    \"object\": \"source\",\n    \"amount\": null,\n    \"card\": {\n \
        \     \"address_line1_check\": null,\n      \"address_zip_check\": null,\n\
        \      \"bran[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/btok_1MIJTFFk4eGpfLOC9s4ykqK2
  response:
    body: {string: "{\n  \"id\": \"btok_1MIJTFFk4eGpfLOC9s4ykqK2\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1MIJTFFk4eGpfLOCBTzJyP0o\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Jane\
        \ Doe\",\n    \"account_holder_type\": null,\n    \"account_type\": null,\n\
        \    \"bank_name\": \"STRIPE TEST BANK\",\n    \"country\": \"DE\",\n    \"\
        currency\": \"eur\",\n    \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\"\
        : \"3000\",\n    \"routing_number\": \"110000000\",\n    \"status\": \"new\"\
        \n  },\n  \"client_ip\": \"77.132.65.89\",\n  \"created\": 1671833525,\n \
        \ \"livemode\": false,\n  \"type\": \"bank_account\",\n  \"used\": false\n\
        }"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: amount=5200&owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=btok_1MIJTFFk4eGpfLOC9s4ykqK2&type=sepa_debit&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: "{\n  \"id\": \"src_1MIJTNFk4eGpfLOCtBiCr9rb\",\n  \"object\":\
        \ \"source\",\n  \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_fcHeAab0Z6aFZBeTfYMKGAYn\"\
        ,\n  \"created\": 1671833533,\n  \"currency\": \"eur\",\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"mandate\": {\n    \"acceptance\": {\n     \
        \ \"date\": null,\n      \"ip\": null,\n      \"offline\": null,\n      \"\
        online\": null,\n      \"status\": \"pending\",\n      \"type\": null,\n \
        \     \"user_agent\": null\n    },\n    \"amount\": null,\n    \"currency\"\
        : null,\n    \"interval\": \"variable\",\n    \"notification_method\": \"\
        none\",\n    \"reference\": \"JZCCCJBJ5AYZSGME\",\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1MIJTNFk4eGpfLOCtBiCr9rb/src_client_secret_fcHeAab0Z6aFZBeTfYMKGAYn\"\
        \n  },\n  \"metadata\": {},\n  \"owner\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": \"DE\",\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": \"donor@example.com\",\n    \"name\": \"Jane Doe\",\n    \"\
        phone\": null,\n    \"verified_address\": null,\n    \"verified_email\": null,\n\
        \    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n  \"sepa_debit\"\
        : {\n    \"bank_code\": \"37040044\",\n    \"branch_code\": null,\n    \"\
        country\": \"DE\",\n    \"fingerprint\": \"VNz5BVW8XnYcq3XT\",\n    \"last4\"\
        : \"3000\",\n    \"mandate_reference\": \"JZCCCJBJ5AYZSGME\",\n    \"mandate_url\"\
        : \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1MIJTNFk4eGpfLOCtBiCr9rb/src_client_secret_fcHeAab0Z6aFZBeTfYMKGAYn\"\
        \n  },\n  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n\
        \  \"type\": \"sepa_debit\",\n  \"usage\": \"reusable\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_source_from_btok_1MIJTFFk4eGpfLOC9s4ykqK2]
      Original-Request: [req_7cgTd3AW1QYRGm]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1MIJTNFk4eGpfLOCtBiCr9rb
  response:
    body: {string: "{\n  \"id\": \"src_1MIJTNFk4eGpfLOCtBiCr9rb\",\n  \"object\":\
        \ \"source\",\n  \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_fcHeAab0Z6aFZBeTfYMKGAYn\"\
        ,\n  \"created\": 1671833533,\n  \"currency\": \"eur\",\n  \"customer\": \"\
        cus_N2OFGHy0Ij6nfr\",\n  \"flow\": \"none\",\n  \"livemode\": false,\n  \"\
        mandate\": {\n    \"acceptance\": {\n      \"date\": null,\n      \"ip\":\
        \ null,\n      \"offline\": null,\n      \"online\": null,\n      \"status\"\
        : \"pending\",\n      \"type\": null,\n      \"user_agent\": null\n    },\n\
        \    \"amount\": null,\n    \"currency\": null,\n    \"interval\": \"variable\"\
        ,\n    \"notification_method\": \"none\",\n    \"reference\": \"JZCCCJBJ5AYZSGME\"\
        ,\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1MIJTNFk4eGpfLOCtBiCr9rb/src_client_secret_fcHeAab0Z6aFZBeTfYMKGAYn\"\
        \n  },\n  \"metadata\": {},\n  \"owner\": {\n    \[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_jp
  response:
    body: {string: "{\n  \"id\": \"tok_1MIJTPFk4eGpfLOCKEAocyTL\",\n  \"object\":\
        \ \"token\",\n  \"card\": {\n    \"id\": \"card_1MIJTPFk4eGpfLOCIok8nmtB\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"JP\",\n    \"currency\": \"jpy\",\n    \"cvc_check\": null,\n\
        \    \"dynamic_last4\": null,\n    \"exp_month\": 12,\n    \"exp_year\": 2023,\n\
        \    \"fingerprint\": \"4heNPBHbDWXWyXBc\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"0003\",\n    \"metadata\": {},\n    \"name\": null,\n  \
        \  \"tokenization_method\": null\n  },\n  \"client_ip\": null,\n  \"created\"\
        : 1671833535,\n  \"livemode\": false,\n  \"type\": \"card\",\n  \"used\":\
        \ false\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: amount=4838&currency=JPY&description=secret+donation+for+creator_1+via+Liberapay&destination=acct_1MIJTGFsLJG8wY8M&metadata[payin_transfer_id]=2230&source_transaction=ch_3MIJTRFk4eGpfLOC0KEP8OTP
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/transfers
  response:
    body: {string: "{\n  \"id\": \"tr_3MIJTRFk4eGpfLOC0dJq3JwV\",\n  \"object\": \"\
        transfer\",\n  \"amount\": 4838,\n  \"amount_reversed\": 0,\n  \"balance_transaction\"\
        : \"txn_3MIJTRFk4eGpfLOC0hWyCwvk\",\n  \"created\": 1671833539,\n  \"currency\"\
        : \"jpy\",\n  \"description\": \"secret donation for creator_1 via Liberapay\"\
        ,\n  \"destination\": \"acct_1MIJTGFsLJG8wY8M\",\n  \"destination_payment\"\
        : \"py_1MIJTTFsLJG8wY8MOzuQBKpZ\",\n  \"livemode\": false,\n  \"metadata\"\
        : {\n    \"payin_transfer_id\": \"2230\"\n  },\n  \"reversals\": {\n    \"\
        object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/transfers/tr_3MIJTRFk4eGpfLOC0dJq3JwV/reversals\"\
        \n  },\n  \"reversed\": false,\n  \"source_transaction\": \"ch_3MIJTRFk4eGpfLOC0KEP8OTP\"\
        ,\n  \"source_type\": \"card\",\n  \"transfer_group\": \"group_ch_3MIJTRFk4eGpfLOC0KEP8OTP\"\
        \n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [payin_transfer_2230]
      Original-Request: [req_QxzZnTI5QGUXCm]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/charges/py_1MIJTTFsLJG8wY8MOzuQBKpZ
  response:
    body: {string: "{\n  \"id\": \"py_1MIJTTFsLJG8wY8MOzuQBKpZ\",\n  \"object\": \"\
        charge\",\n  \"amount\": 4838,\n  \"amount_captured\": 4838,\n  \"amount_refunded\"\
        : 0,\n  \"application\": \"ca_DEYxiYHBHZtGj32l9uczcsunbQOcRq8H\",\n  \"application_fee\"\
        : null,\n  \"application_fee_amount\": null,\n  \"balance_transaction\": \"\
        txn_1MIJTTFsLJG8wY8MwbnK92gG\",\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n\
        \  },\n  \"calculated_statement_descriptor\": null,\n  \"captured\": true,\n\
        \  \"created\": 1671833539,\n  \"currency\": \"jpy\",\n  \"customer\": null,\n\
        \  \"description\": null,\n  \"destination\": null,\n  \"dispute\": null,\n\
        \  \"disputed\": false,\n  \"failure_balance_transaction\": null,\n  \"failure_code\"\
        : null,\n  \"failure_message\": null,\n  \"fraud_details\": {},\n  \"invoice\"\
[...]
