interactions:
- request:
    body: bank_account[country]=DE&bank_account[currency]=EUR&bank_account[account_number]=DE89370400440532013000&bank_account[account_holder_name]=Jane+Doe
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"btok_1GVfmOFk4eGpfLOCCBSQRMed\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1GVfmOFk4eGpfLOCK3U72yxe\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Jane\
        \ Doe\",\n    \"account_holder_type\": null,\n    \"bank_name\": \"STRIPE\
        \ TEST BANK\",\n    \"country\": \"DE\",\n    \"currency\": \"eur\",\n   \
        \ \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\": \"3000\",\n    \"\
        routing_number\": \"110000000\",\n    \"status\": \"new\"\n  },\n  \"client_ip\"\
        : \"109.190.32.190\",\n  \"created\": 1586359528,\n  \"livemode\": false,\n\
        \  \"type\": \"bank_account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [8e4d90bc-d1e3-4585-a907-8d0e38bad416]
      original-request: [req_SDbtgXLPUgNBG7]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: account[tos_shown_and_accepted]=True
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"ct_1GVfmPFk4eGpfLOCwTLgJMhH\",\n  \"object\": \"\
        token\",\n  \"client_ip\": \"109.190.32.190\",\n  \"created\": 1586359529,\n\
        \  \"livemode\": false,\n  \"type\": \"account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [9edba385-38b1-4eac-b385-e8ebc92a8ea5]
      original-request: [req_hXjkquKrB0x8s8]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: account_token=ct_1GVfmPFk4eGpfLOCwTLgJMhH&country=CH&type=custom
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/accounts
  response:
    body: {string: "{\n  \"id\": \"acct_1GVfmPLo8l3IWFWX\",\n  \"object\": \"account\"\
        ,\n  \"business_profile\": {\n    \"mcc\": null,\n    \"name\": null,\n  \
        \  \"product_description\": null,\n    \"support_address\": null,\n    \"\
        support_email\": null,\n    \"support_phone\": null,\n    \"support_url\"\
        : null,\n    \"url\": null\n  },\n  \"business_type\": null,\n  \"capabilities\"\
        : {\n    \"legacy_payments\": \"active\"\n  },\n  \"charges_enabled\": true,\n\
        \  \"country\": \"CH\",\n  \"created\": 1586359529,\n  \"default_currency\"\
        : \"chf\",\n  \"details_submitted\": false,\n  \"email\": null,\n  \"external_accounts\"\
        : {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\"\
        : false,\n    \"total_count\": 0,\n    \"url\": \"/v1/accounts/acct_1GVfmPLo8l3IWFWX/external_accounts\"\
        \n  },\n  \"metadata\": {\n  },\n  \"payouts_enabled\": false,\n  \"requirements\"\
        : {\n    \"current_deadline\": null,\n    \"currently_due\": [\n      \"external_account\"\
        \n    ],\n    \"disabled_reason\": null,\n    \"errors\": [\n\n    ],\n  \
        \  \"eventually_due\": [\n      \"business_type\",\n      \"external_account\"\
        ,\n      \"relationship.account_opener\"\n    ],\n    \"past_due\": [\n  \
        \    \"external_account\"\n    ],\n    \"pending_verification\": [\n\n   \
        \ ]\n  },\n  \"settings\": {\n    \"branding\": {\n      \"icon\": null,\n\
        \      \"logo\": null,\n      \"primary_color\": null\n    },\n    \"card_payments\"\
        : {\n      \"decline_on\": {\n        \"avs_failure\": false,\n        \"\
        cvc_failure\": false\n      },\n      \"statement_descriptor_prefix\": null\n\
        \    },\n    \"dashboard\": {\n      \"display_name\": null,\n      \"timezone\"\
        : \"Etc/UTC\"\n    },\n    \"payments\": {\n      \"statement_descriptor\"\
        : \"\",\n      \"statement_descriptor_kana\": null,\n      \"statement_descriptor_kanji\"\
        : null\n    },\n    \"payouts\": {\n      \"debit_negative_balances\": false,\n\
        \      \"schedule\": {\n        \"delay_days\": 7,\n        \"interval\":\
        \ \"daily\"\n      },\n      \"statement_descriptor\": null\n    }\n  },\n\
        \  \"tos_acceptance\": {\n    \"date\": 1586359529,\n    \"ip\": \"109.190.32.190\"\
        ,\n    \"user_agent\": \"Stripe/v1 PythonBindings/2.35.1\"\n  },\n  \"type\"\
        : \"custom\"\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [e98f9b1a-f278-409c-9ac9-cf95bbacc82c]
      original-request: [req_gMDgOP2Vnqx3zN]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_visa
  response:
    body: {string: "{\n  \"id\": \"tok_1GVfmRFk4eGpfLOCSLXxfLj8\",\n  \"object\":\
        \ \"token\",\n  \"card\": {\n    \"id\": \"card_1GVfmRFk4eGpfLOCZDvk5nNW\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"US\",\n    \"currency\": \"usd\",\n    \"cvc_check\": null,\n\
        \    \"dynamic_last4\": null,\n    \"exp_month\": 4,\n    \"exp_year\": 2021,\n\
        \    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"4242\",\n    \"metadata\": {\n    },\n    \"name\": null,\n\
        \    \"tokenization_method\": null\n  },\n  \"client_ip\": null,\n  \"created\"\
        : 1586359531,\n  \"livemode\": false,\n  \"type\": \"card\",\n  \"used\":\
        \ false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=tok_1GVfmRFk4eGpfLOCSLXxfLj8&type=card&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: "{\n  \"id\": \"src_1GVfmRFk4eGpfLOCwTlnKUJn\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_month\": 4,\n\
        \    \"exp_year\": 2021,\n    \"last4\": \"4242\",\n    \"country\": \"US\"\
        ,\n    \"brand\": \"Visa\",\n    \"funding\": \"credit\",\n    \"fingerprint\"\
        : \"k6ycurEAdsI1uF3b\",\n    \"three_d_secure\": \"optional\",\n    \"name\"\
        : null,\n    \"address_line1_check\": null,\n    \"address_zip_check\": null,\n\
        \    \"cvc_check\": null,\n    \"tokenization_method\": null,\n    \"dynamic_last4\"\
        : null\n  },\n  \"client_secret\": \"src_client_secret_AXQqWadQvFF8nA2fclu5xaG6\"\
        ,\n  \"created\": 1586359531,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"\
        address\": null,\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n\
        \    \"phone\": null,\n    \"verified_address\": null,\n    \"verified_email\"\
        : null,\n    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n\
        \  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n  \"type\"\
        : \"card\",\n  \"usage\": \"reusable\"\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_source_from_tok_1GVfmRFk4eGpfLOCSLXxfLj8]
      original-request: [req_sLaXFiRNvLofsp]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: email=donor%40example.com&source=src_1GVfmRFk4eGpfLOCwTlnKUJn
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_H3nNk2cPobC9lw\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1586359532,\n  \"currency\": null,\n  \"default_source\": \"src_1GVfmRFk4eGpfLOCwTlnKUJn\"\
        ,\n  \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n\
        \  \"email\": \"donor@example.com\",\n  \"invoice_prefix\": \"1A2A70D2\",\n\
        \  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"next_invoice_sequence\": 1,\n  \"phone\"\
        : null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n  \"sources\"\
        : {\n    \"object\": \"list\",\n    \"data\": [\n      {\n        \"id\":\
        \ \"src_1GVfmRFk4eGpfLOCwTlnKUJn\",\n        \"object\": \"source\",\n   \
        \     \"amount\": null,\n        \"card\": {\n          \"exp_month\": 4,\n\
        \          \"exp_year\": 2021,\n          \"last4\": \"4242\",\n         \
        \ \"country\": \"US\",\n          \"brand\": \"Visa\",\n          \"funding\"\
        : \"credit\",\n          \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n        \
        \  \"three_d_secure\": \"optional\",\n          \"name\": null,\n        \
        \  \"address_line1_check\": null,\n          \"address_zip_check\": null,\n\
        \          \"cvc_check\": null,\n          \"tokenization_method\": null,\n\
        \          \"dynamic_last4\": null\n        },\n        \"client_secret\"\
        : \"src_client_secret_AXQqWadQvFF8nA2fclu5xaG6\",\n        \"created\": 1586359531,\n\
        \        \"currency\": null,\n        \"customer\": \"cus_H3nNk2cPobC9lw\"\
        ,\n        \"flow\": \"none\",\n        \"livemode\": false,\n        \"metadata\"\
        : {\n        },\n        \"owner\": {\n          \"address\": null,\n    \
        \      \"email\": \"donor@example.com\",\n          \"name\": null,\n    \
        \      \"phone\": null,\n          \"verified_address\": null,\n         \
        \ \"verified_email\": null,\n          \"verified_name\": null,\n        \
        \  \"verified_phone\": null\n        },\n        \"statement_descriptor\"\
        : null,\n        \"status\": \"chargeable\",\n        \"type\": \"card\",\n\
        \        \"usage\": \"reusable\"\n      }\n    ],\n    \"has_more\": false,\n\
        \    \"total_count\": 1,\n    \"url\": \"/v1/customers/cus_H3nNk2cPobC9lw/sources\"\
        \n  },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_H3nNk2cPobC9lw/subscriptions\"\n  },\n  \"tax_exempt\"\
        : \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_H3nNk2cPobC9lw/tax_ids\"\n  },\n  \"tax_info\": null,\n\
        \  \"tax_info_verification\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_customer_for_participant_1410_with_src_1GVfmRFk4eGpfLOCwTlnKUJn]
      original-request: [req_ysGi9EhtHz0VLI]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: amount=2499&currency=eur&customer=cus_H3nNk2cPobC9lw&metadata[payin_id]=1410&source=src_1GVfmRFk4eGpfLOCwTlnKUJn&statement_descriptor=Liberapay+1410&expand[0]=balance_transaction
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: "{\n  \"id\": \"ch_1GVfmSFk4eGpfLOCIWv3L5L0\",\n  \"object\": \"\
        charge\",\n  \"amount\": 2499,\n  \"amount_refunded\": 0,\n  \"application\"\
        : null,\n  \"application_fee\": null,\n  \"application_fee_amount\": null,\n\
        \  \"balance_transaction\": {\n    \"id\": \"txn_1GVfmTFk4eGpfLOCHUXxWfRx\"\
        ,\n    \"object\": \"balance_transaction\",\n    \"amount\": 2499,\n    \"\
        available_on\": 1586908800,\n    \"created\": 1586359532,\n    \"currency\"\
        : \"eur\",\n    \"description\": null,\n    \"exchange_rate\": null,\n   \
        \ \"fee\": 97,\n    \"fee_details\": [\n      {\n        \"amount\": 97,\n\
        \        \"application\": null,\n        \"currency\": \"eur\",\n        \"\
        description\": \"Stripe processing fees\",\n        \"type\": \"stripe_fee\"\
        \n      }\n    ],\n    \"net\": 2402,\n    \"reporting_category\": \"charge\"\
        ,\n    \"source\": \"ch_1GVfmSFk4eGpfLOCIWv3L5L0\",\n    \"status\": \"pending\"\
        ,\n    \"type\": \"charge\"\n  },\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n    \"\
        phone\": null\n  },\n  \"calculated_statement_descriptor\": \"LIBERAPAY* LIBERAPAY\
        \ 1\",\n  \"captured\": true,\n  \"created\": 1586359532,\n  \"currency\"\
        : \"eur\",\n  \"customer\": \"cus_H3nNk2cPobC9lw\",\n  \"description\": null,\n\
        \  \"destination\": null,\n  \"dispute\": null,\n  \"disputed\": false,\n\
        \  \"failure_code\": null,\n  \"failure_message\": null,\n  \"fraud_details\"\
        : {\n  },\n  \"invoice\": null,\n  \"livemode\": false,\n  \"metadata\": {\n\
        \    \"payin_id\": \"1410\"\n  },\n  \"on_behalf_of\": null,\n  \"order\"\
        : null,\n  \"outcome\": {\n    \"network_status\": \"approved_by_network\"\
        ,\n    \"reason\": null,\n    \"risk_level\": \"normal\",\n    \"risk_score\"\
        : 47,\n    \"seller_message\": \"Payment complete.\",\n    \"type\": \"authorized\"\
        \n  },\n  \"paid\": true,\n  \"payment_intent\": null,\n  \"payment_method\"\
        : \"src_1GVfmRFk4eGpfLOCwTlnKUJn\",\n  \"payment_method_details\": {\n   \
        \ \"card\": {\n      \"brand\": \"visa\",\n      \"checks\": {\n        \"\
        address_line1_check\": null,\n        \"address_postal_code_check\": null,\n\
        \        \"cvc_check\": null\n      },\n      \"country\": \"US\",\n     \
        \ \"exp_month\": 4,\n      \"exp_year\": 2021,\n      \"fingerprint\": \"\
        k6ycurEAdsI1uF3b\",\n      \"funding\": \"credit\",\n      \"installments\"\
        : null,\n      \"last4\": \"4242\",\n      \"network\": \"visa\",\n      \"\
        three_d_secure\": null,\n      \"wallet\": null\n    },\n    \"type\": \"\
        card\"\n  },\n  \"receipt_email\": null,\n  \"receipt_number\": null,\n  \"\
        receipt_url\": \"https://pay.stripe.com/receipts/acct_1ChyayFk4eGpfLOC/ch_1GVfmSFk4eGpfLOCIWv3L5L0/rcpt_H3nNV2NaYcUCAIc8Zp9J0TFxrcqVccC\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":\
        \ 0,\n    \"url\": \"/v1/charges/ch_1GVfmSFk4eGpfLOCIWv3L5L0/refunds\"\n \
        \ },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1GVfmRFk4eGpfLOCwTlnKUJn\",\n    \"object\": \"source\",\n   \
        \ \"amount\": null,\n    \"card\": {\n      \"exp_month\": 4,\n      \"exp_year\"\
        : 2021,\n      \"last4\": \"4242\",\n      \"country\": \"US\",\n      \"\
        brand\": \"Visa\",\n      \"funding\": \"credit\",\n      \"fingerprint\"\
        : \"k6ycurEAdsI1uF3b\",\n      \"three_d_secure\": \"optional\",\n      \"\
        name\": null[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1GVfmRFk4eGpfLOCwTlnKUJn
  response:
    body: {string: "{\n  \"id\": \"src_1GVfmRFk4eGpfLOCwTlnKUJn\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_month\": 4,\n\
        \    \"exp_year\": 2021,\n    \"last4\": \"4242\",\n    \"country\": \"US\"\
        ,\n    \"brand\": \"Visa\",\n    \"funding\": \"credit\",\n    \"fingerprint\"\
        : \"k6ycur[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/btok_1GVfmOFk4eGpfLOCCBSQRMed
  response:
    body: {string: "{\n  \"id\": \"btok_1GVfmOFk4eGpfLOCCBSQRMed\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1GVfmOFk4eGpfLOCK3U72yxe\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Jane\
        \ Doe\",\n    \"account_holder_type\": null,\n    \"bank_name\": \"STRIPE\
        \ TEST BANK\",\n    \"country\": \"DE\",\n    \"currency\": \"eur\",\n   \
        \ \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\": \"3000\",\n    \"\
        routing_number\": \"110000000\",\n    \"status\": \"new\"\n  },\n  \"client_ip\"\
        : \"109.190.32.190\",\n  \"created\": 1586359528,\n  \"livemode\": false,\n\
        \  \"type\": \"bank_account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: amount=5200&owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=btok_1GVfmOFk4eGpfLOCCBSQRMed&type=sepa_debit&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: "{\n  \"id\": \"src_1GVfmUFk4eGpfLOCe5TNONii\",\n  \"object\":\
        \ \"source\",\n  \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_kj23fN32n4i3Go8ii9AcaCOB\"\
        ,\n  \"created\": 1586359534,\n  \"currency\": \"eur\",\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"mandate\": {\n    \"acceptance\": {\n     \
        \ \"date\": null,\n      \"ip\": null,\n      \"offline\": null,\n      \"\
        online\": null,\n      \"status\": \"pending\",\n      \"type\": null,\n \
        \     \"user_agent\": null\n    },\n    \"amount\": null,\n    \"currency\"\
        : null,\n    \"interval\": \"variable\",\n    \"notification_method\": \"\
        none\",\n    \"reference\": \"GQRBWRPGVJAPHAQG\",\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1GVfmUFk4eGpfLOCe5TNONii/src_client_secret_kj23fN32n4i3Go8ii9AcaCOB\"\
        \n  },\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\": {\n    \
        \  \"city\": null,\n      \"country\": \"DE\",\n      \"line1\": null,\n \
        \     \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": \"donor@example.com\",\n    \"name\": \"Jane Doe\"\
        ,\n    \"phone\": null,\n    \"verified_address\": null,\n    \"verified_email\"\
        : null,\n    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n\
        \  \"sepa_debit\": {\n    \"last4\": \"3000\",\n    \"bank_code\": \"37040044\"\
        ,\n    \"fingerprint\": \"VNz5BVW8XnYcq3XT\",\n    \"country\": \"DE\",\n\
        \    \"mandate_reference\": \"GQRBWRPGVJAPHAQG\",\n    \"mandate_url\": \"\
        https://hooks.stripe.com/adapter/sepa_debit/file/src_1GVfmUFk4eGpfLOCe5TNONii/src_client_secret_kj23fN32n4i3Go8ii9AcaCOB\"\
        ,\n    \"branch_code\": null\n  },\n  \"statement_descriptor\": null,\n  \"\
        status\": \"chargeable\",\n  \"type\": \"sepa_debit\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_source_from_btok_1GVfmOFk4eGpfLOCCBSQRMed]
      original-request: [req_TBvR7T6brQsNAd]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: amount=5200&currency=eur&customer=cus_H3nNPCdpWqqLZR&metadata[payin_id]=1420&source=src_1GVfmUFk4eGpfLOCe5TNONii&statement_descriptor=Liberapay+1420&expand[0]=balance_transaction
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: "{\n  \"id\": \"py_1GVfmVFk4eGpfLOCJgFZm7QC\",\n  \"object\": \"\
        charge\",\n  \"amount\": 5200,\n  \"amount_refunded\": 0,\n  \"application\"\
        : null,\n  \"application_fee\": null,\n  \"application_fee_amount\": null,\n\
        \  \"balance_transaction\": null,\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": \"DE\",\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": \"donor@example.com\",\n    \"name\": \"Jane Doe\"\
        ,\n    \"phone\": null\n  },\n  \"calculated_statement_descriptor\": null,\n\
        \  \"captured\": true,\n  \"created\": 1586359535,\n  \"currency\": \"eur\"\
        ,\n  \"customer\": \"cus_H3nNPCdpWqqLZR\",\n  \"description\": null,\n  \"\
        destination\": null,\n  \"dispute\": null,\n  \"disputed\": false,\n  \"failure_code\"\
        : null,\n  \"failure_message\": null,\n  \"fraud_details\": {\n  },\n  \"\
        invoice\": null,\n  \"livemode\": false,\n  \"metadata\": {\n    \"payin_id\"\
        : \"1420\"\n  },\n  \"on_behalf_of\": null,\n  \"order\": null,\n  \"outcome\"\
        : {\n    \"network_status\": \"approved_by_network\",\n    \"reason\": null,\n\
        \    \"risk_level\": \"not_assessed\",\n    \"seller_message\": \"Payment\
        \ complete.\",\n    \"type\": \"authorized\"\n  },\n  \"paid\": false,\n \
        \ \"payment_intent\": null,\n  \"payment_method\": \"src_1GVfmUFk4eGpfLOCe5TNONii\"\
        ,\n  \"payment_method_details\": {\n    \"sepa_debit\": {\n      \"bank_code\"\
        : \"37040044\",\n      \"branch_code\": null,\n      \"country\": \"DE\",\n\
        \      \"fingerprint\": \"VNz5BVW8XnYcq3XT\",\n      \"last4\": \"3000\",\n\
        \      \"mandate\": null\n    },\n    \"type\": \"sepa_debit\"\n  },\n  \"\
        receipt_email\": null,\n  \"receipt_number\": null,\n  \"receipt_url\": \"\
        https://pay.stripe.com/receipts/acct_1ChyayFk4eGpfLOC/py_1GVfmVFk4eGpfLOCJgFZm7QC/rcpt_H3nN1P3q7jJVHSwfGSUEe17Tug4avGf\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":\
        \ 0,\n    \"url\": \"/v1/charges/py_1GVfmVFk4eGpfLOCJgFZm7QC/refunds\"\n \
        \ },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1GVfmUFk4eGpfLOCe5TNONii\",\n    \"object\": \"source\",\n   \
        \ \"amount\": 5200,\n    \"client_secret\": \"src_client_secret_kj23fN32n4i3Go8ii9AcaCOB\"\
        ,\n    \"created\": 1586359535,\n    \"currency\": \"eur\",\n    \"customer\"\
        : \"cus_H3nNPCdpWqqLZR\",\n    \"flow\": \"none\",\n    \"livemode\": false,\n\
        \    \"mandate\": {\n      \"acceptance\": {\n        \"date\": null,\n  \
        \      \"ip\": null,\n        \"offline\": null,\n        \"online\": null,\n\
        \        \"status\": \"pending\",\n        \"type\": null,\n        \"user_agent\"\
        : null\n      },\n      \"amount\": null,\n      \"currency\": null,\n   \
        \   \"interval\": \"variable\",\n      \"notification_method\": \"none\",\n\
        \      \"reference\": \"GQRBWRPGVJAPHAQG\",\n      \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1GVfmUFk4eGpfLOCe5TNONii/src_client_secret_kj23fN32n4i3Go8ii9AcaCOB\"\
        \n    },\n    \"metadata\": [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1GVfmUFk4eGpfLOCe5TNONii
  response:
    body: {string: "{\n  \"id\": \"src_1GVfmUFk4eGpfLOCe5TNONii\",\n  \"object\":\
        \ \"source\",\n  \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_kj23fN32n4i3Go8ii9AcaCOB\"\
        ,\n  \"created\": 1586359534,\n  \"currency\": \"eur\",\n  \"customer\": \"\
        cus_H3nNPCdpWqqLZR\",\n  \"flow\": \"none\",\n  \"livemode\": false,\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_jp
  response:
    body: {string: "{\n  \"id\": \"tok_1GVfmWFk4eGpfLOCEhY5iO8W\",\n  \"object\":\
        \ \"token\",\n  \"card\": {\n    \"id\": \"card_1GVfmWFk4eGpfLOChHpWLkBn\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"JP\",\n    \"currency\": \"usd\",\n    \"cvc_check\": null,\n\
        \    \"dynamic_last4\": null,\n    \"exp_month\": 4,\n    \"exp_year\": 2021,\n\
        \    \"fingerprint\": \"4heNPBHbDWXWyXBc\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"0003\",\n    \"metadata\": {\n    },\n    \"name\": null,\n\
        \    \"tokenization_method\": null\n  },\n  \"client_ip\": null,\n  \"created\"\
        : 1586359536,\n  \"livemode\": false,\n  \"type\": \"card\",\n  \"used\":\
        \ false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: amount=4008&currency=EUR&destination=acct_1GVfmPLo8l3IWFWX&metadata[payin_transfer_id]=1430&source_transaction=ch_1GVfmYFk4eGpfLOCE2G3T0Ko
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/transfers
  response:
    body: {string: "{\n  \"id\": \"tr_1GVfmZFk4eGpfLOCpHc7awA3\",\n  \"object\": \"\
        transfer\",\n  \"amount\": 4008,\n  \"amount_reversed\": 0,\n  \"balance_transaction\"\
        : \"txn_1GVfmZFk4eGpfLOC5nPMt2IR\",\n  \"created\": 1586359539,\n  \"currency\"\
        : \"eur\",\n  \"description\": null,\n  \"destination\": \"acct_1GVfmPLo8l3IWFWX\"\
        ,\n  \"destination_payment\": \"py_1GVfmZLo8l3IWFWXsX6ePCUy\",\n  \"livemode\"\
        : false,\n  \"metadata\": {\n    \"payin_transfer_id\": \"1430\"\n  },\n \
        \ \"reversals\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/transfers/tr_1GVfmZFk4eGpfLOCpHc7awA3/reversals\"\
        \n  },\n  \"reversed\": false,\n  \"source_transaction\": \"ch_1GVfmYFk4eGpfLOCE2G3T0Ko\"\
        ,\n  \"source_type\": \"card\",\n  \"transfer_group\": \"group_ch_1GVfmYFk4eGpfLOCE2G3T0Ko\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [payin_transfer_1430]
      original-request: [req_5TgIEQULG3NWSa]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/btok_1GVfmaFk4eGpfLOCG0ruWKeD
  response:
    body: {string: "{\n  \"id\": \"btok_1GVfmaFk4eGpfLOCG0ruWKeD\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1GVfmaFk4eGpfLOCyoNmMrh6\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Jane\
        \ Doe\",\n    \"account_holder_type\": null,\n    \"bank_name\": \"STRIPE\
        \ TEST BANK\",\n    \"country\": \"FR\",\n    \"currency\": \"eur\",\n   \
        \ \"fingerprint\": \"T8MDJUvoericCF3x\",\n    \"last4\": \"2606\",\n    \"\
        routing_number\": \"110000000\",\n    \"status\": \"new\"\n  },\n  \"client_ip\"\
        : \"109.190.32.190\",\n  \"created\": 1586359540,\n  \"livemode\": false,\n\
        \  \"type\": \"bank_account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1GVfmaFk4eGpfLOCvkI01RbI
  response:
    body: {string: "{\n  \"id\": \"src_1GVfmaFk4eGpfLOCvkI01RbI\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"client_secret\": \"src_client_secret_htLpl1mft7YxN3JS5kEfi84A\"\
        ,\n  \"created\": 1586359540,\n  \"currency\": \"eur\",\n  \"customer\": \"\
        cus_H3nNLyErBliltd\",\n  \"flow\": \"none\",\n  \"livemode\": false,\[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/charges/py_1GVfmbFk4eGpfLOCP2IRMNTW
  response:
    body: {string: "{\n  \"id\": \"py_1GVfmbFk4eGpfLOCP2IRMNTW\",\n  \"object\": \"\
        charge\",\n  \"amount\": 10000,\n  \"amount_refunded\": 0,\n  \"application\"\
        : null,\n  \"application_fee\": null,\n  \"application_fee_amount\": null,\n\
        \  \"balance_transaction\": \"txn_1GVfmeFk4eGpfLOCSRxPz3OB\",\n  \"billing_details\"\
       [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/balance_transactions/txn_1GVfmeFk4eGpfLOCSRxPz3OB
  response:
    body: {string: "{\n  \"id\": \"txn_1GVfmeFk4eGpfLOCSRxPz3OB\",\n  \"object\":\
        \ \"balance_transaction\",\n  \"amount\": 10000,\n  \"available_on\": 1586908800,\n\
        \  \"created\": 1586359543,\n  \"currency\": \"eur\",\n  \"description\":\
        \ null,\n  \"exchange_rate\": null,\n  \"fee\": 105,\n  \"fee_details\": [\n\
        \    {\n      \"amount\": 105,\n      \"application\": null,\n      \"currency\"\
        : \"eur\",\n      \"description\": \"Stripe processing fees\",\n      \"type\"\
        : \"stripe_fee\"\n    }\n  ],\n  \"net\": 9895,\n  \"reporting_category\"\
[...]
