interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<gesmes:Envelope xmlns:gesmes=\"\
        http://www.gesmes.org/xml/2002-08-01\" xmlns=\"http://www.ecb.int/vocabulary/2002-08-01/eurofxref\"\
        >\n\t<gesmes:subject>Reference rates</gesmes:subject>\n\t<gesmes:Sender>\n\
        \t\t<gesmes:name>European Central Bank</gesmes:name>\n\t</gesmes:Sender>\n\
        \t<Cube>\n\t\t<Cube time='2020-07-22'>\n\t\t\t<Cube currency='USD' rate='1.1578'/>\n\
        \t\t\t<Cube currency='JPY' rate='123.94'/>\n\t\t\t<Cube currency='BGN' rate='1.9558'/>\n\
        \t\t\t<Cube currency='CZK' rate='26.365'/>\n\t\t\t<Cube currency='DKK' rate='7.4442'/>\n\
        \t\t\t<Cube currency='GBP' rate='0.91123'/>\n\t\t\t<Cube currency='HUF' rate='349.27'/>\n\
        \t\t\t<Cube currency='PLN' rate='4.4288'/>\n\t\t\t<Cube currency='RON' rate='4.8413'/>\n\
        \t\t\t<Cube currency=[...]
