interactions:
- request:
    body: bank_account[country]=DE&bank_account[currency]=EUR&bank_account[account_number]=DE89370400440532013000&bank_account[account_holder_name]=Jane+Doe
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"btok_1Iw2ndFk4eGpfLOCguUqtOCz\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1Iw2ndFk4eGpfLOCsI18TW3G\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Jane\
        \ Doe\",\n    \"account_holder_type\": null,\n    \"bank_name\": \"STRIPE\
        \ TEST BANK\",\n    \"country\": \"DE\",\n    \"currency\": \"eur\",\n   \
        \ \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\": \"3000\",\n    \"\
        routing_number\": \"110000000\",\n    \"status\": \"new\"\n  },\n  \"client_ip\"\
        : \"77.128.117.173\",\n  \"created\": 1622197217,\n  \"livemode\": false,\n\
        \  \"type\": \"bank_account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_german_bank_account_token_2100]
      original-request: [req_WmZKV4jmquQuyd]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: bank_account[country]=CH&bank_account[currency]=CHF&bank_account[account_number]=CH9300762011623852957&bank_account[account_holder_name]=Foo+Bar
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"btok_1Iw2ndFk4eGpfLOCjzq8LtAL\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1Iw2ndFk4eGpfLOC23RD4hhz\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Foo Bar\"\
        ,\n    \"account_holder_type\": null,\n    \"bank_name\": \"STRIPE TEST BANK\"\
        ,\n    \"country\": \"CH\",\n    \"currency\": \"chf\",\n    \"fingerprint\"\
        : \"JIAY3PROGLCP57ES\",\n    \"last4\": \"2957\",\n    \"routing_number\"\
        : \"110000000\",\n    \"status\": \"new\"\n  },\n  \"client_ip\": \"77.128.117.173\"\
        ,\n  \"created\": 1622197217,\n  \"livemode\": false,\n  \"type\": \"bank_account\"\
        ,\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_swiss_bank_account_token_2100]
      original-request: [req_CmtNk0ZwALQHJo]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: account_token=ct_1Iw2neFk4eGpfLOCeCeDe0gJ&country=CH&type=custom&business_profile[mcc]=5734&business_profile[url]=https%3A%2F%2Fliberapay.com%2F&capabilities[card_payments][requested]=True&capabilities[sepa_debit_payments][requested]=True&capabilities[transfers][requested]=True&external_account=btok_1Iw2ndFk4eGpfLOCjzq8LtAL
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/accounts
  response:
    body: {string: "{\n  \"id\": \"acct_1Iw2ne2H54hWzJBk\",\n  \"object\": \"account\"\
        ,\n  \"business_profile\": {\n    \"mcc\": \"5734\",\n    \"name\": null,\n\
        \    \"product_description\": null,\n    \"support_address\": null,\n    \"\
        support_email\": null,\n    \"support_phone\": null,\n    \"support_url\"\
        : null,\n    \"url\": \"https://liberapay.com/\"\n  },\n  \"business_type\"\
        : \"individual\",\n  \"capabilities\": {\n    \"card_payments\": \"active\"\
        ,\n    \"sepa_debit_payments\": \"active\",\n    \"transfers\": \"active\"\
        \n  },\n  \"charges_enabled\": true,\n  \"company\": {\n    \"address\": {\n\
        \      \"city\": \"Bern\",\n      \"country\": \"CH\",\n      \"line1\": \"\
        address_full_match\",\n      \"line2\": null,\n      \"postal_code\": \"3000\"\
        ,\n      \"state\": null\n    },\n    \"directors_provided\": true,\n    \"\
        executives_provided\": true,\n    \"name\": null,\n    \"owners_provided\"\
        : true,\n    \"phone\": \"+41665554433\",\n    \"tax_id_provided\": false,\n\
        \    \"verification\": {\n      \"document\": {\n        \"back\": null,\n\
        \        \"details\": null,\n        \"details_code\": null,\n        \"front\"\
        : null\n      }\n    }\n  },\n  \"country\": \"CH\",\n  \"created\": 1622197219,\n\
        \  \"default_currency\": \"chf\",\n  \"details_submitted\": true,\n  \"email\"\
        : null,\n  \"external_accounts\": {\n    \"object\": \"list\",\n    \"data\"\
        : [\n      {\n        \"id\": \"ba_1Iw2ne2H54hWzJBkFEIgJRdG\",\n        \"\
        object\": \"bank_account\",\n        \"account\": \"acct_1Iw2ne2H54hWzJBk\"\
        ,\n        \"account_holder_name\": \"Foo Bar\",\n        \"account_holder_type\"\
        : null,\n        \"available_payout_methods\": [\n          \"standard\"\n\
        \        ],\n        \"bank_name\": \"STRIPE TEST BANK\",\n        \"country\"\
        : \"CH\",\n        \"currency\": \"chf\",\n        \"default_for_currency\"\
        : true,\n        \"fingerprint\": \"JIAY3PROGLCP57ES\",\n        \"last4\"\
        : \"2957\",\n        \"metadata\": {\n        },\n        \"routing_number\"\
        : \"110000000\",\n        \"status\": \"new\"\n      }\n    ],\n    \"has_more\"\
        : false,\n    \"total_count\": 1,\n    \"url\": \"/v1/accounts/acct_1Iw2ne2H54hWzJBk/external_accounts\"\
        \n  },\n  \"individual\": {\n    \"id\": \"person_4Iw2ne00GMzJOzXJ\",\n  \
        \  \"object\": \"person\",\n    \"account\": \"acct_1Iw2ne2H54hWzJBk\",\n\
        \    \"address\": {\n      \"city\": \"Bern\",\n      \"country\": \"CH\"\
        ,\n      \"line1\": \"address_full_match\",\n      \"line2\": null,\n    \
        \  \"postal_code\": \"3000\",\n      \"state\": null\n    },\n    \"created\"\
        : 1622197219,\n    \"dob\": {\n      \"day\": 1,\n      \"month\": 1,\n  \
        \    \"year\": 1901\n    },\n    \"email\": \"test-swiss-1@liberapay.com\"\
        ,\n    \"first_name\": \"Foo\",\n    \"id_number_provided\": true,\n    \"\
        last_name\": \"Bar\",\n    \"metadata\": {\n    },\n    \"phone\": \"+41665554433\"\
        ,\n    \"relationship\": {\n      \"account_opener\": true,\n      \"director\"\
        : false,\n      \"executive\": false,\n      \"owner\": false,\n      \"percent_ownership\"\
        : null,\n      \"representative\": true,\n      \"title\": null\n    },\n\
        \    \"requirements\": {\n      \"currently_due\": [\n\n      ],\n      \"\
        errors\": [\n\n      ],\n      \"eventually_due\": [\n\n      ],\n      \"\
        past_due\": [\n\n      ],\n      \"pending_verification\": [\n        \"verification.additional_document\"\
        ,\n        \"verification.document\"\n      ]\n    },\n    \"ssn_last_4_provided\"\
        : true,\n    \"verification\": {\n      \"additional_document\": {\n     \
        \   \"back\": null,\n        \"details\": null,\n        \"details_code\"\
        : null,\n        \"front\": null\n      },\n      \"details\": null,\n   \
        \   \"details_code\": null,\n      \"document\": {\n        \"back\": null,\n\
        \        \"details\": null,\n        \"details_code\": null,\n        \"front\"\
        : null\n      },\n      \"status\": \"pending\"\n    }\n  },\n  \"metadata\"\
        : {\n  },\n  \"payouts_enabled\": false,\n  \"requirements\": {\n    \"current_deadline\"\
        : null,\n    \"currently_due\": [\n\n    ],\n    \"disabled_reason\": \"requirements.pending_verification\"\
        ,\n    \"errors\": [\n\n    ],\n    \"eventually_due\": [\n\n    ],\n    \"\
        past_due\": [\n\n    ],\n    \"pending_verification\": [\n      \"individual.verification.additional_document\"\
        ,\n      \"individual.verification.document\"\n    ]\n  },\n  \"settings\"\
        : {\n    \"bacs_debit_payments\": {\n    },\n    \"branding\": {\n      \"\
        icon\": null,\n      \"logo\": null,\n      \"primary_color\": null,\n   \
        \   \"secondary_color\": null\n    },\n    \"card_issuing\": {\n      \"tos_acceptance\"\
        : {\n        \"date\": null,\n        \"ip\": null\n      }\n    },\n    \"\
        card_payments\": {\n      \"decline_on\": {\n        \"avs_failure\": false,\n\
        \        \"cvc_failure\": false\n      },\n      \"statement_descriptor_prefix\"\
        : null\n    },\n    \"dashboard\": {\n      \"display_name\": \"Liberapay\"\
        ,\n      \"timezone\": \"Etc/UTC\"\n    },\n    \"payments\": {\n      \"\
        statement_descriptor\": \"LIBERAPAY.COM\",\n      \"statement_descriptor_kana\"\
        : null,\n      \"statement_descriptor_kanji\": null\n    },\n    \"payouts\"\
        : {\n      \"debit_negative_balances\": false,\n      \"schedule\": {\n  \
        \      \"delay_days\": 7,\n        \"interval\": \"daily\"\n      },\n   \
        \   \"statement_descriptor\": null\n    },\n    \"sepa_debit_payments\": {\n\
        \    }\n  },\n  \"tos_acceptance\": {\n    \"date\": 1622197218,\n    \"ip\"\
        : \"77.128.117.173\",\n    \"user_agent\": \"Stripe/v1 PythonBindings/2.35.1\"\
        \n  },\n  \"type\": \"custom\"\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_swiss_account_2100]
      original-request: [req_SmNcZZtvz8QR8L]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_visa
  response:
    body: {string: "{\n  \"id\": \"tok_1Iw2nhFk4eGpfLOCHr0ciYGb\",\n  \"object\":\
        \ \"token\",\n  \"card\": {\n    \"id\": \"card_1Iw2nhFk4eGpfLOCn15U8y3F\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"US\",\n    \"currency\": \"usd\",\n    \"cvc_check\": null,\n\
        \    \"dynamic_last4\": null,\n    \"exp_month\": 5,\n    \"exp_year\": 2022,\n\
        \    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"4242\",\n    \"metadata\": {\n    },\n    \"name\": null,\n\
        \    \"tokenization_method\": null\n  },\n  \"client_ip\": null,\n  \"created\"\
        : 1622197221,\n  \"livemode\": false,\n  \"type\": \"card\",\n  \"used\":\
        \ false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=tok_1Iw2nhFk4eGpfLOCHr0ciYGb&type=card&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: "{\n  \"id\": \"src_1Iw2nhFk4eGpfLOCfQWPACWD\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"card\": {\n    \"exp_month\": 5,\n\
        \    \"exp_year\": 2022,\n    \"last4\": \"4242\",\n    \"country\": \"US\"\
        ,\n    \"brand\": \"Visa\",\n    \"funding\": \"credit\",\n    \"fingerprint\"\
        : \"k6ycurEAdsI1uF3b\",\n    \"three_d_secure\": \"optional\",\n    \"name\"\
        : null,\n    \"address_line1_check\": null,\n    \"address_zip_check\": null,\n\
        \    \"cvc_check\": null,\n    \"tokenization_method\": null,\n    \"dynamic_last4\"\
        : null\n  },\n  \"client_secret\": \"src_client_secret_WNeNHpQo0rRaU0k4qE2J71c0\"\
        ,\n  \"created\": 1622197221,\n  \"currency\": null,\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"\
        address\": null,\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n\
        \    \"phone\": null,\n    \"verified_address\": null,\n    \"verified_email\"\
        : null,\n    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n\
        \  \"statement_descriptor\": null,\n  \"status\": \"chargeable\",\n  \"type\"\
        : \"card\",\n  \"usage\": \"reusable\"\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_source_from_tok_1Iw2nhFk4eGpfLOCHr0ciYGb]
      original-request: [req_T3y3bpptFT7VW2]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: email=donor%40example.com&source=src_1Iw2nhFk4eGpfLOCfQWPACWD
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_JZBAPGjOEWBeoo\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1622197221,\n  \"currency\": null,\n  \"default_source\": \"src_1Iw2nhFk4eGpfLOCfQWPACWD\"\
        ,\n  \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n\
        \  \"email\": \"donor@example.com\",\n  \"invoice_prefix\": \"24EF74B6\",\n\
        \  \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\"\
        : null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"name\": null,\n  \"next_invoice_sequence\": 1,\n  \"phone\"\
        : null,\n  \"preferred_locales\": [\n\n  ],\n  \"shipping\": null,\n  \"sources\"\
        : {\n    \"object\": \"list\",\n    \"data\": [\n      {\n        \"id\":\
        \ \"src_1Iw2nhFk4eGpfLOCfQWPACWD\",\n        \"object\": \"source\",\n   \
        \     \"amount\": null,\n        \"card\": {\n          \"exp_month\": 5,\n\
        \          \"exp_year\": 2022,\n          \"last4\": \"4242\",\n         \
        \ \"country\": \"US\",\n          \"brand\": \"Visa\",\n          \"funding\"\
        : \"credit\",\n          \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n        \
        \  \"three_d_secure\": \"optional\",\n          \"name\": null,\n        \
        \  \"address_line1_check\": null,\n          \"address_zip_check\": null,\n\
        \          \"cvc_check\": null,\n          \"tokenization_method\": null,\n\
        \          \"dynamic_last4\": null\n        },\n        \"client_secret\"\
        : \"src_client_secret_WNeNHpQo0rRaU0k4qE2J71c0\",\n        \"created\": 1622197221,\n\
        \        \"currency\": null,\n        \"customer\": \"cus_JZBAPGjOEWBeoo\"\
        ,\n        \"flow\": \"none\",\n        \"livemode\": false,\n        \"metadata\"\
        : {\n        },\n        \"owner\": {\n          \"address\": null,\n    \
        \      \"email\": \"donor@example.com\",\n          \"name\": null,\n    \
        \      \"phone\": null,\n          \"verified_address\": null,\n         \
        \ \"verified_email\": null,\n          \"verified_name\": null,\n        \
        \  \"verified_phone\": null\n        },\n        \"statement_descriptor\"\
        : null,\n        \"status\": \"chargeable\",\n        \"type\": \"card\",\n\
        \        \"usage\": \"reusable\"\n      }\n    ],\n    \"has_more\": false,\n\
        \    \"total_count\": 1,\n    \"url\": \"/v1/customers/cus_JZBAPGjOEWBeoo/sources\"\
        \n  },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_JZBAPGjOEWBeoo/subscriptions\"\n  },\n  \"tax_exempt\"\
        : \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n    \"data\": [\n\
        \n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":\
        \ \"/v1/customers/cus_JZBAPGjOEWBeoo/tax_ids\"\n  },\n  \"tax_info\": null,\n\
        \  \"tax_info_verification\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_customer_for_participant_2110_with_src_1Iw2nhFk4eGpfLOCfQWPACWD]
      original-request: [req_QOEoeWIbY3GohR]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: amount=2499&currency=eur&customer=cus_JZBAPGjOEWBeoo&description=Liberapay&metadata[payin_id]=2110&source=src_1Iw2nhFk4eGpfLOCfQWPACWD&statement_descriptor=Liberapay+2110&expand[0]=balance_transaction
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body: {string: "{\n  \"id\": \"ch_1Iw2niFk4eGpfLOCxnpWb3BJ\",\n  \"object\": \"\
        charge\",\n  \"amount\": 2499,\n  \"amount_captured\": 2499,\n  \"amount_refunded\"\
        : 0,\n  \"application\": null,\n  \"application_fee\": null,\n  \"application_fee_amount\"\
        : null,\n  \"balance_transaction\": {\n    \"id\": \"txn_1Iw2njFk4eGpfLOCiOLV4MbH\"\
        ,\n    \"object\": \"balance_transaction\",\n    \"amount\": 2499,\n    \"\
        available_on\": 1622592000,\n    \"created\": 1622197222,\n    \"currency\"\
        : \"eur\",\n    \"description\": \"Liberapay\",\n    \"exchange_rate\": null,\n\
        \    \"fee\": 97,\n    \"fee_details\": [\n      {\n        \"amount\": 97,\n\
        \        \"application\": null,\n        \"currency\": \"eur\",\n        \"\
        description\": \"Stripe processing fees\",\n        \"type\": \"stripe_fee\"\
        \n      }\n    ],\n    \"net\": 2402,\n    \"reporting_category\": \"charge\"\
        ,\n    \"source\": \"ch_1Iw2niFk4eGpfLOCxnpWb3BJ\",\n    \"status\": \"pending\"\
        ,\n    \"type\": \"charge\"\n  },\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n    \"\
        phone\": null\n  },\n  \"calculated_statement_descriptor\": \"LIBERAPAY* LIBERAPAY\
        \ 2\",\n  \"captured\": true,\n  \"created\": 1622197222,\n  \"currency\"\
        : \"eur\",\n  \"customer\": \"cus_JZBAPGjOEWBeoo\",\n  \"description\": \"\
        Liberapay\",\n  \"destination\": null,\n  \"dispute\": null,\n  \"disputed\"\
        : false,\n  \"failure_code\": null,\n  \"failure_message\": null,\n  \"fraud_details\"\
        : {\n  },\n  \"invoice\": null,\n  \"livemode\": false,\n  \"metadata\": {\n\
        \    \"payin_id\": \"2110\"\n  },\n  \"on_behalf_of\": null,\n  \"order\"\
        : null,\n  \"outcome\": {\n    \"network_status\": \"approved_by_network\"\
        ,\n    \"reason\": null,\n    \"risk_level\": \"normal\",\n    \"risk_score\"\
        : 25,\n    \"seller_message\": \"Payment complete.\",\n    \"type\": \"authorized\"\
        \n  },\n  \"paid\": true,\n  \"payment_intent\": null,\n  \"payment_method\"\
        : \"src_1Iw2nhFk4eGpfLOCfQWPACWD\",\n  \"payment_method_details\": {\n   \
        \ \"card\": {\n      \"brand\": \"visa\",\n      \"checks\": {\n        \"\
        address_line1_check\": null,\n        \"address_postal_code_check\": null,\n\
        \        \"cvc_check\": null\n      },\n      \"country\": \"US\",\n     \
        \ \"exp_month\": 5,\n      \"exp_year\": 2022,\n      \"fingerprint\": \"\
        k6ycurEAdsI1uF3b\",\n      \"funding\": \"credit\",\n      \"installments\"\
        : null,\n      \"last4\": \"4242\",\n      \"network\": \"visa\",\n      \"\
        three_d_secure\": null,\n      \"wallet\": null\n    },\n    \"type\": \"\
        card\"\n  },\n  \"receipt_email\": null,\n  \"receipt_number\": null,\n  \"\
        receipt_url\": \"https://pay.stripe.com/receipts/acct_1ChyayFk4eGpfLOC/ch_1Iw2niFk4eGpfLOCxnpWb3BJ/rcpt_JZBAzo0X4hwo8YxIPpx1K8mm6lga0x1\"\
        ,\n  \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n \
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":\
        \ 0,\n    \"url\": \"/v1/charges/ch_1Iw2niFk4eGpfLOCxnpWb3BJ/refunds\"\n \
        \ },\n  \"review\": null,\n  \"shipping\": null,\n  \"source\": {\n    \"\
        id\": \"src_1Iw2nhFk4eGpfLOCfQWPACWD\",\n    \"object\": \"source\",\n   \
        \ \"amount\": null,\n    \"card\": {\n      \"exp_month\": 5,\n      \"exp_year\"\
        : 2022,\n      \"last4\": \"4242\",\n      \"country\": \"US\",\n      \"\
        brand\": \"Visa\",\n      \"funding\": \"credit\",\n      \"fingerprint\"\
        : \"k6ycurEAdsI1uF3b\",\n      \"three_d_secure\": \"optional\",\n      \"\
        name\": null[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/btok_1Iw2ndFk4eGpfLOCguUqtOCz
  response:
    body: {string: "{\n  \"id\": \"btok_1Iw2ndFk4eGpfLOCguUqtOCz\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1Iw2ndFk4eGpfLOCsI18TW3G\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Jane\
        \ Doe\",\n    \"account_holder_type\": null,\n    \"bank_name\": \"STRIPE\
        \ TEST BANK\",\n    \"country\": \"DE\",\n    \"currency\": \"eur\",\n   \
        \ \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\": \"3000\",\n    \"\
        routing_number\": \"110000000\",\n    \"status\": \"new\"\n  },\n  \"client_ip\"\
        : \"77.128.117.173\",\n  \"created\": 1622197217,\n  \"livemode\": false,\n\
        \  \"type\": \"bank_account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: amount=5200&owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=btok_1Iw2ndFk4eGpfLOCguUqtOCz&type=sepa_debit&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: "{\n  \"id\": \"src_1Iw2nkFk4eGpfLOC70NJspSO\",\n  \"object\":\
        \ \"source\",\n  \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_pBoWzcThmvqj9tmE20SVU48Y\"\
        ,\n  \"created\": 1622197224,\n  \"currency\": \"eur\",\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"mandate\": {\n    \"acceptance\": {\n     \
        \ \"date\": null,\n      \"ip\": null,\n      \"offline\": null,\n      \"\
        online\": null,\n      \"status\": \"pending\",\n      \"type\": null,\n \
        \     \"user_agent\": null\n    },\n    \"amount\": null,\n    \"currency\"\
        : null,\n    \"interval\": \"variable\",\n    \"notification_method\": \"\
        none\",\n    \"reference\": \"UREOJ8CROUXWK0RM\",\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1Iw2nkFk4eGpfLOC70NJspSO/src_client_secret_pBoWzcThmvqj9tmE20SVU48Y\"\
        \n  },\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\": {\n    \
        \  \"city\": null,\n      \"country\": \"DE\",\n      \"line1\": null,\n \
        \     \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": \"donor@example.com\",\n    \"name\": \"Jane Doe\"\
        ,\n    \"phone\": null,\n    \"verified_address\": null,\n    \"verified_email\"\
        : null,\n    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n\
        \  \"sepa_debit\": {\n    \"last4\": \"3000\",\n    \"bank_code\": \"37040044\"\
        ,\n    \"fingerprint\": \"VNz5BVW8XnYcq3XT\",\n    \"country\": \"DE\",\n\
        \    \"mandate_reference\": \"UREOJ8CROUXWK0RM\",\n    \"mandate_url\": \"\
        https://hooks.stripe.com/adapter/sepa_debit/file/src_1Iw2nkFk4eGpfLOC70NJspSO/src_client_secret_pBoWzcThmvqj9tmE20SVU48Y\"\
        ,\n    \"branch_code\": null\n  },\n  \"statement_descriptor\": null,\n  \"\
        status\": \"chargeable\",\n  \"type\": \"sepa_debit\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_source_from_btok_1Iw2ndFk4eGpfLOCguUqtOCz]
      original-request: [req_niVsMuoYXYA7Oy]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1Iw2nkFk4eGpfLOC70NJspSO
  response:
    body: {string: "{\n  \"id\": \"src_1Iw2nkFk4eGpfLOC70NJspSO\",\n  \"object\":\
        \ \"source\",\n  \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_pBoWzcThmvqj9tmE20SVU48Y\"\
        ,\n  \"created\": 1622197224,\n  \"currency\": \"eur\",\n  \"customer\": \"\
        cus_JZBArJta3pxRl7\",\n  \"flow\": \"none\",\n  \"livemode\": false,\n  \"\
        mandate\": {\n    \"acceptance\": {\n      \"date\": null,\n      \"ip\":\
        \ null,\n      \"offline\": null,\n      \"online\": null,\n      \"status\"\
        : \"pending\",\n      \"type\": null,\n      \"user_agent\": null\n    },\n\
        \    \"amount\": null,\n    \"currency\": null,\n    \"interval\": \"variable\"\
        ,\n    \"notification_method\": \"none\",\n    \"reference\": \"UREOJ8CROUXWK0RM\"\
        ,\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1Iw2nkFk4eGpfLOC70NJspSO/src_client_secret_pBoWzcThmvqj9tmE20SVU48Y\"\
        \n  },\n  \"metadata\": {\n  },\n  \"owner\": {\n [...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_jp
  response:
    body: {string: "{\n  \"id\": \"tok_1Iw2nmFk4eGpfLOCivto2sSb\",\n  \"object\":\
        \ \"token\",\n  \"card\": {\n    \"id\": \"card_1Iw2nmFk4eGpfLOCkNA7mCAs\"\
        ,\n    \"object\": \"card\",\n    \"address_city\": null,\n    \"address_country\"\
        : null,\n    \"address_line1\": null,\n    \"address_line1_check\": null,\n\
        \    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\"\
        : null,\n    \"address_zip_check\": null,\n    \"brand\": \"Visa\",\n    \"\
        country\": \"JP\",\n    \"currency\": \"jpy\",\n    \"cvc_check\": null,\n\
        \    \"dynamic_last4\": null,\n    \"exp_month\": 5,\n    \"exp_year\": 2022,\n\
        \    \"fingerprint\": \"4heNPBHbDWXWyXBc\",\n    \"funding\": \"credit\",\n\
        \    \"last4\": \"0003\",\n    \"metadata\": {\n    },\n    \"name\": null,\n\
        \    \"tokenization_method\": null\n  },\n  \"client_ip\": null,\n  \"created\"\
        : 1622197226,\n  \"livemode\": false,\n  \"type\": \"card\",\n  \"used\":\
        \ false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: amount=3539&currency=EUR&description=anonymous+donation+for+creator_1+via+Liberapay&destination=acct_1Iw2ne2H54hWzJBk&metadata[payin_transfer_id]=2130&source_transaction=ch_1Iw2noFk4eGpfLOCbqPRGIoc
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/transfers
  response:
    body: {string: "{\n  \"id\": \"tr_1Iw2npFk4eGpfLOCMndWR5kB\",\n  \"object\": \"\
        transfer\",\n  \"amount\": 3539,\n  \"amount_reversed\": 0,\n  \"balance_transaction\"\
        : \"txn_1Iw2npFk4eGpfLOCU7yXFoKc\",\n  \"created\": 1622197229,\n  \"currency\"\
        : \"eur\",\n  \"description\": \"anonymous donation for creator_1 via Liberapay\"\
        ,\n  \"destination\": \"acct_1Iw2ne2H54hWzJBk\",\n  \"destination_payment\"\
        : \"py_1Iw2np2H54hWzJBkfMpoeSa6\",\n  \"livemode\": false,\n  \"metadata\"\
        : {\n    \"payin_transfer_id\": \"2130\"\n  },\n  \"reversals\": {\n    \"\
        object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n\
        \    \"total_count\": 0,\n    \"url\": \"/v1/transfers/tr_1Iw2npFk4eGpfLOCMndWR5kB/reversals\"\
        \n  },\n  \"reversed\": false,\n  \"source_transaction\": \"ch_1Iw2noFk4eGpfLOCbqPRGIoc\"\
        ,\n  \"source_type\": \"card\",\n  \"transfer_group\": \"group_ch_1Iw2noFk4eGpfLOCbqPRGIoc\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [payin_transfer_2130]
      original-request: [req_cTWhUkoiLbDZLi]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/charges/py_1Iw2np2H54hWzJBkfMpoeSa6
  response:
    body: {string: "{\n  \"id\": \"py_1Iw2np2H54hWzJBkfMpoeSa6\",\n  \"object\": \"\
        charge\",\n  \"amount\": 3539,\n  \"amount_captured\": 3539,\n  \"amount_refunded\"\
        : 0,\n  \"application\": \"ca_DEYxiYHBHZtGj32l9uczcsunbQOcRq8H\",\n  \"application_fee\"\
        : null,\n  \"application_fee_amount\": null,\n  \"balance_transaction\": \"\
        txn_1Iw2np2H54hWzJBkgFHlJJik\",\n  \"billing_details\": {\n    \"address\"\
        : {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n\
        \      \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n\
        \  },\n  \"calculated_statement_descriptor\": null,\n  \"captured\": true,\n\
        \  \"created\": 1622197229,\n  \"currency\": \"eur\",\n  \"customer\": null,\n\
        \  \"description\": null,\n  \"destination\": null,\n  \"dispute\": null,\n\
        \  \"disputed\": false,\n  \"failure_code\": null,\n  \"failure_message\"\
        : null,\n  \"fraud_details\": {\n  },\n  \"invoice\": null,\n  \"livemode\"\
        : false,\n  \"metadata\": {\n  },\n  \"on_behalf_of\": null,\n  \"order\"\
        : null,\n  \"outcome\": null,\n  \"paid\": true,\n  \"payment_intent\": null,\n\
        \  \"payment_method\": null,\n  \"payment_method_details\": {\n    \"stripe_account\"\
        : {\n    },\n    \"type\": \"stripe_account\"\n  },\n  \"receipt_email\":\
[...]
