interactions:
- request:
    body: '{"DeclaredFees": {"Currency": "EUR", "Amount": 6}, "AuthorId": "12557748",
      "Tag": "47472655", "CreditedWalletId": "12557749", "DeclaredDebitedFunds": {"Currency":
      "EUR", "Amount": 1008}}'
    headers: {}
    method: POST
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/payins/bankwire/direct/
  response:
    body: {string: !!python/unicode '{"Id":"12557765","Tag":"47472655","CreationDate":1463153852,"ResultCode":null,"ResultMessage":null,"AuthorId":"12557748","CreditedUserId":"12557748","DebitedFunds":null,"CreditedFunds":null,"Fees":null,"Status":"CREATED","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"12557749","DebitedWalletId":null,"PaymentType":"BANK_WIRE","ExecutionType":"DIRECT","DeclaredDebitedFunds":{"Currency":"EUR","Amount":1008},"DeclaredFees":{"Currency":"EUR","Amount":6},"WireReference":"b1603e669b","BankAccount":{"OwnerAddress":{"AddressLine1":"1
        Mango Street","AddressLine2":null,"City":"Paris","Region":null,"PostalCode":"75010","Country":"FR"},"Type":"IBAN","OwnerName":"MANGOPAY","IBAN":"FR7618829754160173622224251","BIC":"CMBRFR2BCME"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/payins/12557765
  response:
    body: {string: !!python/unicode '{"Id":"12557765","Tag":"47472655","CreationDate":1463153852,"ResultCode":null,"ResultMessage":null,"AuthorId":"12557748","CreditedUserId":"12557748","DebitedFunds":{"Currency":"XXX","Amount":0},"CreditedFunds":{"Currency":"XXX","Amount":0},"Fees":{"Currency":"XXX","Amount":0},"Status":"CREATED","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"12557749","DebitedWalletId":null,"PaymentType":"BANK_WIRE","ExecutionType":"DIRECT","DeclaredDebitedFunds":{"Currency":"EUR","Amount":1008},"DeclaredFees":{"Currency":"EUR","Amount":6},"WireReference":"b1603e669b","BankAccount":{"OwnerAddress":{"AddressLine1":"1
        Mango Street","AddressLine2":null,"City":"Paris","Region":null,"PostalCode":"75010","Country":"FR"},"Type":"IBAN","OwnerName":"MANGOPAY","IBAN":"FR7618829754160173622224251","BIC":"CMBRFR2BCME"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/users/8301771
  response:
    body: {string: !!python/unicode '{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null},"FirstName":"Janet","LastName":"Foobar","Birthday":0,"Nationality":"BE","CountryOfResidence":"BE","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"nobody@example.net","KYCLevel":"LIGHT","Id":"12557748","Tag":null,"CreationDate":1463153838}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Currency": "EUR", "Owners": ["12557748"], "Description": "2"}'
    headers: {}
    method: POST
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/wallets
  response:
    body: {string: !!python/unicode '{"Description":"2","Owners":["12557748"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"12557768","Tag":null,"CreationDate":1463153854}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
