interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1Sg2xnFk4eGpfLOCRBGEyQv7\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": null,\n    \"name\": null,\n\
        \    \"phone\": null,\n    \"tax_id\": null\n  },\n  \"card\": {\n    \"brand\"\
        : \"visa\",\n    \"checks\": {\n      \"address_line1_check\": null,\n   \
        \   \"address_postal_code_check\": null,\n      \"cvc_check\": \"unchecked\"\
        \n    },\n    \"country\": \"US\",\n    \"display_brand\": \"visa\",\n   \
        \ \"exp_month\": 12,\n    \"exp_year\": 2026,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\"\
        ,\n    \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\"\
        : \"4242\",\n    \"networks\": {\n      \"available\": [\n        \"visa\"\
        \n      ],\n      \"preferred\": null\n    },\n    \"regulated_status\": \"\
        unregulated\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n\
        \    },\n    \"wallet\": null\n  },\n  \"created\": 1766147959,\n  \"customer\"\
        : null,\n  \"customer_account\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"type\": \"card\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: email=alice%40liberapay.com&metadata[participant_id]=1000&preferred_locales[0]=en
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_TdJaByi8zjn90Y\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1766147959,\n  \"currency\": null,\n  \"customer_account\": null,\n\
        \  \"default_currency\": null,\n  \"default_source\": null,\n  \"delinquent\"\
        : false,\n  \"description\": null,\n  \"discount\": null,\n  \"email\": \"\
        alice@liberapay.com\",\n  \"invoice_prefix\": \"ODSMDAS5\",\n  \"invoice_settings\"\
        : {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n\
        \    \"footer\": null,\n    \"rendering_options\": null\n  },\n  \"livemode\"\
        : false,\n  \"metadata\": {\n    \"participant_id\": \"1000\"\n  },\n  \"\
        name\": null,\n  \"next_invoice_sequence\": 1,\n  \"phone\": null,\n  \"preferred_locales\"\
        : [\n    \"en\"\n  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\"\
        : \"list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_TdJaByi8zjn90Y/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\"\
        : false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_TdJaByi8zjn90Y/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_TdJaByi8zjn90Y/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null,\n  \"test_clock\": null\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_customer_for_participant_1000]
      Original-Request: [req_GQ8GJcojDf88bF]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: confirm=true&customer=cus_TdJaByi8zjn90Y&metadata[route_id]=1000&payment_method=pm_1Sg2xnFk4eGpfLOCRBGEyQv7&payment_method_types[0]=card&usage=off_session
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/setup_intents
  response:
    body: {string: "{\n  \"id\": \"seti_1Sg2xnFk4eGpfLOCGLUZB0yY\",\n  \"object\"\
        : \"setup_intent\",\n  \"application\": null,\n  \"automatic_payment_methods\"\
        : null,\n  \"cancellation_reason\": null,\n  \"client_secret\": \"seti_1Sg2xnFk4eGpfLOCGLUZB0yY_secret_TdJaSS7dAjaDrb1gGEFdFycxBqZFCeL\"\
        ,\n  \"created\": 1766147959,\n  \"customer\": \"cus_TdJaByi8zjn90Y\",\n \
        \ \"customer_account\": null,\n  \"description\": null,\n  \"excluded_payment_method_types\"\
        : null,\n  \"flow_directions\": null,\n  \"last_setup_error\": null,\n  \"\
        latest_attempt\": \"setatt_1Sg2xoFk4eGpfLOCpwngcvpW\",\n  \"livemode\": false,\n\
        \  \"mandate\": null,\n  \"metadata\": {\n    \"route_id\": \"1000\"\n  },\n\
        \  \"next_action\": null,\n  \"on_behalf_of\": null,\n  \"payment_method\"\
        : \"pm_1Sg2xnFk4eGpfLOCRBGEyQv7\",\n  \"payment_method_configuration_details\"\
        : null,\n  \"payment_method_options\": {\n    \"card\": {\n      \"mandate_options\"\
        : null,\n      \"network\": null,\n      \"request_three_d_secure\": \"automatic\"\
        \n    }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"single_use_mandate\"\
        : null,\n  \"status\": \"succeeded\",\n  \"usage\": \"off_session\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_SI_for_route_1000]
      Original-Request: [req_tnFGcdLQB2paYe]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: type=sepa_debit&billing_details[email]=dupond.dupont%40example.com&billing_details[name]=Dupond+et+Dupont&sepa_debit[iban]=BE62510007547061
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body: {string: "{\n  \"id\": \"pm_1Sg2xoFk4eGpfLOCKkoWEo7q\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null,\n    \"tax_id\"\
        : null\n  },\n  \"created\": 1766147961,\n  \"customer\": null,\n  \"customer_account\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"sepa_debit\": {\n\
        \    \"bank_code\": \"510\",\n    \"branch_code\": \"\",\n    \"country\"\
        : \"BE\",\n    \"fingerprint\": \"Sn4vUwcwpaXNMJsz\",\n    \"generated_from\"\
        : {\n      \"charge\": null,\n      \"setup_attempt\": null\n    },\n    \"\
        last4\": \"7061\"\n  },\n  \"type\": \"sepa_debit\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [bec5a12a-ac89-4cb4-86a9-40199f994e9c]
      Original-Request: [req_NdydsRrhdYN34A]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1Sg2xoFk4eGpfLOCKkoWEo7q
  response:
    body: {string: "{\n  \"id\": \"pm_1Sg2xoFk4eGpfLOCKkoWEo7q\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null,\n    \"tax_id\"\
        : null\n  },\n  \"created\": 1766147961,\n  \"customer\": null,\n  \"customer_account\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"sepa_debit\": {\n\
        \    \"bank_code\": \"510\",\n    \"branch_code\": \"\",\n    \"country\"\
        : \"BE\",\n    \"fingerprint\": \"Sn4vUwcwpaXNMJsz\",\n    \"generated_from\"\
        : {\n      \"charge\": null,\n      \"setup_attempt\": null\n    },\n    \"\
        last4\": \"7061\"\n  },\n  \"type\": \"sepa_debit\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: confirm=true&customer=cus_TdJaByi8zjn90Y&mandate_data[customer_acceptance][type]=online&mandate_data[customer_acceptance][accepted_at]=1766147961&mandate_data[customer_acceptance][online][ip_address]=0.0.0.0&mandate_data[customer_acceptance][online][user_agent]=Pando-test-client%2F0.47&metadata[route_id]=1001&payment_method=pm_1Sg2xoFk4eGpfLOCKkoWEo7q&payment_method_types[0]=sepa_debit&usage=off_session
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/setup_intents
  response:
    body: {string: "{\n  \"id\": \"seti_1Sg2xpFk4eGpfLOC0YMKZrkA\",\n  \"object\"\
        : \"setup_intent\",\n  \"application\": null,\n  \"automatic_payment_methods\"\
        : null,\n  \"cancellation_reason\": null,\n  \"client_secret\": \"seti_1Sg2xpFk4eGpfLOC0YMKZrkA_secret_TdJbg0CuIzVaEBaB9GJZykAjOtnUipf\"\
        ,\n  \"created\": 1766147961,\n  \"customer\": \"cus_TdJaByi8zjn90Y\",\n \
        \ \"customer_account\": null,\n  \"description\": null,\n  \"excluded_payment_method_types\"\
        : null,\n  \"flow_directions\": null,\n  \"last_setup_error\": null,\n  \"\
        latest_attempt\": \"setatt_1Sg2xpFk4eGpfLOC8PFHf15D\",\n  \"livemode\": false,\n\
        \  \"mandate\": \"mandate_1Sg2xpFk4eGpfLOCaQEoL7dU\",\n  \"metadata\": {\n\
        \    \"route_id\": \"1001\"\n  },\n  \"next_action\": null,\n  \"on_behalf_of\"\
        : null,\n  \"payment_method\": \"pm_1Sg2xoFk4eGpfLOCKkoWEo7q\",\n  \"payment_method_configuration_details\"\
        : null,\n  \"payment_method_options\": {},\n  \"payment_method_types\": [\n\
        \    \"sepa_debit\"\n  ],\n  \"single_use_mandate\": null,\n  \"status\":\
        \ \"succeeded\",\n  \"usage\": \"off_session\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_SI_for_route_1001]
      Original-Request: [req_rRw93T95VDhrTE]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/mandates/mandate_1Sg2xpFk4eGpfLOCaQEoL7dU
  response:
    body: {string: "{\n  \"id\": \"mandate_1Sg2xpFk4eGpfLOCaQEoL7dU\",\n  \"object\"\
        : \"mandate\",\n  \"customer_acceptance\": {\n    \"accepted_at\": 1766147961,\n\
        \    \"online\": {\n      \"ip_address\": \"0.0.0.0\",\n      \"user_agent\"\
        : \"Pando-test-client/0.47\"\n    },\n    \"type\": \"online\"\n  },\n  \"\
        livemode\": false,\n  \"multi_use\": {},\n  \"payment_method\": \"pm_1Sg2xoFk4eGpfLOCKkoWEo7q\"\
        ,\n  \"payment_method_details\": {\n    \"sepa_debit\": {\n      \"reference\"\
        : \"M6RMX8WDL0LRRTVW\",\n      \"url\": \"https://payments.stripe.com/sepa_debit/mandate/mandate_test_YWNjdF8xQ2h5YXlGazRlR3BmTE9DLG1hbmRhdGVzdF9UZEpibG1sN21MTmJrblgxd3hhakttQ0E1Zmw0Wkh00000P5L3JIBD\"\
        \n    },\n    \"type\": \"sepa_debit\"\n  },\n  \"status\": \"active\",\n\
        \  \"type\": \"multi_use\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1Sg2xoFk4eGpfLOCKkoWEo7q
  response:
    body: {string: "{\n  \"id\": \"pm_1Sg2xoFk4eGpfLOCKkoWEo7q\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null,\n    \"tax_id\"\
        : null\n  },\n  \"created\": 1766147961,\n  \"customer\": \"cus_TdJaByi8zjn90Y\"\
        ,\n  \"customer_account\": null,\n  \"livemode\": false,\n  \"metadata\":\
        \ {},\n  \"sepa_debit\": {\n    \"bank_code\": \"510\",\n    \"branch_code\"\
        : \"\",\n    \"country\": \"BE\",\n    \"fingerprint\": \"Sn4vUwcwpaXNMJsz\"\
        ,\n    \"generated_from\": {\n      \"charge\": null,\n      \"setup_attempt\"\
        : null\n    },\n    \"last4\": \"7061\"\n  },\n  \"type\": \"sepa_debit\"\n\
        }"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1Sg2xoFk4eGpfLOCKkoWEo7q/detach
  response:
    body: {string: "{\n  \"id\": \"pm_1Sg2xoFk4eGpfLOCKkoWEo7q\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"dupond.dupont@example.com\"\
        ,\n    \"name\": \"Dupond et Dupont\",\n    \"phone\": null,\n    \"tax_id\"\
        : null\n  },\n  \"created\": 1766147961,\n  \"customer\": null,\n  \"customer_account\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"sepa_debit\": {\n\
        \    \"bank_code\": \"510\",\n    \"branch_code\": \"\",\n    \"country\"\
        : \"BE\",\n    \"fingerprint\": \"Sn4vUwcwpaXNMJsz\",\n    \"generated_from\"\
        : {\n      \"charge\": null,\n      \"setup_attempt\": null\n    },\n    \"\
        last4\": \"7061\"\n  },\n  \"type\": \"sepa_debit\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [1fa0ed04-a89e-406e-aa5d-ad7a59885da4]
      Original-Request: [req_mEUhZS6VyqOPRR]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [ABGHIJ]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1Sg2xnFk4eGpfLOCRBGEyQv7/detach
  response:
    body: {string: "{\n  \"id\": \"pm_1Sg2xnFk4eGpfLOCRBGEyQv7\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": nul[...]
