interactions:
- request:
    body: bank_account[country]=CH&bank_account[currency]=CHF&bank_account[account_number]=CH9300762011623852957&bank_account[account_holder_name]=Foo+Bar
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"btok_1QUVA2Fk4eGpfLOCwyJ8h4je\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1QUVA2Fk4eGpfLOCpDULasQc\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Foo Bar\"\
        ,\n    \"account_holder_type\": null,\n    \"account_type\": null,\n    \"\
        bank_name\": \"STRIPE TEST BANK\",\n    \"country\": \"CH\",\n    \"currency\"\
        : \"chf\",\n    \"fingerprint\": \"JIAY3PROGLCP57ES\",\n    \"last4\": \"\
        2957\",\n    \"routing_number\": \"110000000\",\n    \"status\": \"new\"\n\
        \  },\n  \"client_ip\": \"84.6.168.90\",\n  \"created\": 1733843742,\n  \"\
        livemode\": false,\n  \"type\": \"bank_account\",\n  \"used\": false\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_swiss_bank_account_token_2100]
      Original-Request: [req_YDbmTBMWar7T2W]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: account[business_type]=individual&account[individual][address][country]=CH&account[individual][address][city]=Bern&account[individual][address][postal_code]=3000&account[individual][address][line1]=address_full_match&account[individual][dob][day]=1&account[individual][dob][month]=1&account[individual][dob][year]=1901&account[individual][email]=test-swiss-1%40liberapay.com&account[individual][first_name]=Foo&account[individual][last_name]=Bar&account[individual][id_number]=000000000&account[individual][phone]=%2B41665554433&account[tos_shown_and_accepted]=True
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"ct_1QUVA3Fk4eGpfLOCC7WhNBVg\",\n  \"object\": \"\
        token\",\n  \"client_ip\": \"84.6.168.90\",\n  \"created\": 1733843743,\n\
        \  \"livemode\": false,\n  \"type\": \"account\",\n  \"used\": false\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_swiss_account_token_2100]
      Original-Request: [req_aH8rMy94AdlkYs]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: account_token=ct_1QUVA3Fk4eGpfLOCC7WhNBVg&country=CH&type=custom&business_profile[mcc]=5734&business_profile[url]=https%3A%2F%2Fliberapay.com%2F&capabilities[card_payments][requested]=True&capabilities[sepa_debit_payments][requested]=True&capabilities[transfers][requested]=True&external_account=btok_1QUVA2Fk4eGpfLOCwyJ8h4je
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/accounts
  response:
    body: {string: "{\n  \"id\": \"acct_1QUVA3Fw8sDQhJMt\",\n  \"object\": \"account\"\
        ,\n  \"business_profile\": {\n    \"annual_revenue\": null,\n    \"estimated_worker_count\"\
        : null,\n    \"mcc\": \"5734\",\n    \"name\": null,\n    \"product_description\"\
        : null,\n    \"support_address\": null,\n    \"support_email\": null,\n  \
        \  \"support_phone\": null,\n    \"support_url\": null,\n    \"url\": \"https://liberapay.com/\"\
        \n  },\n  \"business_type\": \"individual\",\n  \"capabilities\": {\n    \"\
        card_payments\": \"active\",\n    \"sepa_debit_payments\": \"active\",\n \
        \   \"transfers\": \"active\"\n  },\n  \"charges_enabled\": true,\n  \"company\"\
        : {\n    \"address\": {\n      \"city\": \"Bern\",\n      \"country\": \"\
        CH\",\n      \"line1\": \"address_full_match\",\n      \"line2\": null,\n\
        \      \"postal_code\": \"3000\",\n      \"state\": null\n    },\n    \"directors_provided\"\
        : true,\n    \"executives_provided\": true,\n    \"name\": null,\n    \"owners_provided\"\
        : true,\n    \"phone\": \"+41665554433\",\n    \"tax_id_provided\": false,\n\
        \    \"verification\": {\n      \"document\": {\n        \"back\": null,\n\
        \        \"details\": null,\n        \"details_code\": null,\n        \"front\"\
        : null\n      }\n    }\n  },\n  \"controller\": {\n    \"fees\": {\n     \
        \ \"payer\": \"application_custom\"\n    },\n    \"is_controller\": true,\n\
        \    \"losses\": {\n      \"payments\": \"application\"\n    },\n    \"requirement_collection\"\
        : \"application\",\n    \"stripe_dashboard\": {\n      \"type\": \"none\"\n\
        \    },\n    \"type\": \"application\"\n  },\n  \"country\": \"CH\",\n  \"\
        created\": 1733843746,\n  \"default_currency\": \"chf\",\n  \"details_submitted\"\
        : true,\n  \"email\": null,\n  \"external_accounts\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n      {\n        \"id\": \"ba_1QUVA3Fw8sDQhJMt0vh5UOEL\"\
        ,\n        \"object\": \"bank_account\",\n        \"account\": \"acct_1QUVA3Fw8sDQhJMt\"\
        ,\n        \"account_holder_name\": \"Foo Bar\",\n        \"account_holder_type\"\
        : null,\n        \"account_type\": null,\n        \"available_payout_methods\"\
        : [\n          \"standard\"\n        ],\n        \"bank_name\": \"STRIPE TEST\
        \ BANK\",\n        \"country\": \"CH\",\n        \"currency\": \"chf\",\n\
        \        \"default_for_currency\": true,\n        \"fingerprint\": \"JIAY3PROGLCP57ES\"\
        ,\n        \"future_requirements\": {\n          \"currently_due\": [],\n\
        \          \"errors\": [],\n          \"past_due\": [],\n          \"pending_verification\"\
        : []\n        },\n        \"last4\": \"2957\",\n        \"metadata\": {},\n\
        \        \"requirements\": {\n          \"currently_due\": [],\n         \
        \ \"errors\": [],\n          \"past_due\": [],\n          \"pending_verification\"\
        : []\n        },\n        \"routing_number\": \"110000000\",\n        \"status\"\
        : \"new\"\n      }\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 1,\n    \"url\": \"/v1/accounts/acct_1QUVA3Fw8sDQhJMt/external_accounts\"\
        \n  },\n  \"future_requirements\": {\n    \"alternatives\": [],\n    \"current_deadline\"\
        : null,\n    \"currently_due\": [],\n    \"disabled_reason\": null,\n    \"\
        errors\": [],\n    \"eventually_due\": [],\n    \"past_due\": [],\n    \"\
        pending_verification\": []\n  },\n  \"individual\": {\n    \"id\": \"person_1QUVA4Fw8sDQhJMtmNBOo3Yd\"\
        ,\n    \"object\": \"person\",\n    \"account\": \"acct_1QUVA3Fw8sDQhJMt\"\
        ,\n    \"address\": {\n      \"city\": \"Bern\",\n      \"country\": \"CH\"\
        ,\n      \"line1\": \"address_full_match\",\n      \"line2\": null,\n    \
        \  \"postal_code\": \"3000\",\n      \"state\": null\n    },\n    \"created\"\
        : 1733843745,\n    \"dob\": {\n      \"day\": 1,\n      \"month\": 1,\n  \
        \    \"year\": 1901\n    },\n    \"email\": \"test-swiss-1@liberapay.com\"\
        ,\n    \"first_name\": \"Foo\",\n    \"future_requirements\": {\n      \"\
        alternatives\": [],\n      \"currently_due\": [],\n      \"errors\": [],\n\
        \      \"eventually_due\": [],\n      \"past_due\": [],\n      \"pending_verification\"\
        : []\n    },\n    \"id_number_provided\": true,\n    \"last_name\": \"Bar\"\
        ,\n    \"metadata\": {},\n    \"phone\": \"+41665554433\",\n    \"relationship\"\
        : {\n      \"account_opener\": true,\n      \"authorizer\": false,\n     \
        \ \"director\": false,\n      \"executive\": false,\n      \"legal_guardian\"\
        : false,\n      \"owner\": false,\n      \"percent_ownership\": null,\n  \
        \    \"representative\": true,\n      \"title\": null\n    },\n    \"requirements\"\
        : {\n      \"alternatives\": [],\n      \"currently_due\": [],\n      \"errors\"\
        : [],\n      \"eventually_due\": [],\n      \"past_due\": [],\n      \"pending_verification\"\
        : []\n    },\n    \"ssn_last_4_provided\": true,\n    \"verification\": {\n\
        \      \"additional_document\": {\n        \"back\": null,\n        \"details\"\
        : null,\n        \"details_code\": null,\n        \"front\": null\n      },\n\
        \      \"details\": null,\n      \"details_code\": null,\n      \"document\"\
        : {\n        \"back\": null,\n        \"details\": null,\n        \"details_code\"\
        : null,\n        \"front\": null\n      },\n      \"status\": \"pending\"\n\
        \    }\n  },\n  \"metadata\": {},\n  \"payouts_enabled\": true,\n  \"requirements\"\
        : {\n    \"alternatives\": [],\n    \"current_deadline\": null,\n    \"currently_due\"\
        : [],\n    \"disabled_reason\": null,\n    \"errors\": [],\n    \"eventually_due\"\
        : [],\n    \"past_due\": [],\n    \"pending_verification\": []\n  },\n  \"\
        settings\": {\n    \"bacs_debit_payments\": {\n      \"display_name\": null,\n\
        \      \"service_user_number\": null\n    },\n    \"branding\": {\n      \"\
        icon\": null,\n      \"logo\": null,\n      \"primary_color\": null,\n   \
        \   \"secondary_color\": null\n    },\n    \"card_issuing\": {\n      \"tos_acceptance\"\
        : {\n        \"date\": null,\n        \"ip\": null\n      }\n    },\n    \"\
        card_payments\": {\n      \"decline_on\": {\n        \"avs_failure\": false,\n\
        \        \"cvc_failure\": false\n      },\n      \"statement_descriptor_prefix\"\
        : null,\n      \"statement_descriptor_prefix_kana\": null,\n      \"statement_descriptor_prefix_kanji\"\
        : null\n    },\n    \"dashboard\": {\n      \"display_name\": \"Liberapay\"\
        ,\n      \"timezone\": \"Etc/UTC\"\n    },\n    \"invoices\": {\n      \"\
        default_account_tax_ids\": null\n    },\n    \"payments\": {\n      \"statement_descriptor\"\
        : \"LIBERAPAY.COM\",\n      \"statement_descriptor_kana\": null,\n      \"\
        statement_descriptor_kanji\": null\n    },\n    \"payouts\": {\n      \"debit_negative_balances\"\
        : false,\n      \"schedule\": {\n        \"delay_days\": 7,\n        \"interval\"\
        : \"daily\"\n      },\n      \"statement_descriptor\": null\n    },\n    \"\
        sepa_debit_payments\": {}\n  },\n  \"tos_acceptance\": {\n    \"date\": 1733843743,\n\
        \    \"ip\": \"84.6.168.90\",\n    \"user_agent\": \"Stripe/v1 PythonBindings/11.1.1\"\
        \n  },\n  \"type\": \"custom\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_swiss_account_2100]
      Original-Request: [req_DujoonBysadvNu]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1QUVA9Fk4eGpfLOC9x7AFbxq\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": null,\n    \"name\": null,\n\
        \    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n    \"\
        checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\"\
        : null,\n      \"cvc_check\": \"unchecked\"\n    },\n    \"country\": \"US\"\
        ,\n    \"display_brand\": \"visa\",\n    \"exp_month\": 12,\n    \"exp_year\"\
        : 2025,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"three_d_secure_usage\": {\n      \"supported\": true\n\
        \    },\n    \"wallet\": null\n  },\n  \"created\": 1733843749,\n  \"customer\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"type\": \"card\"\
        \n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: email=donor%40example.com&metadata[participant_id]=2110&payment_method=pm_1QUVA9Fk4eGpfLOC9x7AFbxq&preferred_locales[0]=en
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_RNFf2YD5tgxZrH\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1733843749,\n  \"currency\": null,\n  \"default_currency\": null,\n\
        \  \"default_source\": null,\n  \"delinquent\": false,\n  \"description\"\
        : null,\n  \"discount\": null,\n  \"email\": \"donor@example.com\",\n  \"\
        invoice_prefix\": \"CF323CFE\",\n  \"invoice_settings\": {\n    \"custom_fields\"\
        : null,\n    \"default_payment_method\": null,\n    \"footer\": null,\n  \
        \  \"rendering_options\": null\n  },\n  \"livemode\": false,\n  \"metadata\"\
        : {\n    \"participant_id\": \"2110\"\n  },\n  \"name\": null,\n  \"next_invoice_sequence\"\
        : 1,\n  \"phone\": null,\n  \"preferred_locales\": [\n    \"en\"\n  ],\n \
        \ \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n    \"\
        data\": [],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\"\
        : \"/v1/customers/cus_RNFf2YD5tgxZrH/sources\"\n  },\n  \"subscriptions\"\
        : {\n    \"object\": \"list\",\n    \"data\": [],\n    \"has_more\": false,\n\
        \    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_RNFf2YD5tgxZrH/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_RNFf2YD5tgxZrH/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null,\n  \"test_clock\": null\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_customer_for_participant_2110_with_pm_1QUVA9Fk4eGpfLOC9x7AFbxq]
      Original-Request: [req_kZ8DwRmvY96jgf]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: amount=2499&confirm=True&currency=eur&customer=cus_RNFf2YD5tgxZrH&description=Liberapay&metadata[payin_id]=2110&off_session=False&payment_method=pm_1QUVA9Fk4eGpfLOC9x7AFbxq&payment_method_types[0]=card&return_url=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2F2110&statement_descriptor=Liberapay+2110&setup_future_usage=off_session
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body: {string: "{\n  \"id\": \"pi_3QUVAAFk4eGpfLOC0t6vA52W\",\n  \"object\": \"\
        payment_intent\",\n  \"amount\": 2499,\n  \"amount_capturable\": 0,\n  \"\
        amount_details\": {\n    \"tip\": {}\n  },\n  \"amount_received\": 2499,\n\
        \  \"application\": null,\n  \"application_fee_amount\": null,\n  \"automatic_payment_methods\"\
        : null,\n  \"canceled_at\": null,\n  \"cancellation_reason\": null,\n  \"\
        capture_method\": \"automatic\",\n  \"charges\": {\n    \"object\": \"list\"\
        ,\n    \"data\": [\n      {\n        \"id\": \"ch_3QUVAAFk4eGpfLOC0kGOumF1\"\
        ,\n        \"object\": \"charge\",\n        \"amount\": 2499,\n        \"\
        amount_captured\": 2499,\n        \"amount_refunded\": 0,\n        \"application\"\
        : null,\n        \"application_fee\": null,\n        \"application_fee_amount\"\
        : null,\n        \"balance_transaction\": \"txn_3QUVAAFk4eGpfLOC0IP4keRG\"\
        ,\n        \"billing_details\": {\n          \"address\": {\n            \"\
        city\": null,\n            \"country\": null,\n            \"line1\": null,\n\
        \            \"line2\": null,\n            \"postal_code\": null,\n      \
        \      \"state\": null\n          },\n          \"email\": null,\n       \
        \   \"name\": null,\n          \"phone\": null\n        },\n        \"calculated_statement_descriptor\"\
        : \"LIBERAPAY 2110\",\n        \"captured\": true,\n        \"created\": 1733843750,\n\
        \        \"currency\": \"eur\",\n        \"customer\": \"cus_RNFf2YD5tgxZrH\"\
        ,\n        \"description\": \"Liberapay\",\n        \"destination\": null,\n\
        \        \"dispute\": null,\n        \"disputed\": false,\n        \"failure_balance_transaction\"\
        : null,\n        \"failure_code\": null,\n        \"failure_message\": null,\n\
        \        \"fraud_details\": {},\n        \"invoice\": null,\n        \"livemode\"\
        : false,\n        \"metadata\": {\n          \"payin_id\": \"2110\"\n    \
        \    },\n        \"on_behalf_of\": null,\n        \"order\": null,\n     \
        \   \"outcome\": {\n          \"network_advice_code\": null,\n          \"\
        network_decline_code\": null,\n          \"network_status\": \"approved_by_network\"\
        ,\n          \"reason\": null,\n          \"risk_level\": \"normal\",\n  \
        \        \"risk_score\": 28,\n          \"seller_message\": \"Payment complete.\"\
        ,\n          \"type\": \"authorized\"\n        },\n        \"paid\": true,\n\
        \        \"payment_intent\": \"pi_3QUVAAFk4eGpfLOC0t6vA52W\",\n        \"\
        payment_method\": \"pm_1QUVA9Fk4eGpfLOC9x7AFbxq\",\n        \"payment_method_details\"\
        : {\n          \"card\": {\n            \"amount_authorized\": 2499,\n   \
        \         \"authorization_code\": null,\n            \"brand\": \"visa\",\n\
        \            \"checks\": {\n              \"address_line1_check\": null,\n\
        \              \"address_postal_code_check\": null,\n              \"cvc_check\"\
        : \"pass\"\n            },\n            \"country\": \"US\",\n           \
        \ \"exp_month\": 12,\n            \"exp_year\": 2025,\n            \"extended_authorization\"\
        : {\n              \"status\": \"disabled\"\n            },\n            \"\
        fingerprint\": \"k6ycurEAdsI1uF3b\",\n            \"funding\": \"credit\"\
        ,\n            \"incremental_authorization\": {\n              \"status\"\
        : \"unavailable\"\n            },\n            \"installments\": null,\n \
        \           \"last4\": \"4242\",\n            \"mandate\": null,\n       \
        \     \"multicapture\": {\n              \"status\": \"unavailable\"\n   \
        \         },\n            \"network\": \"visa\",\n            \"network_token\"\
        : {\n              \"used\": false\n            },\n            \"overcapture\"\
        : {\n              \"maximum_amount_capturable\": 2499,\n              \"\
        status\": \"unavailable\"\n            },\n            \"three_d_secure\"\
        : null,\n            \"wallet\": null\n          },\n          \"type\": \"\
        card\"\n        },\n        \"radar_options\": {},\n        \"receipt_email\"\
        : null,\n        \"receipt_number\": null,\n        \"receipt_url\": \"https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xQ2h5YXlGazRlR3BmTE9DKKe24boGMgbrGod21046LBZI7vR-JfqTeUFCgdf1R3JdFc-_fLxZiixcyqc7TrZBaj_2X3WUAcnDLKOK\"\
        ,\n        \"refunded\": false,\n        \"refunds\": {\n          \"object\"\
        : \"list\",\n          \"data\": [],\n          \"has_more\": false,\n   \
        \       \"total_count\": 0,\n          \"url\": \"/v1/charges/ch_3QUVAAFk4eGpfLOC0kGOumF1/refunds\"\
        \n        },\n        \"review\": null,\n        \"shipping\": null,\n   \
        \     \"source\": null,\n        \"source_transfer\": null,\n        \"statement_descriptor\"\
        : \"Liberapay 2110\",\n        \"statement_descriptor_suffix\": null,\n  \
        \      \"status\": \"succeeded\",\n        \"transfer_data\": null,\n    \
        \    \"transfer_group\": null\n      }\n    ],\n    \"has_more\": false,\n\
        \    \"total_count\": 1,\n    \"url\": \"/v1/charges?payment_intent=pi_3QUVAAFk4eGpfLOC0t6vA52W\"\
        \n  },\n  \"client_secret\": \"pi_3QUVAAFk4eGpfLOC0t6vA52W_secret_pRkmgr8ymjk91mBK9GzWXiQqa\"\
        ,\n  \"confirmation_method\": \"automatic\",\n  \"created\": 1733843750,\n\
        \  \"currency\": \"eur\",\n  \"customer\": \"cus_RNFf2YD5tgxZrH\",\n  \"description\"\
        : \"Liberapay\",\n  \"invoice\": null,\n  \"last_payment_error\": null,\n\
        \  \"latest_charge\": \"ch_3QUVAAFk4eGpfLOC0kGOumF1\",\n  \"livemode\": false,\n\
        \  \"metadata\": {\n    \"payin_id\": \"2110\"\n  },\n  \"next_action\": null,\n\
        \  \"on_behalf_of\": null,\n  \"payment_method\": \"pm_1QUVA9Fk4eGpfLOC9x7AFbxq\"\
        ,\n  \"payment_method_configuration_details\": null,\n  \"payment_method_options\"\
        : {\n    \"card\": {\n      \"installments\": null,\n      \"mandate_options\"\
        : null,\n      \"network\": null,\n      \"request_three_d_secure\": \"automatic\"\
        \n    }\n  },\n  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"processing\"\
        : null,\n  \"receipt_email\": null,\n  \"review\": null,\n  \"setup_future_usage\"\
        : \"off_session\",\n  \"shipping\": null,\n  \"source\": null,\n  \"statement_descriptor\"\
        : \"Liberapay 2110\",\n  \"statement_descriptor_suffix\": null,\n  \"status\"\
        : \"succeeded\",\n  \"transfer_data\": null,\n  \"transfer_group\": null\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [payin_intent_2110]
      Original-Request: [req_CjRhK4SqNfObK8]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/balance_transactions/txn_3QUVAAFk4eGpfLOC0IP4keRG
  response:
    body: {string: "{\n  \"id\": \"txn_3QUVAAFk4eGpfLOC0IP4keRG\",\n  \"object\":\
        \ \"balance_transaction\",\n  \"amount\": 2499,\n  \"available_on\": 1734048000,\n\
        \  \"created\": 1733843750,\n  \"currency\": \"eur\",\n  \"description\":\
        \ \"Liberapay\",\n  \"exchange_rate\": null,\n  \"fee\": 106,\n  \"fee_details\"\
        : [\n    {\n      \"amount\": 106,\n      \"application\": null,\n      \"\
        currency\": \"eur\",\n      \"description\": \"Stripe processing fees\",\n\
        \      \"type\": \"stripe_fee\"\n    }\n  ],\n  \"net\": 2393,\n  \"reporting_category\"\
        : \"charge\",\n  \"source\": \"ch_3QUVAAFk4eGpfLOC0kGOumF1\",\n  \"status\"\
        : \"pending\",\n  \"type\": \"charge\"\n}"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: type=sepa_debit&billing_details[email]=jane.doe%40example.com&billing_details[name]=Jane+Doe&sepa_debit[iban]=DE89370400440532013000
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods
  response:
    body: {string: "{\n  \"id\": \"pm_1QUVABFk4eGpfLOCBfFhZiQR\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"jane.doe@example.com\",\n\
        \    \"name\": \"Jane Doe\",\n    \"phone\": null\n  },\n  \"created\": 1733843751,\n\
        \  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"\
        sepa_debit\": {\n    \"bank_code\": \"37040044\",\n    \"branch_code\": \"\
        \",\n    \"country\": \"DE\",\n    \"fingerprint\": \"vifs0Ho7vwRn1Miu\",\n\
        \    \"generated_from\": {\n      \"charge\": null,\n      \"setup_attempt\"\
        : null\n    },\n    \"last4\": \"3000\"\n  },\n  \"type\": \"sepa_debit\"\n\
        }"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_german_sdd_pm_2120]
      Original-Request: [req_MshOv37PmnYTl5]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1QUVABFk4eGpfLOCBfFhZiQR
  response:
    body: {string: "{\n  \"id\": \"pm_1QUVABFk4eGpfLOCBfFhZiQR\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"jane.doe@example.com\",\n\
        \    \"name\": \"Jane Doe\",\n    \"phone\": null\n  },\n  \"created\": 1733843751,\n\
        \  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\": {},\n  \"\
        sepa_debit\": {\n    \"bank_code\": \"37040044\",\n    \"branch_code\": \"\
        \",\n    \"country\": \"DE\",\n    \"fingerprint\": \"vifs0Ho7vwRn1Miu\",\n\
        \    \"generated_from\": {\n      \"charge\": null,\n      \"setup_attempt\"\
        : null\n    },\n    \"last4\": \"3000\"\n  },\n  \"type\": \"sepa_debit\"\n\
        }"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: confirm=True&customer=cus_RNFfwG9bNVLlvc&mandate_data[customer_acceptance][type]=online&mandate_data[customer_acceptance][accepted_at]=1733843752&mandate_data[customer_acceptance][online][ip_address]=0.0.0.0&mandate_data[customer_acceptance][online][user_agent]=Pando-test-client%2F0.47&metadata[route_id]=102&payment_method=pm_1QUVABFk4eGpfLOCBfFhZiQR&payment_method_types[0]=sepa_debit&usage=off_session
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/setup_intents
  response:
    body: {string: "{\n  \"id\": \"seti_1QUVACFk4eGpfLOCwdZqf3ls\",\n  \"object\"\
        : \"setup_intent\",\n  \"application\": null,\n  \"automatic_payment_methods\"\
        : null,\n  \"cancellation_reason\": null,\n  \"client_secret\": \"seti_1QUVACFk4eGpfLOCwdZqf3ls_secret_RNFf45qhQ37uB554a08z0Qvbap7EiBi\"\
        ,\n  \"created\": 1733843752,\n  \"customer\": \"cus_RNFfwG9bNVLlvc\",\n \
        \ \"description\": null,\n  \"flow_directions\": null,\n  \"last_setup_error\"\
        : null,\n  \"latest_attempt\": \"setatt_1QUVACFk4eGpfLOCY5E9rR8j\",\n  \"\
        livemode\": false,\n  \"mandate\": \"mandate_1QUVACFk4eGpfLOCENoPT5dV\",\n\
        \  \"metadata\": {\n    \"route_id\": \"102\"\n  },\n  \"next_action\": null,\n\
        \  \"on_behalf_of\": null,\n  \"payment_method\": \"pm_1QUVABFk4eGpfLOCBfFhZiQR\"\
        ,\n  \"payment_method_configuration_details\": null,\n  \"payment_method_options\"\
        : {},\n  \"payment_method_types\": [\n    \"sepa_debit\"\n  ],\n  \"single_use_mandate\"\
        : null,\n  \"status\": \"succeeded\",\n  \"usage\": \"off_session\"\n}"}
    headers:
      Content-Type: [application/json]
      Idempotency-Key: [create_SI_for_route_102]
      Original-Request: [req_N5mncl4ikLj0dc]
      Stripe-Should-Retry: ['false']
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1QUVABFk4eGpfLOCBfFhZiQR
  response:
    body: {string: "{\n  \"id\": \"pm_1QUVABFk4eGpfLOCBfFhZiQR\",\n  \"object\": \"\
        payment_method\",\n  \"allow_redisplay\": \"unspecified\",\n  \"billing_details\"\
        : {\n    \"address\": {\n      \"city\": null,\n      \"country\": null,\n\
        \      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\": null,\n\
        \      \"state\": null\n    },\n    \"email\": \"jane.doe@example.com\",\n\
        \    \"name\": \"Jane Doe\",\n    \"phone\": null\n  },\n  \"created\": 1733843751,\n\
        \  \"customer\": \"cus_RNFfwG9bNVLlvc\",\n  \"livemode\": false,\n  \"metadata\"\
        : {},\n  \"sepa_debit\": {\n    \"bank_code\": \"37040044\",\n    \"branch_code\"\
        : \"\",\n    \"country\": \"DE\",\n    \"fingerprint\": \"vifs0Ho7vwRn1Miu\"\
        ,\n    \"generated_from\": {\n      \"charge\": null,\n      \"setup_attempt\"\
        : null\n    },\n    \"last4\": \"3000\"\n  },\n  \"type\": \"sepa_debit\"\n\
        }"}
    headers:
      Content-Type: [application/json]
      Stripe-Version: ['2019-08-14']
      X-Wc: [AB]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/mandates/mandate_1QUVACFk4eGpfLOCENoPT5dV
  response:
    body: {string: "{\n  \"id\": \"mandate_1QUVACFk4eGpfLOCENoPT5dV\",\n  \"object\"\
        : \"mandate\",\n  \"customer_acceptance\": {\n    \"accepted_at\": 1733843752,\n\
        \    \"online\": {\n      \"ip_address\": \"0.0.0.0\",\n      \"user_agent\"\
        : \"Pando-test-client/0.47\"\n    },\n    \"type\": \"online\"\n  },\n  \"\
        livemode\": false,\n  \"multi_use\": {},\n  \"payment_method\": \"pm_1QUVABFk4eGpfLOCBfFhZiQR\"\
        ,\n  \"payment_method_details\": {\n    \"sepa_debit\": {\n      \"reference\"\
[...]
