interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1JDmSkFk4eGpfLOCAlTwKrxW\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 7,\n    \"exp_year\"\
        : 2022,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"three_d_secure_usage\": {\n      \"supported\": true\n\
        \    },\n    \"wallet\": null\n  },\n  \"created\": 1626424323,\n  \"customer\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1JDmSoFk4eGpfLOCAvbLg1JS\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 7,\n    \"exp_year\"\
        : 2022,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"networks\"\
        : {\n      \"available\": [\n        \"visa\"\n      ],\n      \"preferred\"\
        : null\n    },\n    \"three_d_secure_usage\": {\n      \"supported\": true\n\
        \    },\n    \"wallet\": null\n  },\n  \"created\": 1626424326,\n  \"customer\"\
        : null,\n  \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
version: 1
