interactions:
- request:
    body: bank_account[country]=DE&bank_account[currency]=EUR&bank_account[account_number]=DE89370400440532013000&bank_account[account_holder_name]=Jane+Doe
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body:
      string: "{\n  \"id\": \"btok_1FqJeFFk4eGpfLOCGhwgQwQS\",\n  \"object\": \"token\",\n
        \ \"bank_account\": {\n    \"id\": \"ba_1FqJeFFk4eGpfLOCYFYMfDdS\",\n    \"object\":
        \"bank_account\",\n    \"account_holder_name\": \"Jane Doe\",\n    \"account_holder_type\":
        null,\n    \"bank_name\": \"STRIPE TEST BANK\",\n    \"country\": \"DE\",\n
        \   \"currency\": \"eur\",\n    \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\":
        \"3000\",\n    \"routing_number\": \"110000000\",\n    \"status\": \"new\"\n
        \ },\n  \"client_ip\": \"45.152.181.148\",\n  \"created\": 1576503007,\n  \"livemode\":
        false,\n  \"type\": \"bank_account\",\n  \"used\": false\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - a85af3a1-c482-4ad6-a897-17a3717b5c22
      original-request:
      - req_9hqNxxtvuw1N7B
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: account_token=ct_1FqJeGFk4eGpfLOCSiNt4NN3&country=CH&type=custom
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/accounts
  response:
    body:
      string: "{\n  \"id\": \"acct_1FqJeGGxJKe3V2vT\",\n  \"object\": \"account\",\n
        \ \"business_profile\": {\n    \"mcc\": null,\n    \"name\": null,\n    \"product_description\":
        null,\n    \"support_address\": null,\n    \"support_email\": null,\n    \"support_phone\":
        null,\n    \"support_url\": null,\n    \"url\": null\n  },\n  \"business_type\":
        null,\n  \"capabilities\": {\n    \"legacy_payments\": \"active\"\n  },\n
        \ \"charges_enabled\": true,\n  \"country\": \"CH\",\n  \"created\": 1576503008,\n
        \ \"default_currency\": \"chf\",\n  \"details_submitted\": false,\n  \"email\":
        null,\n  \"external_accounts\": {\n    \"object\": \"list\",\n    \"data\":
        [\n\n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":
        \"/v1/accounts/acct_1FqJeGGxJKe3V2vT/external_accounts\"\n  },\n  \"metadata\":
        {\n  },\n  \"payouts_enabled\": false,\n  \"requirements\": {\n    \"current_deadline\":
        null,\n    \"currently_due\": [\n      \"external_account\"\n    ],\n    \"disabled_reason\":
        null,\n    \"eventually_due\": [\n      \"business_type\",\n      \"external_account\",\n
        \     \"relationship.account_opener\"\n    ],\n    \"past_due\": [\n      \"external_account\"\n
        \   ],\n    \"pending_verification\": [\n\n    ]\n  },\n  \"settings\": {\n
        \   \"branding\": {\n      \"icon\": null,\n      \"logo\": null,\n      \"primary_color\":
        null\n    },\n    \"card_payments\": {\n      \"decline_on\": {\n        \"avs_failure\":
        false,\n        \"cvc_failure\": false\n      },\n      \"statement_descriptor_prefix\":
        null\n    },\n    \"dashboard\": {\n      \"display_name\": null,\n      \"timezone\":
        \"Etc/UTC\"\n    },\n    \"payments\": {\n      \"statement_descriptor\":
        \"\",\n      \"statement_descriptor_kana\": null,\n      \"statement_descriptor_kanji\":
        null\n    },\n    \"payouts\": {\n      \"debit_negative_balances\": false,\n
        \     \"schedule\": {\n        \"delay_days\": 7,\n        \"interval\": \"daily\"\n
        \     },\n      \"statement_descriptor\": null\n    }\n  },\n  \"tos_acceptance\":
        {\n    \"date\": 1576503008,\n    \"ip\": \"45.152.181.148\",\n    \"user_agent\":
        \"Stripe/v1 PythonBindings/2.35.1\"\n  },\n  \"type\": \"custom\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - d4b08814-f4a8-4c65-a6a9-b660281dc0a1
      original-request:
      - req_6Qmjm4Uxipc83p
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_visa
  response:
    body:
      string: "{\n  \"id\": \"tok_1FqJeHFk4eGpfLOCZf1VW1bG\",\n  \"object\": \"token\",\n
        \ \"card\": {\n    \"id\": \"card_1FqJeHFk4eGpfLOCi0RWci5I\",\n    \"object\":
        \"card\",\n    \"address_city\": null,\n    \"address_country\": null,\n    \"address_line1\":
        null,\n    \"address_line1_check\": null,\n    \"address_line2\": null,\n
        \   \"address_state\": null,\n    \"address_zip\": null,\n    \"address_zip_check\":
        null,\n    \"brand\": \"Visa\",\n    \"country\": \"US\",\n    \"currency\":
        \"usd\",\n    \"cvc_check\": null,\n    \"dynamic_last4\": null,\n    \"exp_month\":
        12,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n
        \   \"funding\": \"credit\",\n    \"last4\": \"4242\",\n    \"metadata\":
        {\n    },\n    \"name\": null,\n    \"tokenization_method\": null\n  },\n
        \ \"client_ip\": null,\n  \"created\": 1576503009,\n  \"livemode\": false,\n
        \ \"type\": \"card\",\n  \"used\": false\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
- request:
    body: owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=tok_1FqJeHFk4eGpfLOCZf1VW1bG&type=card&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body:
      string: "{\n  \"id\": \"src_1FqJeHFk4eGpfLOCAJZXUxmT\",\n  \"object\": \"source\",\n
        \ \"amount\": null,\n  \"card\": {\n    \"exp_month\": 12,\n    \"exp_year\":
        2020,\n    \"last4\": \"4242\",\n    \"country\": \"US\",\n    \"brand\":
        \"Visa\",\n    \"funding\": \"credit\",\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n
        \   \"three_d_secure\": \"optional\",\n    \"name\": null,\n    \"address_line1_check\":
        null,\n    \"address_zip_check\": null,\n    \"cvc_check\": null,\n    \"tokenization_method\":
        null,\n    \"dynamic_last4\": null\n  },\n  \"client_secret\": \"src_client_secret_GN3lanBDHQehv4JqivibsE71\",\n
        \ \"created\": 1576503009,\n  \"currency\": null,\n  \"flow\": \"none\",\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\":
        null,\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n    \"phone\":
        null,\n    \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\":
        null,\n    \"verified_phone\": null\n  },\n  \"statement_descriptor\": null,\n
        \ \"status\": \"chargeable\",\n  \"type\": \"card\",\n  \"usage\": \"reusable\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - create_source_from_tok_1FqJeHFk4eGpfLOCZf1VW1bG
      original-request:
      - req_vdtFbcj516II7P
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
- request:
    body: email=donor%40example.com&source=src_1FqJeHFk4eGpfLOCAJZXUxmT
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body:
      string: "{\n  \"id\": \"cus_GN3lx9mIZCMdAl\",\n  \"object\": \"customer\",\n
        \ \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"created\":
        1576503010,\n  \"currency\": null,\n  \"default_source\": \"src_1FqJeHFk4eGpfLOCAJZXUxmT\",\n
        \ \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n
        \ \"email\": \"donor@example.com\",\n  \"invoice_prefix\": \"15A658AD\",\n
        \ \"invoice_settings\": {\n    \"custom_fields\": null,\n    \"default_payment_method\":
        null,\n    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\":
        {\n  },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n
        \ ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n      {\n        \"id\": \"src_1FqJeHFk4eGpfLOCAJZXUxmT\",\n
        \       \"object\": \"source\",\n        \"amount\": null,\n        \"card\":
        {\n          \"exp_month\": 12,\n          \"exp_year\": 2020,\n          \"last4\":
        \"4242\",\n          \"country\": \"US\",\n          \"brand\": \"Visa\",\n
        \         \"funding\": \"credit\",\n          \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n
        \         \"three_d_secure\": \"optional\",\n          \"name\": null,\n          \"address_line1_check\":
        null,\n          \"address_zip_check\": null,\n          \"cvc_check\": null,\n
        \         \"tokenization_method\": null,\n          \"dynamic_last4\": null\n
        \       },\n        \"client_secret\": \"src_client_secret_GN3lanBDHQehv4JqivibsE71\",\n
        \       \"created\": 1576503009,\n        \"currency\": null,\n        \"customer\":
        \"cus_GN3lx9mIZCMdAl\",\n        \"flow\": \"none\",\n        \"livemode\":
        false,\n        \"metadata\": {\n        },\n        \"owner\": {\n          \"address\":
        null,\n          \"email\": \"donor@example.com\",\n          \"name\": null,\n
        \         \"phone\": null,\n          \"verified_address\": null,\n          \"verified_email\":
        null,\n          \"verified_name\": null,\n          \"verified_phone\": null\n
        \       },\n        \"statement_descriptor\": null,\n        \"status\": \"chargeable\",\n
        \       \"type\": \"card\",\n        \"usage\": \"reusable\"\n      }\n    ],\n
        \   \"has_more\": false,\n    \"total_count\": 1,\n    \"url\": \"/v1/customers/cus_GN3lx9mIZCMdAl/sources\"\n
        \ },\n  \"subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n
        \   ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_GN3lx9mIZCMdAl/subscriptions\"\n
        \ },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"list\",\n
        \   \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\":
        0,\n    \"url\": \"/v1/customers/cus_GN3lx9mIZCMdAl/tax_ids\"\n  },\n  \"tax_info\":
        null,\n  \"tax_info_verification\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - create_customer_for_participant_1310
      original-request:
      - req_ELkv7KwZhOw5p3
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
- request:
    body: amount=2499&currency=eur&customer=cus_GN3lx9mIZCMdAl&metadata[payin_id]=1310&source=src_1FqJeHFk4eGpfLOCAJZXUxmT&statement_descriptor=Liberapay+1310&expand[0]=balance_transaction
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/charges
  response:
    body:
      string: "{\n  \"id\": \"ch_1FqJeIFk4eGpfLOClBbEnS0y\",\n  \"object\": \"charge\",\n
        \ \"amount\": 2499,\n  \"amount_refunded\": 0,\n  \"application\": null,\n
        \ \"application_fee\": null,\n  \"application_fee_amount\": null,\n  \"balance_transaction\":
        {\n    \"id\": \"txn_1FqJeJFk4eGpfLOCRABy7oiW\",\n    \"object\": \"balance_transaction\",\n
        \   \"amount\": 2499,\n    \"available_on\": 1577059200,\n    \"created\":
        1576503010,\n    \"currency\": \"eur\",\n    \"description\": null,\n    \"exchange_rate\":
        null,\n    \"fee\": 97,\n    \"fee_details\": [\n      {\n        \"amount\":
        97,\n        \"application\": null,\n        \"currency\": \"eur\",\n        \"description\":
        \"Stripe processing fees\",\n        \"type\": \"stripe_fee\"\n      }\n    ],\n
        \   \"net\": 2402,\n    \"source\": \"ch_1FqJeIFk4eGpfLOClBbEnS0y\",\n    \"status\":
        \"pending\",\n    \"type\": \"charge\"\n  },\n  \"billing_details\": {\n    \"address\":
        {\n      \"city\": null,\n      \"country\": null,\n      \"line1\": null,\n
        \     \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n
        \   },\n    \"email\": \"donor@example.com\",\n    \"name\": null,\n    \"phone\":
        null\n  },\n  \"captured\": true,\n  \"created\": 1576503010,\n  \"currency\":
        \"eur\",\n  \"customer\": \"cus_GN3lx9mIZCMdAl\",\n  \"description\": null,\n
        \ \"destination\": null,\n  \"dispute\": null,\n  \"disputed\": false,\n  \"failure_code\":
        null,\n  \"failure_message\": null,\n  \"fraud_details\": {\n  },\n  \"invoice\":
        null,\n  \"livemode\": false,\n  \"metadata\": {\n    \"payin_id\": \"1310\"\n
        \ },\n  \"on_behalf_of\": null,\n  \"order\": null,\n  \"outcome\": {\n    \"network_status\":
        \"approved_by_network\",\n    \"reason\": null,\n    \"risk_level\": \"normal\",\n
        \   \"risk_score\": 34,\n    \"seller_message\": \"Payment complete.\",\n
        \   \"type\": \"authorized\"\n  },\n  \"paid\": true,\n  \"payment_intent\":
        null,\n  \"payment_method\": \"src_1FqJeHFk4eGpfLOCAJZXUxmT\",\n  \"payment_method_details\":
        {\n    \"card\": {\n      \"brand\": \"visa\",\n      \"checks\": {\n        \"address_line1_check\":
        null,\n        \"address_postal_code_check\": null,\n        \"cvc_check\":
        null\n      },\n      \"country\": \"US\",\n      \"exp_month\": 12,\n      \"exp_year\":
        2020,\n      \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n      \"funding\": \"credit\",\n
        \     \"installments\": null,\n      \"last4\": \"4242\",\n      \"network\":
        \"visa\",\n      \"three_d_secure\": null,\n      \"wallet\": null\n    },\n
        \   \"type\": \"card\"\n  },\n  \"receipt_email\": null,\n  \"receipt_number\":
        null,\n  \"receipt_url\": \"https://pay.stripe.com/receipts/acct_1ChyayFk4eGpfLOC/ch_1FqJeIFk4eGpfLOClBbEnS0y/rcpt_GN3ldV583aaj16X9IfL2snzncBPm9hQ\",\n
        \ \"refunded\": false,\n  \"refunds\": {\n    \"object\": \"list\",\n    \"data\":
        [\n\n    ],\n    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\":
        \"/v1/charges/ch_1FqJeIFk4eGpfLOClBbEnS0y/refunds\"\n  },\n  \"review\": null,\n
        \ \"shipping\": null,\n  \"source\": {\n    \"id\": \"src_1FqJeHFk4eGpfLOCAJZXUxmT\",\n
        \   \"object\": \"source\",\n    \"amount\": null,\n    \"card\": {\n      \"exp_month\":
        12,\n      \"exp_year\": 2020,\n      \"last4\": \"4242\",\n      \"country\":
        \"US\",\n      \"brand\": \"Visa\",\n      \"funding\": \"credit\",\n      \"fingerprint\":
        \"k6ycurEAdsI1uF3b\",\n      \"three_d_secure\": \"optional\",\n      \"name\":
        null,\n      \"address_line1_check\": null,\n      \"address_zip_check\":
        null,\n      \"cvc_check\": null,\n      \"tokenization_method\": null,\n
        \     \"dynamic_last4\": null\n    },\n    \"client_secret\": \"src_client_secret_GN3lanBDHQehv4JqivibsE71\",\n
        \   \"created\": 1576503011,\n    \"currency\": null,\n    \"customer\": \"cus_GN3lx9mIZCMdAl\",\n
        \   \"flow\": \"none\",\n    \"livemode\": false,\n    \"metadata\": {\n    },\n
        \   \"owner\": {\n      \"address\": null,\n      \"email\": \"donor@example.com\",\n
        \     \"name\": null,\n      \"phone\": null,\n      \"verified_address\":
        null,\n      \"verified_email\": null,\n      \"verified_name\": null,\n      \"verified_phone\":
        null\n    },\n    \"statement_descriptor\": null,\n    \"status\": \"chargeable\",\n
        \   \"type\": \"card\",\n    \"usage\": \"reusable\"\n  },\n  \"source_transfer\":
        null,\n  \"statement_descriptor\": \"Liberapay 1310\",\n  \"statement_descriptor_suffix\":
        \"Liberapay 1310\",\n  \"status\": \"succeeded\",\n  \"transfer_data\": null,\n
        \ \"transfer_group\": null\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - payin_1310
      original-request:
      - req_reIGPQM2D3PyQZ
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1FqJeHFk4eGpfLOCAJZXUxmT
  response:
    body:
      string: "{\n  \"id\": \"src_1FqJeHFk4eGpfLOCAJZXUxmT\",\n  \"object\": \"source\",\n
        \ \"amount\": null,\n  \"card\": {\n    \"exp_month\": 12,\n    \"exp_year\":
        2020,\n    \"last4\": \"4242\",\n    \"country\": \"US\",\n    \"brand\":
        \"Visa\",\n    \"funding\": \"credit\",\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/btok_1FqJeFFk4eGpfLOCGhwgQwQS
  response:
    body:
      string: "{\n  \"id\": \"btok_1FqJeFFk4eGpfLOCGhwgQwQS\",\n  \"object\": \"token\",\n
        \ \"bank_account\": {\n    \"id\": \"ba_1FqJeFFk4eGpfLOCYFYMfDdS\",\n    \"object\":
        \"bank_account\",\n    \"account_holder_name\": \"Jane Doe\",\n    \"account_holder_type\":
        null,\n    \"bank_name\": \"STRIPE TEST BANK\",\n    \"country\": \"DE\",\n
        \   \"currency\": \"eur\",\n    \"fingerprint\": \"vYeSfyBOnTdv1v6W\",\n    \"last4\":
        \"3000\",\n    \"routing_number\": \"110000000\",\n    \"status\": \"new\"\n
        \ },\n  \"client_ip\": \"45.152.181.148\",\n  \"created\": 1576503007,\n  \"livemode\":
        false,\n  \"type\": \"bank_account\",\n  \"used\": false\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
- request:
    body: amount=5200&owner[email]=donor%40example.com&redirect[return_url]=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2Fcomplete&token=btok_1FqJeFFk4eGpfLOCGhwgQwQS&type=sepa_debit&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body:
      string: "{\n  \"id\": \"src_1FqJeKFk4eGpfLOChUFsMrh9\",\n  \"object\": \"source\",\n
        \ \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_GN3lj00Ja59n2XF84pTnGSZh\",\n
        \ \"created\": 1576503012,\n  \"currency\": \"eur\",\n  \"flow\": \"none\",\n
        \ \"livemode\": false,\n  \"mandate\": {\n    \"acceptance\": {\n      \"date\":
        null,\n      \"ip\": null,\n      \"offline\": null,\n      \"online\": null,\n
        \     \"status\": \"pending\",\n      \"type\": null,\n      \"user_agent\":
        null\n    },\n    \"amount\": null,\n    \"currency\": null,\n    \"interval\":
        \"variable\",\n    \"notification_method\": \"none\",\n    \"reference\":
        \"FINXAZJNJCHUUHHQ\",\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1FqJeKFk4eGpfLOChUFsMrh9/src_client_secret_GN3lj00Ja59n2XF84pTnGSZh\"\n
        \ },\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\": {\n      \"city\":
        null,\n      \"country\": \"DE\",\n      \"line1\": null,\n      \"line2\":
        null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n    \"email\":
        \"donor@example.com\",\n    \"name\": \"Jane Doe\",\n    \"phone\": null,\n
        \   \"verified_address\": null,\n    \"verified_email\": null,\n    \"verified_name\":
        null,\n    \"verified_phone\": null\n  },\n  \"sepa_debit\": {\n    \"last4\":
        \"3000\",\n    \"bank_code\": \"37040044\",\n    \"fingerprint\": \"VNz5BVW8XnYcq3XT\",\n
        \   \"country\": \"DE\",\n    \"mandate_reference\": \"FINXAZJNJCHUUHHQ\",\n
        \   \"mandate_url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1FqJeKFk4eGpfLOChUFsMrh9/src_client_secret_GN3lj00Ja59n2XF84pTnGSZh\",\n
        \   \"branch_code\": null\n  },\n  \"statement_descriptor\": null,\n  \"status\":
        \"chargeable\",\n  \"type\": \"sepa_debit\",\n  \"usage\": \"reusable\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - create_source_from_btok_1FqJeFFk4eGpfLOCGhwgQwQS
      original-request:
      - req_Yd0PDZ0TzHebk4
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1FqJeKFk4eGpfLOChUFsMrh9
  response:
    body:
      string: "{\n  \"id\": \"src_1FqJeKFk4eGpfLOChUFsMrh9\",\n  \"object\": \"source\",\n
        \ \"amount\": 5200,\n  \"client_secret\": \"src_client_secret_GN3lj00Ja59n2XF84pTnGSZh\",\n
        \ \"created\": 1576503012,\n  \"currency\": \"eur\",\n  \"customer\": \"cus_GN3letVcTd9fGe\",\n
        \ \"flow\": \"none\",\n  \"livemode\": false,[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/tok_jp
  response:
    body:
      string: "{\n  \"id\": \"tok_1FqJeMFk4eGpfLOCcTnTC6HB\",\n  \"object\": \"token\",\n
        \ \"card\": {\n    \"id\": \"card_1FqJeMFk4eGpfLOCKRldEusc\",\n    \"object\":
        \"card\",\n    \"address_city\": null,\n    \"address_country\": null,\n    \"address_line1\":
        null,\n    \"address_line1_check\": null,\n    \"address_line2\": null,\n
        \   \"address_state\": null,\n    \"address_zip\": null,\n    \"address_zip_check\":
        null,\n    \"brand\": \"Visa\",\n    \"country\": \"JP\",\n    \"currency\":
        \"usd\",\n    \"cvc_check\": null,\n    \"dynamic_last4\": null,\n    \"exp_month\":
        12,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"4heNPBHbDWXWyXBc\",\n
        \   \"funding\": \"credit\",\n    \"last4\": \"0003\",\n    \"metadata\":
        {\n    },\n    \"name\": null,\n    \"tokenization_method\": null\n  },\n
        \ \"client_ip\": null,\n  \"created\": 1576503014,\n  \"livemode\": false,\n
        \ \"type\": \"card\",\n  \"used\": false\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: amount=3888&currency=EUR&destination=acct_1FqJeGGxJKe3V2vT&metadata[payin_transfer_id]=1330&source_transaction=ch_1FqJeNFk4eGpfLOCXG2HS1dz
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/transfers
  response:
    body:
      string: "{\n  \"id\": \"tr_1FqJeOFk4eGpfLOCxRRaQxnq\",\n  \"object\": \"transfer\",\n
        \ \"amount\": 3888,\n  \"amount_reversed\": 0,\n  \"balance_transaction\":
        \"txn_1FqJeOFk4eGpfLOCwxfNiAg4\",\n  \"created\": 1576503016,\n  \"currency\":
        \"eur\",\n  \"description\": null,\n  \"destination\": \"acct_1FqJeGGxJKe3V2vT\",\n
        \ \"destination_payment\": \"py_1FqJeOGxJKe3V2vT6mdiZqWU\",\n  \"livemode\":
        false,\n  \"metadata\": {\n    \"payin_transfer_id\": \"1330\"\n  },\n  \"reversals\":
        {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n    \"has_more\":
        false,\n    \"total_count\": 0,\n    \"url\": \"/v1/transfers/tr_1FqJeOFk4eGpfLOCxRRaQxnq/reversals\"\n
        \ },\n  \"reversed\": false,\n  \"source_transaction\": \"ch_1FqJeNFk4eGpfLOCXG2HS1dz\",\n
        \ \"source_type\": \"card\",\n  \"transfer_group\": \"group_ch_1FqJeNFk4eGpfLOCXG2HS1dz\"\n}\n"
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - payin_transfer_1330
      original-request:
      - req_xerSdu2JYYcEZb
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/btok_1FqJePFk4eGpfLOCn68PaeE9
  response:
    body:
      string: "{\n  \"id\": \"btok_1FqJePFk4eGpfLOCn68PaeE9\",\n  \"object\": \"token\",\n
        \ \"bank_account\": {\n    \"id\": \"ba_1FqJePFk4eGpfLOCMyMtRGzf\",\n    \"object\":
        \"bank_account\",\n    \"account_holder_name\": \"Jane Doe\",\n    \"account_holder_type\":
        null,\n    \"bank_name\": \"STRIPE TEST BANK\",\n    \"country\": \"FR\",\n
        \   \"currency\": \"eur\",\n    \"fingerprint\": \"T8MDJUvoericCF3x\",\n    \"last4\":
        \"2606\",\n    \"routing_number\": \"110000000\",\n    \"status\": \"new\"\n
        \ },\n  \"client_ip\": \"45.152.181.148\",\n  \"created\": 1576503017,\n  \"livemode\":
        false,\n  \"type\": \"bank_account\",\n  \"used\": false\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1FqJeQFk4eGpfLOCpFLrJb6X
  response:
    body:
      string: "{\n  \"id\": \"src_1FqJeQFk4eGpfLOCpFLrJb6X\",\n  \"object\": \"source\",\n
        \ \"amount\": null,\n  \"client_secret\": \"src_client_secret_GN3lAOeI8LUh8W7NWBTsPWS7\",\n
        \ \"created\": 1576503018,\n  \"currency\": \"eur\",\n  \"customer\": \"cus_GN3lMkZaEbHY8I\",\n
        \ \"flow\": \"none\",\n  \"livemode\": false,[...]
[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body:
      string: "{\n  \"id\": \"pm_1FqJeSFk4eGpfLOCuvWvHB5X\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"US\",\n    \"exp_month\":
        12,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
        \   \"wallet\": null\n  },\n  \"created\": 1576503020,\n  \"customer\": null,\n
        \ \"livemode\": false,\n  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
[...]
- request:
    body: amount=2500&confirm=True&currency=eur&customer=cus_GN3mAK4BsO9CXh&metadata[payin_id]=1350&payment_method=pm_1FqJeSFk4eGpfLOCuvWvHB5X&return_url=http%3A%2F%2Flocalhost%2Fdonor%2Fgiving%2Fpay%2Fstripe%2F1350&statement_descriptor=Liberapay+1350
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_intents
  response:
    body:
      string: "{\n  \"id\": \"pi_1FqJeTFk4eGpfLOCFFwXIUl1\",\n  \"object\": \"payment_intent\",\n
        \ \"amount\": 2500,\n  \"amount_capturable\": 0,\n  \"amount_received\": 2500,\n
        \ \"application\": null,\n  \"application_fee_amount\": null,\n  \"canceled_at\":
        null,\n  \"cancellation_reason\": null,\n  \"capture_method\": \"automatic\",\n
        \ \"charges\": {\n    \"object\": \"list\",\n    \"data\": [\n      {\n        \"id\":
        \"ch_1FqJeUFk4eGpfLOC7p6IfSVR\",\n        \"object\": \"charge\",\n        \"amount\":
        2500,\n        \"amount_refunded\": 0,\n        \"application\": null,\n        \"application_fee\":
        null,\n        \"application_fee_amount\": null,\n        \"balance_transaction\":
        \"txn_1FqJeUFk4eGpfLOC8qpdOQU5\",\n        \"billing_details\": {\n          \"address\":
        {\n            \"city\": n[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/balance_transactions/txn_1FqJeUFk4eGpfLOC8qpdOQU5
  response:
    body:
      string: "{\n  \"id\": \"txn_1FqJeUFk4eGpfLOC8qpdOQU5\",\n  \"object\": \"balance_transaction\",\n
        \ \"amount\": 2500,\n  \"available_on\": 1577059200,\n  \"created\": 1576503022,\n
        \ \"currency\": \"eur\",\n  \"description\": null,\n  \"exchange_rate\": null,\n
        \ \"fee\": 98,\n  \"fee_details\": [\n    {\n      \"amount\": 98,\n      \"application\":
        null,\n      \"currency\": \"eur\",\n      \"description\": \"Stripe processing
        fees\",\n      \"type\": \"stripe_fee\"\n    }\n  ],\n  \"net\": 2402,\n  \"source\":
        \"ch_1FqJeUFk4eGpfLOC7p6IfSVR\",\n  \"status\": \"pending\",\n  \"type\":
        \"charge\"\n}\n"
    headers:
      Content-Type:
      - application/json
      stripe-version:
      - '2019-08-14'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1FqJeSFk4eGpfLOCuvWvHB5X
  response:
    body:
      string: "{\n  \"id\": \"pm_1FqJeSFk4eGpfLOCuvWvHB5X\",\n  \"object\": \"payment_method\",\n
        \ \"billing_details\": {\n    \"address\": {\n      \"city\": null,\n      \"country\":
        null,\n      \"line1\": null,\n      \"line2\": null,\n      \"postal_code\":
        null,\n      \"state\": null\n    },\n    \"email\": null,\n    \"name\":
        null,\n    \"phone\": null\n  },\n  \"card\": {\n    \"brand\": \"visa\",\n
        \   \"checks\": {\n      \"address_line1_check\": null,\n      \"address_postal_code_check\":
        null,\n      \"cvc_check\": null\n    },\n    \"country\": \"US\",\n    \"exp_month\":
        12,\n    \"exp_year\": 2020,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n
        \   \"funding\": \"credit\",\n    \"generated_from\": null,\n    \"last4\":
        \"4242\",\n    \"three_d_secure_usage\": {\n      \"supported\": true\n    },\n
[...]
