interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/cards/8301774
  response:
    body: {string: !!python/unicode '{"ExpirationDate":"1234","Alias":"356999XXXXXX0132","CardType":"CB_VISA_MASTERCARD","CardProvider":"MASTERCARD","Country":"USA","Product":"   ","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"VALID","UserId":"8301771","Id":"8301774","Tag":null,"CreationDate":1440851675}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Product": "   ", "Alias": "356999XXXXXX0132", "Country": "USA", "UserId":
      "8301771", "Validity": "VALID", "Currency": "EUR", "CardType": "CB_VISA_MASTERCARD",
      "ExpirationDate": "1234", "Active": "false", "BankCode": "unknown", "CardProvider":
      "MASTERCARD"}'
    headers: {}
    method: PUT
    uri: https://api.sandbox.mangopay.com:443/v2.01/liberapay-dev/cards/8301774
  response:
    body: {string: !!python/unicode '{"ExpirationDate":"1234","Alias":"356999XXXXXX0132","CardType":"CB_VISA_MASTERCARD","CardProvider":"MASTERCARD","Country":"USA","Product":"   ","BankCode":"unknown","Active":false,"Currency":"EUR","Validity":"VALID","UserId":"8301771","Id":"8301774","Tag":null,"CreationDate":1440851675}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
