interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.sandbox.mangopay.com/v2.01/liberapay-dev/cards/20717494
  response:
    body: {string: '{"ExpirationDate":"1234","Alias":"356999XXXXXX0132","CardType":"CB_VISA_MASTERCARD","CardProvider":"MASTERCARD","Country":"USA","Product":"   ","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"VALID","UserId":"20717491","Id":"20717494","Tag":null,"CreationDate":1486643837}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"Product": "   ", "Alias": "356999XXXXXX0132", "Country": "USA", "UserId":
      "20717491", "Validity": "VALID", "Currency": "EUR", "CardType": "CB_VISA_MASTERCARD",
      "ExpirationDate": "1234", "Active": 0, "BankCode": "unknown", "CreationDate":
      1486598400, "CardProvider": "MASTERCARD"}'
    headers: {}
    method: PUT
    uri: https://api.sandbox.mangopay.com/v2.01/liberapay-dev/cards/20717494
  response:
    body: {string: '{"ExpirationDate":"1234","Alias":"356999XXXXXX0132","CardType":"CB_VISA_MASTERCARD","CardProvider":"MASTERCARD","Country":"USA","Product":"   ","BankCode":"unknown","Active":false,"Currency":"EUR","Validity":"VALID","UserId":"20717491","Id":"20717494","Tag":null,"CreationDate":1486643837}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
