interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_card_visa
  response:
    body: {string: "{\n  \"id\": \"pm_1Fs5aZFk4eGpfLOC1NdHKCLC\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 12,\n    \"exp_year\"\
        : 2020,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1576925619,\n  \"customer\": null,\n  \"livemode\": false,\n  \"metadata\"\
        : {\n  },\n  \"type\": \"card\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: payment_method=pm_1Fs5aZFk4eGpfLOC1NdHKCLC
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers
  response:
    body: {string: "{\n  \"id\": \"cus_GOtNGR443oVnQX\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1576925619,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n\
        \  \"email\": null,\n  \"invoice_prefix\": \"4163E853\",\n  \"invoice_settings\"\
        : {\n    \"custom_fields\": null,\n    \"default_payment_method\": null,\n\
        \    \"footer\": null\n  },\n  \"livemode\": false,\n  \"metadata\": {\n \
        \ },\n  \"name\": null,\n  \"phone\": null,\n  \"preferred_locales\": [\n\n\
        \  ],\n  \"shipping\": null,\n  \"sources\": {\n    \"object\": \"list\",\n\
        \    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_GOtNGR443oVnQX/sources\"\n  },\n  \"\
        subscriptions\": {\n    \"object\": \"list\",\n    \"data\": [\n\n    ],\n\
        \    \"has_more\": false,\n    \"total_count\": 0,\n    \"url\": \"/v1/customers/cus_GOtNGR443oVnQX/subscriptions\"\
        \n  },\n  \"tax_exempt\": \"none\",\n  \"tax_ids\": {\n    \"object\": \"\
        list\",\n    \"data\": [\n\n    ],\n    \"has_more\": false,\n    \"total_count\"\
        : 0,\n    \"url\": \"/v1/customers/cus_GOtNGR443oVnQX/tax_ids\"\n  },\n  \"\
        tax_info\": null,\n  \"tax_info_verification\": null\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_customer_for_participant_1000]
      original-request: [req_PIxx4hJ6HvGhAb]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: confirm=True&customer=cus_GOtNGR443oVnQX&payment_method=pm_1Fs5aZFk4eGpfLOC1NdHKCLC&metadata[route_id]=1000&return_url=http%3A%2F%2Flocalhost%2Falice%2Froutes%2F&usage=off_session
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/setup_intents
  response:
    body: {string: "{\n  \"id\": \"seti_1Fs5aaFk4eGpfLOCY4NUfsDY\",\n  \"object\"\
        : \"setup_intent\",\n  \"application\": null,\n  \"cancellation_reason\":\
        \ null,\n  \"client_secret\": \"seti_1Fs5aaFk4eGpfLOCY4NUfsDY_secret_GOtNrYZpYH43JQnZDHN9nmsBfX9ayLw\"\
        ,\n  \"created\": 1576925620,\n  \"customer\": \"cus_GOtNGR443oVnQX\",\n \
        \ \"description\": null,\n  \"last_setup_error\": null,\n  \"livemode\": false,\n\
        \  \"mandate\": null,\n  \"metadata\": {\n    \"route_id\": \"1000\"\n  },\n\
        \  \"next_action\": null,\n  \"on_behalf_of\": null,\n  \"payment_method\"\
        : \"pm_1Fs5aZFk4eGpfLOC1NdHKCLC\",\n  \"payment_method_options\": {\n    \"\
        card\": {\n      \"request_three_d_secure\": \"automatic\"\n    }\n  },\n\
        \  \"payment_method_types\": [\n    \"card\"\n  ],\n  \"single_use_mandate\"\
        : null,\n  \"status\": \"succeeded\",\n  \"usage\": \"off_session\"\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_SI_for_route_1000]
      original-request: [req_28YAJKJE50WeDr]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/payment_methods/pm_1Fs5aZFk4eGpfLOC1NdHKCLC
  response:
    body: {string: "{\n  \"id\": \"pm_1Fs5aZFk4eGpfLOC1NdHKCLC\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
        \    \"email\": null,\n    \"name\": null,\n    \"phone\": null\n  },\n  \"\
        card\": {\n    \"brand\": \"visa\",\n    \"checks\": {\n      \"address_line1_check\"\
        : null,\n      \"address_postal_code_check\": null,\n      \"cvc_check\":\
        \ null\n    },\n    \"country\": \"US\",\n    \"exp_month\": 12,\n    \"exp_year\"\
        : 2020,\n    \"fingerprint\": \"k6ycurEAdsI1uF3b\",\n    \"funding\": \"credit\"\
        ,\n    \"generated_from\": null,\n    \"last4\": \"4242\",\n    \"three_d_secure_usage\"\
        : {\n      \"supported\": true\n    },\n    \"wallet\": null\n  },\n  \"created\"\
        : 1576925619,\n  \"customer\": \"cus_GOtNGR443oVnQX\",\n  \"livemode\": false,\n\
        \  \"metadata\": {\n  },\n  \"type\": \"card\"\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: bank_account[country]=BE&bank_account[currency]=EUR&bank_account[account_number]=BE62510007547061&bank_account[account_holder_name]=Dupond+et+Dupont
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/tokens
  response:
    body: {string: "{\n  \"id\": \"btok_1Fs5abFk4eGpfLOCzJCHOyoQ\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1Fs5abFk4eGpfLOCiYMxdr51\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Dupond\
        \ et Dupont\",\n    \"account_holder_type\": null,\n    \"bank_name\": \"\
        STRIPE TEST BANK\",\n    \"country\": \"BE\",\n    \"currency\": \"eur\",\n\
        \    \"fingerprint\": \"ES232am7HgBL2ODt\",\n    \"last4\": \"7061\",\n  \
        \  \"routing_number\": \"110000000\",\n    \"status\": \"new\"\n  },\n  \"\
        client_ip\": \"185.134.23.122\",\n  \"created\": 1576925621,\n  \"livemode\"\
        : false,\n  \"type\": \"bank_account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [b75ea9cb-e8f1-478d-a80a-ab7202e91abd]
      original-request: [req_IvvXRDmx61HhIS]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/tokens/btok_1Fs5abFk4eGpfLOCzJCHOyoQ
  response:
    body: {string: "{\n  \"id\": \"btok_1Fs5abFk4eGpfLOCzJCHOyoQ\",\n  \"object\"\
        : \"token\",\n  \"bank_account\": {\n    \"id\": \"ba_1Fs5abFk4eGpfLOCiYMxdr51\"\
        ,\n    \"object\": \"bank_account\",\n    \"account_holder_name\": \"Dupond\
        \ et Dupont\",\n    \"account_holder_type\": null,\n    \"bank_name\": \"\
        STRIPE TEST BANK\",\n    \"country\": \"BE\",\n    \"currency\": \"eur\",\n\
        \    \"fingerprint\": \"ES232am7HgBL2ODt\",\n    \"last4\": \"7061\",\n  \
        \  \"routing_number\": \"110000000\",\n    \"status\": \"new\"\n  },\n  \"\
        client_ip\": \"185.134.23.122\",\n  \"created\": 1576925621,\n  \"livemode\"\
        : false,\n  \"type\": \"bank_account\",\n  \"used\": false\n}\n"}
    headers:
      Content-Type: [application/json]
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: redirect[return_url]=http%3A%2F%2Flocalhost%2Falice%2Froutes%2F&token=btok_1Fs5abFk4eGpfLOCzJCHOyoQ&type=sepa_debit&usage=reusable
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/sources
  response:
    body: {string: "{\n  \"id\": \"src_1Fs5acFk4eGpfLOCcnHqZg1g\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"client_secret\": \"src_client_secret_GOtNUoDQUWPRaHWP5abGDkJ1\"\
        ,\n  \"created\": 1576925622,\n  \"currency\": \"eur\",\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"mandate\": {\n    \"acceptance\": {\n     \
        \ \"date\": null,\n      \"ip\": null,\n      \"offline\": null,\n      \"\
        online\": null,\n      \"status\": \"pending\",\n      \"type\": null,\n \
        \     \"user_agent\": null\n    },\n    \"amount\": null,\n    \"currency\"\
        : null,\n    \"interval\": \"variable\",\n    \"notification_method\": \"\
        none\",\n    \"reference\": \"MHEMEHSTQZRHFLVK\",\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1Fs5acFk4eGpfLOCcnHqZg1g/src_client_secret_GOtNUoDQUWPRaHWP5abGDkJ1\"\
        \n  },\n  \"metadata\": {\n  },\n  \"owner\": {\n    \"address\": {\n    \
        \  \"city\": null,\n      \"country\": \"BE\",\n      \"line1\": null,\n \
        \     \"line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n\
        \    },\n    \"email\": null,\n    \"name\": \"Dupond et Dupont\",\n    \"\
        phone\": null,\n    \"verified_address\": null,\n    \"verified_email\": null,\n\
        \    \"verified_name\": null,\n    \"verified_phone\": null\n  },\n  \"sepa_debit\"\
        : {\n    \"last4\": \"7061\",\n    \"bank_code\": \"510\",\n    \"fingerprint\"\
        : \"odwo0tz8rVrYFVTe\",\n    \"country\": \"BE\",\n    \"mandate_reference\"\
        : \"MHEMEHSTQZRHFLVK\",\n    \"mandate_url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1Fs5acFk4eGpfLOCcnHqZg1g/src_client_secret_GOtNUoDQUWPRaHWP5abGDkJ1\"\
        ,\n    \"branch_code\": null\n  },\n  \"statement_descriptor\": null,\n  \"\
        status\": \"chargeable\",\n  \"type\": \"sepa_debit\",\n  \"usage\": \"reusable\"\
        \n}\n"}
    headers:
      Content-Type: [application/json]
      idempotency-key: [create_source_from_btok_1Fs5abFk4eGpfLOCzJCHOyoQ]
      original-request: [req_pWaO7QlDfCR114]
      stripe-should-retry: ['false']
      stripe-version: ['2019-08-14']
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/customers/cus_GOtNGR443oVnQX
  response:
    body: {string: "{\n  \"id\": \"cus_GOtNGR443oVnQX\",\n  \"object\": \"customer\"\
        ,\n  \"account_balance\": 0,\n  \"address\": null,\n  \"balance\": 0,\n  \"\
        created\": 1576925619,\n  \"currency\": null,\n  \"default_source\": null,\n\
        \  \"delinquent\": false,\n  \"description\": null,\n  \"discount\": null,\n\
        \  \"email\": n[...]
- request:
    body: source=src_1Fs5acFk4eGpfLOCcnHqZg1g
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/customers/cus_GOtNGR443oVnQX/sources
  response:
    body: {string: "{\n  \"id\": \"src_1Fs5acFk4eGpfLOCcnHqZg1g\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"client_secret\": \"src_client_secret_GOtNUoDQUWPRaHWP5abGDkJ1\"\
        ,\n  \"created\": 1576925622,\n  \"currency\": \"eur\",\n  \"customer\": \"\
        cus_GOtNGR443oVnQX\",\n  \"flow\": \"none\",\n  \"livemode\": false,\n  \"\
        mandate\": {\n    \"acceptance\": {\n      \"date\": null,\n      \"ip\":\
        \ null,\n      \"offline\": null,\n      \"online\": null,\n      \"status\"\
        : \"pending\",\n      \"type\": null,\n      \"user_agent\": null\n    },\n\
        \    \"amount\": null,\n    \"currency\": null,\n    \"interval\": \"variable\"\
        ,\n    \"notification_method\": \"none\",\n    \"reference\": \"MHEMEHSTQZRHFLVK\"\
        ,\n    \"url\": \"https://hooks.stripe.com/adapter/sepa_debit/file/src_1Fs5acFk4eGpfLOCcnHqZg1g/src_client_secret_GOtNUoDQUWPRaHWP5abGDkJ1\"\
        \n  },\n  \"metadata\": {\n  },\n  \"owner\": {\n [...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.stripe.com/v1/sources/src_1Fs5acFk4eGpfLOCcnHqZg1g
  response:
    body: {string: "{\n  \"id\": \"src_1Fs5acFk4eGpfLOCcnHqZg1g\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"client_secret\": \"src_client_secret_GOtNUoDQUWPRaHWP5abGDkJ1\"\
        ,\n  \"created\": 1576925622,\n  \"currency\": \"eur\",\n  \"customer\": \"\
        cus_GOtNGR443oVnQX\",\n  \"flow\": \"none\",\n  \"livemode\": false,\[...]
[...]
- request:
    body: null
    headers: {}
    method: DELETE
    uri: https://api.stripe.com/v1/customers/cus_GOtNGR443oVnQX/sources/src_1Fs5acFk4eGpfLOCcnHqZg1g
  response:
    body: {string: "{\n  \"id\": \"src_1Fs5acFk4eGpfLOCcnHqZg1g\",\n  \"object\":\
        \ \"source\",\n  \"amount\": null,\n  \"client_secret\": \"src_client_secret_GOtNUoDQUWPRaHWP5abGDkJ1\"\
        ,\n  \"created\": 1576925622,\n  \"currency\": \"eur\",\n  \"flow\": \"none\"\
        ,\n  \"livemode\": false,\n  \"mand[...]
- request:
    body: null
    headers: {}
    method: POST
    uri: https://api.stripe.com/v1/payment_methods/pm_1Fs5aZFk4eGpfLOC1NdHKCLC/detach
  response:
    body: {string: "{\n  \"id\": \"pm_1Fs5aZFk4eGpfLOC1NdHKCLC\",\n  \"object\": \"\
        payment_method\",\n  \"billing_details\": {\n    \"address\": {\n      \"\
        city\": null,\n      \"country\": null,\n      \"line1\": null,\n      \"\
        line2\": null,\n      \"postal_code\": null,\n      \"state\": null\n    },\n\
     [...]
