interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.github.com/users/Changaco/starred
  response:
    body: {string: "[{\"id\":160919119,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNjA5MTkxMTk=\"\
        ,\"name\":\"fastapi\",\"full_name\":\"tiangolo/fastapi\",\"private\":false,\"\
        owner\":{\"login\":\"tiangolo\",\"id\":1326112,\"node_id\":\"MDQ6VXNlcjEzMjYxMTI=\"\
        ,\"avatar_url\":\"https://avatars0.githubusercontent.com/u/1326112?v=4\",\"\
        gravatar_id\":\"\",\"url\":\"https://api.github.com/users/tiangolo\",\"html_url\"\
        :\"https://github.com/tiangolo\",\"followers_url\":\"https://api.github.com/users/tiangolo/followers\"\
        ,\"following_url\":\"https://api.github.com/users/tiangolo/following{/other_user}\"\
        ,\"gists_url\":\"https://api.github.com/users/tiangolo/gists{/gist_id}\",\"\
        starred_url\":\"https://api.github.com/users/tiangolo/starred{/owner}{/repo}\"\
        ,\"subscriptions_url\":\"https://api.github.com/users/tiangolo/subscriptions\"\
        ,\"organizations_url\":\"https://api.github.com/users/tiangolo/orgs\",\"repos_url\"\
        :\"https://api.github.com/users/tiangolo/repos\",\"events_url\":\"https://api.github.com/users/tiangolo/events{/privacy}\"\
        ,\"received_events_url\":\"https://api.github.com/users/tiangolo/received_events\"\
        ,\"type\":\"User\",\"site_admin\":false},\"html_url\":\"https://github.com/tiangolo/fastapi\"\
        ,\"description\":\"FastAPI framework, high performance, easy to learn, fast\
        \ to code, ready for production\",\"fork\":false,\"url\":\"https://api.github.com/repos/tiangolo/fastapi\"\
        ,\"forks_url\":\"https://api.github.com/repos/tiangolo/fastapi/forks\",\"\
        keys_url\":\"https://api.github.com/repos/tiangolo/fastapi/keys{/key_id}\"\
        ,\"collaborators_url\":\"https://api.github.com/repos/tiangolo/fastapi/collaborators{/collaborator}\"\
        ,\"teams_url\":\"https://api.github.com/repos/tiangolo/fastapi/teams\",\"\
        hooks_url\":\"https://api.github.com/repos/tiangolo/fastapi/hooks\",\"issue_events_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/issues/events{/number}\"\
        ,\"events_url\":\"https://api.github.com/repos/tiangolo/fastapi/events\",\"\
        assignees_url\":\"https://api.github.com/repos/tiangolo/fastapi/assignees{/user}\"\
        ,\"branches_url\":\"https://api.github.com/repos/tiangolo/fastapi/branches{/branch}\"\
        ,\"tags_url\":\"https://api.github.com/repos/tiangolo/fastapi/tags\",\"blobs_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/git/blobs{/sha}\",\"git_tags_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/git/tags{/sha}\",\"git_refs_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/git/refs{/sha}\",\"trees_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/git/trees{/sha}\",\"statuses_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/statuses/{sha}\",\"languages_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/languages\",\"stargazers_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/stargazers\",\"contributors_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/contributors\",\"subscribers_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/subscribers\",\"subscription_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/subscription\",\"commits_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/commits{/sha}\",\"git_commits_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/git/commits{/sha}\",\"comments_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/comments{/number}\",\"issue_comment_url\"\
        :\"https://api.github.com/repos/tiangolo/fastapi/issues/comments{/number}\"\
        ,\"contents_url\":\"https://api.github.com/repos/tiangolo/fastapi/contents/{+path}\"\
        ,\"compare_url\":\"https://api.github.com/repos/tiangolo/fastapi/compare/{base}...{head}\"\
        ,\"merges_url\":\"https://api.github.com/repos/tiangolo/fastapi/merges\",\"\
        archive_url\":\"https://api.github.com/repos/tiangolo/fastapi/{archive_format}{/ref}\"\
        ,\"downloads_url\":\"https://api.github.com/repos/tiangolo/fastapi/downloads\"\
        ,\"issues_url\":\"https://api.github.com/repos/tiangolo/fastapi/issues{/number}\"\
        ,\"pulls_url\":\"https://api.github.com/repos/tiangolo/fastapi/pulls{/number}\"\
        ,\"milestones_url\":\"https://api.github.com/repos/tiangolo/fastapi/milestones{/number}\"\
        ,\"notifications_url\":\"https://api.github.com/repos/tiangolo/fastapi/notifications{?since,all,participating}\"\
        ,\"labels_url\":\"https://api.github.com/repos/tiangolo/fastapi/labels{/name}\"\
        ,\"releases_url\":\"https://api.github.com/repos/tiangolo/fastapi/releases{/id}\"\
        ,\"deployments_url\":\"https://api.github.com/repos/tiangolo/fastapi/deployments\"\
        ,\"created_at\":\"2018-12-08T08:21:47Z\",\"updated_at\":\"2019-11-02T07:58:08Z\"\
        ,\"pushed_at\":\"2019-10-30T16:41:35Z\",\"git_url\":\"git://github.com/tiangolo/fastapi.git\"\
        ,\"ssh_url\":\"git@github.com:tiangolo/fastapi.git\",\"clone_url\":\"https://github.com/tiangolo/fastapi.git\"\
        ,\"svn_url\":\"https://github.com/tiangolo/fastapi\",\"homepage\":\"https://fastapi.tiangolo.com/\"\
        ,\"size\":5974,\"stargazers_count\":5412,\"watchers_count\":5412,\"language\"\
        :\"Python\",\"has_issues\":true,\"has_projects\":true,\"has_downloads\":true,\"\
        has_wiki\":true,\"has_pages\":false,\"forks_count\":292,\"mirror_url\":null,\"\
        archived\":false,\"disabled\":false,\"open_issues_count\":184,\"license\"\
        :{\"key\":\"mit\",\"name\":\"MIT License\",\"spdx_id\":\"MIT\",\"url\":\"\
        https://api.github.com/licenses/mit\",\"node_id\":\"MDc6TGljZW5zZTEz\"},\"\
        forks\":292,\"open_issues\":184,\"watchers\":5412,\"default_branch\":\"master\"\
        ,\"permissions\":{\"admin\":false,\"push\":false,\"pull\":true}},{\"id\":60427361,\"\
        node_id\":\"MDEwOlJlcG9zaXRvcnk2MDQyNzM2MQ==\",\"name\":\"citybound\",\"full_name\"\
        :\"citybound/citybound\",\"private\":false,\"owner\":{\"login\":\"citybound\"\
        ,\"id\":15174518,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjE1MTc0NTE4\",\"avatar_url\"\
        :\"https://avatars3.githubusercontent.com/u/15174518?v=4\",\"gravatar_id\"\
        :\"\",\"url\":\"https://api.github.com/users/citybound\",\"html_url\":\"https://github.com/citybound\"\
        ,\"followers_url\":\"https://api.github.com/users/citybound/followers\",\"\
        following_url\":\"https://api.github.com/users/citybound/following{/other_user}\"\
        ,\"gists_url\":\"https://api.github.com/users/citybound/gists{/gist_id}\"\
        ,\"starred_url\":\"https://api.github.com/users/citybound/starred{/owner}{/repo}\"\
        ,\"subscriptions_url\":\"https://api.github.com/users/citybound/subscriptions\"\
        ,\"organizations_url\":\"https://api.github.com/users/citybound/orgs\",\"\
        repos_url\":\"https://api.github.com/users/citybound/repos\",\"events_url\"\
        :\"https://api.github.com/users/citybound/events{/privacy}\",\"received_events_url\"\
        :\"https://api.github.com/users/citybound/received_events\",\"type\":\"Organization\"\
        ,\"site_admin\":false},\"html_url\":\"https://github.com/citybound/citybound\"\
        ,\"description\":\"A work-in-progress, open-source, multi-player city simulation\
        \ game.\",\"fork\":false,\"url\":\"https://api.github.com/repos/citybound/citybound\"\
        ,\"forks_url\":\"https://api.github.com/repos/citybound/citybound/forks\"\
        ,\"keys_url\":\"https://api.github.com/repos/citybound/citybound/keys{/key_id}\"\
        ,\"collaborators_url\":\"https://api.github.com/repos/citybound/citybound/collaborators{/collaborator}\"\
        ,\"teams_url\":\"https://api.github.com/repos/citybound/citybound/teams\"\
        ,\"hooks_url\":\"https://api.github.com/repos/citybound/citybound/hooks\"\
        ,\"issue_events_url\":\"https://api.github.com/repos/citybound/citybound/issues/events{/number}\"\
        ,\"events_url\":\"https://api.github.com/repos/citybound/citybound/events\"\
        ,\"assignees_url\":\"https://api.github.com/repos/citybound/citybound/assignees{/user}\"\
        ,\"branches_url\":\"https://api.github.com/repos/citybound/citybound/branches{/branch}\"\
        ,\"tags_url\":\"https://api.github.com/repos/citybound/citybound/tags\",\"\
        blobs_url\":\"https://api.github.com/repos/citybound/citybound/git/blobs{/sha}\"\
        ,\"git_tags_url\":\"https://api.github.com/repos/citybound/citybound/git/tags{/sha}\"\
        ,\"git_refs_url\":\"https://api.github.com/repos/citybound/citybound/git/refs{/sha}\"\
        ,\"trees_url\":\"https://api.github.com/repos/citybound/citybound/git/trees{/sha}\"\
        ,\"statuses_url\":\"https://api.github.com/repos/citybound/citybound/statuses/{sha}\"\
        ,\"languages_url\":\"https://api.github.com/repos/citybound/citybound/languages\"\
        ,\"stargazers_url\":\"https://api.github.com/repos/citybound/citybound/stargazers\"\
        ,\"contributors_url\":\"https://api.github.com/repos/citybound/citybound/contributors\"\
        ,\"subscribers_url\":\"https://api.github.com/repos/citybound/citybound/subscribers\"\
        ,\"subscription_url\":\"https://api.github.com/repos/citybound/citybound/subscription\"\
        ,\"commits_url\":\"https://api.github.com/repos/citybound/citybound/commits{/sha}\"\
        ,\"git_commits_url\":\"https://api.github.com/repos/citybound/citybound/git/commits{/sha}\"\
        ,\"comments_url\":\"https://api.github.com/repos/citybound/citybound/comments{/number}\"\
        ,\"issue_comment_url\":\"https://api.github.com/repos/citybound/citybound/issues/comments{/number}\"\
        ,\"contents_url\":\"https://api.github.com/repos/citybound/citybound/contents/{+path}\"\
        ,\"compare_url\":\"https://api.github.com/repos/citybound/citybound/compare/{base}...{head}\"\
        ,\"merges_url\":\"https://api.github.com/repos/citybound/citybound/merges\"\
        ,\"archive_url\":\"https://api.github.com/repos/citybound/citybound/{archive_format}{/ref}\"\
        ,\"downloads_url\":\"https://api.github.com/repos/citybound/citybound/downloads\"\
        ,\"issues_url\":\"https://api.github.com/repos/citybound/citybound/issues{/number}\"\
        ,\"pulls_url\":\"https://api.github.com/repos/citybound/citybound/pulls{/number}\"\
        ,\"milestones_url\":\"https://api.github.com/repos/citybound/citybound/milestones{/number}\"\
        ,\"notifications_url\":\"https://api[...]
