env/
*.egg-info/
*~
*.pyc
local.env
tests/local.env
*.egg-info/
.cache
.coverage
.deps
node_modules/
.tox/
htmlcov/
tests/py/fixtures/TestTranslations.yml
.idea/
payday-*.txt*
payday.pid
.sentry-token

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
