env/
gittip.egg-info/
*~
*.pyc
local.env
tests/env
*.idea/
*.egg-info/
nosetests.xml
.coverage
.noseids
.deps
.sass-cache/
gittip.css
.vagrant
node_modules/
.DS_Store
docs/_build
docs/gittip
docs/gittip.rst
