env/
gratipay.egg-info/
*~
*.pyc
local.env
tests/env
*.idea/
*.egg-info/
nosetests.xml
.cache
.coverage
.noseids
.deps
.sass-cache/
.vagrant
node_modules/
.DS_Store
docs/_build
docs/gratipay
docs/gratipay.rst
_vimrc_local.vim
.transifexrc
npm-debug.log
phantomjsdriver.log
