./vendor/aspen-0.18.26.tar.bz2
./vendor/psycopg2-2.4.5.tar.gz
./vendor/simplejson-2.3.2.tar.gz
./vendor/certifi-0.0.8.tar.gz
./vendor/pyasn1-0.1.3.tar.gz
./vendor/rsa-3.0.1.zip
./vendor/chardet-1.0.1.tar.gz
./vendor/oauthlib-0.1.3.tar.gz
./vendor/requests-0.12.1.tar.gz
./vendor/balanced-0.8.15.tar.gz
./
