
python-mimeparse==0.1.4
first==2.0.1
dependency_injection==1.1.0
algorithm==1.0.0
filesystem_tree==1.0.0
aspen==0.42

gunicorn==19.4.5

MarkupSafe==0.23
Jinja2==2.7.3
aspen-jinja2==0.4

psycopg2==2.6.1
postgres==2.2.1

simplejson==3.8.1

certifi==0.0.8
pyasn1==0.1.3
chardet==1.0.1
oauthlib==0.7.2
requests==2.6.0
requests-oauthlib==0.4.2
xmltodict==0.8.4

lockfile==0.10.2
mangopaysdk==1.8

raven==3.1.4

six==1.8.0
libsass==0.3.0

environment==1.0.0

docopt==0.4.0
mandrill==1.0.53

pytz==2014.7
Babel==1.3

misaka==1.0.2

statistics==1.0.3.5
