
./vendor/py-1.4.26.tar.gz
./vendor/pytest-2.6.4.tar.gz

./vendor/coverage-3.7.1.tar.gz
./vendor/cov-core-1.15.0.tar.gz
./vendor/pytest-cov-1.8.1.tar.gz

./vendor/pytest-cache-1.0.tar.gz
./vendor/pyflakes-0.8.1.tar.gz
./vendor/mock-1.0.1.tar.gz

./vendor/PyYAML-3.11.tar.gz
./vendor/contextlib2-0.4.0.tar.gz
./vendor/wrapt-1.10.2.tar.gz
./vendor/vcrpy-1.1.3.tar.gz
