// About font formats: http://graphicdesign.stackexchange.com/a/63883

/* Ubuntu - adapted from https://github.com/earaujoassis/ubuntu-fontface */

$UbuntuFontsPath: "./fonts" !default;

/* BEGIN Ubuntu Light */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light'),
         url('#{$UbuntuFontsPath}/ubuntu-light-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-light-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-light-webfont.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}
/* END Ubuntu Light */

/* BEGIN Ubuntu Light Italic */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light Italic'),
         url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-light-italic-webfont.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}
/* END Ubuntu Light Italic */

/* BEGIN Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
/* END Ubuntu Regular */

/* BEGIN Ubuntu Regular Italic */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Italic'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-regular-italic-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
/* END Ubuntu Regular Italic */

/* BEGIN Ubuntu Medium */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-webfont.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}
/* END Ubuntu Medium */

/* BEGIN Ubuntu Medium Italic */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium Italic'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-medium-italic-webfont.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}
/* END Ubuntu Medium Italic */

/* BEGIN Ubuntu Bold */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold'),
         url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-bold-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
/* END Ubuntu Bold */

/* BEGIN Ubuntu Bold Italic */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold Italic'),
         url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntu-bold-italic-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}
/* END Ubuntu Bold Italic */

/* BEGIN Ubuntu Mono Regular */
@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono'),
         url('#{$UbuntuFontsPath}/ubuntumono-regular-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntumono-regular-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntumono-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
/* END Ubuntu Mono Regular */

/* BEGIN Ubuntu Mono Italic */
@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Italic'),
         url('#{$UbuntuFontsPath}/ubuntumono-regular-italic-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntumono-regular-italic-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntumono-regular-italic-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
/* END Ubuntu Mono Italic */

/* BEGIN Ubuntu Mono Bold */
@font-face {
    font-family: 'Ubuntu Mono';
    src: local('Ubuntu Mono Bold'),
         url('#{$UbuntuFontsPath}/ubuntumono-bold-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntumono-bold-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntumono-bold-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
/* END Ubuntu Mono Bold */

/* BEGIN Ubuntu Mono Bold Italic */
@font-face {
    font-family: 'Ubuntu Mono Bold Italic';
    src: local('Ubuntu'),
         url('#{$UbuntuFontsPath}/ubuntumono-bold-italic-webfont.woff2') format('woff2'),
         url('#{$UbuntuFontsPath}/ubuntumono-bold-italic-webfont.woff') format('woff'),
         url('#{$UbuntuFontsPath}/ubuntumono-bold-italic-webfont.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;

}
/* END Ubuntu Mono Bold Italic */
