"""Show information about a single participant.

There is an implicit participant for every account on the social networks. When
someone claims a social network account on Gittip, the underlying participant
is upgraded to an explicit participant. Participant accounts can be folded into
other participant accounts. All of the social network profiles associated with
the old participant are re-associated with the new participant, and the old
participant is pruned. All the money attached to the old social network
profiles is rolled over to the new participant.

"""
import requests
from aspen import json, Response
from gittip import AMOUNTS, db, get_tip, get_tips_and_total, get_tipjar
from gittip.utils import wrap
from gittip.networks import github


tip_suggestions = ('jeresig', 'antirez', 'wycats', 'fabpot', 'mitsuhiko', 
                   'jtauber', 'kennethreitz', 'alex', 'taylorotwell')
tip_suggestions = [{'tippee': name, 'amount': 0} for name in tip_suggestions]

# ========================================================================== ^L

SELECT = """

    SELECT p.*
         , s.network
         , s.user_info
      FROM participants p 
      JOIN social_network_users s 
        ON p.id = s.participant_id 
     WHERE p.id = %s

"""
participant = db.fetchone(SELECT, (path['participant_id'],))
if participant is None:
    raise Response(404)
username = participant['id']
if participant['claimed_time'] is None:

    # This is a hack to make writing links easier in other parts of the app. We
    # can get away with this since we're only on GitHub for now. We should have
    # an URL constructor helper instead of depending on this. XXX

    login = participant['user_info'].get('login')
    if login is None:
        raise Response(404)
    request.redirect('/github/%s/' % login)

if not user.ANON:
    if user.id == username:
        tips, total = get_tips_and_total(user.id)
        if total == 0:
            tips = tip_suggestions
    else:
        my_tip = get_tip(user.id, participant['id'])

name = participant['user_info'].get('name', username)
github_user_info = participant['user_info']
can_tip = True
tipjar = get_tipjar(user.id, pronoun="your", claimed=True)
tip_or_pledge = "tip"

# ========================================================================== ^L
{% extends templates/participant.html %}
{% block their_voice %}
    <style>
        #matrix TR.not-over BUTTON.empty {
            background: transparent;
            color: #F2F0EF;
        }
        #matrix TD {
            text-align: left;
        }
        FORM.statement TEXTAREA {
            width: 98%;
            height: 126pt; /* 18pt * 7 rows; overriden in js */
            padding: 1%
        }
        FORM.statement BUTTON {
            float: right;
            margin-left: 0.5em;
        }
        .old-amount-link {
            font-size: 9pt;
            display: none;
            position: relative;
            top: 2pt;
            line-height: 9pt;
        }
    </style>
    <script>
        $(document).ready(function()
        {

            // Wire up buttons.
            // ================

            Gittip.initTipButtons();

            function rowIn()
            {
                $(this).addClass('over');
                $(this).removeClass('not-over');
            }
            function rowOut()
            {
                $(this).removeClass('over');
                $(this).addClass('not-over');
            }
            $('#matrix TR').hover(rowIn, rowOut);

            function oldIn() { $('.old-amount-link', this).show(); }
            function oldOut() { $('.old-amount-link', this).hide(); }
            $('.old-amount').hover(oldIn, oldOut);


            // Wire up textarea for statement.
            // ===============================

            $('TEXTAREA').focus();
            $('BLOCKQUOTE.statement BUTTON').click(function()
            {
                var h = $('BLOCKQUOTE.statement').height() - 64;
                h = Math.max(h, 128);
                $('BLOCKQUOTE.statement').hide();
                $('FORM.statement TEXTAREA').height(h);
                $('FORM.statement').show();
            });
            $('FORM.statement').submit(function(e)
            {
                e.preventDefault();

                $('#save').text('Saving ...');

                function success(d)
                {
                    $('FORM.statement').hide();
                    $('BLOCKQUOTE.statement SPAN').html(d.statement);
                    $('BLOCKQUOTE.statement').show();
                    $('#save').text('Save');
                }
                jQuery.ajax(
                    { url: "statement.json"
                    , type: "POST"
                    , success: success
                    , data: {"statement": $('TEXTAREA').val()}
                     }
                )
                return false;
            });
            $('#cancel').click(function()
            {
                $('FORM.statement').hide();
                $('BLOCKQUOTE.statement').show();
            });


            // Wire up aggregate giving knob.
            // ==============================

            $('.shares-giving').click(function()
            {
                jQuery.ajax(
                    { url: 'shares-giving.json'
                    , type: 'POST'
                    , dataType: 'json'
                    , success: function(data)
                    {
                        $('INPUT.shares-giving').attr('checked', data.shares_giving);
                    }
                    , error: function() {
                            alert( "Failed to change your giving sharing "
                                 + "preference. Try again?"
                                  );
                        }
                     }
                );
            });
        });
    </script>

{% if not user.ANON and user.id == participant['id'] %}
    <h2 class="first">You are <b>{{ user.id }}</b>.
        <span class="small"><a href="/sign-out.html">Sign out</a></span>
    </h2>
    <form class="statement"
        {% if participant['statement'] %}style="display: none;"{% end %}>
        <blockquote>
            I am making the world better by ...
            <textarea>{{ participant['statement'] }}</textarea>
            <span class="help">Newlines and links are converted to HTML.</span>
            <button id="save" type="Submit" class="selected">Save</button>
            <button id="cancel">Cancel</button>
        </blockquote>
    </form>

    <blockquote id="my-statement" class="statement" 
        {% if not participant['statement'] %}style="display: none"{% end %}>
        I am making the world better by <span>
            {{ wrap(participant['statement']) }}</span><br />
        <button class="small selected">Edit</button>
    </blockquote>


    <h2>You tip <span id="total">${{ total }}</span> per week.
        <span class="small{% if not user.last_bill_result == "" %} highlight{% end %}"><a 
        href="/credit-card.html">Credit card</a></span>
    </h2>

    <p>
        <input name="shares-giving" class="shares-giving" type="checkbox" 
            {% if participant['shares_giving'] %}checked="true"{% end %} /> 
        <label for="shares-giving" class="shares-giving">Share aggregate giving</label>
    </p>

    {% if total == 0 %}

    <p>Here are some great programmers that you might consider tipping.<br />
    <span class="help">Each has agreed to be listed here.</span></p>

    {% end %}
    <table id="matrix">
        {% for tip in tips %}
        {% if tip['amount'] > 0 or total == 0 %}
        <tr class="not-over">
            <th><a href="/{{ tip['tippee'] }}/">{{ tip['tippee'] }}</a></th>
            <td>
                {% for amount in AMOUNTS %}
                <button amount="{{ amount }}" tippee="{{ tip['tippee'] }}"
                    class="tip small {{ 'selected' if amount == tip['amount'] else 'empty' }}">{{ amount }}</button>
                {% end %}
                {% if tip['amount'] not in AMOUNTS %}
                <span class="old-amount">
                    <button class="tip small disabled selected">{{ tip['amount'] }}</button>
                    <span class="old-amount-link">&mdash;
                    <a href="https://github.com/whit537/www.gittip.com/issues/95" target="_blank">old amount</a>!</span>
                </span>
                {% end %}
            </td>
        </tr>
        {% end %}
        {% end %}
    </table>

    <h2>Your balance is ${{ user.balance }}.</h2>

    {% if user.balance > 0 %}

    <p>Release early! Release often! Automated withdrawals have not been
    implemented yet. To arrange for a check or PayPal withdrawal, email <a
        href="mailto:chad@zetaweb.com">chad@zetaweb.com</a> or call
    +1-412-925-4220. If you can program, you&rsquo;re welcome to <a
        href="https://github.com/whit537/www.gittip.com/issues/22">help
        implement automated withdrawals</a>.</p>

    {% end %}

    <h3>You {{ tipjar }}</h3>

    {% if tipjar == "have no backed tips." %} 

    <p>How can you convince people to tip you? <b>Make the world a better
    place!</b></p>

    {% else %}

    <p>Backed tips are tips from people who have a credit card on file that
    worked last week. You may receive less this Friday if someone's credit card
    fails this week, and you may receive more if someone without a working card
    has received money from someone <i>else</i> on Gittip that they want to
    pass on to you.</p>

    {% end %}

{% else %}
    <h2 class="first"><b>{{ participant['id'] }}</b> {{ get_tipjar(participant['id'], claimed=True) }}</h2>

    {% if participant['statement'] %}
    <blockquote class="statement">I am making the world better by
    {{ wrap(participant['statement']) }}</blockquote>
    {% end %}

    <h3>Linked Accounts</h3>
    <ul id="accounts">
        <li>
        <img src="{{ github_user_info.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" /> 
            {{ username }} {% if name %}({{ name }})<br />{% end %}
            <a href="{{ github_user_info.get('html_url', '') }}">
                {{ github_user_info.get('html_url', '') }}
            </a>
        </li>
    </ul>

{% end %}

{% end %}
