"""Show information about a single participant.
"""
import locale

import requests
from aspen import json, Response
from aspen.utils import to_age
from gittip import AMOUNTS
from gittip.models import Participant
from gittip.utils import get_participant, wrap

tip_suggestions = ('jeresig', 'antirez', 'wycats', 'fabpot', 'mitsuhiko',
                   'jtauber', 'kennethreitz', 'alex', 'taylorotwell')
tip_suggestions = [{'tippee': name, 'amount': 0} for name in tip_suggestions]

MAKING = "I am making the world better by"

def _clip(text, n):
    text = text.replace('\n', ' ')
    if len(text) > n:
        text = text[:(n - 4)] + '...'
    return text

# ========================================================================== ^L

participant = get_participant(request)


# Load money info.
# ================

backed_amount = participant.get_dollars_receiving()

if not user.ANON:
    if user.id == participant.id or user.ADMIN:
        giving_chart, npatrons, contributed = \
                                           participant.get_chart_of_receiving()
    if user.id == participant.id:
        tips, total, unclaimed_tips, unclaimed_total = \
                                                  user.get_giving_for_profile()
        if total == 0:
            tips = tip_suggestions
        assert backed_amount == contributed, (backed_amount, contributed)
    else:
        my_tip = user.get_tip_to(participant.id)


# Set a few more things.
# ======================

can_tip = True
tip_or_pledge = "tip"
title = participant.id      # used in <title>
username = participant.id   # used in footer shared with on/$platform/ pages
github_account, twitter_account = participant.get_accounts_elsewhere()

# ========================================================================== ^L
{% extends templates/participant.html %}
{% block head %}
    <meta name="twitter:card" content="summary" />
    <meta name="og:url" content="https://www.gittip.com/{{ username }}/" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="{{ participant.get_og_title() }}" />
    <meta name="og:description" content="{{ _clip(MAKING + " " + participant.statement, 200) }}" />
    <meta name="og:image" content="https://www.gittip.com/assets/gittip.opengraph.png" />
{% end %}
{% block heading %}
<h2 class="top"><span>Profile</span></h2>
{% end %}
{% block page %}

    <style>
        /** This is blatantly copied from stats.html. We should really fix
            that somehow. **/
        .dollar-sign {
            padding: 0 2pt 0 24pt;
            text-align: right;
        }
        .amount {
            padding: 0 6pt 0 0;
            text-align: right;
        }
        .amount-change {
            padding: 6pt 0 6pt 24pt;
            text-align: left;
        }
        .count {
            text-align: left;
            white-space: nowrap;
        }
        .count SPAN.number {
            font-size: 8pt;
        }
        .count SPAN.bar {
            background: #B2A196;
            display: inline-block;
            margin-right: 3pt;
            height: 9pt;
        }
        FORM.statement TEXTAREA {
            width: 98%;
            height: 126pt; /* 18pt * 7 rows; overriden in js */
            padding: 1%
        }
        FORM BUTTON {
            float: right;
            margin-left: 0.5em;
        }
        SPAN.participant_id {
            display: none;
        }
        SPAN.participant_id FORM {
            display: inline;
        }
        SPAN.participant_id FORM BUTTON {
            float: none;
            margin-left: 0;
        }
        SPAN.participant_id INPUT {
            width: 6em;
            font-weight: 900;
        }
        FORM.goal {
            display: none;
        }
        FORM.goal TD {
            text-align: left;
        }
        FORM.goal TD.buttons {
            padding-top: 6pt;
        }
        #goal-custom {
            text-align: right;
            width: 6pc;
        }
        LI {
            margin-bottom: 1em;
        }
        .count SPAN.bar.green {
            background: #2A8F79;
        }
        #their-voice.is-suspicious {
            background: #FFE2DE;
        }
        .editing #username_edit_warning {
            margin-top: 1em;
            display: block;
            color: red;
        }
        #username_edit_warning {
            display: none;
        }

    </style>
    <script>
        $(document).ready(function()
        {

            // Wire up textarea for statement.
            // ===============================

            $('TEXTAREA').focus();
            $('BLOCKQUOTE.statement BUTTON').click(function()
            {
                var h = $('BLOCKQUOTE.statement').height() - 64;
                h = Math.max(h, 128);
                $('BLOCKQUOTE.statement').hide();
                $('FORM.statement TEXTAREA').height(h);
                $('FORM.statement').show();
            });
            $('FORM.statement').submit(function(e)
            {
                e.preventDefault();

                $('#save-statement').text('Saving ...');

                function success(d)
                {
                    $('FORM.statement').hide();
                    $('BLOCKQUOTE.statement SPAN').html(d.statement);
                    $('BLOCKQUOTE.statement').show();
                    $('#save-statement').text('Save');
                }
                jQuery.ajax(
                    { url: "statement.json"
                    , type: "POST"
                    , success: success
                    , data: {"statement": $('TEXTAREA').val()}
                     }
                )
                return false;
            });
            $('#cancel-statement').click(function(e)
            {
                e.preventDefault();
                e.stopPropagation();
                $('FORM.statement').hide();
                $('BLOCKQUOTE.statement').show();
                return false;
            });


            // Wire up goal knob.
            // ==================

            $('BLOCKQUOTE.goal BUTTON').click(function()
            {
                $('BLOCKQUOTE.goal').hide();
                $('FORM.goal').show();
            });
            $('FORM.goal').submit(function(e)
            {
                e.preventDefault();

                $('#save-goal').text('Saving ...');

                var goal = $('INPUT[name=goal]:checked');

                function success(d)
                {
                    var newtext = $('LABEL[for=' + goal.attr('id') + ']').text();
                    newtext = newtext.replace('$', '$' + d.goal);

                    $('FORM.goal').hide();
                    if (d.goal !== '0.00')
                        $('INPUT[name=goal_custom]').val(d.goal);
                    $('BLOCKQUOTE.goal DIV').html(newtext);
                    $('BLOCKQUOTE.goal').show();
                    $('#save-goal').text('Save');
                }
                jQuery.ajax(
                    { url: "goal.json"
                    , type: "POST"
                    , success: success
                    , dataType: 'json'
                    , data: { goal: goal.val()
                            , goal_custom: $('[name=goal_custom]').val()
                             }
                    , success: success
                    , error: function() {
                            $('#save-goal').text('Save');
                            alert( "Failed to change your funding goal. "
                                 + "Please try again."
                                  );
                        }
                     }
                );
                return false;
            });
            $('#cancel-goal').click(function(e)
            {
                e.preventDefault();
                e.stopPropagation();
                $('FORM.goal').hide();
                $('BLOCKQUOTE.goal').show();
                return false;
            });


            // Wire up participant_id knob.
            // ============================

            $('H2 BUTTON').click(function()
            {
                $('B.participant_id').hide();
                $('#edit-participant_id').hide();
                $('SPAN.participant_id').show();
                $('SPAN.participant_id INPUT').focus();
                $('H2.first').addClass('editing');
            });
            $('SPAN.participant_id FORM').submit(function(e)
            {
                e.preventDefault();

                $('#save-participant_id').text('Saving ...');

                var participant_id = $('INPUT[name=participant_id]').val();

                function success(d)
                {
                    window.location.href = "/" + encodeURIComponent(d.participant_id) + "/";
                }
                function error(e)
                {
                    $('#save-participant_id').text('Save');
                    if (e.status === 409)
                    {
                        alert("Sorry, that username is already taken.");
                    }
                    else if (e.status === 413)
                    {
                        alert( "Sorry, that username is too long (it can only "
                             + "have 32 characters).");
                    }
                    else
                    {
                        alert( "Sorry, something went wrong. Either you used "
                             + "disallowed characters or something broke on "
                             + "our end.");
                    }
                }
                jQuery.ajax(
                    { url: "participant_id.json"
                    , type: "POST"
                    , success: success
                    , dataType: 'json'
                    , data: { participant_id: participant_id }
                    , success: success
                    , error: error
                     }
                );
                return false;
            });
            $('#cancel-participant_id').click(function(e)
            {
                e.preventDefault();
                e.stopPropagation();
                finish_editing_participant_id();
                return false;
            });
            function finish_editing_participant_id()
            {
                $('SPAN.participant_id').hide();
                $('B.participant_id').show();
                $('#edit-participant_id').show();
                $('H2.first').removeClass('editing');
            }


            // Wire up aggregate giving knob.
            // ==============================

            $('.anonymous').click(function()
            {
                jQuery.ajax(
                    { url: 'anonymous.json'
                    , type: 'POST'
                    , dataType: 'json'
                    , success: function(data)
                    {
                        $('INPUT.anonymous').attr('checked', data.anonymous);
                    }
                    , error: function() {
                            alert( "Failed to change your anonymity "
                                 + "preference. Please try again."
                                  );
                        }
                     }
                );
            });

            {% if user.ADMIN %}
            // Wire up is_suspicious toggle.
            // =============================

            $('.is-suspicious-knob').click(function()
            {
                jQuery.ajax(
                    { url: 'toggle-is-suspicious.json'
                    , type: 'POST'
                    , dataType: 'json'
                    , success: function(data)
                    {
                        if (data.is_suspicious)
                            $("#their-voice").addClass('is-suspicious');
                        else
                            $("#their-voice").removeClass('is-suspicious');
                        $('INPUT.is-suspicious-knob').attr( 'checked'
                                                          , data.is_suspicious
                                                           );
                    }
                    , error: function() {
                            alert( "Failed to change is_suspicious. Please "
                                 + "try again."
                                  );
                        }
                     }
                );
            });
            {% end %}
        });
    </script>

    {% if participant.id == 'aaronsw' %}
    <style>
        .rip {
            text-align: center;
            font-size: larger;
            margin: 3em 0;
        }
    </style>
    <div class="rip">
        <a href="http://news.ycombinator.com/item?id=5046845">RIP</a> :`(
    </div>
    <!--

    After following Aaron's career for a decade, I interacted with him for the
    first time three days before he committed suicide:

        https://twitter.com/aaronsw/status/288664016723791873

    :`(

    -->
    {% end %}

{% if not user.ANON and user.id == participant.id %}
    {% include "templates/profile-edit.html" %}
{% else %}

<div class="col1">
    <h2>Contribution</h2>
    {% if participant.statement %}
    <blockquote class="statement">{{ MAKING }}
    {{ wrap(participant.statement) }}</blockquote>

    <h3>Funding Goal</h3>
    {% end %}

    <blockquote class="goal">
        {% if participant.goal is None %}
        I&rsquo;m grateful for tips, but I don&rsquo;t have a specific funding goal.
        {% elif participant.goal == 0 %}
        I&rsquo;m not here to receive tips. I&rsquo;ll generally regift them.
        {% else %}
        My goal is to receive ${{ locale.format("%.2f", participant.goal, grouping=True) }} per week on Gittip.
        {% end %}
    </blockquote>

    {% if user.ADMIN %}
    <h3>{{ participant.id }} joined {{ to_age(participant.claimed_time) }}.
        <span class="small"><a href="history.html">History</a></span>
    </h3>

    {% include "templates/tip-distribution.html" %}

    {% end %}

    {% include "templates/connected-accounts.html" %}
</div>
{% end %}

<div class="clear"></div>

{% if user.ADMIN %}
<p style="text-align: right">
    <input name="is_suspicious" class="is-suspicious-knob" type="checkbox"
        {% if participant.is_suspicious %}checked="true"{% end %} />
    <label for="is_suspicious" class="is-suspicious-knob">Suspicious</label>
</p>
{% end %}

{% end %}
