"""Show information about a single participant.

There is an implicit participant for every account on the social networks. When
someone claims a social network account on Gittip, the underlying participant
is upgraded to an explicit participant. Participant accounts can be folded into
other participant accounts. All of the social network profiles associated with
the old participant are re-associated with the new participant, and the old
participant is pruned. All the money attached to the old social network
profiles is rolled over to the new participant.

"""
import locale

import requests
from aspen import json, Response
from gittip import AMOUNTS, db, get_tip, get_tips_and_total, get_backed_amount
from gittip.utils import wrap, dt2age
from gittip.networks import github


tip_suggestions = ('jeresig', 'antirez', 'wycats', 'fabpot', 'mitsuhiko', 
                   'jtauber', 'kennethreitz', 'alex', 'taylorotwell')
tip_suggestions = [{'tippee': name, 'amount': 0} for name in tip_suggestions]

# ========================================================================== ^L

SELECT = """

    SELECT p.*
         , s.network
         , s.user_info
      FROM participants p 
      JOIN social_network_users s 
        ON p.id = s.participant_id 
     WHERE p.id = %s

"""
participant = db.fetchone(SELECT, (path['participant_id'],))
if participant is None:
    raise Response(404)
username = participant['id']
if participant['claimed_time'] is None:

    # This is a hack to make writing links easier in other parts of the app. We
    # can get away with this since we're only on GitHub for now. We should have
    # an URL constructor helper instead of depending on this. XXX

    login = participant['user_info'].get('login')
    if login is None:
        raise Response(404)
    request.redirect('/github/%s/' % login)

if not user.ANON:
    if user.id == username:
        tips, total = get_tips_and_total(user.id)
        if total == 0:
            tips = tip_suggestions
    else:
        my_tip = get_tip(user.id, participant['id'])

name = participant['user_info'].get('name', username)
github_user_info = participant['user_info']
can_tip = True
backed_amount = get_backed_amount(participant['id'])
tip_or_pledge = "tip"

# ========================================================================== ^L
{% extends templates/participant.html %}
{% block their_voice %}
    <style>
        #matrix TR.not-over BUTTON.empty {
            background: transparent;
            color: #F7F7F6;
        }
        #matrix TD {
            text-align: left;
        }
        FORM.statement TEXTAREA {
            width: 98%;
            height: 126pt; /* 18pt * 7 rows; overriden in js */
            padding: 1%
        }
        FORM BUTTON {
            float: right;
            margin-left: 0.5em;
        }
        .old-amount-link {
            font-size: 9pt;
            display: none;
            position: relative;
            top: 2pt;
            line-height: 9pt;
        }
        FORM.goal {
            display: none;
        }
        FORM.goal TD {
            text-align: left;
        }
        FORM.goal TD.buttons {
            padding-top: 6pt;
        }
        #goal-custom {
            text-align: right;
            width: 6pc;
        }
    </style>
    <script>
        $(document).ready(function()
        {

            // Wire up buttons.
            // ================

            Gittip.initTipButtons();

            function rowIn()
            {
                $(this).addClass('over');
                $(this).removeClass('not-over');
            }
            function rowOut()
            {
                $(this).removeClass('over');
                $(this).addClass('not-over');
            }
            $('#matrix TR').hover(rowIn, rowOut);

            function oldIn() { $('.old-amount-link', this).show(); }
            function oldOut() { $('.old-amount-link', this).hide(); }
            $('.old-amount').hover(oldIn, oldOut);


            // Wire up textarea for statement.
            // ===============================

            $('TEXTAREA').focus();
            $('BLOCKQUOTE.statement BUTTON').click(function()
            {
                var h = $('BLOCKQUOTE.statement').height() - 64;
                h = Math.max(h, 128);
                $('BLOCKQUOTE.statement').hide();
                $('FORM.statement TEXTAREA').height(h);
                $('FORM.statement').show();
            });
            $('FORM.statement').submit(function(e)
            {
                e.preventDefault();

                $('#save-statement').text('Saving ...');

                function success(d)
                {
                    $('FORM.statement').hide();
                    $('BLOCKQUOTE.statement SPAN').html(d.statement);
                    $('BLOCKQUOTE.statement').show();
                    $('#save-statement').text('Save');
                }
                jQuery.ajax(
                    { url: "statement.json"
                    , type: "POST"
                    , success: success
                    , data: {"statement": $('TEXTAREA').val()}
                     }
                )
                return false;
            });
            $('#cancel-statement').click(function(e)
            {
                e.preventDefault();
                e.stopPropagation();
                $('FORM.statement').hide();
                $('BLOCKQUOTE.statement').show();
                return false;
            });


            // Wire up goal knob.
            // ==================

            $('BLOCKQUOTE.goal BUTTON').click(function()
            {
                $('BLOCKQUOTE.goal').hide();
                $('FORM.goal').show();
            });
            $('FORM.goal').submit(function(e)
            {
                e.preventDefault();

                $('#save-goal').text('Saving ...');

                var goal = $('INPUT[name=goal]:checked');

                function success(d)
                {
                    var newtext = $('LABEL[for=' + goal.attr('id') + ']').text();
                    newtext = newtext.replace('$', '$' + d.goal);
                    
                    $('FORM.goal').hide();
                    if (d.goal !== '0.00')
                        $('INPUT[name=goal_custom]').val(d.goal);
                    $('BLOCKQUOTE.goal DIV').html(newtext);
                    $('BLOCKQUOTE.goal').show();
                    $('#save-goal').text('Save');
                }
                jQuery.ajax(
                    { url: "goal.json"
                    , type: "POST"
                    , success: success
                    , dataType: 'json'
                    , data: { goal: goal.val()
                            , goal_custom: $('[name=goal_custom]').val()
                             }
                    , success: success
                    , error: function() {
                            $('#save-goal').text('Save');
                            alert( "Failed to change your funding goal. "
                                 + "Please try again."
                                  );
                        }
                     }
                );
                return false;
            });
            $('#cancel-goal').click(function(e)
            {
                e.preventDefault();
                e.stopPropagation();
                $('FORM.goal').hide();
                $('BLOCKQUOTE.goal').show();
                return false;
            });


            // Wire up aggregate giving knob.
            // ==============================

            $('.anonymous').click(function()
            {
                jQuery.ajax(
                    { url: 'anonymous.json'
                    , type: 'POST'
                    , dataType: 'json'
                    , success: function(data)
                    {
                        $('INPUT.anonymous').attr('checked', data.anonymous);
                    }
                    , error: function() {
                            alert( "Failed to change your anonymity "
                                 + "preference. Please try again."
                                  );
                        }
                     }
                );
            });
        });
    </script>

{% if not user.ANON and user.id == participant['id'] %}
    <h2 class="first">You are <b>{{ user.id }}</b>.
        <span class="small"><a href="/sign-out.html">Sign out</a></span>
    </h2>


    <h3>How are you making the world better?</h3>

    <form class="statement"
        {% if participant['statement'] %}style="display: none;"{% end %}>
        <blockquote>
            I am making the world better by ...
            <textarea>{{ participant['statement'] }}</textarea>
            <span class="help">Newlines and links are converted to HTML.</span>
            <button id="save-statement" type="submit" class="selected small">Save</button>
            <button id="cancel-statement" type="cancel" class="small">Cancel</button>
        </blockquote>
    </form>

    <blockquote id="my-statement" class="statement" 
        {% if not participant['statement'] %}style="display: none"{% end %}>
        I am making the world better by <span>
            {{ wrap(participant['statement']) }}</span><br />
        <button class="small selected">Edit</button>
    </blockquote>


    <h3>What is your personal funding goal on Gittip?</h3>

    <form class="goal">
        <blockquote>

            <table><tr><td>

            <input type="radio" name="goal" id="goal-yes" value="custom"
            {% if user.goal > 0 %} checked="true"{% end %}/>
            <label for="goal-yes">My goal is to receive 
                $<input name="goal_custom" id="goal-custom"
                {% if (user.goal is None) or (user.goal == 0) %}
                {% else %}
                value="{{ locale.format("%.2f", user.goal, grouping=True) }}" 
                {% end %} /> 
                per week on Gittip.</label>

            <br />

            <input type="radio" name="goal" id="goal-0" value="null"
            {% if user.goal is None %} checked="true"{% end %}/>
            <label for="goal-0">I&rsquo;m grateful for tips, but I don&rsquo;t 
                have a specific funding goal.</label>
            
            <br />

            <input type="radio" name="goal" id="goal-null" value="0.00"
            {% if user.goal == 0 %} checked="true"{% end %}/>
            <label for="goal-null">I&rsquo;m not here to receive tips. 
                I&rsquo;ll generally regift them.</label>

            </td></tr><tr><td class="buttons">

            <button id="save-goal" type="submit" class="small selected">Save</button>
            <button id="cancel-goal" type="cancel" class="small">Cancel</button>

            </td></tr></table>

        </blockquote>
    </form>

    <blockquote id="my-goal" class="goal">
        <div>
        {% if user.goal > 0 %}
        My goal is to receive ${{ locale.format("%.2f", user.goal, grouping=True) }} per week on Gittip.
        {% elif user.goal == 0 %}
        I&rsquo;m not here to receive tips. I&rsquo;ll generally regift them.
        {% else %}
        I&rsquo;m grateful for tips, but I don&rsquo;t have a specific funding 
        goal.
        {% end %}
        </div>
        <button class="small selected">Edit</button>
    </blockquote>

    <h2>You give <span id="total">${{ total }}</span> per week.
        <span class="small{% if not user.last_bill_result == "" %} highlight{% end %}"><a 
        href="/credit-card.html">Credit card</a></span>
    </h2>

    <p>
        <input name="anonymous" class="anonymous" type="checkbox" 
            {% if participant['anonymous'] %}checked="true"{% end %} /> 
        <label for="anonymous" class="anonymous">Show as 
            &ldquo;anonymous&rdquo; on leaderboard.</label>
    </p>

    {% if total == 0 %}

    <p>Here are some great programmers that you might consider tipping.<br />
    <span class="help">Each has agreed to be listed here.</span></p>

    {% end %}
    <table id="matrix">
        {% for tip in tips %}
        {% if tip['amount'] > 0 or total == 0 %}
        <tr class="not-over">
            <th><a href="/{{ tip['tippee'] }}/">{{ tip['tippee'] }}</a></th>
            <td>
                {% for amount in AMOUNTS %}
                <button amount="{{ amount }}" tippee="{{ tip['tippee'] }}"
                    class="tip small {{ 'selected' if amount == tip['amount'] else 'empty' }}">{{ amount }}</button>
                {% end %}
                {% if tip['amount'] not in AMOUNTS %}
                <span class="old-amount">
                    <button class="tip small disabled selected">{{ tip['amount'] }}</button>
                    <span class="old-amount-link">&mdash;
                    <a href="http://blog.gittip.com/post/26505682007/is-personal-funding-viable" target="_blank">old amount</a>!</span>
                </span>
                {% end %}
            </td>
        </tr>
        {% end %}
        {% end %}
    </table>


    <h2>You receive ${{ backed_amount }} per week. 
        <span class="small"><a href="history.html">History</a></span>
    </h2>

    {% if backed_amount == 0 %} 

    <p>How can you convince people to tip you? <b>Make the world
        better!</b></p>

    {% else %}

    <p>This is an estimate based on the number of your donors whose credit card
    worked last week. You may receive less this Friday if someone&rsquo;s
    credit card fails this week, or more if someone without a working card has
    received money from someone <i>else</i> on Gittip that they want to pass on
    to you.</p>

    {% end %}


    <h2>Your balance is ${{ user.balance }}.</h2>

    {% if user.balance > 0 %}

    <p>Release early! Release often! Automated withdrawals have not been
    implemented yet. To arrange for a check or PayPal withdrawal, email <a
        href="mailto:chad@zetaweb.com">chad@zetaweb.com</a> or call
    +1-412-925-4220. If you can program, you&rsquo;re welcome to <a
        href="https://github.com/whit537/www.gittip.com/issues/22">help
        implement automated withdrawals</a>.</p>

    {% end %}


    <h2>Embed</h2>

    <p>Use this code to embed a Gittip button on your website:</p>

    <pre>&lt;iframe style="border: 0; margin: 0; padding: 0;"
        src="/{{ username }}/widget.html" 
        width="48pt" 
        height="20pt" /></pre>

    <p>The button opens your profile on Gittip in a new tab or window. Here&rsquo;s what the text reads:</p>
    
    <ul class="no-bullets">

        <li><button class="small selected">Gittip</button>&mdash;person is not
        logged into Gittip</li>

        <li><button class="small selected">3.00</button>&mdash;logged into
        Gittip; shows current gift amount</li>

        <li><button class="small selected">You!</button>&mdash;your own
        button</li>

    </ul>
   
    <p>Here&rsquo;s an example using
        <a href="/whit537/">whit537</a>:
        <iframe style="border: 0; margin: 0 0 -3pt 3pt; padding: 0;"
            src="/whit537/widget.html" 
            width="42pt" 
            height="20pt" />
    </p>


{% else %}
    <h2 class="first"><b>{{ participant['id'] }}</b> receives 
        ${{ backed_amount }} per week.</h2>

    {% if participant['statement'] %}
    <blockquote class="statement">I am making the world better by
    {{ wrap(participant['statement']) }}</blockquote>

    <h3>Funding Goal</h3>
    {% end %}

    <blockquote class="goal">
        {% if participant['goal'] is None %}
        I&rsquo;m grateful for tips, but I don&rsquo;t have a specific funding goal.
        {% elif participant['goal'] == 0 %}
        I&rsquo;m not here to receive tips. I&rsquo;ll generally regift them.
        {% else %}
        My goal is to receive ${{ locale.format("%.2f", participant['goal'], grouping=True) }} per week on Gittip.
        {% end %}
    </blockquote>
    

    <h3>Linked Accounts</h3>
    <ul id="accounts">
        <li>
        <img src="{{ github_user_info.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" /> 
            {{ username }} {% if name %}({{ name }})<br />{% end %}
            <a href="{{ github_user_info.get('html_url', '') }}">
                {{ github_user_info.get('html_url', '') }}
            </a>
        </li>
    </ul>

    {% if user.ADMIN %}
    <h3>{{ participant['id'] }} joined {{ dt2age(participant['claimed_time']) }}.
        <span class="small"><a href="history.html">History</a></span>
    </h3>
    {% end %}

{% end %}

{% end %}
