^L
{% extends "base.html" %}
{% block head %}
{% end %}
{% block content %}

        <h2>The Gospels</h2>

        <h3>Praise</h3>

        <p class="quote">&ldquo;<span class="highlight">[A] splendid edition of
            the gospels based on a sound design
            philosophy[.]</span>&rdquo;<span class="attrib">&mdash;J. Mark
            Bertrand on the <a
                href="http://www.bibledesignblog.com/2011/08/the-gospels-edited-by-chad-whitacre.html">Bible
                Design Blog</a></span></p>
            
        <h3>Purchase / Download</h3>

        <p>

        <a href="Mark-A.pdf">PDF sample</a>&mdash;free</a>
        <br />
        <a href="gospels-1.1.1.pdf">PDF full</a>&mdash;free
        <br />
        <a href="http://www.lulu.com/product/paperback/-/16172489">Paperback</a>&ndash;$10
        <br />
        <a href="http://www.lulu.com/product/hardcover/-/16172488">Hardcover</a>&ndash;$20

        </p>

        
        <h3>Video Preview</h3>

        <iframe width="316" height="267"
            src="https://www.youtube.com/embed/Y11CVxNvvTQ?wmode=opaque&rel=0&showinfo=0&showsearch=0&playlist=DPecicGV4uQ" frameborder="0"
            allowfullscreen></iframe>

        <!--
        <h3>Preface</h3>

        <p><b>No, I didn&rsquo;t rewrite the Bible.</b> This is the same
        old four Gospels&mdash;Mark, Matthew, Luke, and John&mdash;laid out in
        a way that hopefully makes them easier to read. Bibles have gotten so
        cluttered up with chapter and verse numbers, footnotes,
        cross-references, charts, maps, drawings, columns, sections, and
        sidebars that it&rsquo;s hard to actually read the text straight
        through like a normal book. Besides that, the Bible is a big book.
        It&rsquo;s all important, but the Gospels are the <i>most</i>
        important. It should be easy for people to read the most important part
        of the Bible.</p>
       
        <p><i>Read the <a href="preface.html">whole preface ...</a></i></p>
        -->
        
{% end %}
