@import url("/assets/reset.css");

BODY {
    font: 300 12pt/18pt "Arial", sans-serif;
    text-align: center;
    color: #614C3E;
    padding: 0 10px;
}
#body {
    max-width: 600px;
    text-align: left;
    margin: 0 auto 64pt;
    z-index: 1;
    position: relative;
    background: transparent;
}
#g {
    width: 273px;
    height: 238px;
    position: fixed;
    z-index: 2;
    background: transparent url("gittip.png") bottom right no-repeat;
    bottom: 0;
    right: 0;
}

H1 {
    margin: 36pt 0 0;
    border-bottom: 1pt solid #614C3E;
    position: relative;
}
H1 A {
    position: relative;
    left: -66px;
}
.below-header {
    text-align: right;
    font-size: 11pt;
    background: #F7F7F6;
    border-bottom: 1pt solid #614C3E;
    padding: 0 3pt 0 0;
}
H2 {
    font-size: 24pt;
    line-height: 24pt;
    font-weight: 300;
    margin: 36pt 0 12pt;
}
H2 .small,
H3 .small {
    font-size: 10pt;
    line-height: 12pt;
}
H3 {
    font-size: 17pt;
    line-height: 17pt;
    font-weight: 300;
    margin: 24pt 0 12pt;
}
P {
    margin: 0 0 1em;
}
UL {
    list-style: disc;
    margin: 0 0 1em;
}
UL LI {
    margin-left: 2em;
}
UL.no-bullets {
    list-style: none;
}
UL.no-bullets LI {
    margin-left: 1em;
}
OL {
    list-style: decimal;
}
OL LI {
    margin-left: 2em;
}
TH {
    padding-right: 2em;
    font-weight: 900;
}
TD {
    text-align: right;
}
A {
    color: #2A8F79;
}
B {
    font-weight: 900;
}
BLOCKQUOTE {
    background: url("/assets/{{ __version__ }}/ldquo.png") 21pt 0 no-repeat;
    padding-left: 46pt;
}
PRE {
    font: 11pt/13pt monospace;
    margin: 0 0 1em 1em;
    padding: 0;
    overflow: auto;
}

#you-are {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    width: 40%;
}
#their-voice {
    background: #F7F7F6;
    padding: 24pt;
    margin: 0;
    border-bottom: 1pt solid #614C3E;
}
#their-voice H2.first {
    margin: 12pt 0 12pt;
}
#tip-help {
    margin: 1em 0 0;
}
#payment-prompt {
    display: none;
    margin: 1em 0 0;
}
#payment-prompt.needed,
#payment-prompt.really-needed {
    display: block;
}
#payment-prompt A {
    font-weight: bold;
}
.highlight {
    background: #FFFE96;
}
#accounts {
    margin-bottom: 12pt;
}
#accounts TD {
    text-align: left;
    vertical-align: middle;
    line-height: 100%;
}
#accounts TD.account-type {
    border-right: 1pt solid #B2A196;
    padding: 6pt 6pt 6pt 0;
}
#accounts TD.account-type IMG {
    width: 36pt;
    height: 36pt;
}
#accounts DIV.account-type {
    font-size: x-small;
    clear: both;
    color: #B2A196;
}
#accounts .account-details {
    padding-left: 6pt;
}
#accounts IMG.avatar {
    width: 24pt;
    height 24pt;
    float: left;
    margin-right: 3pt;
}

#members {
    list-style: none;
    margin-bottom: 12pt;
    margin: 0 auto;
}
#members TD {
    padding: 0 0 0.5em 0;
    text-align: left;
}
#members IMG {
    width: 18pt;
    height: 18pt;
    margin-right: 6pt;
    float: left;
}

.clear {
    clear: both;
}
.help {
    font-size: smaller;
    color: #B2A196;
}

#footer-nav {
    text-align:right;
}

/* FORM */
/* ==== */

FORM.special {
}
FORM.special .half {
    width: 150px;
}
FORM.special .full {
    clear: both;
    text-align: right;
    padding-top: 5px;
}
FORM.special #other {
    font: normal 9pt/14pt Arial, sans-serif;
    color: #00E;
    cursor: pointer;
    margin-right: 1em;
}
FORM.special #other:hover {
    text-decoration: underline;
}
FORM.special .left {
    float: left;
}
FORM.special .right {
    float: left;
}
FORM.special LABEL {
    display: block;
    font: normal 10px/14px Monaco, "Lucida Console", monospace;
    margin: 8px 0 0;
    padding: 0;
}
FORM.special INPUT {
    font: normal 11pt/14pt Arial, sans-serif;
    width: 292px;
    margin: 0;
    padding: 3px;
    border: 1px solid #CCBAAD;
    outline: none;
    color: #614C3E;
}
FORM.special INPUT.disabled {
    color: #CCBAAD;
}

FORM.special .half INPUT {
    width: 137px;
}
FORM.special .right.half LABEL,
FORM.special .right.half INPUT {
    margin-left: 5px;
}
FORM.special INPUT:focus {
    border-color: #2A8F79;
}
FORM.special .float {
    float: left;
}
FORM.special .city          INPUT { width: 137px; }
FORM.special .state         INPUT { width: 43px; }
FORM.special .zip           INPUT { width: 75px; }
FORM.special .card_number   INPUT { width: 137px; }
FORM.special .cvv           INPUT { width: 43px; }
FORM.special INPUT.expiration_month { width: 24px; }
FORM.special INPUT.expiration_year  { width: 39px; margin-left: 1px ! important; }
FORM.special .not-first LABEL,
FORM.special .not-first INPUT {
    margin-left: 10px;
}
FORM.special#payment IMG {
    float: left;
}
FORM.special#payment P {
    margin: 3em 0 0;
    font-size: 14pt;
    line-height: 18pt;
}
FORM.special#payment .full {
    padding-top: 10px;
}


/* Button */
/* ====== */

BUTTON {
    font: normal 12pt/12pt "Arial", sans-serif;
    text-decoration: none;

    width: auto;
    overflow: visible;
    display: inline-block;
    cursor: pointer;

    border: 1pt solid #999;
    -moz-border-radius: 7pt;
    -webkit-border-radius: 7pt;
    -o-border-radius: 7pt;
    -ms-border-radius: 7pt;
    -khtml-border-radius: 7pt;
    border-radius: 7pt;

    background: #F7F7F6 url("/assets/button-bg.png") repeat-x bottom left;
    background-image: -webkit-gradient( linear, 0% 0%, 0% 100%
                                      , from(#F7F7F6)
                                      , to(#999)
                                       );
    background-image: -moz-linear-gradient(top, #F7F7F6, #CCC);
    background-image: linear-gradient(top, #F7F7F6, #999);

    padding: 4pt 12pt 6pt 11pt;
    margin: 0;
    vertical-align: middle;

    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
}

BUTTON.selected {
    border: 1px solid #0A382E;
    background: #2A8F79 url("/assets/button-bg.png") repeat-x bottom left;
    background-image: -webkit-gradient( linear, 0% 0%, 0% 100%
                                      , from(#2A8F79)
                                      , to(#0D4035)
                                       );
    background-image: -moz-linear-gradient(top, #2A8F79, #0D4035);
    background-image: linear-gradient(top, #2A8F79, #0D4035);
}

BUTTON.small {
    font: normal 9pt/9pt "Arial", sans-serif;
    padding: 2pt 5pt 3pt;
    -moz-border-radius: 3pt;
    -webkit-border-radius: 3pt;
    -o-border-radius: 3pt;
    -ms-border-radius: 3pt;
    -khtml-border-radius: 3pt;
    border-radius: 3pt;
}

BUTTON::-moz-focus-inner {
    border: none;
    padding: 0;
}

BUTTON:focus {
    outline: none;
}

BUTTON, BUTTON:visited {
    color: #888;
}

BUTTON.selected, BUTTON.selected:visited,
BUTTON:hover, BUTTON:hover:visited,
BUTTON:focus, BUTTON:focus:visited,
BUTTON:active, BUTTON:active:visited {
    color: white;
}

BUTTON:hover, BUTTON:focus {
    border: 1px solid #0A382E;
    background-image: url("/assets/button-bg.over.png");
    background-image: -webkit-gradient( linear, 0% 0%, 0% 100%
                                      , from(#2A8F79)
                                      , to(#04221B)
                                       );
    background-image: -moz-linear-gradient(top, #2A8F79, #04221B);
    background-image: linear-gradient(top, #2A8F79, #04221B));
}
BUTTON:active {
    /* http://somadesign.ca/demos/buttons-redux.html */
    -moz-box-shadow
        :0 .33em 1em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset,
        -1px -1px 0 rgba(255,255,255,.25) inset;
    -webkit-box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset,
        -1px -1px 0 rgba(255,255,255,.25) inset;
    box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset,
        -1px -1px 0 rgba(255,255,255,.25) inset;
}
BUTTON.disabled:hover,
BUTTON.disabled:focus,
BUTTON.disabled:active,
BUTTON.disabled:visited {
    border: 1pt solid #999;
    background: #F7F7F6 url("/assets/button-bg.png") repeat-x bottom left;
    background-image: -webkit-gradient( linear, 0% 0%, 0% 100%
                                      , from(#F7F7F6)
                                      , to(#999)
                                       );
    background-image: -moz-linear-gradient(top, #F7F7F6, #CCC);
    background-image: linear-gradient(top, #F7F7F6, #999);
    text-shadow: #F7F7F6 0px 1pt 1pt;
    color: #888;
    cursor: default;
    -moz-box-shadow none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

form div.error > label {
    color: red;
}
form div.error > input, form div.error select {
    border: 1px solid red;
}

#powered-by-balanced { margin-top: 30px; }
#powered-by-balanced a {
    display: block;
    text-indent: -4000px;
    background: url(https://www.balancedpayments.com/images/payments-by-balanced-2.png) 0 0 no-repeat;
    width: 240px;
    height: 75px;
    margin: auto;
}

.nowrap {
    white-space: nowrap;
}
@media screen and (max-width: 640px) {
    H1 A {
        left: 0;
    }
}
