<!DOCTYPE html>
<html>
    <head>
        <title>Logstown{% if 'title' in globals() %} - {{ title }}{% end %}</title>
        <script src="/assets/jquery-1.7.1.min.js"></script>
        <style>@import url("/assets/logstown.css");</style>
        <script src="/assets/logstown.js"></script>
        <script>
            $(document).ready(Logstown.main);
        </script>
        {% block head %}{% end %}
        {% block head2 %}{% end %}
    </head>
    <body>
        <div id="body">
            <h1><a href="/">Logstown</a></h1>

            {% if 0 and not request.user.ANON %}       
            <div id="signed">Signed in as <b>{{ request.user.session['email'] }}</b>. 
                <a href="/sign/out.html">Sign out</a></div>
            {% end %}

            <div id="content">{% block content %}{% end %}</div>
        </div>
        <div id="bg"></div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4ee664fe613f5d7f24000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    </body>
</html>
