<!DOCTYPE html>
<html>
    <head>
        <title>{% if 'title' in globals() %}{{ title }} - {% end %}Logstown 
            Publishing Company</title>
        <script src="/assets/jquery-1.7.1.min.js"></script>
        <style>@import url("/assets/logstown.css");</style>
        <script src="/assets/logstown.js"></script>
        <script>
            $(document).ready(Logstown.main);
        </script>
        {% block head %}{% end %}
        {% block head2 %}{% end %}
    </head>
    <body>
        <div id="body">

            <h1><a href="/"><img src="/assets/logo.png" alt="Logstown" /></a></h1>

            <div id="content">{% block content %}{% end %}</div>
        </div>
        <div id="bg"></div>
    </body>
</html>
