<!DOCTYPE html>
<html>
    <head>
        <title>Logstown{% if 'title' in globals() %} - {{ title }}{% end %}</title>
        <script src="/assets/jquery-1.7.1.min.js"></script>
        <style>@import url("/assets/logstown.css");</style>
        {% block head %}{% end %}
    </head>
    <body>
        <div id="body">
            <h1><a href="/">Logstown.com</a></h1>

            {% if request.user.ANON %}       
            <div id="signed">Signed in as <b>{{ request.user.session['email'] }}</b>. 
                <a href="/sign/out.html">Sign out</a></div>
            {% end %}

            <div id="content">{% block content %}{% end %}</div>
        </div>
    </body>
</html>
