{% extends "base.html %}
{% block head %}
<script src="/assets/jquery.inform.js"></script>
<script src="/assets/jquery.animate-colors-min.js"></script>
<script src="/assets/jquery.maskedinput-1.3.min.js"></script>
<style>@import url("/assets/form.css");</style>
<script>
    $(document).ready(function() { $('FORM').inform() });
</script>
{% end %}

{% block content %}
<h2>{{ title }}</h2>
<form action="{{ request.path.raw[:-5] }}.json" method="POST">
    <div id="already">
    {% block already %}{% end %}
    </div>
    <div id="inform">
    {% block form %}
    {% end %}
    </div>
</form>
{% end %}
