% extends "templates/layouts/base.html"

% block main
<div class="content-with-nav nav-right">
    % from "templates/macros/nav.html" import nav_admin with context
    <div class="content-col">{% block content %}{% endblock %}</div>
    <div class="nav-col">
        <input id="subnav-admin" class="subnav-toggler sr-only" type="checkbox" />
        <label for="subnav-admin">{{ title + (': ' + subhead if subhead else '') }} <span class="caret"></span></label>
        <ul class="nav nav-aside text-center">{{ nav_admin() }}</ul>
    </div>
</div>
% endblock
