<!DOCTYPE html>
<html lang="{{ locale.tag }}">
<head prefix="og: http://ogp.me/ns#">
    % if locale.completion < 0.5
        <meta name="robots" content="noindex,nofollow" />
    % endif
    % if full_title is undefined
        % set full_title = ' - '.join(map(str, filter(None, (subhead|default(''), title|default(''), 'Liberapay'))))
    % endif
    {% block head_early %}{% endblock %}
    <title>{{ full_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ website.asset('liberapay/icon-v2_black.16.png') }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ website.asset('liberapay/icon-v2_black-on-yellow.200.png') }}">
    <link rel="stylesheet" href="{{ website.asset('bootstrap/css/bootstrap.css') }}">
    % if not request.save_data
    <link rel="stylesheet" href="{{ website.asset('fonts.css') }}" type="text/css">
    % endif
    <link rel="stylesheet" href="{{ website.asset('base.css') }}" type="text/css">
    % block head_alternates
    % if request.method in constants.SAFE_METHODS and response.code == 200
        <link rel="alternate" hreflang="x-default" href="{{ website.canonical_url }}{{ request.line.uri.decoded }}" />
        % for l_name, l in website.lang_list
            <link rel="alternate" hreflang="{{ l.tag }}" href="{{ l.base_url }}{{ request.line.uri.decoded }}" />
        % endfor
    % endif
    % endblock
    <meta name="theme-color" content="#f6c915">
    % if dispatch_result.canonical
        <link rel="canonical" href="{{ website.canonical_scheme + '://' + request.hostname + dispatch_result.canonical }}" />
    % endif
    {% block head %}{% endblock %}
</head>
% from "templates/macros/icons.html" import icon with context
% from 'templates/macros/nav.html' import nav, nav_about, nav_explore with context
% from 'templates/macros/search.html' import search_form with context
<body{% if page_id is defined %} id="{{ page_id }}"{% endif %}>

% if not website.db
<div class="notification notification-error">{{ _(
    "We're currently experiencing technical failures. As a result most things don't work. "
    "Sorry for the inconvenience, we'll get everything back to normal ASAP."
) }}</div>
% elif db_is_readonly|default(False)
<div class="notification notification-error">{{ _(
    "Liberapay is currently in read-only mode as we are migrating the database. "
    "This shouldn't take more than a few minutes."
) }}</div>
% endif

    <nav class="navbar navbar-liberapay navbar-static-top navbar-collapse"
         id="navbar">
        <div class="container">
            <ul class="nav navbar-nav pull-right navbar-always">
                <li class="collapsed">
                    <a role="button" class="collapsed" data-toggle="collapse"
                       data-target="#navbar-liberapay-collapse" data-parent="#navbar"
                       aria-expanded="false">
                        <span class="sr-only">{{ _("Toggle navigation") }}</span>
                        {{ icon('list') }}
                    </a>
                </li>
                % block navbar_alternates
                % include "templates/layouts/components/navbar-common.html"
                % endblock
            % if user
                % include "templates/layouts/components/navbar-logged-in.html"
            % elif response.no_navbar_sign_in|default(True)
                % from "templates/macros/sign-in-link.html" import sign_in_link with context
                <li>{{ sign_in_link(icon('enter'), 'navbar-btn') }}</li>
            % endif
            </ul>
            <div class="collapse navbar-collapse navbar-left" id="navbar-liberapay-collapse">
            <ul class="nav navbar-nav">
                % if page_id|default('') != 'homepage'
                <li class="hidden-xs">
                    <a class="navbar-brand" href="/">{{ icon('liberapay', _("Homepage"), size=32) }}</a></li>
                <li class="visible-xs">
                    <a href="/">{{ icon('homepage') }} <span>{{ _("Homepage") }}</span></a></li>
                % endif
                {{ nav([
                    ('/explore/', _('Explore'), {
                        'icon': icon('explore'),
                        'dropdown': nav_explore(),
                    }),
                    ('/search', _('Search'), {
                        'icon': icon('text-prompt'),
                        'form': True,
                        'role': 'search',
                        'dropdown': search_form(autocomplete=False),
                    }),
                    ('/about/', _('About'), {
                        'icon': icon('info-sign'),
                        'dropdown': nav_about(),
                    }),
                ]) }}
            </ul>
            </div>
        </div>
    </nav>

    <div id="main">
    % block main
        {% block before_container %}{% endblock %}
        <div class="container">
        % block before_content
            % block heading
                % if title is defined
                    <h1 class="main-title {{ 'hidden-xs hidden-sm' if subhead is defined else '' }}">{{ title }}</h1>
                % endif
            % endblock
            <div id="subnav">{% block subnav %}{% endblock %}</div>
        % endblock
        {% block content %}{% endblock %}
        {% block after_content %}{% endblock %}
        </div>
    % endblock
    </div>

    <footer class="container" role="navigation">
        <ul>
            <li><a href="/about/">{{ _("About") }}</a></li>
            <li><a href="/about/contact">{{ _("Contact Us") }}</a></li>
            <li><a href="/about/faq">{{ _("FAQ") }}</a></li>
            <li><a href="/about/legal">{{ _("Legal") }}</a></li>
        </ul>
        <ul class="icons">
            <li><a href="https://medium.com/liberapay-blog">{{ icon('medium', 'Medium') }}</a></li>
            <li><a href="https://mastodon.xyz/@Liberapay">{{ icon('mastodon', 'Mastodon') }}</a></li>
            <li><a href="https://github.com/liberapay/liberapay.com">{{ icon('github', 'GitHub') }}</a></li>
        </ul>
    </footer>

<script src="{{ website.asset('jquery.min.js') }}"></script>
<script src="{{ website.asset('bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ website.asset('base.js') }}"></script>

{% block scripts %}{% endblock %}

% if request.queued_success_messages
    <div id="notification-area-bottom">
    % for _msg in request.queued_success_messages if _msg
        <div class="notification notification-success">{{
            _msg
        }}<span class="close">&times;</span></div>
    % endfor
    </div>
% endif

% if state.get('partial_translation') or state.get('fuzzy_translation')
    % include "_i18n_warning.html"
% endif

</body>
</html>
