% extends "templates/layouts/base.html"

% block head_early
{{ super() }}
    % if len(request.qs) > 0
        <meta name="robots" content="noindex" />
    % endif
% endblock

% block main
<div class="content-with-nav tabs-left">
% if request.path.raw not in ('/explore', '/explore/')
    % from "templates/macros/nav.html" import nav_explore with context
    <nav class="nav-col">
        <input id="subnav-explore" class="subnav-toggler sr-only" type="checkbox" />
        <label for="subnav-explore">{{ title + (': ' + subhead if subhead is defined else '') }} <span class="caret"></span></label>
        <ul class="nav nav-tabs-left text-center">{{ nav_explore() }}</ul>
    </nav>
% endif
    <div class="content-col">{% block content %}{% endblock %}</div>
</div>
% endblock
