<!DOCTYPE html>
<html lang="{{ locale.tag }}">
<head prefix="og: http://ogp.me/ns#">
    {% block head_early %}{% endblock %}
    <title>{{ title or 'Liberapay' }}</title>
    <link rel="icon" href="{{ website.asset('liberapay/icon-v2_black.16.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ website.asset('bootstrap/css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ website.asset('paper.css') }}" type="text/css">
    {% block head %}{% endblock %}
</head>
<body>

    <header class="text-right">
        <a class="btn btn-default btn-lg print">
            <span class="glyphicon glyphicon-print"></span> {{ _("Print") }}
        </a>
    </header>

    <div class="sheet"><div class="page">
        % block header
        <header class="flex">
            <div>
                <img src="{{ website.asset('liberapay/icon-v2_black-on-yellow.svg') }}" />
                Liberapay
            </div>
            <div>support@liberapay.com</div>
        </header>
        % endblock

        {% block content %}{% endblock %}
    </div></div>

    <script src="{{ website.asset('paper.js') }}"></script>

</body>
</html>
