% from "templates/macros/nav.html" import nav_settings with context

% extends "templates/layouts/base.html"

% block main
<div class="content-with-nav nav-left">
    <div class="nav-col">
        <input id="subnav-settings" class="subnav-toggler sr-only" type="checkbox" />
        <label for="subnav-settings">{{ title + (': ' + subhead if subhead else '') }} <span class="caret"></span></label>
        <ul class="nav nav-aside">
            <li class="header">
                % if state['can_switch_account'] and user.team_names
                    <div class="flex">
                        <h1>{{ participant.username }}</h1>
                        <label for="subnav-accounts" title="{{ _('Switch to a different account') }}" aria-hidden="true"><span class="caret"></span></label>
                    </div>
                    <input id="subnav-accounts" class="subnav-toggler sr-only" type="checkbox" aria-label="{{ _('Switch to a different account') }}" />
                    <ul class="nav">
                    % if user != participant
                        <li><a href="{{ request.path.raw.replace(participant.username, user.username) }}">{{ user.username }}</a></li>
                    % endif
                    % for team_name in user.team_names
                    % if team_name != participant.username
                        <li><a href="{{ request.path.raw.replace(participant.username, team_name) }}">{{ team_name }}</a></li>
                    % endif
                    % endfor
                    </ul>
                % else
                    <h1>{{ participant.username }}</h1>
                % endif
            </li>
            {{ nav_settings(participant) }}
        </ul>
    </div>
    <div class="content-col">
        % if 'success' in request.qs
            % set success = request.qs.pop('success')
            <div class="alert alert-success">{{
                b64decode_s(success) if success else
                _("The changes have been saved.")
            }}</div>
        % endif
        {% block content %}{% endblock %}
    </div>
</div>
% endblock
