img.avatar {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    border-radius: 5%;
    border: none;
}

@mixin avatar-wrap($imgSize) {
    height: $imgSize;
    overflow: hidden;
    width: $imgSize;
}

.avatar-cutter-120 {
    @include avatar-wrap(120px);
    border-radius: 10px;
}

.avatar-cutter-98 {
    @include avatar-wrap(98px);
    border-radius: 6px;
}

.avatar-cutter-72 {
    @include avatar-wrap(72px);
    border-radius: 4px;
}

.avatar-cutter-28 {
    @include avatar-wrap(28px);
}

.avatar-inline {
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: $screen-sm-min - 1) {
    .avatar-inline {
        margin-bottom: 0.3em;
    }
}
