
.avatar-centerer {
    height: 100%;
    text-align: center;
    width: 200%;
}
img.avatar {
    display: inline-block;
    height: 100%;
    max-width: 100%;
}

@mixin avatar-wrap($imgSize) {
    height: $imgSize;
    overflow: hidden;
    width: $imgSize;
    & > .avatar-centerer {
        margin-left: - $imgSize / 2;
    }
}

.avatar-cutter-120 {
    @include avatar-wrap(120px);
    border-radius: 10px;
}

.avatar-cutter-98 {
    @include avatar-wrap(98px);
    border-radius: 6px;
}

.avatar-cutter-72 {
    @include avatar-wrap(72px);
    border-radius: 4px;
}

.avatar-cutter-28 {
    @include avatar-wrap(28px);
}

.avatar-inline {
    display: inline-block;
    vertical-align: middle;
}

@include media-breakpoint-down(md) {
    .avatar-inline {
        margin-bottom: 0.3em;
    }
}

.line-height-72 {
    line-height: 72px;
}

.line-height-28 {
    line-height: 28px;
}
