
.banderole {
    font-size: $font-size-large;
    margin-top: 30px;
    padding: 10px 15px;
    &.default {
        background: $panel-default-heading-bg;
        color: #333;
    }
    &.info {
        background: $state-info-bg;
        color: $state-info-text;
    }
    &.primary {
        background: $brand-primary;
        color: #fff;
    }
    &.success {
        background: $state-success-bg;
        color: $state-success-text;
    }

    .dropdown-toggle {
        border: none;
        background: transparent;
        color: inherit;
        margin-top: -5px;
    }
}
