
.banderole {
    font-size: $font-size-lg;
    margin-top: 30px;
    padding: 10px 15px;
    &.default {
        background: $gray-100;
        color: #333;
    }
    &.info {
        background: theme-color-level(info, -10);
        color: theme-color-level(info, 6);
    }
    &.primary {
        background: $primary;
        color: #fff;
    }
    &.success {
        background: theme-color-level(success, -10);
        color: theme-color-level(success, 6);
    }

    .btn-sm {
        border: none;
        background: transparent;
        color: inherit;
        margin-top: -5px;
    }
}
