
.banderole {
    font-size: 17px;
    margin-top: 30px;
    padding: 10px 15px;
    &.default {
        background: #f5f5f5;
        color: #333;
    }
    &.info {
        background: #d9edf7;
        color: #31708f;
    }
    &.primary {
        background: #337ab7;
        color: #fff;
    }
    &.success {
        background: #dff0d8;
        color: #3c763d;
    }
}
