html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    & > footer {
        display: flex;
        justify-content: space-around;
        margin: 100px auto 20px auto;

        @media (max-width: $screen-sm-min) {
            flex-direction: column;
            text-align: center;
        }

        & > ul {
            list-style: none;
            padding: 0px;

            & > li {
                display: inline-block;
                & > a {
                    display: inline-block;
                    padding: 10px;
                }
            }
        }
        & > ul.icons > li > a {
            font-size: $font-size-base + 2px;
            padding: 9px 12px;
        }
    }
    & > .top {
        order: -1;
    }
}

@mixin transition {
    transition: all 0.1s ease-in;
}

#main {
    min-height: 75%;
}

#homepage {
    > .navbar-liberapay {
        background-color: transparent;
        color: $gray-light;
        .dropdown-menu {
            color: #222;
        }
    }
    #main {
        font-size: $font-size-medium;
    }
    .section {
        $border-color: #f6c915;
        border-bottom: 1px solid $border-color;
        border-image: linear-gradient(to left, #fff, $border-color, #fff) 1;
        padding: 50px 0 70px;
        &.no-border {
            border: none;
        }
        &.jumbotron {
            background: transparent;
            border-radius: 0;
            margin: 0;
            padding-top: 70px;
            text-align: center;
        }
    }
    h2 {
        text-align: center;
    }
    .buttons {
        margin: 1.2em 0;
        text-align: center;
        .btn {
            margin: 0 0.66em 0.66em 0;
        }
    }
}

.homepage-pitch {
    & > div {
        margin-top: 15px;
        text-align: center;
    }
    dt {
        font-size: $font-size-large;
        font-weight: 200;
        margin-bottom: 10px;
    }
}

.thin-title {
    color: #666;
    font-size: $font-size-h4;
    margin: 0.5em 0 1.25em;
    text-align: center;
}

.btn {
    @include transition;
}

.btn-donate {
    $base-color: #ffee16;
    background-color: $base-color;
    color: #1a171b;
    &:hover {
        background-color: lighten($base-color, 20%);
    }
}

.btn-donating {
    $base-color: lighten(#f6c915, 5%);
    background-color: $base-color;
    color: #1a171b;
    &:hover {
        background-color: lighten($base-color, 10%);
    }
}

input.amount {
    min-width: 5em;
    max-width: 8em;
    &.input-sm {
        width: 5em;
    }
}

.langs select {
    margin: 5px 0;
}

textarea.vertical-resize {
    resize: vertical;
}

div.account {
    margin-bottom: 0.9em;
    padding: 0.1em 0;
    .auth-button {
        display: inline-block;
    }
}
a.account-link {
    text-decoration: none;
}
.account-username {
    margin-left: 0.5ex;
}

button.close {
    padding: 0 5px;
}

img.account-type {
    height: 32px;
}

.panel-body {
    .avatar-col {
        float: left;
        text-align: center;
        width: 120px;
    }
    .col-right {
        margin-left: 130px;
    }
}

.profile-header {
    color: $gray-dark;
    margin: 60px auto 40px;
    text-align: center;
    .avatar-cutter-120 {
        border: 4px solid $gray-lighter;
        border-radius: 20%;
        box-sizing: content-box;
        display: inline-block;
    }
    & > h1 {
        font-size: $font-size-h3;
        margin: 60px 0 10px;
    }
    & > .summary {
        color: $gray;
        font-size: $font-size-medium;
        min-height: $font-size-medium * $line-height-base;
    }
}
.profile-header-bar {
    background: $panel-default-heading-bg;
    font-size: $font-size-medium;
    margin-bottom: 30px;
}

p.summary {
    color: $gray-light;
}

.profile-box, .profile-box-embedded {
    h1, h4 {
        color: $brand-primary;
        font-size: 20px;
        margin: 0 0 10px;
    }
}

.profile-box {
    .radio {
        margin-top: 0;
    }
}

.profile-goal-bar {
    max-width: 450px;
    .progress {
        margin-bottom: 1em;
    }
}

.inline-boxes {
    margin-right: -22px;
}

@media (max-width: $screen-md-min - 1) {
    .inline-boxes {
        text-align: center;
    }
}

.inline-boxes > .inline-box {
    display: inline-block;
    max-width: 100%;
    margin-right: 22px;
    vertical-align: top;
}

.profile-box-embedded {
    border-radius: 6px;
    text-align: center;
    width: 320px;
    .platform-icon {
        margin-top: -3px;
    }
    h4 {
        margin-top: 5px;
        line-height: 23px;
        max-height: 2 * 23px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .summary {
        height: 3 * $line-height-computed;
        margin: 1em 0 $line-height-computed;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .numbers {
        display: flex;
        justify-content: space-around;
        & > dl {
            margin: 0 10px 0 0;
            & > dt {
                color: $gray;
                font-size: 85%;
                margin-bottom: 5px;
            }
            & > dd {
                color: $btn-info-bg;
                font-size: $font-size-large;
                line-height: 1em;
                & > small {
                    color: $gray-light;
                    font-size: $font-size-small;
                }
            }
        }
    }
}

.repo {
    text-align: left;
    width: 450px;
    & > .panel {
        border-radius: 6px;
    }
    h4 {
        margin: 0.3em 0 0;
        & > span.inline-block {
            margin: 0 1ex 0.6em 0;
        }
    }
    .glyphicon-star {
        color: $gray-light;
        font-size: 80%;
    }
    .description {
        margin: 0.2em 0 1em;
    }
}

@media (max-width: $screen-md-min - 1) {
    .inline-box.repo {
        display: block;
        margin-right: 22px;
        width: auto;
        & > .panel {
            margin-left: auto;
            margin-right: auto;
            max-width: 450px;
        }
    }
}

@media (min-width: $screen-lg-min) {
    .inline-box.repo {
        width: 550px;
    }
}

.btn.pull-right {
    margin-bottom: 1em;
}

ul.memberships {
    margin: 0;
    padding: 0;
    & > li {
        display: inline-block;
        margin: 0 5px 1em 0;
        position: relative;
        vertical-align: top;
        width: 130px;
        word-wrap: break-word;
    }
    .nmembers {
        font-size: 85%;
    }
}

input.search {
    width: 250px;
}

.search-result {
    .avatar-cutter-72 {
        float: left;
    }
    .col-right {
        margin-left: 84px;
    }
    .excerpt {
        font-size: 100%;
    }
}

.mini-user {
    display: inline-block;
    margin: 0 20px 25px;
    width: 104px;
    .avatar-cutter-98 {
        border: 3px solid $gray-lighter;
        border-radius: 20%;
        box-sizing: content-box;
        display: block;
    }
    .name {
        display: block;
        margin-top: 5px;
        max-height: 2 * $line-height-computed;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.user-admin {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}
.mini-user-admin {
    border-right: 1px solid #ddd;
    text-align: center;
    .avatar-cutter-120 {
        display: inline-block;
    }
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

#subnav + p, #subnav + div.paragraph {
    margin-top: 1.5em;
}

ul.emails {
    margin: 1em 0;
    max-width: 600px;
    padding: 0;
    li {
        border-bottom: 1px dashed #ccc;
        line-height: 30px;
        list-style: none;
        margin: 0.33em 0.5em;
        padding: 0 0 0.33em;
        &:last-child {
            border-bottom: none;
        }
    }
    span.address {
        display: inline-block;
        max-width: 250px;
        vertical-align: top;
        word-wrap: break-word;
    }
    button {
        float: right;
        margin-left: 1em;
    }
}

.faq dt {
    margin: 1.5em 0 0;
    padding-bottom: 0.33em;
    &:target, &:target + dd {
        background-color: rgba(yellow, 0.3);
        animation: target-flash 1.5s 1;
    }
    & > a {
        color: #000;
        position: relative;
        text-decoration: none;
        &:hover:before {
            content: 'ยง';
            left: -1em;
            position: absolute;
        }
    }
}
.faq dd > p {
    margin-bottom: 0.33em;
}

h2, h3, h4, h5, h6 {
    &:target {
        background-color: rgba(yellow, 0.2);
        animation: target-flash 1.5s 1;
    }
}

@keyframes target-flash {
    0% { background-color: rgba(yellow, 0.7); }
}

section.profile-statement, section.community-sidebar, section.invoice-details {
    h1 {
        font-size: $font-size-h3;
        margin: $font-size-h3 0 10px;
    }
    h2 {
        font-size: $font-size-h4;
        margin: $font-size-h4 0 10px;
    }
    h3 {
        font-size: $font-size-medium;
        margin: $font-size-medium 0 10px;
    }
    h4, h5, h6 {
        font-size: $font-size-base;
        margin: $font-size-base 0 10px;
    }
    img {
        max-width: 100%;
    }
}
.profile-statement {
    font-family: $font-family-serif;
    h1, h2, h3, h4 {
        color: #956410;
    }
}
section.community-sidebar {
    h1, h2, h3, h4 {
        color: #888;
    }
}
section.invoice-details {
    border-left: 2px solid $gray-light;
    margin: 0 0 1em 1.5em;
    padding-left: 0.5em;

    table {
        td, th {
            border: 1px solid #ccc;
            padding: 0.3em 0.4em;
        }
    }
}

.notification {
    padding: 14px;
    text-align: center;
}

.notification-error {
    background-color: $state-danger-bg;
    border-top: 1px solid $state-danger-border;
    color: $state-danger-text;
}

.notification-success {
    background-color: $state-success-bg;
    border-color: $state-success-border;
    color: $state-success-text;
}

.notification-warning {
    background-color: $state-warning-bg;
    border-color: $state-warning-border;
    color: $state-warning-text;
}

#notification-area-bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 10000;
}

.dropdown-hover {
    display: inline-block;
    position: relative;
    .dropdown-menu {
        margin-top: 0;
        &::before, &::after {
            content: ' ';
            display: block;
            margin-left: -50%;
            position: absolute;
            width: 200%;
            z-index: -1;
        }
        &::before {
            height: 100%;
            margin-top: -5px;
        }
        &::after {
            border-radius: 0 0 25px 25px;
            height: 75px;
        }
    }
    &:hover .dropdown-menu, .dropdown-toggle:focus + .dropdown-menu {
        display: block;
    }
}

a.dropdown-toggle {
    display: block;
    &:active, &:focus, &:hover {
        text-decoration: none;
    }
}

#history {
    td, th {
        text-align: right;
        &[title] {
            cursor: help;
        }
    }
    td {
        border-top-style: dashed;
    }
    .day-open {
        font-weight: bold;
        td {
            border-top-style: solid;
        }
    }
    .nature, .status {
        text-align: left;
    }
    tr.zero {
        .wallet, .fees, .bank {
            color: #999;
        }
    }
}

.valign-middle tbody > tr > td {
    vertical-align: middle;
}

.payment-card {
    background-color: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 171px;
    margin: 0.5em 1em 0.5em 0;
    padding: 1em 0;
    position: relative;
    width: 270px;
    & > .card-number {
        margin: 25px 0 10px 0;
        padding: 0 15px;
    }
    & > .card-expiry, & > .cvv {
        float: left;
        padding: 0 15px;
        width: 50%;
    }
    & > .card-brand {
        bottom: 0;
        color: #888;
        padding: 3px 6px;
        position: absolute;
        right: 15px;
        &:empty {
            display: none;
        }
    }
}
.payment-card-row {
    display: flex;
    flex-flow: row wrap;
    & > .aside {
        flex-basis: 320px;
        flex-grow: 3;
        padding: 0.5em 0;
    }
}

.proceed {
    margin-top: 1em;
    .btn:not(.btn-lg) {
        margin-top: 0.5em;
    }
}

.powered-by {
    margin-top: 4em;
    text-align: center;
}

td.text-warning {
    font-weight: bold;
}

table.team {
    width: auto;
    margin-bottom: 3em;
    th {
        text-align: center;
    }
    th, td {
        &:not(:first-child) {
            border-left: 1px dashed #ddd;
        }
        &:nth-child(2), &:nth-child(3) {
            border-left: 2px solid #ddd;
        }
    }
    td:first-child {
        min-width: 12em;
    }
    td:not(:first-child) {
        text-align: right;
        min-width: 8em;
        max-width: 11em;
    }
    input {
        text-align: inherit;
    }
}

.lookup-results {
    background: #fff;
    border: 1px solid #66AFE9;
    border-top: none;
    color: #888;
    margin: -4px 0 0;
    padding: 2px 0;
    position: absolute;
    z-index: 5;
    & > li {
        display: block;
        margin: 0;
        padding: 2px 12px;
        &:hover {
            background: #eee;
        }
    }
    &:empty {
        display: none;
    }
}

.table td > form > input.form-control {
    height: 30px;
    margin: -7px 0;
    padding: 4px 8px;
}

.table-condensed td > form > input.form-control {
    height: 28px;
    margin: -4px 0;
    padding: 2px 5px;
}

p.event {
    margin-bottom: 0.5em;
}

.buttons > .btn {
    margin: 0 5px 10px 0;
    white-space: normal;
}

.btn-wrap {
    white-space: normal;
}

.glyphicon + span {
    margin-left: 2px;
}

span.help-title {
    border-bottom: 1px dotted;
    cursor: help;
}

.alert-read {
    background: transparent;
}

.alert-header {
    border-bottom: 1px solid;
    display: flex;
    flex-wrap: wrap;
    font-size: $font-size-base;
    justify-content: space-between;
    line-height: $line-height-computed;
    margin: -15px -15px 11px;
    padding: 10px 15px 10px;
    position: relative;
    & > .title {
        margin-right: 2ex;
    }
    .close {
        position: absolute;
        right: 10px;
        top: 8px;
    }
    & > small {
        font-size: 90%;
        line-height: inherit;
        margin-right: 5ex;
    }
}
.alert-danger > .alert-header {
    border-bottom-color: $state-danger-border;
}
.alert-info > .alert-header {
    border-bottom-color: $state-info-border;
}
.alert-success > .alert-header {
    border-bottom-color: $state-success-border;
}
.alert-warning > .alert-header {
    border-bottom-color: $state-warning-border;
}

.overlayed {
    position: relative;
    a.overlay {
        background: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.payment-methods {
    text-align: center;
    .payment-icon {
        font-size: 2em;
    }
}

@media (max-width: $screen-sm-min - 1) {
    .col-right {
        clear: both;
        margin-left: 0 !important;
    }
    span.goal.pull-right {
        display: block;
        float: none !important;
    }
    .join-time {
        display: none;
    }
    .profile-box {
        text-align: center;
        .avatar-col {
            display: inline-block;
            float: none;
        }
        .profile-goal-bar {
            margin: auto;
        }
    }
    .profile-box-embedded {
        max-width: 100%;
        min-width: 250px;
        width: auto;
        & > .panel-body {
            max-width: 320px;
        }
    }
}

.s-logo {
    display: block;
    margin: 1.5em 0;
    & > img {
        max-width: 100%;
    }
}

@media (min-width: $screen-sm-min) {
    .s-logo {
        display: inline-block;
        margin: 0.8em 3ex;
    }
}

ul.status-list {
    list-style: none;
    margin: 0 0 1em 0;
    padding-left: 0;
    & > li {
        margin-bottom: 0.33em;
        padding-left: 4ex;
        position: relative;
        &::before {
            font-family: 'Glyphicons Halflings';
            left: 1ex;
            list-style: none;
            position: absolute;
        }
    }
}
ul.list-yes > li::before, ul.status-list > li.ok-success::before {
    color: $state-success-text;
    content: '\e013';
}
ul.status-list > li.ok-info::before {
    color: $state-info-text;
    content: '\e013';
}
ul.status-list > li.not-ok-warning::before {
    color: $state-warning-text;
    content: '\e013';
}
ul.list-no > li::before, ul.status-list > li.not-ok-danger::before {
    color: $state-danger-text;
    content: '\e014';
}

.not-recommended {
    color: #888;
    .payment-icon {
        color: #ccc;
    }
    small {
        color: $state-danger-text;
        font-size: $font-size-medium;
        font-weight: bold;
        line-height: $font-size-medium * $line-height-base;
    }
}
