html {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    & > footer {
        display: flex;
        justify-content: space-around;
        margin: 100px auto 20px auto;

        @media (max-width: $screen-sm-min) {
            flex-direction: column;
            text-align: center;
        }

        & > ul {
            list-style: none;
            padding: 0px;

            & > li {
                display: inline-block;
                & > a {
                    display: inline-block;
                    padding: 10px;
                }
            }
        }
        & > ul.icons > li > a {
            font-size: $font-size-base + 2px;
            padding: 9px 12px;
        }
    }
    & > .top {
        order: -1;
    }
}

#main {
    flex-grow: 1;
    min-height: 75%;
}

#homepage {
    > .navbar-liberapay {
        background-color: transparent;
        color: $gray-light;
        .dropdown-menu {
            color: #1a171b;
        }
    }
    #main {
        font-size: $font-size-medium;
    }
    .section {
        $border-color: #f6c915;
        border-bottom: 1px solid $border-color;
        border-image: linear-gradient(to left, #fff, $border-color, #fff) 1;
        padding: 50px 0 70px;
        &.no-border {
            border: none;
        }
        &.jumbotron {
            background: transparent;
            border-radius: 0;
            margin: 0;
            padding-top: 70px;
            text-align: center;
        }
    }
    h2 {
        text-align: center;
    }
    .buttons {
        margin: 1.2em 0;
        text-align: center;
        .btn {
            margin: 0 0.66em 0.66em 0;
        }
    }
}

.homepage-pitch {
    & > div {
        margin-top: 15px;
        text-align: center;
    }
    dt {
        font-size: $font-size-large;
        font-weight: 200;
        margin-bottom: 10px;
    }
}

.main-title {
    margin: 0.25em 0 1em;
    text-align: center;
}

.thin-title {
    color: #666;
    font-size: $font-size-h4;
}

input.amount {
    min-width: 5em;
    max-width: 8em;
    &.input-sm {
        width: 5em;
    }
}

.langs select {
    margin: 5px 0;
}

div.account {
    line-height: 32px;
}
@media (max-width: $screen-xs-min - 1) {
    div.account {
        margin: .5em 0 2em 0;
        & > * {
            display: block;
            text-align: center;
        }
        & > a.account-link {
            margin: 0 0 .5em;
        }
    }
}
@media (min-width: $screen-xs-min) {
    div.account {
        margin: .5em 0 .5em 0;
        & > a.account-link {
            display: inline-block;
            margin: 0 2ex 0 .5ex;
        }
    }
}

a.account-link[href="#not-available"] {
    color: inherit;
    cursor: default;
    pointer-events: none;
}

.panel-body {
    .avatar-col {
        float: left;
        text-align: center;
        width: 120px;
    }
    .col-right {
        margin-left: 130px;
    }
}

.profile-header {
    align-items: center;
    clear: both;
    color: $gray-dark;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 35px;
    min-height: 315px;
    padding-bottom: 30px;
    text-align: center;
    .avatar-cutter-120 {
        border: 4px solid $gray-lighter;
        border-radius: 20%;
        box-sizing: content-box;
        display: inline-block;
    }
    & > h1 {
        font-size: $font-size-h2;
        margin: 1em 0;
    }
    & > .summary {
        color: $gray;
        font-size: $font-size-medium;
    }
}
.profile-header-bar {
    background: $panel-default-heading-bg;
    font-size: $font-size-medium;
    margin-bottom: 30px;
}

p.summary {
    color: $gray-light;
}

.profile-box, .profile-box-embedded {
    h1, h4 {
        color: $brand-primary;
        font-size: 20px;
        margin: 0 0 10px;
    }
}

.profile-goal-bar {
    max-width: 450px;
    .progress {
        margin-bottom: 1em;
    }
}

.inline-boxes {
    width: 100%;
}

.inline-boxes > .inline-box {
    display: inline-block;
    max-width: 100%;
    margin-right: 22px;
    vertical-align: top;
}

.profile-box-embedded {
    border-radius: 6px;
    max-width: 320px;
    text-align: center;
    width: 320px;
    h4 {
        margin-top: 5px;
        line-height: 23px;
        max-height: 2 * 23px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .summary {
        height: 3 * $line-height-computed;
        margin: 1em 0 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .numbers {
        display: flex;
        justify-content: space-around;
        margin: $line-height-computed 0 0;
        & > dl {
            margin: 0 10px 0 0;
            & > dt {
                color: $gray;
                font-size: 85%;
                margin-bottom: 5px;
            }
            & > dd {
                color: $btn-info-bg;
                font-size: $font-size-large;
                line-height: 1em;
                & > small {
                    color: $gray-light;
                    font-size: $font-size-small;
                }
            }
        }
    }
    & > .panel-body > .btn {
        margin: $line-height-computed 0 0;
    }
    .btn-donate {
        color: #7f6e06;
        font-weight: bold;
        &:hover {
            color: #5f4e06;
        }
    }
}

.repo {
    text-align: left;
    width: 100%;
    & > .panel {
        border-radius: 6px;
    }
    h4 {
        margin: 0.3em 0 0;
        & > span.inline-block {
            margin: 0 1ex 0.6em 0;
        }
    }
    small {
        display: inline-block;
        font-size: $font-size-base;
        line-height: $line-height-computed;
    }
    .stars > .icon {
        color: $gray-light;
    }
    .description {
        margin: 0.2em 0 1em;
    }
    &.edit {
        margin: 1.5em 0;
        width: 100%;
    }
}

@media (max-width: $screen-xs-min - 1) {
    .inline-boxes > .inline-box {
        display: block;
        margin-right: 0;
        width: auto;
        & > .panel {
            margin-left: auto;
            margin-right: auto;
            & > .panel-body {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .inline-box.repo {
        width: 540px;
    }
}

.btn.pull-right {
    margin-bottom: 1em;
}

ul.memberships {
    margin: 0;
    padding: 0;
    & > li {
        display: inline-block;
        margin: 0 5px 1em 0;
        position: relative;
        vertical-align: top;
        width: 130px;
        word-wrap: break-word;
    }
    .nmembers {
        font-size: 85%;
    }
}

input.search {
    min-width: 250px;
}

.search-result {
    .avatar-cutter-72 {
        float: left;
    }
    .col-right {
        margin-left: 84px;
    }
    .excerpt {
        font-size: 100%;
    }
}

.mini-user {
    display: inline-block;
    margin: 0 20px 25px;
    text-align: center;
    vertical-align: top;
    width: 104px;
    .avatar-cutter-98 {
        border: 3px solid $gray-lighter;
        border-radius: 20%;
        box-sizing: content-box;
        display: block;
    }
    .name {
        display: block;
        margin-top: 5px;
        max-height: 2 * $line-height-computed;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.user-admin {
    border-bottom: 1px solid #ddd;
    margin: 0 0;
    padding: 0 0 1em;
}
.mini-user-admin {
    text-align: center;
    .avatar-cutter-120 {
        display: inline-block;
    }
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

ul.emails {
    margin: 1em 0;
    max-width: 600px;
    padding: 0;
    li {
        border-bottom: 1px dashed #ccc;
        line-height: 30px;
        list-style: none;
        margin: 0.33em 0.5em;
        padding: 0 0 0.33em;
        &:last-child {
            border-bottom: none;
        }
    }
    span.address {
        display: inline-block;
        max-width: 250px;
        vertical-align: top;
        word-wrap: break-word;
    }
    button {
        float: right;
        margin-left: 1em;
    }
}

.faq details {
    margin-bottom: 1.5em;
}

.faq details > summary {
    margin: 0;
    padding-bottom: 0.33em;
    font-size: $font-size-medium;
    font-weight: 200;
    margin-bottom: 10px;

    color: #000;
    position: relative;
    text-decoration: none;

    &:hover::after {
        content: ' ยง';
    }
}

.faq details:target {
    background-color: rgba(yellow, 0.3);
    animation: target-flash 1.5s 1;
}

.faq details > p {
    margin-bottom: 0.33em;
}

h2, h3, h4, h5, h6 {
    &:target {
        background-color: rgba(yellow, 0.2);
        animation: target-flash 1.5s 1;
    }
}

@keyframes target-flash {
    0% { background-color: rgba(yellow, 0.7); }
}

section.profile-statement, section.community-sidebar, section.invoice-details {
    overflow-wrap: break-word;
    h1 {
        font-size: $font-size-h3;
        margin: $font-size-h3 0 10px;
    }
    h2 {
        font-size: $font-size-h4;
        margin: $font-size-h4 0 10px;
    }
    h3 {
        font-size: $font-size-medium;
        margin: $font-size-medium 0 10px;
    }
    h4, h5, h6 {
        font-size: $font-size-base;
        margin: $font-size-base 0 10px;
    }
    img {
        max-width: 100%;
    }
}
.profile-statement {
    font-family: $font-family-serif;
    h1, h2, h3, h4 {
        color: #956410;
    }
    &.embedded {
        border-left: 2px solid $gray-lighter;
        padding-left: 2ex;
    }
    &.raw {
        white-space: pre-line;
    }
}
section.community-sidebar {
    h1, h2, h3, h4 {
        color: #888;
    }
}
section.invoice-details {
    border-left: 2px solid $gray-light;
    margin: 0 0 1em 1.5em;
    padding-left: 0.5em;

    table {
        td, th {
            border: 1px solid #ccc;
            padding: 0.3em 0.4em;
        }
    }
}

.notification {
    padding: 14px;
    text-align: center;
}

.notification-error {
    background-color: $state-danger-bg;
    border-top: 1px solid $state-danger-border;
    color: $state-danger-text;
}

.notification-success {
    background-color: $state-success-bg;
    border-color: $state-success-border;
    color: $state-success-text;
}

.notification-warning {
    background-color: $state-warning-bg;
    border-color: $state-warning-border;
    color: $state-warning-text;
}

#notification-area-bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 10000;
}

.dropdown-hover {
    display: inline-block;
    position: relative;
    .dropdown-menu {
        margin-top: 0;
        &::before, &::after {
            content: ' ';
            display: block;
            margin-left: -50%;
            position: absolute;
            width: 200%;
            z-index: -1;
        }
        &::before {
            height: 100%;
            margin-top: -5px;
        }
        &::after {
            border-radius: 0 0 25px 25px;
            height: 75px;
        }
    }
    &:hover .dropdown-menu, .dropdown-toggle:focus + .dropdown-menu {
        display: block;
    }
}

a.dropdown-toggle {
    display: block;
    &:active, &:focus, &:hover {
        text-decoration: none;
    }
}

#history {
    td, th {
        text-align: right;
        &[title] {
            cursor: help;
        }
        &:first-child {
            text-align: left;
        }
    }
    > tbody > tr {
        border-top: 1px dashed #ddd;
    }
    td, th {
        border: none;
    }
    .day-open {
        border-top-style: solid;
        font-weight: bold;
    }
    tr.zero {
        .amount, .wallet, .fees, .bank {
            color: #999;
        }
    }
    td.id {
        font-family: $font-family-monospace;
    }
}

@media (max-width: $screen-md-min - 1) {
    #history {
        display: block;
        .balances, .fees, .bank, .method, .id {
            display: none;
        }
        thead, tbody, td {
            display: block;
        }
        tr {
            display: flex;
            justify-content: space-between;
        }
    }
}

.valign-middle tbody > tr > td {
    vertical-align: middle;
}

.payment-card {
    background-color: #eaeaea;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 171px;
    margin: 0.5em 1em 0.5em 0;
    padding: 1em 0;
    position: relative;
    width: 270px;
    & > .card-number {
        margin: 25px 0 10px 0;
        padding: 0 15px;
    }
    & > .card-expiry, & > .cvv {
        float: left;
        padding: 0 15px;
        width: 50%;
    }
    & > .card-brand {
        bottom: 0;
        color: #888;
        padding: 3px 6px;
        position: absolute;
        right: 15px;
        &:empty {
            display: none;
        }
    }
}
.payment-card-row {
    display: flex;
    flex-flow: row wrap;
    & > .aside {
        flex-basis: 320px;
        flex-grow: 3;
        padding: 0.5em 0;
    }
}

.proceed {
    margin-top: 1em;
    .btn:not(.btn-lg) {
        margin-top: 0.5em;
    }
}

.powered-by {
    margin-top: 4em;
    text-align: center;
}

table.team {
    width: auto;
    margin-bottom: 3em;
    th {
        text-align: center;
    }
    th, td {
        &:not(:first-child) {
            border-left: 2px solid #ddd;
        }
    }
    td:first-child {
        min-width: 12em;
    }
    td:not(:first-child) {
        text-align: right;
        min-width: 8em;
        max-width: 11em;
    }
    tr:last-child td {
        border-top-width: 2px;
    }
    input {
        text-align: inherit;
    }
}

.lookup-results {
    background: #fff;
    border: 1px solid #66AFE9;
    border-top: none;
    color: #888;
    margin: -4px 0 0;
    padding: 2px 0;
    position: absolute;
    z-index: 5;
    & > li {
        display: block;
        margin: 0;
        padding: 2px 12px;
        &:hover {
            background: #eee;
        }
    }
    &:empty {
        display: none;
    }
}

p.event {
    margin-bottom: 0.5em;
}

span.help-title {
    border-bottom: 1px dotted;
    cursor: help;
    padding-bottom: 0.1em;
}

.overlaid {
    position: relative;
    a.overlay {
        background: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.payment-methods {
    margin-right: -10px;
    & > .panel {
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        vertical-align: top;
        width: 350px;
        max-width: 100%;
        & > .panel-body {
            min-height: 165px;
        }
    }
    .muted {
        color: #888;
        svg {
            color: #ccc;
        }
    }
    h4 {
        margin-bottom: 0;
    }
    small {
        display: block;
        font-size: $font-size-medium;
        font-weight: bold;
        line-height: $font-size-medium * $line-height-base;
        margin-top: 11px;
    }
}

.card-brands {
    display: block;
    margin: 0 -2ex -.3em 0;
    & > svg {
        margin: 0 2ex .3em 0;
        vertical-align: top;
    }
}

@media (max-width: $screen-sm-min - 1) {
    .col-right {
        clear: both;
        margin-left: 0 !important;
    }
    span.goal.pull-right {
        display: block;
        float: none !important;
    }
    .join-time {
        display: none;
    }
    .profile-box {
        text-align: center;
        .avatar-col {
            display: inline-block;
            float: none;
        }
        .profile-goal-bar {
            margin: auto;
        }
    }
}

.payment-icons {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.s-logo {
    display: block;
    margin: 1.5em 0;
    & > img {
        max-width: 100%;
    }
}

@media (min-width: $screen-sm-min) {
    .s-logo {
        display: inline-block;
        margin: 0.8em 3ex;
    }
}

.text-info > a {
    text-decoration: underline;
}

.link {
    background: transparent;
    border: none;
    color: $link-color;
    padding: 0;
    text-align: inherit;
    word-break: break-all;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

.symbol {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 2ex;
}

.symbol-3ex {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 3ex;
}

code.gray {
    background-color: rgba(27,31,35,.05);
    color: inherit;
}

.payment-instrument {
    line-height: 1.5em;
    margin: 1.5em 0;
    & > span {
        display: inline;
        margin-bottom: 0.5em;
        &:first-child {
            text-align: center;
        }
        &:last-child {
            display: block;
            & > .btn {
                margin: 5px 5px 10px 0;
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .payment-instrument {
        align-items: center;
        display: flex;
        margin: 0.5em 0;
        padding-top: 0.5em;
        & + & {
            border-top: 1px dashed #ccc;
        }
        & > span {
            margin: 10px 10px 10px 0;
            &:first-child {
                font-size: 2em;
                width: 1.5em;
            }
            &:last-child {
                margin-right: 0;
                & > .btn {
                    display: block;
                    margin: 0;
                }
                & > .btn + .btn {
                    margin-top: 10px;
                }
            }
        }
    }
}

fieldset#amount {
    max-width: 750px;
}

abbr[title] {
    /* Bootstrap 3.3.6 adds a bottom border but doesn't disable text-decoration */
    text-decoration: none;
}

details {
    // Ensures details blocks have some padding when opened, if needed
    padding: 0;
}

summary {
    cursor: pointer;
    list-style: none; /* Hide default arrow in most browsers */
    
    // Hide default arrow in Chrome/Safari
    &::-webkit-details-marker {
        display: none;
    }
    
    // Add custom indicator
    &::before {
        content: '\25B6\0020'; /* Right-pointing triangle + space */
        transition: transform 0.15s ease-out;
        display: inline-block;
        margin-right: 0.5ex;
        font-size: 80%;
    }
}

details[open] summary::before {
    // Down-pointing triangle when open
    content: '\25BC\0020';
}

.preview {
    border-left: 2px solid $gray-lighter;
    padding: 11px 0 1px 2ex;
}
