html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
}

#wrapper {
    min-height: 100%;
    min-width: 100%;
    padding-bottom: 100px;
    position: relative;

    & > footer {
        bottom: 0;
        position: absolute;
        text-align: center;
        width: 100%;

        & > a {
            display: inline-block;
            padding: 10px;
        }
    }
}

.homepage-pitch {
    & > div {
        margin-top: 15px;
        text-align: center;
    }
    dt {
        font-size: 18px;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .glyphicon {
        font-size: 21px;
    }
}

.btn-donate {
    $base-color: #ffee16;
    background-color: $base-color;
    border-color: darken($base-color, 10%);
    &.btn-lg {
        border: none;
        box-shadow: 0 0 5px $base-color;
    }
    color: #1a171b;
    &:hover {
        background-color: lighten($base-color, 20%);
        border-color: $base-color;
        &.btn-lg {
            border: none;
            box-shadow: 0 0 5px lighten($base-color, 20%);
        }
    }
}

input.amount {
    min-width: 5em;
    max-width: 8em;
    &.input-sm {
        width: 5em;
    }
}

.input-group-addon, .input-group-btn {
    width: auto !important;
}

.input-group select.form-control {
    width: auto;
}

.input-group-addon:not(:first-child) {
    border-left: none;
}

.radio > .with-input-group-sm {
    & > input[type=radio] {
        top: 5px;
    }
    & > div {
        display: inline-block;
        vertical-align: middle;
    }
}

.langs select {
    margin: 5px 0;
}

textarea.vertical-resize {
    resize: vertical;
}

div.account {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 135px;
    word-wrap: break-word;
}

div.account-action {
    position: absolute;
    right: 0;
    top: 1px;
}

button.close {
    padding: 0 5px;
}

img.account-type {
    height: 32px;
}

.profile-box {
    .avatar-col {
        float: left;
        text-align: center;
        width: 120px;
    }
    .col-right {
        margin-left: 130px;
    }
    h1, h4 {
        color: $brand-primary;
        font-size: 20px;
        margin: 0 0 10px;
    }
    .radio {
        margin-top: 0;
    }
}

.profile-share {
    float: right;
    margin-top: -10px;
    & > span {
         vertical-align: middle;
    }
}

.profile-goal-bar {
    max-width: 450px;
    .progress {
        margin-bottom: 1em;
    }
}

.btn.pull-right {
    margin-bottom: 1em;
}

ul.memberships {
    margin: 0;
    padding: 0;
    & > li {
        display: inline-block;
        margin: 0 5px 1em 0;
        position: relative;
        vertical-align: top;
        width: 130px;
        word-wrap: break-word;
    }
    .nmembers {
        font-size: 85%;
    }
}

.search-result {
    .avatar-cutter-72 {
        float: left;
    }
    .col-right {
        margin-left: 84px;
    }
    .excerpt {
        font-size: 100%;
    }
}

ul.people {
    margin: 0;
    padding: 0;
}

li.mini-user {
    border: 1px solid #ddd;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 110px;
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.user-admin {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}
.mini-user-admin {
    border-right: 1px solid #ddd;
    text-align: center;
    .avatar-cutter-120 {
        display: inline-block;
    }
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

#subnav + p, #subnav + div.paragraph {
    margin-top: 1.5em;
}

ul.emails {
    margin: 1em 0;
    max-width: 600px;
    padding: 0;
    li {
        border-bottom: 1px dashed #ccc;
        line-height: 30px;
        list-style: none;
        margin: 0.33em 0.5em;
        padding: 0 0 0.33em;
        &:last-child {
            border-bottom: none;
        }
    }
    span.address {
        display: inline-block;
        max-width: 250px;
        vertical-align: top;
        word-wrap: break-word;
    }
    button {
        float: right;
        margin-left: 1em;
    }
}

.faq dt {
    margin: 1.5em 0 0;
    padding-bottom: 0.33em;
    &:target, &:target + dd {
        background-color: rgba(yellow, 0.3);
        animation: target-flash 1.5s 1;
    }
    & > a {
        color: #000;
        position: relative;
        text-decoration: none;
        &:hover:before {
            content: 'ยง';
            left: -1em;
            position: absolute;
        }
    }
}

h2, h3, h4, h5, h6 {
    &:target {
        background-color: rgba(yellow, 0.2);
        animation: target-flash 1.5s 1;
    }
}

@keyframes target-flash {
    0% { background-color: rgba(yellow, 0.7); }
}

section.profile-statement, section.community-sidebar {
    h1 {
        font-size: $font-size-h3;
        margin: $font-size-h3 0 10px;
    }
    h2 {
        font-size: $font-size-h4;
        margin: $font-size-h4 0 10px;
    }
    h3 {
        font-size: $font-size-medium;
        margin: $font-size-medium 0 10px;
    }
    h4, h5, h6 {
        font-size: $font-size-base;
        margin: $font-size-base 0 10px;
    }
}
section.profile-statement {
    h1, h2, h3, h4 {
        color: #956410;
    }
}
section.community-sidebar {
    h1, h2, h3, h4 {
        color: #888;
    }
    img {
        max-width: 100%;
    }
}

#notification-area-bottom, #notification-area-top {
    text-align: center;
    z-index: 10;

    .notification {
        padding: 10px;
    }

    .notification-error {
        background-color: $state-danger-bg;
        border-top: 1px solid $state-danger-border;
        color: $state-danger-text;
    }

    .notification-success {
        background-color: $state-success-bg;
        border-color: $state-success-border;
        color: $state-success-text;
    }
}
#notification-area-bottom {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}

.dropdown-hover {
    display: inline-block;
    position: relative;
    .dropdown-menu {
        margin-top: 0;
        &::before, &::after {
            content: ' ';
            display: block;
            margin-left: -50%;
            position: absolute;
            width: 200%;
            z-index: -1;
        }
        &::before {
            height: 100%;
            margin-top: -5px;
        }
        &::after {
            border-radius: 0 0 25px 25px;
            height: 75px;
        }
    }
    &:hover .dropdown-menu, .dropdown-toggle:focus + .dropdown-menu {
        display: block;
    }
}

a.dropdown-toggle {
    display: block;
    &:active, &:focus, &:hover {
        text-decoration: none;
    }
}

#history {
    td, th {
        text-align: right;
        &[title] {
            cursor: help;
        }
    }
    td {
        border-top-style: dashed;
    }
    .day-open {
        font-weight: bold;
        td {
            border-top-style: solid;
        }
    }
    .nature, .status {
        text-align: left;
    }
}

.valign-middle tbody > tr > td {
    vertical-align: middle;
}

#credit-card input {
    margin-bottom: 5px;
}
#card_number {
    width: 15em;
}
#expiration_date {
    width: 6em;
}
#cvv {
    margin-left: 0.8em;
    width: 5em;
}

label:not([for]) {
    font-weight: normal;
    vertical-align: top;
    span:first-child {
        font-weight: 700;
    }
}

.block-labels label {
    display: block;
    margin-bottom: 15px;
}

input.invalid {
    box-shadow: rgb(255, 0, 0) 0 0 1.5px 1px;
}
input.invalid:focus {
    box-shadow: rgba(255, 0, 0, 0.4) 0 0 2px 2px;
}
.invalid-msg {
    $background: #eee;
    $border: #aaa;
    background: $background;
    border: 1px solid $border;
    border-radius: 5px;
    display: none;
    margin: 7px 0 0 -12px;
    padding: 12px;
    position: absolute;

    &::after, &::before {
        background: transparent;
        border-style: solid outset solid solid;
        border-color: transparent;
        content: '';
        height: 0;
        left: 4px;
        position: absolute;
        top: -16px;
        width: 0;
    }
    &::after {
        border-width: 7px;
        border-bottom-color: $background;
        margin-left: 1px;
        margin-top: 2px;
    }
    &::before {
        border-width: 8px;
        border-bottom-color: $border;
    }
}
input.invalid:focus + .invalid-msg {
    display: block;
}

td.text-warning {
    font-weight: bold;
}

table.team {
    width: auto;
    margin-bottom: 3em;
    th {
        text-align: center;
    }
    th, td {
        &:not(:first-child) {
            border-left: 1px dashed #ddd;
        }
        &:nth-child(2), &:nth-child(3) {
            border-left: 2px solid #ddd;
        }
    }
    td:first-child {
        min-width: 12em;
    }
    td:not(:first-child) {
        text-align: right;
        width: 8em;
    }
    input {
        text-align: inherit;
    }
}

.lookup-results {
    background: #fff;
    border: 1px solid #66AFE9;
    border-top: none;
    color: #888;
    margin: -4px 0 0;
    padding: 2px 0;
    position: absolute;
    z-index: 5;
    & > li {
        display: block;
        margin: 0;
        padding: 2px 12px;
        &:hover {
            background: #eee;
        }
    }
    &:empty {
        display: none;
    }
}

.table td > form > input.form-control {
    height: 30px;
    margin: -7px 0;
    padding: 4px 8px;
}

.table-condensed td > form > input.form-control {
    height: 28px;
    margin: -4px 0;
    padding: 2px 5px;
}

p.event {
    margin-bottom: 0.5em;
}

.buttons .btn {
    margin-bottom: 5px;
}

.glyphicon + span {
    margin-left: 2px;
}

span.help-title {
    border-bottom: 1px dotted;
    cursor: help;
}

.alert-read {
    background: transparent;
}

.overlayed {
    position: relative;
    a.overlay {
        background: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.payment-methods {
    text-align: center;
    .payment-icon {
        font-size: 2em;
    }
}

.profile-box-embedded .panel-body {
    min-height: 139px;
}
