
.card {
    border-radius: 0.5em;
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
    text-align: center;
    vertical-align: top;
}
.card-default {
    border: 1px solid $panel-default-border;
}
.card-primary {
    border: 1px solid $panel-primary-border;
}
.card-md {
    font-size: $font-size-medium;
}

@media (min-width: $screen-sm-min) {
    .card {
        display: inline-block;
        margin-right: 1em;
        width: 450px;
    }
    .card-narrow {
        width: 290px;
    }
}
