
.card {
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
}
.card-md {
    font-size: $font-size-medium;
}

@media (min-width: $screen-sm-min) {
    .card {
        border-radius: 0.5em;
        display: inline-block;
        margin-right: 1em;
        vertical-align: top;
        width: 450px;
    }
    .card-narrow {
        width: 290px;
    }
    .card-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .card-default {
        border: 1px solid $panel-default-border;
    }
    .card-primary {
        border: 1px solid $panel-primary-border;
    }
}

@media (max-width: $screen-xs-max) {
    .card-default, .card-primary {
        border-radius: 0;
        border-style: dashed;
        border-width: 1px 0;
        margin: 1em 0;
        padding: 1em 0;
        & + & {
            border-top-width: 0;
            margin-top: 0;
            padding-top: 0;
        }
    }
    .card-xs-vanish {
        border-width: 0;
    }
}

.card.donation {
    margin: 5px 10px 10px 0;
    & > .recipient {
        display: flex;
        font-size: $font-size-large;
        font-weight: 500;
        max-width: 100%;
        & > .col-1 {
            margin-right: 6px;
        }
        & > .col-2 {
            min-width: 8ex;  // needed for the `text-overflow` below to work
            & > .username {
                display: block;
                margin-bottom: 0.3em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            & > .line-2 {
                align-items: baseline;
                display: flex;
                flex-wrap: wrap;
                & > .amount {
                    margin: 0 6px 0.3em 0;
                }
                & > .actions {
                    margin-left: -6px;
                    & > .btn {
                        margin-left: 6px;
                    }
                }
            }
        }
    }
    small {
        color: $gray-light;
        font-size: $font-size-small;
    }
    & > p:last-child {
        margin-bottom: 0;
    }
}
