.chart-wrapper {
    display: none;

    $chart-bar-color: #9ea0ff;
    $chart-numbers-color: #444;

    .chart {
        height: 120px; // 100px for the chart + room for the max flag
    }
    .bar {
        height: 100%;
        float: left;
        position: relative;
        cursor: pointer;
    }
    .shaded {
        position: absolute;
        background: $chart-bar-color;
        bottom: 0;
        width: 100%;
    }
    .bar span, .x-axis {
        font: normal 14px/14px $font-family-monospace;
    }
    .bar span.x-tick {
        position: absolute;
        bottom: -17px;
        right: 0;
        padding: 3px 1px 0 0;
        border: 1px solid $chart-numbers-color;
        border-style: none solid none none;
        color: $chart-numbers-color;
        background: white;
        white-space: nowrap;
    }
    .bar span.y-label {     // This is the flag.
        position: absolute;
        top: -23px;
        right: 0;
        z-index: 1;         // Wants to be over the bars.
        text-align: center;
        background: white;
        color: $chart-numbers-color;
        border: 2px solid $chart-numbers-color;
        border-radius: 4px 0 0 4px;
        padding: 2px 3px;
    }
    .bar:not(.flagged):not(.max):not(:hover) span {
        display: none;
    }
    .x-axis {
        text-align: center;
        padding-top: 14pt;
    }
    .note {
        font-style: italic;
    }
}
