@media (min-width: $screen-sm-min) {
    .columns-sm-2 {
        column-count: 2;
        column-gap: 2ex;
    }
}
@media (min-width: $screen-md-min) {
    .columns-md-3 {
        column-count: 3;
        column-gap: 2ex;
    }
}
