@media (min-width: $screen-sm-min) {
    .columns-sm-2 {
        column-count: 2;
        column-gap: 2ex;
    }
    .columns-sm-3 {
        column-count: 3;
        column-gap: 1.5ex;
    }
}
@media (min-width: $screen-md-min) {
    .columns-md-3 {
        column-count: 3;
        column-gap: 2ex;
    }
    .columns-md-4 {
        column-count: 4;
        column-gap: 2ex;
    }
    .columns-md-5 {
        column-count: 5;
        column-gap: 1.5ex;
    }
}
