@include media-breakpoint-up(sm) {
    .columns-sm-2 {
        column-count: 2;
        column-gap: 2ex;
    }
}
@include media-breakpoint-up(md) {
    .columns-md-3 {
        column-count: 3;
        column-gap: 2ex;
    }
}
