// Date inputs

input.form-control[type="date"] {
    // Override some of Bootstrap's styles for `.form-control`
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
}

// Labels

label:not([for]) {
    font-weight: normal;
    vertical-align: top;
    span:first-child {
        font-weight: 700;
    }
}

.block-labels label {
    display: block;
}
.block-labels-mb-4 label {
    display: block;
    margin-bottom: 1.5rem;
}

.inline-labels > label {
    display: inline-block;
    margin: 0 3ex 5px 0;
}

// Tweaks of Bootstrap's input groups

.input-group-btn > select.btn {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f9f9f9;
}

.input-group > .input-group-btn > select.btn {
    // Fix height for Firefox
    height: 36px;
}

.input-group-sm > .input-group-btn > select.btn {
    // Fix height for Firefox
    height: 33px;
    // Override a Bootstrap rule that breaks alignment in Chromium
    line-height: inherit;
}

.input-group-addon, .input-group-btn {
    width: auto !important;
}

.input-group select.form-control {
    width: auto;
}

.input-group-addon:not(:first-child) {
    border-left: none;
}

// Buttons

button.close {
    margin-left: 5px;
    padding: 0 5px;
}

button.corner-icon {
    background: transparent;
    border: none;
    color: #000;
    float: right;
    font-size: 18px;
    line-height: 24px;
    margin-left: 5px;
    opacity: 0.5;
    padding: 0 5px;
    &:hover {
        opacity: 0.8;
    }
}

.btn {
    transition: all 0.1s ease-in;
}

.btn-donate {
    $base-color: #ffee16;
    background-color: $base-color;
    color: #1a171b;
    &:hover {
        background-color: lighten($base-color, 15%);
    }
}

.btn-pledge {
    $base-color: #ffee16;
    background-color: lighten($base-color, 5%);
    color: #7f6e06;
    &:hover {
        background-color: lighten($base-color, 20%);
        color: #5f4e06;
    }
}

.btn-donating {
    $base-color: lighten(#f6c915, 5%);
    background-color: $base-color;
    color: #1a171b;
    &:hover {
        background-color: lighten($base-color, 10%);
    }
}

.buttons > .btn, .buttons > .inline-block {
    margin: 0 1ex 0.8em 0;
    white-space: normal;
}

form.buttons > .btn, span.buttons > .btn {
    margin: 5px 2ex 5px 0;
}

.btn-wrap {
    white-space: normal;
}

form[disabled] button {
    pointer-events: none;
}

.btn-block + p {
    margin-top: 0.5em;
}

.hover-danger:hover {
    color: $state-danger-text !important;
}
.hover-info:hover {
    color: $state-info-text !important;
}

// Input errors and warnings

.input-wrapper {
    position: relative;
}
input.abnormal {
    box-shadow: $state-warning-border 0 0 2px 2px;
}
input.abnormal:focus {
    box-shadow: rgba($state-warning-border, 0.6) 0 0 3px 3px;
}
input.invalid {
    box-shadow: rgb(255, 0, 0) 0 0 1.5px 1px;
}
input.invalid:focus {
    box-shadow: rgba(255, 0, 0, 0.4) 0 0 2px 2px;
}
.abnormal-msg, .invalid-msg {
    $background: $tooltip-bg;
    background: $background;
    border-radius: 5px;
    display: none;
    font-size: $font-size-small;
    margin: 8px -8px 0;
    padding: 6px 8px;
    position: absolute;

    &::after {
        border-style: solid outset solid solid;
        border-width: 7px;
        border-color: transparent;
        border-bottom-color: $background;
        content: '';
        height: 0;
        left: 50%;
        margin-left: -7px;
        position: absolute;
        top: -14px;
        width: 0;
    }
}
.abnormal-msg {
    color: #fd9;
}
.invalid-msg {
    color: #faa;
}
input.abnormal:focus ~ .abnormal-msg, input.invalid:focus ~ .invalid-msg {
    display: block;
    z-index: 1000;
}
input.abnormal + .tooltip, input.invalid + .tooltip {
    display: none !important;
}

// Textareas

textarea.vertical-resize {
    resize: vertical;
}

// Small input group in `.radio` list

.radio > .with-input-group-sm {
    & > input[type=radio] {
        top: 5px;
    }
    & > div {
        display: inline-block;
        vertical-align: middle;
    }
}

// Bordered vertical radio lists

.radio-group .list-group-item {
    padding: 0;
    & > label {
        display: block;
        margin: 0;
        position: relative;
        & > input[type="radio"] {
            float: right;
            margin: 10px;
        }
        & > .radio-label {
            padding: 10px 15px;
            & > .list-group-item-heading > small {
                font-size: 100%;
                margin-left: 1ex;
            }
        }
        & > .radio-label:hover, & > input[type="radio"]:hover + .radio-label {
            color: $list-group-link-hover-color;
            background-color: $list-group-hover-bg;
        }
        & > input[type="radio"]:checked + .radio-label {
            background-color: $list-group-hover-bg;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .radio-group .list-group-item > label {
        & > input[type="radio"] {
            float: none;
            position: absolute;
            margin: -0.45em 0 0;
            right: 15px;
            top: 50%;
        }
        & > .radio-label {
            padding: 10px 30px 10px 15px;
        }
    }
}

// Inline radio button groups

.btn-group-radio {
    input[type="radio"] {
        left: -1000vw;
        position: absolute;
    }
    & > .btn {
        overflow: hidden;
        padding: 0;
        &:hover {
            background-color: #fafafa;
        }
    }
    .btn-text {
        padding: 6px 12px;
        &:before {
            content: '⚪ ';
            color: #ddd;
            margin-left: -3px;
        }
    }
    input[type="radio"]:checked + .btn-text {
        background-color: #f8f4ff;
        &:before {
            content: '⚫ ';
            color: darken(#f8f4ff, 15%);
        }
    }
    input[type="radio"]:focus + .btn-text {
        background-color: #fafafa;
    }
}

// Radio tabs: radio buttons that act like tabs

.radio-tabs {
    display: flex;
    flex-wrap: wrap;
    & > .tab-controller {
        left: -1000vw;
        position: absolute;
        &:focus + label {
            border: 1px dotted;
        }
    }
    & > .tab-controller + label {
        margin-bottom: 1em;
        order: -1;
        overflow: hidden;
        padding: 6px 12px;
        &:before {
            content: '⚪ ';
            color: #ddd;
            margin-left: -3px;
        }
        &:not(:first-of-type) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
        }
        &:not(:last-of-type) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        &:hover {
            background-color: #fafafa;
        }
    }
    & > .tab-controller:checked + label {
        background-color: #f8f4ff;
        &:before {
            content: '⚫ ';
            color: darken(#f8f4ff, 15%);
        }
    }
    & > .tab-controller + label + .tab-content {
        display: none;
        width: 100%;
    }
    & > .tab-controller:checked + label + .tab-content {
        display: block;
    }
}
