.icon {
    display: inline-block;
    fill: currentColor;
}
.icon + span {
    margin-left: 2px;
}
.icon-16 {
    height: 17px;
    margin-top: calc((1lh - 16px) / 2);
    vertical-align: top;
    width: 17px;
}
.icon-32 {
    height: 32px;
    width: 32px;
}
