svg {
    vertical-align: top;
}
.icon + span {
    margin-left: 2px;
}
span.icon-16 {
    display: inline-block;
    line-height: 16px;
    & > svg {
        height: 16px;
        width: 16px;
    }
}
span.icon-32 {
    display: inline-block;
    line-height: 32px;
    & > svg {
        height: 32px;
        width: 32px;
    }
}
