.fa-brand-color {
    // https://logo-colors.com/
    &.fa-bitbucket { color: #0052cc; }
    &.fa-facebook-square { color: #3c5598; }
    &.fa-github { color: #24292e; }
    &.fa-gitlab { color: #fca326; }
    &.fa-google { color: #e13032; }
    &.fa-mastodon { color: #3088d4; }
    &.fa-twitch { color: #6441a5; }
    &.fa-twitter { color: #1da1f2; }
    &.fa-youtube { color: #e62117; }
}
