.checklist {
    list-style: none;
    padding-left: 0;
    & > li {
        padding-left: 0;
    }
}

.right-pointing-arrows {
    list-style-type: '→ ';
    padding-left: 2ex;
}
.hooked-right-pointing-arrows {
    list-style-type: '↪ ';
    padding-left: 2ex;
}

// Status lists

ul.status-list {
    list-style: none;
    margin: 0 0 1em 0;
    padding-left: 0;
    & > li {
        margin-bottom: 0.33em;
        padding-left: 4ex;
        position: relative;
        &::before {
            left: 1ex;
            list-style: none;
            position: absolute;
        }
    }
}
ul.list-yes > li::before {
    color: $state-success-text;
    content: '✔';
}
ul.list-no > li::before {
    color: $state-danger-text;
    content: '✖';
}
