
.navbar-nav {
    margin: 0;
    & > li > a {
        padding-bottom: $navbar-padding-vertical;
        padding-top: $navbar-padding-vertical;
    }
}

.navbar-liberapay {
    background: #f6c915;
    border: none;
    color: #1a171b;

    .navbar-nav li {
        & > a, .navbar-btn {
            background: transparent;
            border: none;
            color: inherit;
            &:hover, &:active, &:focus {
                background: #444;
                color: #f9f9f9;
                img {
                    background: #f9f9f9;
                }
            }
            &.navbar-warning {
                color: #f54020;
                &:hover, &:active, &:focus {
                    color: #f94321;
                }
            }
        }
        &.active {
            & > a, .navbar-btn {
                background: #444;
                color: #f9f9f9;
                img {
                    background: #f9f9f9;
                }
                &.navbar-warning {
                    color: #f0ad4e;
                }
            }
        }
        &.divider {
            background: #666;
        }
        .navbar-btn {
            margin: 0;
            padding: $navbar-padding-vertical $navbar-padding-horizontal;
        }
        .dropdown-menu {
            background-color: #f6c915;
            border: none;
            border-radius: 0;
            position: absolute;
            & > .level2 > a {
                padding-left: 30px;
            }
            .form-group {
                margin: 0 10px;
            }
            form .navbar-btn {
                border-radius: 0;
                padding: 3px $navbar-padding-horizontal;
                text-align: left;
                width: 100%;
            }
        }
        .dropdown-hover .dropdown-menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .container .navbar-brand {
        margin-left: 0;
    }
    .navbar-brand {
        height: 50px;
        line-height: 32px;
        padding: 9px;
        width: 50px;
    }
}

.navbar-nav > li.locale:first-child {
    margin-right: 1em;
}

.navbar .avatar-cutter-28 {
    border-radius: 2px;
    display: inline-block;
    margin: -8px 2px -8px 0;
}

.navbar-nav > li.collapsed {
    display: none;
}

@media (max-width: $grid-float-breakpoint - 1) {
    .navbar > .container {
        position: relative;
    }
    .navbar-nav > li.collapsed {
        display: inline-block;
    }
    .navbar .navbar-nav.navbar-always {
        display: table;
        width: 100%;
        & > li {
            display: table-cell;
            text-align: center;
            vertical-align: top;
            & > a, & > button {
                display: inline-block;
            }
            &.dropdown {
                position: static;
            }
            .dropdown-menu {
                left: 0;
                right: 0;
            }
        }
    }
    .navbar-always > li {
        span.text, span.caret {
            display: none;
        }
    }
    .navbar-collapse > .navbar-nav {
        background-color: #f6c915;
        color: #1a171b;
        > li .dropdown-menu {
            position: static;
        }
    }
}
