
.navbar-nav {
    margin: 0;
    & > li {
        float: left;
        & > a {
            padding-bottom: 15px;
            padding-top: 15px;
        }
    }
}

.navbar-liberapay {
    background: #f6c915;
    border: none;

    .navbar-nav li {
        & > a, .navbar-btn {
            background: transparent;
            border: none;
            color: #222;
            &:hover, &:active, &:focus {
                background: #444;
                color: #f9f9f9;
                img {
                    background: #f9f9f9;
                }
            }
            &.navbar-warning {
                color: #f54020;
                &:hover, &:active, &:focus {
                    color: #f94321;
                }
            }
        }
        &.active {
            & > a, .navbar-btn {
                background: #444;
                color: #f9f9f9;
                img {
                    background: #f9f9f9;
                }
                &.navbar-warning {
                    color: #f0ad4e;
                }
            }
        }
        &.divider {
            background: #666;
        }
        .navbar-btn {
            margin: 0;
            padding: 15px 13px;
        }
        .dropdown-menu {
            background: #f6c915;
            border: none;
            border-radius: 0;
            position: absolute;
            & > .level2 > a {
                padding-left: 30px;
            }
            .form-group {
                margin: 0 10px;
            }
        }
        .dropdown-hover .dropdown-menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .container .navbar-brand {
        margin-left: 0;
    }
    .navbar-brand {
        & > img {
            border-radius: 4px;
            color: #000;
            height: 30px;
            line-height: 30px;
            margin-top: -5px;
        }
    }
}

.navbar-nav > li.locale:first-child {
    margin-right: 1em;
}

.navbar .dropdown-toggle > img.avatar {
    border-radius: 2px;
    height: 28px;
    margin: -8px 2px -4px 0;
}
