.table td > form > input.form-control {
    height: 30px;
    margin: -7px 0;
    padding: 4px 8px;
}

.table-condensed td > form > input.form-control {
    height: 28px;
    margin: -4px 0;
    padding: 2px 5px;
}

.table tr.subrow > td {
    border-width: 0;
}

.text-right th {
    text-align: right;
    &.text-left {
        text-align: left;
    }
    &.text-center {
        text-align: center;
    }
}

.first-col-left th:first-child, .first-col-left td:first-child {
    text-align: left;
}

.last-col-right th:last-child, .last-col-right td:last-child {
    text-align: right;
}

@media (max-width: $screen-xs-max) {
    .table-fold-xs {
        display: block;
        thead {
            display: none;
        }
        tbody, tr {
            display: block;
        }
        tbody > tr > td {
            border-width: 0 !important;
            display: inline-block;
            text-align: left !important;
            &.block-xs {
                display: block;
            }
        }
        tr {
            border-top: 1px solid $table-border-color;
        }
    }
}
