.no-default-styles {
    all: unset;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.break-word-anywhere {
    word-break: break-all;
    word-wrap: anywhere;
    overflow-wrap: anywhere;
}

.contain {
    max-width: 100%;
}

.font-lg {
    font-size: $font-size-large;
}

.inline-block {
    display: inline-block;
}

.monospace {
    font-family: $font-family-monospace;
}

.no-margin-top {
    margin-top: 0 !important;
}

.m-0 {
    margin: 0;
}

.mb-3 {
    margin-bottom: ($line-height-computed / 2);
}

.mb-4 {
    margin-bottom: $line-height-computed;
}

.mt-3 {
    margin-top: ($line-height-computed / 2);
}

.mt-4 {
    margin-bottom: $line-height-computed;
}

.row-gap-3 {
    row-gap: 0.5em;
}

.column-gap-2 {
    column-gap: 0.3em;
}

.pre-wrap {
    white-space: pre-wrap;
}

.middle {
    vertical-align: middle;
}

.flex-row {
    display: flex;
    margin-right: -10px;
}

.align-items-center {
    align-items: center;
}

.flex-col {
    margin: 10px 10px 10px 0;
}

.out-of-sight {
    position: absolute;
    left: -1000vw;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.max-width-500 {
    max-width: 500px;
}

.max-width-750 {
    max-width: 750px;
}

@for $i from 0 through 100 {
    .width-#{$i} {
        width: $i * 1%;
    }
}

@media (max-width: $screen-sm-min - 1) {
    .block-xs {
        display: block;
    }
    .no-float-xs {
        float: none !important;
    }
    .text-center-xs {
        text-align: center;
    }
    .expand-xs {
        width: 100%;
    }
}
