.no-default-styles {
    all: unset;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.contain {
    max-width: 100%;
}

.font-lg {
    font-size: $font-size-lg;
}

.font-md {
    font-size: $font-size-base;
}

.inline-block {
    display: inline-block;
}

.monospace {
    font-family: $font-family-monospace;
}

.no-margin-top {
    margin-top: 0 !important;
}

.paragraph {
    margin-bottom: ($line-height-base / 2);
}

.pre-wrap {
    white-space: pre-wrap;
}

.middle {
    vertical-align: middle;
}

.flex-row {
    display: flex;
    margin-right: -10px;
}

.align-items-center {
    align-items: center;
}

.flex-col {
    margin: 10px 10px 10px 0;
}

.out-of-sight {
    position: absolute;
    left: -1000vw;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

@for $i from 0 through 100 {
    .width-#{$i} {
        width: $i * 1%;
    }
}

@include media-breakpoint-down(xs) {
    .block-xs {
        display: block;
    }
    .no-float-xs {
        float: none !important;
    }
    .text-center-xs {
        text-align: center;
    }
    .expand-xs {
        width: 100%;
    }
}
