.contain {
    max-width: 100%;
}

.inline-block {
    display: inline-block;
}

@media (max-width: $screen-sm-min - 1) {
    .block-xs {
        display: block;
    }
    .no-float-xs {
        float: none !important;
    }
    .text-center-xs {
        text-align: center;
    }
}

.paragraph {
    margin-bottom: ($line-height-computed / 2);
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    overflow: visible;
}

.flex {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.padded {
    margin: 100px auto;
}
