.contain {
    max-width: 100%;
}

.inline-block {
    display: inline-block;
}

@media (max-width: $screen-sm-min - 1) {
    .block-xs {
        display: block;
    }
    .no-float-xs {
        float: none !important;
    }
    .text-center-xs {
        text-align: center;
    }
    .expand-xs {
        width: 100%;
    }
}

.paragraph {
    margin-bottom: ($line-height-computed / 2);
}

.flex-row {
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.flex-col {
    margin: 10px 10px 10px 0;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}
