.chart-wrapper {

    h2 {
        padding-top: 12pt;
    }
    .chart {
        height: 120px; // 100px for the chart + room for the max flag
    }
    .bar {
        height: 100%;
        float: left;
        position: relative;
        cursor: pointer;
    }
    .shaded {
        position: absolute;
        background: #396;
        bottom: 0;
        width: 100%;
    }
    .bar span, .x-axis {
        font: normal 7pt/7pt "Lucida Mono", Monaco, monospace;
    }
    .bar span.x-tick {
        position: absolute;
        bottom: -12pt;
        right: 0;
        padding: 5pt 0.5pt 0 0;
        border: 1pt solid #630;
        border-style: none solid none none;
        display: none;
        color: #630;
        background: white;
    }
    .bar span.y-label {     // This is the flag.
        display: none;
        position: absolute;
        top: -17pt;
        right: 0;
        z-index: 1;         // Wants to be over the bars.
        text-align: center;
        background: white;
        color: #630;
        border: 2pt solid #630;
        border-radius: 3pt 0 0 3pt;
        padding: 2pt 3pt;
    }
    .bar.max span.y-label {
        display: block;
    }
    .bar.flagged span.y-label,
    .bar.flagged span.x-tick,
    .bar.hover span.y-label,
    .bar.hover span.x-tick {
        display: block;
    }
    .bar.hover span.y-label,
    .bar.hover span.x-tick {
        z-index: 2
    }
    .x-axis {
        text-align: center;
        padding-top: 14pt;
    }
    .note {
        font-style: italic;
        font-size: 8pt;
        line-height: 10pt;
    }
}
