files:
  "/etc/httpd/conf.d/zzz_liberapay.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        LogFormat "%t %s %{us}Tus %{Host}i \"%r\" %B \"%{Referer}i\"" combined
        # Hide health check requests from access logs
        SetEnvIfNoCase User-Agent "^ELB-HealthChecker" dontlog
commands:
  01_customlog:
    command: "sed -e 's|^\\s*CustomLog .logs/access_log. combined$|\\0 env=!dontlog|' -i /etc/httpd/conf/httpd.conf"
