files:
  "/etc/httpd/conf.d/000_default_host.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        <VirtualHost *:80>
        SetEnvIf Host "^([0-9]{1,3}\.){3}[0-9]{1,3}$" dontlog
        Redirect 404 /
        </VirtualHost>
  "/etc/httpd/conf.d/zzz_liberapay.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        LogFormat "%t %s %{us}Tus %{Host}i \"%r\" %B \"%{Referer}i\"" combined
        # Hide health check requests from access logs
        SetEnvIfNoCase User-Agent "^ELB-HealthChecker" dontlog
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/97apacheconf.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash -e
        f=$(/opt/elasticbeanstalk/bin/get-config container -k wsgi_staging_config)
        sed -e 's|^\s*<VirtualHost .*|\0\nServerName liberapay.com\nServerAlias *.liberapay.com|' -i $f
commands:
  01_customlog:
    command: "sed -e 's|^\\s*CustomLog .logs/access_log. combined$|\\0 env=!dontlog|' -i /etc/httpd/conf/httpd.conf"
