files:
  "/etc/profile.d/appenv.sh":
    mode: "000644"
    owner: root
    group: root
    content: |
        #!/bin/sh
        source /opt/python/current/env
        export PGHOST=$RDS_HOSTNAME
        export PGPORT=$RDS_PORT
        export PGDATABASE=$RDS_DB_NAME
        export PGUSER=$RDS_USERNAME
        export PGPASSWORD=$RDS_PASSWORD
