files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/98pip.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash -e
        source /opt/python/ondeck/env
        cd /opt/python/ondeck/app
        pip install --upgrade pip
        pip install --require-hashes -r requirements_base.txt
