files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99checkconf.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
        #!/bin/bash -e
        source /opt/python/ondeck/env
        cd /opt/python/ondeck/app
        export PYTHONPATH="/opt/python/ondeck/app/:$PYTHONPATH"
        python liberapay/wireup.py
