<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
% if state.get('log-in.email-sent-to') or state.get('log-in.carry-on')
% include "templates/log-in-form.html"
% else

    <p>{{ _("You need an account for this. Please fill one of the forms below.") }}</p>

<h2 class="banderole success">{{ _("Create an account") }}</h2>
<form action="" method="POST">
    % from "templates/macros/sign-up-form.html" import sign_up_form with context
    {{ sign_up_form(select_currency=False) }}
</form>

<h2 class="banderole success">{{ _("Use an existing account") }}</h2>
% include "templates/log-in-form.html"

% endif
</div>
</div>
