% set error = response.email_error
<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
<p class="alert alert-danger">{{ response.body }}</p>
% if error.reason == 'bounce'
    % set bounce_message = error.get_bounce_message()
    % if bounce_message
        <p>{{ _("The error message from the email system was:") }}</p>
        <pre>{{ bounce_message }}</pre>
        <br>
    % endif
    <p>{{ _(
        "If you believe that emails sent by us to {email_address} will no "
        "longer bounce back, then you can remove this address from the "
        "blacklist and try again:",
        email_address=error.email_address
    ) }}</p>
    <form action="" method="POST">
        % include "templates/form-repost.html"
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <button class="btn btn-primary" name="email.unblacklist" value="{{ error.email_address }}">{{ _(
            "Bypass the blacklist and retry"
        ) }}</button>
    </form>
% endif
% set input_name = request.find_input_name(error.email_address)
% if input_name in ('add-email', 'sign-in.email')
    <p>{{ _("Alternatively, you can try a different email address:") }}</p>
    <form action="" method="POST">
        % include "templates/form-repost.html"
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <div class="form-group">
            <input class="form-control" type="email" name="{{ input_name }}" placeholder="alice@example.org" />
        </div>
        <button class="btn btn-primary">{{ _("Proceed") }}</button>
    </form>
% endif
</div>
</div>
