<div class="row">
<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="alert alert-danger">{{ _(
        "There have been too many attempts to log in to this account recently, "
        "please try again in a few hours or log in via email."
    ) }}</div>
    <form action="" method="POST">
        % set email = request.body.pop('log-in.id', '')
        % set email = email if '@' in email else ''
        % include "templates/form-repost.html"
        % if email
            <input type="hidden" name="log-in.id" value="{{ email }}" />
        % else
            <br>
            <div class="form-group">
                <input name="log-in.id" class="form-control" required
                       type="email" autocomplete="email"
                       placeholder="{{ _('Email address') }}" />
            </div>
        % endif
        <button class="btn btn-primary btn-lg">{{ _("Log in via email") }}</button>
    </form>
</div>
</div>
