/*
@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400);
*/

@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: bold;
  src: local('Cabin Bold'), local('Cabin-Bold'), url('/assets/fonts/haOjnueK8Or1ztuuRtr8dnYhjbSpvc47ee6xR_80Hnw.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local('Cabin Italic'), local('Cabin-Italic'), url('/assets/fonts/SYYqINfDCIH45kObNrBWvgLUuEpTyoUstqEm5AMlJo4.woff') format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url('/assets/fonts/kJXt72Gt1LyFMZcEKAAvlKCWcynf_cDxXwCLxiixG1c.woff') format('woff');
}
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: normal;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url('/assets/fonts/d9fijO34zQajqQvl3YHRCaRDOzjiPcYnFooOUGCOsRk.woff') format('woff');
}
