@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400);
@import url("/assets/reset.css");


LABEL {
    display: block;
}


BODY {
    margin: 0;
    padding: 0;
    font: normal 12pt/16pt Cabin, sans-serif;
    /* http://www.backgroundcity.com/groups/gfiles/g4/g4wd14.gif */
    background: url("/assets/bg.gif") repeat;
    color: #301403;
}

#body {
    position: relative;
    background: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 2px solid #301403;
    margin: 20px auto;
    padding: 10px 20px;
    width: 800px;
    
}
#content {
    padding: 0;
}

H1 {
    margin: 0;
    padding: 0 0 0.5em 0;
    line-height: 100%;
    font: normal 18pt/18pt "Cabin Sketch", sans-serif;
}
H1 A {
    text-decoration: none;
    color: #301403;
    color: #2A8F79;
}
#signed {
    position: absolute;
    top: 50px;
    right: 40px; 
}
H2 {
    font: normal italic 16pt/16pt Cabin;
    margin: 2em 0 0.5em;
    padding: 0;
    text-align: center;
}
A { color: #866639; }
A:hover {
    color: #301403; 
    background: #FFFF00; 
}
P {
    margin: 0 0 1em;
}
H3 {
    margin: 0;
    padding: 1em 0 0.5em;
    color: #615C4C;
}
H3.year {
    margin: 0;
    padding: 11px 0 0;
    float: left;
    text-align: right;
    width: 64px;
    margin-left: -18px;
}
H3 A {
    display: none;
}
H3:hover A {
    display: inline;
}
.posts {
    padding: 10px 0 0 64px;
}
.nav {
    margin: 0;
    padding: 0;
}
.hr {
    padding: 10px 0;
    clear: both;
}
A IMG {
    border: none;
}
LI {
    margin-left: 1em;
    border-left: 10px solid #301403;
}

@media screen and (max-width: 900px) {
    DIV#post {
        width: auto;
    }
    
    .sidebar, .midbar {
        float: none;
        width: auto;
        text-align: center;
    }
    .sidebar-padding, .midbar {
        border: 2px solid #CCC;
        border-style: solid none;
        padding: 20px;
        margin: 0;
    }
    .sidebar IMG {
        margin: 0 auto;
    }
    .midbar IMG {
        margin: 0 auto;
        width: 300px;
    }
}
