^L
{% extends templates/base.html %}
{% block body %}
<style>
    H2 {
        padding-top: 100px;
    }
    .chart {
        position: relative;
        width: 600px;
        height: 400px;
    }
    .point {
        font-size: 11px;
        line-height: 11px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .x-axis {
        text-align: center;
    }
</style>

<h2 style="margin-top: 0; padding-top: 64px">Registrations</h2>
<div class="chart" id="registrations"></div>
<div class="x-axis">weeks</div>

<h2>Funders</h2>
<div class="chart" id="funders"></div>
<div class="x-axis">weeks</div>

<h2>Transfer Volume ($)</h2>
<div class="chart" id="volume"></div>
<div class="x-axis">weeks</div>

<script>
    $(document).ready(function()
    {
        var Volume = $('#volume');
        var Funders = $('#funders');
        var Registrations= $('#registrations');
        jQuery.get('/about/paydays.json', function(paydays)
        {
            var n = paydays.length - 1; // don't show Gittip #0
            var w = 580 / n;
            var payday = null;

            for (var i=0; i < n; i++)
            {
                payday = paydays[i];

                // registrations
                var p3 = $(document.createElement('div'));
                p3.addClass('point');
                p3.text(payday.nparticipants);
                var ntippers = parseFloat(payday.nparticipants);
                p3.css({ top: 400 - ((ntippers / 4000) * 400) - 6
                          , left: w * (n - i - 1)
                           });
                Registrations.append(p3);

                // funders
                var p2 = $(document.createElement('div'));
                p2.addClass('point');
                p2.text(payday.ntippers);
                var ntippers = parseFloat(payday.ntippers);
                p2.css({ top: 400 - ((ntippers / 200) * 400) - 6
                          , left: w * (n - i - 1)
                           });
                Funders.append(p2);

                // volume
                var point = $(document.createElement('div'));
                point.addClass('point');
                point.text(payday.transfer_volume);
                var volume = parseFloat(payday.transfer_volume);
                point.css({ top: 400 - ((volume / 1100) * 400) - 6
                          , left: w * (n - i - 1)
                           });
                Volume.append(point);
            }
        });
    });
</script>
{% end %}
