^L
{% extends templates/base.html %}
{% block body %}
<style>
    DT {
        font-weight: bold;
        margin: 1em 0 0.25em;
    }
</style>
<h2>FAQ</h2>

<dl>

    <dt>What is Gittip?</dt>

    <dd>Gittip is a platform for sustainable crowd-funding. Use it to set up a
    $1 per week (or more) anonymous gift to someone you think does great
    work.</dd>


    <dt>Who is Gittip?</dt>

    <dd>Gittip is an <a
        href="http://blog.gittip.com/post/26350459746/the-first-open-company">open
        company</a>, founded by <a href="/whit537/">Chad Whitacre</a>. Over a
    dozen people are contributing <a
        href="https://github.com/whit537/www.gittip.com/graphs/contributors">
        code</a>, and more than 40 participate in <a
        href="https://github.com/whit537/www.gittip.com/issues">discussions</a>
    on GitHub, not to mention Hacker News and other forums.</dd>


    <dt>How is Gittip funded?</dt>

    <dd>Gittip is funded on Gittip.</dd>


    <dt>Can I make a one-time tip?</dt>

    <dd>No. Gittip is designed for long-term, sustainable funding, and only
    supports recurring gifts at this time.</dd>  

    <dt>I&rsquo;m not in the U.S., can I still tip using Gittip?</dt>

    <dd>Absolutely! We&rsquo;re able to accept international credit card
    payments. If you encounter any issues tipping and you are outside the US,
    please let us know.</dd>


    <dt>I&rsquo;m not in the U.S., can I receive tips using Gittip?</dt>

    <dd>Yes. But, unfortunately, you can&rsquo;t automatically withdraw your
    gifts from Gittip unless you have a U.S. bank account. We&rsquo;re looking
    for a solution for <a
        href="https://github.com/whit537/www.gittip.com/issues/126">non-US
        withdrawals</a>.</dd>

    <dt>How do I withdraw money from Gittip?</dt>

    <dd>Participants in the U.S. can <a
        href="https://www.gittip.com/bank-account.html">connect a bank
        account</a> to have funds <a
        href="http://blog.gittip.com/post/30116848405/with-payouts-gittip-is-minimally-viable">deposited
        weekly</a> (less a $0.30 fee). It takes one business day for deposits
    to clear, so generally they will clear on Friday. Outside the U.S., payouts
    are <a href="https://github.com/whit537/www.gittip.com/issues/126">a manual
        process</a> (with postage and/or fees charged at cost).</dd>

    <dt>Can I pay with bitcoin?</dt>

    <dd>No. The challenges with bitcoin are handling recurring payments and
    transparently converting to USD. We are currently seeking help to <a
        href="https://github.com/whit537/www.gittip.com/issues/14">implement
        bitcoin tips</a>.</dd>


    <dt>Can I use Gittip to support organizations?</dt>

    <dd>Yes. Some accounts on Gittip represent organizations.</dd>


    <dt>How do I know my tips are being received by the right person?</dt>

    <dd>You can follow links to Gittip from a trusted source like a person or
    organization&rsquo;s website. Also, Twitter verifies accounts in instances
    where this is particularly relevant, so check their Twitter account
    carefully if it&rsquo;s linked.</dd>


    <dt>Do I have to pay taxes on the income I receive from Gittip?</dt>

    <dd>Gittip is operating on the principle that money received through the
    site is a gift for tax purposes, in jurisdictions where that is
    relevant.</dd>


    <dt>Are gifts I give through Gittip tax-deductible?</dt>

    <dd>No.</dd>


    <dt>I don&rsquo;t want to receive tips, I just want to give them. What
    should I do?</dt>

    <dd>Please select &ldquo;I&rsquo;m not here to receive tips. I&rsquo;ll
    generally regift them&rdquo; as your personal funding goal.</dd>

</dl>
{% end %}
