^L
{% extends templates/base.html %}
{% block body %}
<style>
    DT {
        font-weight: bold;
        margin: 1em 0 0.25em;
    }
</style>
<h2>FAQ</h2>

<dl>

    <dt>Can I make a one-time tip?</dt>

    <dd>Gittip currently only supports recurring tips.</dd>


    <dt>Can I pay with bitcoin or other currencies?</dt>

    <dd>The only currency gittip currently supports is the US Dollar.</dd>


    <dt>If I receive gittips, can I get an automated withdrawal of my tips?</dt>

    <dd>At the moment, gittip only supports manual withdrawals of funds, but we
    hope to implement this soon.</dd>


    <dt>Can I use gittip to support organizations?</dt>

    <dd>We want to be able to to distribute tips to organizations as well as
    individuals, but haven't quite figured out how.</dd>


    <dt>I'm not in the USA, can I still tip using gittip?</dt>

    <dd>Absolutely! We're able to accept tips from outside the United States. If
    you encounter any issues tipping and you are outside the US, please let us
    know.</dd>


    <dt>Do I have to pay taxes on the income I receive from gittip?</dt>

    <dd>We're not sure, but in the USA, one is not taxed on gifts of less than
    13,000 dollars per person per year. Consult with your lawyer and your
    accountant.</dd>


    <dt>I don't want to receive tips, I just want to give them. What should I
    do?</dt>

    <dd>Please select "I&rsquo;m not here to receive tips. I&rsquo;ll generally
    regift them" as your personal funding goal.</dd>

</dl>
{% end %}
