from gittip import age
^L
^L
{% extends templates/base.html %}
{% block body %}
    <a name="stats"></a> 
    <h2>Gittip is <b>{{ age() }}</b> old.
        <span class="small"><a href="stats.html">More stats</a></span>
    </h2>


    <a name="our-mission"></a> 
    <h2>Our Mission</h2>

    <p>Gittip&rsquo;s mission is to <b>establish giving as our primary social
        interaction</b>.</p>
   
    <p>To this end we&rsquo;re building a platform to support gift
    economies.</p>


    <a name="gift-tips"></a> 
    <h2>Gittips</h2>

    <p>Gittips (short for &ldquo;gift tips&rdquo;) are the basis for the Gittip
    gift economy platform. Gittips are <b>small, anonymous, weekly gifts of
        money with no strings attached</b>.</p>

    <p>Imagine walking down the street and a bunch of your local townsfolk are
    lined up sitting there alongside a slew of celebrities and a random
    assortment of other humans. Each one is doing their own thing and has a jar
    out. You have a few bucks in your pocket and you&rsquo;re in a good mood.
    <b>Who would you tip?</b></p>

    <p>There&rsquo;s something called a <a
        href="http://en.wikipedia.org/wiki/MacArthur_Fellows_Program">genius
        grant</a> that the MacArthur Foundation gives to about 30 people
    each year. It&rsquo;s ten million dollars over five years, <b>no
        strings attached</b>. &ldquo;Just keep being a genius. Please spend
    another five years making the world better for the rest of us.&rdquo;
    The winners don&rsquo;t even know they&rsquo;re in the running until
    they get the phone call that they won.</p>
    
    <p>Gittip is <b>genius grants for the rest of us</b>. Call them
    pretty-smart grants, or crowd-sourced genius grants.</p>

    <p>Gittip is (<a
        href="https://github.com/whit537/www.gittip.com/issues/80">eventually</a>)
    for the local coffee shop owner that&rsquo;s really doing a lot for your
    town.  You&rsquo;re a fan. You buy coffee from her, but you want to do
    something more&mdash;a little something, not a big deal. If a hundred other
    people in your town feel the same way, it starts to add up. Now she can
    offer free coffee on Sunday mornings. Or whatever.  She knows what
    she&rsquo;s doing.  No strings attached.</p>

    <p>Gittip is (<a
        href="https://github.com/whit537/www.gittip.com/issues/80">eventually</a>)
    for the musician who gives their music away for free.  You love their work.
    You go to their shows, you actually pay for the downloads, but you want to
    make sure their family is covered. You want to chip in&mdash;a little
    something&mdash;so they&rsquo;re freed up to make great music.</p>

    <p>Gittip is (today) for your favorite open source developer. You study
    their code, and you implicitly trust any software they write. You want to
    free them up to write even more of it.</p>
    
    <p>Gittip is voluntary <b>welfare for productive people</b>.</p>

    <p>Gittip is <b>Kickstarter for people</b> (not just projects).</p>

    <p>Gittip is <b>Flattr for people</b> (not just content).</p>

    <p>Gittip is a <b>gift economy platform</b> implemented atop the global
    exchange economy.</p>
    

    <a name="gift-economy-platform"></a> 
    <h2>Gift Economy Platform</h2>

    <p>A <a href="http://en.wikipedia.org/wiki/Gift_economy">gift economy</a>
    is &ldquo;a mode of exchange that contrasts to market or commodity
    exchange. In principle, <b>voluntary and recurring gift exchange</b> both
    creates and circulates wealth and consumption goods and builds a community.
    In contrast to a market economy, informal custom governs gift exchange,
    rather than negotiated pricing.&rdquo;</p>

    <p>Gittip can be thought of as a gift economy in which the <b>individual
        and society</b> as a whole are the two parties in the gift exchange.
    The individual freely gives the fruits of their labor, whether it be open
    source software, music, etc., to all members of society as a whole.
    Society as a whole reciprocates, using money borrowed from the existing
    global exchange economy to accord social status to beneficent
    individuals.</p>
   
    <p>Money has traditionally been used to encode the <a
        href="http://en.wikipedia.org/wiki/Medium_of_exchange">value of
        goods</a>, but Gittip subverts money to encode the <b>value of
        people</b>, which sounds really scary and wrong. However, Gittip is
    radically democratic. People in Gittip are not a &ldquo;human
    resource&rdquo; over which a hierarchy exerts control. People in Gittip are
    ... people. Free, autonomous individuals. Free to make society better on
    their own terms, unencumbered by duty to a hierarchy. Free, of course, not
    to participate in Gittip.</p>

    <p>The mission of Gittip is to establish giving as our primary social
    interaction. This already happens in myriad ways that have nothing to do
    with Gittip. Open source software is probably our best example of an
    existing large-scale gift economy, but of course at the level of friends
    and family we all participate in localized gift economies. Gittip exists to
    bridge the gap between existing and yet-to-emerge larger-scale gift
    economies and the global exchange economy. The hope is that by doing so we
    can <b>&ldquo;reverse the polarity&rdquo;</b> of our economy, so that
    voluntary cooperative giving becomes the global norm rather than coerced
    competitive taking.</p>


    <a name="details"></a> 
    <h2>Details</h2>

    <p>Gittips are <b>weekly</b>. One-off contributions aren&rsquo;t
    enough.</p>

    <p>Gittips are <b>anonymous</b>. The people you gittip aren&rsquo;t
    told who tipped them. Also, you can&rsquo;t gittip more than $1.28 a week.
    This way, gittips come with <b>no strings attached</b>. Alice works on
    whatever she wants to work on. Bob gives to whomever he wants to.</p>

    <p>Gittips are <b>public</b>. The amount you give is private, but the
    total amount you receive is public. Gifts received closely reflect benefit
    to society, so calling out high receivers encourages <b>true value
        creation</b>. Alice is concretely rewarded by a thousand Bobs for
    contributing to society.</p>

    <p>Gittips are distributed <b>every Friday</b>. Gittips come out of
    your current balance (the money people have gifted you), and if
    that&rsquo;s not enough, Gittip can charge your credit card to make up the
    difference. We add an additional <b>30&cent; + 3.9%</b> fee when pulling
    money in from your credit card, to cover credit card processing (as well as
    hosting and other expenses). Recipients get the <b>full face value</b> of
    your gift to them.  If you give someone $1.28, they will have $1.28 in
    their Gittip account every Friday until you run out of money.</p>

    <p>For example, let&rsquo;s say that you have $5 in your account, and you
    are set up to give $0.64 to 20 people. Here&rsquo;s what we will charge
    your credit card on Friday:</p>

    <p style="font-family: monospace; font-size: smaller; padding-left: 33%;">
        &nbsp;$&nbsp;0.64<br />
        <u>x&nbsp;20&nbsp;&nbsp;&nbsp;</u><br />
        &nbsp;$12.80&nbsp;&nbsp;&nbsp;total gittips<br />
        <u>-$&nbsp;5.00</u>&nbsp;&nbsp;&nbsp;current balance<br />
        &nbsp;<b>$&nbsp;7.80&nbsp;&nbsp;&nbsp;amount needed</b><br />
        <u>+$&nbsp;0.30</u>&nbsp;&nbsp;&nbsp;fee<br />
        &nbsp;$&nbsp;8.10<br />
        <u>x&nbsp;&nbsp;1.039</u>&nbsp;&nbsp;fee<br />
        &nbsp;<b>$&nbsp;8.42&nbsp;&nbsp;&nbsp;amount charged</b><br />
        <u>-$&nbsp;7.80</u>&nbsp;&nbsp;&nbsp;<br />
        &nbsp;$&nbsp;0.62&nbsp;&nbsp;&nbsp;total fee<br />
    </p>

    <p>Participants can withdraw funds from their Gittip account at any time,
    though this is currently <a
        href="https://github.com/whit537/www.gittip.com/issues/22">a manual
        process</a>.</p>
    

    <a name="get-involved"></a> 
    <h2>Get Involved</h2>

    <p>Gittip.com is <a
        href="https://github.com/whit537/www.gittip.com">open source</a> on
    GitHub. Join <a href="irc://irc.freenode.net/#gittip">#gittip</a> on
    freenode, or the <a
        href="https://groups.google.com/forum/#!forum/gittip-discuss">gittip-discuss</a>
    (general) or <a
        href="https://groups.google.com/forum/#!forum/gittip-dev">gittip-dev</a>
    (technical) mailing lists. Or call <a href="/whit537/">Chad Whitacre</a> at
    +1-412-925-4220, or visit him at 716 Park Road in Ambridge, PA, 15003,
    USA.</p>

    <p>My intention is to organize Gittip as <a
        href="http://blog.gittip.com/post/25215503687/corporations-and-open-ones">an
        open corporation</a>. If you&rsquo;re interested in helping with that,
    let&rsquo;s talk.</p>

{% end %}
