from gittip import age, db
^L
if not user.ANON:
    username = user.id
nparticipants = db.fetchone("SELECT count(*) AS n FROM participants WHERE claimed_time IS NOT NULL")['n']
^L
{% extends templates/base.html %}
{% block body %}

    <p class="below-header">Gittip is <b>{{ age() }}</b> old and has
    <b>{{ nparticipants }}</b> participants. <span class="small"><a
            href="stats.html">More stats ...</a></span></p>


    <a name="gittips"></a>
    <h2>What&rsquo;s a gittip?</h2>

    <p>Gittips (short for &ldquo;gift tips&rdquo;) are <b>small gifts of money
        with no strings attached</b>.</p>

    <p>Imagine walking down the street and a bunch of your local townsfolk are
    lined up sitting there alongside a slew of celebrities and a random
    assortment of other humans. Each one is doing their own thing and has a jar
    out. You have a few bucks in your pocket and you&rsquo;re in a good mood.
    <b>Who would you tip?</b></p>

    <p>There&rsquo;s something called a <a
        href="http://en.wikipedia.org/wiki/MacArthur_Fellows_Program">genius
        grant</a> that the MacArthur Foundation gives to about 30 people each
    year. It&rsquo;s $500,000 dollars over five years, <b>no strings
        attached</b>. &ldquo;Just keep being a genius. Please spend another
    five years making the world better for the rest of us.&rdquo; The winners
    don&rsquo;t even know they&rsquo;re in the running until they get the phone
    call that they won.</p>

    <p>Gittip is <b>genius grants for the rest of us</b>. Call them
    pretty-smart grants, or crowd-sourced genius grants.</p>

    <p>Gittip is (<a
        href="https://github.com/whit537/www.gittip.com/issues/80">eventually</a>)
    for the local coffee shop owner that&rsquo;s really doing a lot for your
    town.  You&rsquo;re a fan. You buy coffee from her, but you want to do
    something more&mdash;a little something, not a big deal. If a hundred other
    people in your town feel the same way, it starts to add up. Now she can
    offer free coffee on Sunday mornings. Or whatever.  She knows what
    she&rsquo;s doing.  No strings attached.</p>

    <p>Gittip is (<a
        href="https://github.com/whit537/www.gittip.com/issues/80">eventually</a>)
    for the musician who gives their music away for free.  You love their work.
    You go to their shows, you actually pay for the downloads, but you want to
    make sure their family is covered. You want to chip in&mdash;a little
    something&mdash;so they&rsquo;re freed up to make great music.</p>

    <p>Gittip is (today) for your favorite open source hacker. You implicitly
    trust any software they write. You study their code. You want to free them
    up to write even more of it.</p>

    <p>Gittip is <b>Kickstarter for people</b> (not just projects).</p>

    <p>Gittip is <b>Flattr for people</b> (not just content).</p>


    <a name="details"></a>
    <h2>Details</h2>

    <p>Gittips are <b>weekly</b>. One-off contributions aren&rsquo;t
    enough.</p>

    <p>Gittips are <b>anonymous</b>. The people you gittip aren&rsquo;t told
    who tipped them. Also, you can&rsquo;t gittip more than $24 a week per
    person. This way, gittips come with no strings attached.</p>

    <p>Gittips are <b>public</b>. The total amount you give and the total
    amount you receive is public. Participants on both sides of the equation
    are rewarded publicly for their participation.</p>

    <p>Gittips are distributed <b>every Friday</b>. Gittips come out of your
    current balance (the money people have gifted you), and if that&rsquo;s not
    enough, Gittip can charge your credit card to make up the difference. We
    add an additional <b>30&cent; + 3.9%</b> fee when pulling money in from
    your credit card, to cover credit card processing (as well as hosting and
    other expenses). We also charge you no less than <b>$10</b> to minimize
    credit card processing fees. Any extra remains in your account to be used
    next week. Recipients get the <b>full face value</b> of your gift to them.
    If you give someone $3, they will have $3 in their Gittip account every
    Friday until you run out of money.</p>

    <p>For example, let&rsquo;s say that you have $2.00 in your account, and
    you are set up to give $1.00 each to 20 people. Here&rsquo;s what we will
    charge your credit card on Friday:</p>

    <p style="font-family: monospace; font-size: smaller; padding-left: 33%;">
        &nbsp;$&nbsp;1.00<br />
        <u>x&nbsp;20&nbsp;&nbsp;&nbsp;</u>&nbsp;&nbsp;&nbsp;people<br />
        &nbsp;$20.00&nbsp;&nbsp;&nbsp;total gittips<br />
        <u>-$&nbsp;2.00</u>&nbsp;&nbsp;&nbsp;current balance<br />
        &nbsp;<b>$18.00&nbsp;&nbsp;&nbsp;amount needed</b><br />
        <u>+$&nbsp;0.30</u>&nbsp;&nbsp;&nbsp;fee<br />
        &nbsp;$18.30<br />
        <u>x&nbsp;&nbsp;1.039</u>&nbsp;&nbsp;fee<br />
        &nbsp;<b>$19.02&nbsp;&nbsp;&nbsp;amount to charge</b><br />
        <u>-$18.00</u>&nbsp;&nbsp;&nbsp;<br />
        &nbsp;$&nbsp;1.02&nbsp;&nbsp;&nbsp;total fee<br />
    </p>

    <p>Participants can withdraw funds from their Gittip account at any time,
    though this is currently <a
        href="https://github.com/whit537/www.gittip.com/issues/22">a manual
        process</a>. Postage and/or fees for withdrawing money are charged at
    cost.</p>


    <a name="get-involved"></a>
    <h2>Get Involved</h2>

    <p>Gittip.com is <a
        href="https://github.com/whit537/www.gittip.com">open source</a> on
    GitHub. Join <a href="irc://irc.freenode.net/#gittip">#gittip</a> on
    freenode, or the <a
        href="https://groups.google.com/forum/#!forum/gittip-discuss">gittip-discuss</a>
    (general) or <a
        href="https://groups.google.com/forum/#!forum/gittip-dev">gittip-dev</a>
    (technical) mailing lists. Or call <a href="/whit537/">Chad Whitacre</a> at
    +1-412-925-4220, or visit him at 716 Park Road in Ambridge, PA, 15003,
    USA.</p>

    <p>Gittip is (nominally) owned by Zeta Design &amp; Development, LLC, an <a
        href="http://blog.gittip.com/post/26350459746/the-first-open-company">
        open company</a>.</p>

{% end %}
