from gittip import db
^L

leaders = db.fetchall("""

    SELECT tippee, claimed_time, sum(amount) AS amount
      FROM (    SELECT DISTINCT ON (tipper, tippee)
                       amount
                     , tippee
                  FROM tips 
                  JOIN participants p ON p.id = tipper
                 WHERE last_bill_result = ''
              ORDER BY tipper, tippee, mtime DESC
              ) AS foo
      JOIN participants p ON p.id = tippee
  GROUP BY tippee, claimed_time
  ORDER BY amount DESC
  LIMIT 10

""")

^L
{% extends templates/base.html %}
{% block body %}
<style>
    TABLE {
        font: 300 17pt/17pt Lato, sans-serif;
        }
    TD {
        text-align: left;
        padding: 6pt 12pt 6pt 0;
    }
    TR.unclaimed,
    TR.unclaimed A {
        color: #B2A196;
    }
    TR.unclaimed TD SPAN {
        font-size: 10pt;
    }
</style>

<h2>These people have the most backed tips.</h2>

<p>Backed tips are tips from people with a {% if user.ANON %}working credit
card{% else %}<a href="/credit-card.html">working credit card</a>{% end %} on
file. If a card stops working this week then the actual amount distributed can
be lower. If someone doesn&rsquo;t have a working card but does have a positive
Gittip balance themselves then the actual amount distributed can be higher.
Make sense?</p>

<table>
    {% for i, leader in enumerate(leaders, start=1) %}
    <tr{% if leader['claimed_time'] is None %} class="unclaimed"{% end %}>
        <td>{{ i }}.</td>
        <td class="amount">$</td>
        <td class="amount">{{ leader['amount'] }}</td>
        <td><a href="/{{ leader['tippee'] }}/">{{ leader['tippee'] }}</a>
            {% if leader['claimed_time'] is None %}<span class="small help">unclaimed!</span>{% end %}
        </td>
    </tr>
    {% end %}
</table>

<h2>Gittip happens every Friday.</h2>

<p>The amounts above are what the Gittip community is willing to give as
a weekly gift to each person, but only if the person accepts it. Gittip is
<b>opt-in</b>. We never collect money on a person&rsquo;s behalf until that
person opts-in by claiming their account.</p>

{% end %}
