if not user.ANON:
    request.redirect('/%s/' % user.username)
title = "Sign In"
^L
{% extends templates/base.html %}
{% block box %}
    <div class="as-content">

    <p>Sign in using
    <a href="{{ twitter.oauth_url(website, u'opt-in', u'/credit-card.html') }}">Twitter</a>, 
    <a href="{{ github.oauth_url(website, u'opt-in', u'/credit-card.html') }}">GitHub</a>, 
    or
    <a href="{{ bitbucket.oauth_url(website, u'opt-in', u'/credit-card.html') }}">Bitbucket</a>,
    and this page will redirect you to your profile.</p>

    <p>Thanks! :-)</p>

    </div>
{% end %}
