from gittip import db, age

CARDINALS = ["zero", "one", "two", "three", "four", "five", "six", "seven", 
             "eight", "nine"]

# ========================================================================== ^L

npeople = db.fetchone("SELECT count(*) AS n FROM participants WHERE claimed_time IS NOT NULL")['n']
ncc = db.fetchone("SELECT count(*) AS n FROM participants WHERE last_bill_result = ''")['n']
statements = list(db.fetchall("SELECT id, statement FROM participants WHERE statement != '' ORDER BY id"))
amount = db.fetchone("SELECT transfer_volume AS v FROM paydays ORDER BY ts_end DESC LIMIT 1")['v']
average_tip = db.fetchone("""\
        SELECT avg(amount) FROM ( SELECT DISTINCT ON (tipper, tippee) amount 
                                    FROM tips 
                                    JOIN participants p ON tipper = p.id 
                                   WHERE p.last_bill_result = ''
                                 ) AS foo
""")['avg']
average_tippees = int(db.fetchone("""\
        SELECT round(avg(ntippees))
          FROM ( SELECT count(tippee) as NTIPPEES 
                   FROM ( SELECT DISTINCT ON (tipper, tippee) tipper, tippee 
                            FROM tips GROUP BY tipper, tippee
                         ) AS foo GROUP BY tipper) AS bar
""")['round'])

word = "people"
if average_tippees < 10:
    number = CARDINALS[average_tippees]
    if average_tippees == 1:
        word = "person" 
else:
    number = str(average_tippees)
other_people = "%s other %s" % (number, word)


def part(s):
    s = s.splitlines()[0]
    if len(s) > 60:
        s = s[:57].rsplit(None, 1)[0] + " ..."
    return s

# ========================================================================== ^L
{% extends templates/base.html %}
{% block body %}

<h2>Gittip is <b>{{ age() }}</b> old.
    <span class="small"><a href="./">About</a></span>
</h2>

<h2><b>{{ npeople }}</b> people have <b>claimed</b> their account.</h2>

<h2><b>{{ ncc }}</b> people have a working <b>credit card</b> on file.</h2>

<h2><b>${{ amount }} changed hands</b> last Friday.</h2>

<p>On average, people tip ${{ "%.2f" % average_tip }} to {{ other_people }}.</p>

<h2><b>{{ len(statements) }}</b> people are <b>making the world better</b>.</h2>

<p>
{% for statement in statements %}
<b><a href="/{{ statement['id'] }}.//">{{ escape(statement['id']) }}</a></b> 
is {{ escape(part(statement['statement'])) }}</b><br />{% end %}
</p>

{% end %}
