from gittip import db

class Totalizer:

    def __init__(self, unclaimed):
        self.unclaimed = unclaimed
        self.total = 0

    def __iter__(self):
        for i, unclaim in enumerate(self.unclaimed, start=1):
            self.total += unclaim['sum']
            yield i, unclaim 

    def __unicode__(self):
        return unicode(self.total)
    __str__ = __unicode__

^L

unclaimed = db.fetchall("""

  SELECT tippee, sum 
    FROM (   SELECT tippee, sum(amount) AS sum
               FROM (    SELECT DISTINCT ON (tipper, tippee)
                                amount
                              , tippee
                           FROM tips 
                           JOIN participants p ON p.id = tipper
                           JOIN participants p2 ON p2.id = tippee
                           JOIN social_network_users snu ON snu.participant_id = tippee
                          WHERE p.last_bill_result = ''
                            AND p2.claimed_time IS NULL
                            AND snu.is_locked = false
                       ORDER BY tipper, tippee, mtime DESC
                       ) AS foo
               GROUP BY tippee
           ) as bar
   WHERE sum >= 1
GROUP BY tippee, sum
ORDER BY sum DESC

""")

unclaimed = Totalizer(unclaimed)

^L
{% extends templates/base.html %}
{% block body %}
<style>
    TABLE {
        font: 300 13pt/13pt Lato, sans-serif;
        }
    TD {
        text-align: left;
        padding: 6pt 12pt 6pt 0;
    }
    TD.amount {
        text-align: right;
    }
    TR.unclaimed,
    TR.unclaimed A {
        color: #B2A196;
    }
    TR.unclaimed TD SPAN {
        font-size: 10pt;
    }
</style>


<h2>Unclaimed
    <span class="small"><a href="leaderboard.html">Leaderboard</a></span>
</h2>

<table>
    {%  for i, unclaim in unclaimed %}
    <tr class="unclaimed">
        <td>{{ i }}.</td>
        <td class="amount">$</td>
        <td class="amount">{{ unclaim['sum'] }}</td>
        <td><a href="/{{ unclaim['tippee'] }}/">{{ unclaim['tippee'] }}</a>
            <span class="small help">unclaimed!</span>
        </td>
    </tr>
    {% end %}
    <tr class="unclaimed">
        <td></td>
        <td class="amount">$</td>
        <td class="amount">{{ unclaimed }}</td>
        <td></span>
        </td>
    </tr>
</table>

<h2>Gittip happens every Friday.</h2>

<p>The amounts above are what the Gittip community is willing to give as
a weekly gift to each person, but only if the person accepts it. Gittip is
<b>opt-in</b>. We never collect money on a person&rsquo;s behalf until that
person opts-in by claiming their account.</p>

<p class="help">Amounts represent pledges from people with a 
{% if user.ANON %}working credit card{% else %}<a href="/credit-card.html">working credit
    card</a>{%end%} on file, to people who have neither joined Gittip nor 
explicitly opted out. Only accounts with at least $1.00 in pledges
are listed.</p>

{% end %}
