"""GitHub user page on Gittip.
"""
import decimal
import os

import requests
from aspen import json, Response
from gittip import AMOUNTS, CARDINALS, db
from gittip.elsewhere import github
from gittip.models import Participant


# ========================================================================== ^L

# Try to load from GitHub.
# ========================

user_info = github.get_user_info(path['login'])


# Try to load from Gittip.
# ==========================
# We can only tip Users, not Organizations (or whatever else type can be).

username = user_info['login']
name = user_info.get('name')
if not name:
    name = username

usertype = user_info.get("type", "unknown type of account").lower()
if usertype == "user":
    account = github.GitHubAccount(user_info['id'], user_info)
    can_tip = not account.is_locked
    lock_action = "unlock" if account.is_locked else "lock"
    if account.is_claimed:
        request.redirect('/%s/' % account.participant_id)

    participant = Participant.query.get(account.participant_id)

    if not user.ANON:
        my_tip = user.get_tip_to(participant.id)

    tip_or_pledge = "pledge"
    nbackers = participant.get_number_of_backers()

elif usertype == "organization":
    members = []
    resp = requests.get(
        "https://api.github.com/orgs/%s/members" % username,
        params={'client_id': os.environ['GITHUB_CLIENT_ID'],
                'client_secret': os.environ['GITHUB_CLIENT_SECRET']}
    )
    if resp.status_code == 200:
        members = json.loads(resp.text)

    logins = [member['login'] for member in members]
    ON_GITTIP = """\

        SELECT elsewhere.user_info -> 'login' AS login
          FROM elsewhere
          JOIN participants p
            ON p.id = elsewhere.participant_id
         WHERE elsewhere.platform = 'github'
           AND elsewhere.user_info -> 'login' = any(%s)
           AND p.claimed_time IS NOT NULL

    """
    _on_gittip = [rec['login'] for rec in db.fetchall(ON_GITTIP, (logins,))]
    on_gittip = []
    not_on_gittip = []
    for member in members:
        seq = on_gittip if member['login'] in _on_gittip else not_on_gittip
        tip_to = None if user.ANON else user.get_tip_to(member['login'])
        seq.append((member, tip_to))
    can_tip = user.ANON
else:
    can_tip = False

# ========================================================================== ^L
{% extends templates/participant.html %}

{% block their_voice %}
    {% if usertype == "user" %}
      {% if account.is_locked %}

        <h2 class="first"><b>{{ username }}</b> has opted out of Gittip.</h2>

        <p>If you are <a href="{{ user_info.get('html_url', '') }}">{{ username }}</a>
        on GitHub, you can unlock your account to allow people to
        pledge tips to you on Gittip. We never collect any money on your behalf
        until you explicitly opt in.</p>

        <a href="{{ github.oauth_url(website, u'unlock', username) }}"
            ><button>Unlock</button></a>

      {% else %}
        <script>
            $(document).ready(Gittip.initTipButtons);
        </script>

        <h2 class="first"><b>{{ name }}</b> has not joined Gittip.</h2>

        <p>Is this you?
        {% if user.ANON %}
        <a href="{{ github.oauth_url(website, u'opt-in', username) }}">Click here</a> to opt in to Gittip.
        {% else %}
        You&rsquo;ll have to <a href="/sign-out.html">sign out</a> and sign back in to claim this account.
        {% end %}</p>

        <table id="accounts">
            <tr>
                <td class="account-type">
                    <img src="/assets/octocat.png" />
                </td>
                <td class="account-details">
                    <a href="{{ user_info['html_url'] }}">
                    <img class="avatar"
                         src="{{ user_info.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                         {{ user_info['login'] }}
                    {% if user_info.get('name') %}({{ user_info.get('name') }}){% end %}
                    </a>
                    <div class="account-type">GitHub</div>
                </td>
            </tr>
        </table>

        {% if nbackers == 0 %}
        {% elif nbackers == 1 %}
        <h3>There is one person ready to give.</h3>
        {% elif nbackers < 10 %}
        <h3>There are {{ CARDINALS[nbackers] }} people ready to give.</h3>
        {% else %}
        <h3>There are {{ nbackers }} people ready to give.</h3>
        {% end %}


        {% if not user.ANON %}

        <p>{{ 'But we' if nbackers > 0 else 'We' }} will never collect money on
        behalf of {{ username }} until they opt in.</p>

        {% else %}

        <p>{{ 'But we' if nbackers > 0 else 'We' }} will never collect money on
        your behalf until you opt in.</p>

        <h3>Don&rsquo;t like what you see?</h3>

        <p>If you are {{ username }} you can explicitly opt out of Gittip by
        locking this account. We don&rsquo;t allow new pledges to locked
        accounts.</p>

        <a href="{{ github.oauth_url(website, u'lock', username) }}"
            ><button>Lock</button></a>

        {% end %}
      {% end %}
    {% elif usertype == "organization"  %}
    <script>
        $(document).ready(Gittip.initTipButtons);
    </script>

    <h2 class="first"><b>{{ name }}</b> is an {{ usertype }} on GitHub.</h2>
    <table id="accounts">
        <tr>
            <td class="account-type">
                <img src="/assets/octocat.png" />
            </td>
            <td class="account-details">
                <a href="{{ user_info['html_url'] }}">
                <img class="avatar"
                     src="{{ user_info.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                     {{ user_info['login'] }}
                {% if user_info.get('name') %}({{ user_info.get('name') }}){% end %}
                </a>
                <div class="account-type">GitHub</div>
            </td>
        </tr>
    </table>

    {% if len(members) == 0 %}
    {{ name }} does not have any public members.
    {% elif len(members) == 1 %}
    {{ name }} has one public member.
    {% else %}
    Here are the {{ len(members) }} public members of <a href="https://github.com/{{ username }}">{{ name }}</a>:
    {% end %}

    <table id="members">
      {% for i, sequence in enumerate([on_gittip, not_on_gittip]) %}
        {% if sequence %}<tr><td colspan="2"><h3>{{ i == 0 and "Also on" or "Not on" }} Gittip</h3></td></tr>{% end %}
        {% for member, tip in sequence %}
        <tr class="not-over"><td>
            {% if not user.ANON %}
            <th>
                <a href="/on/github/{{ member['login'] }}/"><img src="{{ member.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                    {{ member['login'] }}</a>
            </th>
            <td>
                {% for amount in AMOUNTS %}
                <button amount="{{ amount }}" tippee="{{ member['login'] }}"
                    class="tip small {{ 'selected' if amount == tip else 'empty' }}">{{ amount }}</button>
                {% end %}
                {% if tip not in AMOUNTS %}
                <span class="old-amount">
                    <button class="tip small disabled selected">{{ tip }}</button>
                    <span class="old-amount-link">&mdash;
                    <a href="http://blog.gittip.com/post/26505682007/is-personal-funding-viable" target="_blank">old amount</a>!</span>
                </span>
                {% end %}
            </td>
            {% else %}
            <td>
                <a href="/on/github/{{ member['login'] }}/"><img src="{{ member.get('avatar_url', '/assets/%s/no-avatar.png' % __version__) }}" />
                    {{ member['login'] }}</a>
            </td>
            {% end %}
        </td></tr>
        {% end %}
      {% end %}
    </table>

    {% else %}

    <h2 class="first">Not sure what to do with <b>{{ name }}</b>.</h2>

    I don&rsquo;t recognize the &ldquo;{{ usertype }}&rdquo; type of user on GitHub.<br />
    Sorry. :-(

    {% end %}
{% end %}
