@import url(https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400);


BODY {
    margin: 0;
    padding: 0;
    font: normal 9pt/12pt Cabin, sans-serif;
    /* http://www.backgroundcity.com/groups/gfiles/g4/g4wd14.gif */
    background: url("/anonymous/bg.gif") repeat;
    text-align: center;
    color: #301403;
}

#floater {
    width: 400px;
    margin: 0 auto;
    position: relative;
    text-align: left;
}
#wrapper {
    background: white;
    padding: 40px;
    border: 2px solid #301403;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
#form {
    margin: 0;
    padding: 0;
    border: 0;
    width: 316px;
}
H2 {
    margin: 0;
    padding: 0 0 0.5em 0;
    line-height: 100%;
    font: normal 36pt/36pt "Cabin Sketch", sans-serif;
}

INPUT {
    color: #301403;
} 
FORM INPUT#email, FORM INPUT#password {
    width: 304px;
    border: 1px solid #999;
    padding: 5px;
    font: 16pt/20pt Cabin, sans-serif;
}
FORM INPUT#password{
    letter-spacing: 0.5em;
}
#feedback {
    padding: 10px 10px 10px 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 10px;
    display: none;
}
#feedback.success {
    background: #B5E1AE url("/anonymous/accept.png") 10px 10px no-repeat;
    border: 2px solid #247D22;
    color: #0B390B;
}
#feedback.error {
    background: #FABCA8 url("/anonymous/exclamation.png") 10px 10px no-repeat;
    border: 2px solid #CB553C;
    color: #481A10;
}
LABEL {
    font-weight: bold;
    display: block;
    margin: 1em 0 0;
}
LABEL.disabled {
    color: #666;
}
P IMG {
    margin-bottom: -4px;
}
#submit-button {
    text-align: right;
    margin: 1em 0;
}
INPUT.submit {
    font: 12pt/16pt Cabin, sans-serif;
    padding: 6px 10px;
    -webkit-border-radius: 3px 3px;
    border: solid 1px rgb(153, 153, 153);
    background: -webkit-gradient( linear
                                , 0% 0%
                                , 0% 100%
                                , from(rgb(255, 255, 255))
                                , to(rgb(221, 221, 221))
                                 );
    color: #301403;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
}

#footer {
    margin: 10px 0 0;
    border-top: 1px solid #AAA;
    padding: 10px 0 10px 0px;
    color: #999;
    text-align: right;
}
