@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400);


BODY {
    margin: 0;
    padding: 0;
    font: normal 9pt/12pt Cabin, sans-serif;
    /* http://www.backgroundcity.com/groups/gfiles/g4/g4wd14.gif */
    background: url("/anonymous/bg.gif") repeat;
    text-align: center;
    color: #301403;
}

#floater {
    width: 400px;
    margin: 0 auto;
    position: relative;
    text-align: left;
}
#wrapper {
    background: white;
    padding: 40px;
    border: 2px solid #301403;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
H2 {
    margin: 0;
    padding: 0 0 0.5em 0;
    line-height: 100%;
    font: normal 36pt/36pt "Cabin Sketch", sans-serif;
}

LABEL I {
    font-weight: normal;
    display: none;
}
INPUT {
    color: #301403;
} 
INPUT.text {
    width: 304px;
    border: 1px solid #999;
    padding: 5px;
    font: 16pt/20pt Cabin, sans-serif;
}
#password, #confirm {
    letter-spacing: 0.5em;
}
#feedback {
    padding: 10px 10px 10px 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-bottom: 10px;
    display: none;
}
#feedback.success {
    background: #B5E1AE url("/anonymous/accept.png") 10px 10px no-repeat;
    border: 2px solid #247D22;
    color: #0B390B;
}
#feedback.error {
    background: #FABCA8 url("/anonymous/exclamation.png") 10px 10px no-repeat;
    border: 2px solid #CB553C;
    color: #481A10;
}
LABEL {
    font-weight: bold;
    display: block;
    margin: 1em 0 0;
}
LABEL.disabled {
    color: #666;
}
P IMG {
    margin-bottom: -4px;
}
#submit-button {
    text-align: right;
    margin: 1em 0;
}
#confirm-box {
    display: none;
}
#other {
    color: #00E;
    margin-right: 20px;
    cursor: pointer;
}
#other:hover {
    text-decoration: underline;
}
#submit {
    font: 12pt/12pt Cabin, sans-serif;
    padding: 6px 10px 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #999;
    color: white;
    border-color: #1E8235;
    background: -moz-linear-gradient(top, rgb(177, 219, 179), rgb(30, 130, 53));
    background: -o-linear-gradient(top, rgb(177, 219, 179), rgb(30, 130, 53));
    background: -webkit-gradient( linear
                                , 0% 0%
                                , 0% 100%
                                , from(rgb(177, 219, 179))
                                , to(rgb(30, 130, 53))
                                 );
    background: linear-gradient(top, rgb(177, 219, 179), rgb(30, 130, 53));
    background-repeat: repeat-x;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
    text-shadow:-1px -1px 0 rgba(0,0,0,.3);
}
#submit:hover, #submit.focused {
    background: -moz-linear-gradient(top, rgb(177, 219, 179), rgb(17, 89, 34));
    background: -o-linear-gradient(top, rgb(177, 219, 179), rgb(17, 89, 34));
    background: -webkit-gradient( linear
                                , 0% 0%
                                , 0% 100%
                                , from(rgb(177, 219, 179))
                                , to(rgb(17, 89, 34))
                                 );
    background: linear-gradient(top, rgb(177, 219, 179), rgb(17, 89, 34));
}
#submit:active {
    /* http://somadesign.ca/demos/buttons-redux.html */
    -moz-box-shadow
        :0 .33em 1em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
    -webkit-box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
    box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
}

#footer {
    margin: 10px 0 0;
    border-top: 1px solid #AAA;
    padding: 10px 0 10px 0px;
    color: #999;
    text-align: right;
}
