title = "Terms of Service"
^L
{% extends "templates/base.html" %}

{% block page %}

<h2>Terms of Service</h2>

<p><i>Last Updated: January 15, 2013</i></p>

<p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY. BY ACCESSING OR USING THE
GITTIP.COM SERVICES, YOU AGREE TO BE BOUND BY THESE TERMS OF SERVICE AND ALL
TERMS AND GUIDELINES INCORPORATED BY REFERENCE AND/OR LOCATED ON THE LEGAL
AGREEMENTS PAGE (<a
href="/about/terms/">https://www.gittip.com/about/terms/</a>). IF YOU DO NOT
AGREE TO ALL OF THESE TERMS, DO NOT ACCESS OR USE THE GITTIP.COM SERVICES.</p>

<p>These Terms of Service ("Terms") apply solely to your use of any product,
service or other feature, technology and/or functionality offered by Zeta
Design &amp; Development, LLC, DBA Gittip.com ("Gittip.com"), whether through
the Gittip.com website or any third party website or application ("Gittip.com
Services"). These Terms do not alter the terms or conditions of any other
agreement you may have with Gittip.com, or its subsidiaries or affiliates, for
products, services or otherwise. If you are using the Gittip.com Services on
behalf of any entity, you represent and warrant that you are authorized to
accept these Terms on such entity's behalf and that such entity will be
responsible to Gittip.com if you violate these Terms.</p>

<p>Gittip.com reserves the right to change or modify the terms and conditions
contained in these Terms or any other Gittip.com terms, policies or guidelines,
at any time and in its sole discretion. Any changes or modifications will be
effective immediately upon posting of the revisions to the Gittip.com website,
and you waive any right you may have to receive specific notice of such changes
or modifications. Your continued use of the Gittip.com Services following the
posting of changes or modifications will confirm your acceptance of such
changes or modifications; therefore, you should frequently review these Terms
and all applicable terms, policies and guidelines to understand the terms and
conditions that apply to your use. If you do not agree to the amended terms,
you must stop using the Gittip.com Services. Any use of the Gittip.com Services
in violation of these Terms may result in, among other things, termination or
suspension of your right to use the Gittip.com Services.</p>

<p>If you have any questions or comments regarding the use of the Gittip.com
Services, please contact chad@zetaweb.com.</p> <ol>


<li> <p>Our Relationship to You</p>

<p>Gittip.com helps you make monetary gifts to, and receive monetary gifts
from, third parties. Money that you give or receive through the Gittip.com
Services is a gift, and does not in any way oblige the other party to you.</p> 

</li> 


<li> <p>Third Party Service Providers</p>

<p>Gittip.com uses Pound Payments Inc., DBA Balanced ("Balanced") as a third
party service provider for payment services (e.g. card acceptance, merchant
settlement, and related services). By making use of some or all of these
payment services on Gittip.com you agree to be bound by Balanced's <a
href="https://www.balancedpayments.com/terms">terms and conditions</a> and <a
href="https://www.balancedpayments.com/privacy">privacy policy</a>, and hereby
consent and authorize us to delegate the authorizations and share the
information you provide to us with Balanced to the extent required to provide
the payment services to you. Balanced may also be contacted directly for
payments support either by email at support@balancedpayments.com or by phone at
+1 (888) 744-2622.</p>

</li> 


<li> <p>Privacy Policy</p>

<p>Please refer to <a href="/about/privacy/">Gittip.com's Privacy Policy</a>
for information about how Gittip.com collects, uses and discloses personally
identifiable information from its users.</p> 

</li> 


<li> <p>Eligibility, Registration and Account</p>

<p>To be eligible to use Gittip.com, you must be at least 18 years of age.
Gittip.com may impose additional restrictions on the use of the Gittip.com
Services. You represent and warrant that you have not previously been suspended
or removed from the Gittip.com Services and that you have full power and
authority to enter into these Terms.</p>

<p>In order to initiate and/or receive gifts through the Gittip.com Services,
you must create an account. When creating any account, whether to initiate or
receive gifts, you agree to (a) provide accurate, truthful, current and
complete information when creating your account; (b) maintain and promptly
update your account information; (c) maintain the security of your account by
not sharing your password with others and restricting access to your account on
your computer or mobile device; (d) promptly notify Gittip.com if you discover
or otherwise suspect any security breaches related to the Gittip.com Service
and (e)&#160;take responsibility for all activities that occur under your
account and accept all risks of unauthorized access.</p> 

</li> 


<li> <p>Authorization to Charge or Credit Accounts</p>

<p>Each time you initiate or accept a gift transaction through the Gittip.com
Services, you authorize Gittip.com to charge or credit the accounts involved,
to correct any errors in the transaction and to resubmit any transaction that
is rejected by the applicable financial institution. Your authorization will
remain in full force and effect until you terminate such authorization in
writing.</p> 

</li> 


<li> <p>Sending Gifts</p>

<p><i>Transaction Limits.</i> Gittip.com may, in its discretion, impose limits
on the transactions you can send through the Gittip.com Services.</p>

<p><i>Payment Methods Accepted.</i> Gittip.com allows users to send gifts using
selected payment methods identified on the transaction screens within the
Gittip.com Services. Gittip.com reserves the right to change accepted methods
of payment at any time and in its sole discretion. You may be required to
verify that you control the accounts that you register prior to using the cards
for transactions. If you use a credit card, you agree to comply with all
applicable card association and network rules.</p>

<p><i>Accuracy of Information.</i> You are responsible for confirming the
accuracy of the information you provide about each gift you send, including
the identity of the recipient and the amount of the transaction. Once a gift 
transaction is initiated, you may not change, withdraw or cancel your
authorization for Gittip.com to complete the transaction.</p>

<p><i>Refused and Refunded Transactions.</i> When sending a gift, the recipient
is not required to accept it. You agree that you will not hold Gittip.com
liable for any damages resulting from a recipient's decision not to accept a
gift made through Gittip.com. Gittip.com will return any unclaimed, refunded or
denied gift within thirty (30) business days of the date you initiate the gift.
If a gift is unclaimed, denied or refunded for any reason, Gittip.com will
return the money to your original payment method, if possible. If for any
reason Gittip.com is unable to return unclaimed, refunded or denied gifts,
Gittip.com may deliver such funds to your state of residency as unclaimed
property. Gittip.com will determine your state of residency based on the
address you provide when you register for an account.</p>

<p><i>Information about your Account and Transactions.</i> You can obtain
information about the gift transactions you made for the last thirty (30)
days on the Gittip.com website.</p> 

</li> 


<li> <p>Receiving Gifts</p>

<p><i>Bank Transfers.</i> In order to receive gifts through the Gittip.com
Services, you must be a registered Gittip.com user and provide account
information for a valid checking, savings or other ACH-enabled bank account.
Funds transfers to bank accounts usually occur between one to three (1-3)
business days for all transactions.</p>

<p><i>Reversals, Chargebacks and Claims.</i> When you receive a gift, you are
liable to Gittip.com for the full amount of the gift, plus any fees, if the
payment is later invalidated for any reason. This means that you will be
responsible for reimbursing Gittip.com if you lose a claim or a chargeback or
if there is a reversal of the gift.</p> 

</li> 


<li> <p>Taxes</p>

<p>It is your responsibility to determine what, if any, taxes apply to the
gifts you make or receive, and it is your responsibility to collect, report and
remit the correct tax to the appropriate tax authority. Gittip.com is not
responsible for determining whether taxes apply to your transaction or for
collecting, reporting, withholding or remitting any taxes arising from any
transaction.</p> 

</li> 


<li> <p>Fees</p>

<p>Gittip.com reserves the right to charge service fees based on the total
amount of your transaction. Such fees are subject to change without notice and
in Gittip.com's sole discretion. All Gittip.com fees will be disclosed to you
before you complete your transaction.</p>

</li> 


<li> <p>Electronic Notices and Your Consent</p>

<p>You agree and consent to receive electronically all communications,
agreements, documents, receipts, notices and disclosures (collectively,
"Communications") that Gittip.com provides in connection with your Gittip.com
account and use of the Gittip.com Services. Gittip.com may provide these
Communications to you by posting them on the Gittip.com website, or by emailing
them to you at an email address you provide. You should maintain copies of
electronic Communications by printing a paper copy or saving an electronic
copy. You may also contact us to request additional electronic copies of
Communications or, for a fee, paper copies of Communications. You may withdraw
your consent to receive electronic Communications by contacting us, however,
Gittip.com reserves the right to terminate your use of the Gittip.com Services
if you decline or withdraw consent to receive electronic Communications.</p> 

</li> 


<li> <p>Disclaimer</p>

<p>EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY GITTIP.COM, THE
GITTIP.COM SERVICES ARE PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY
KIND, EITHER EXPRESS OR IMPLIED. GITTIP.COM DISCLAIMS ALL OTHER WARRANTIES,
EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, IMPLIED WARRANTIES OF
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT
AS TO THE GITTIP.COM SERVICES. Gittip.com does not guarantee continuous,
uninterrupted or secure access to any part of the Gittip.com Services.
Gittip.com will make reasonable efforts to ensure that requests for gift
payments are processed in a timely manner, but Gittip.com makes no
representations or warranties regarding the amount of time needed to complete
processing.</p> 

</li> 

</ol>

{% end %}
