% macro authentication_settings(participant)
    <h3>{{ _("Password") }}</h3>
    % if request.qs.parse_boolean('password_mismatch', False)
        <p class="alert alert-danger">{{ _("The submitted password is incorrect.") }}</p>
    % elif participant.has_password
        <p>{{ _(
            "If you need to change the password of your Liberapay account, you "
            "can do so below. To be secure, the password of your account should "
            "be randomly generated and not used anywhere else. We strongly "
            "recommend the use of a password manager."
        ) }}</p>
    % else
        <p>{{ _(
            "Setting a password allows you to log in directly, instead of waiting "
            "for a single-use link sent via email. However, we only recommend setting "
            "a password if you use a password manager, because in order to be secure "
            "the password should be randomly generated and not used anywhere else."
        ) }}</p>
    % endif
    <form action="{{ participant.path('settings/edit') }}" method="POST" class="form-inline buttons">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}" />
        <input name="back_to" type="hidden" value="{{ participant.path('settings/') }}" />
        <input name="email" value="{{ participant.get_email_address() or '' }}"
               aria-hidden="true" class="out-of-sight" tabindex="-1" />
        % if participant.has_password and user.session_type != 'em'
        <div class="form-group">
        <input type="password" name="cur-password" class="form-control"
               placeholder="{{ _('Current password') }}" />
        </div>
        % endif
        <div class="form-group">
        <input type="password" name="new-password" autocomplete="new-password" class="form-control"
               minlength="{{ constants.PASSWORD_MIN_SIZE }}" maxlength="{{ constants.PASSWORD_MAX_SIZE }}"
               placeholder="{{ _('New password') }}" />
        </div>
        <button class="btn btn-default">{{ _("Save") }}</button>
        % if participant.has_password
        <button class="btn btn-default" name="action" value="unset">{{ _("Unset password") }}</button>
        % endif
    </form>
    <p class="help-block">{{ _("Maximum length is {0}.", constants.PASSWORD_MAX_SIZE) }}</p>

    <h3>{{ _("2FA") }}</h3>
    <p>{{ _("Liberapay does not yet support two-factor authentication.") }}</p>
% endmacro
