% macro avatar_url(account)
{{ account.avatar_url or website.asset('avatar-default.png') }}
% endmacro

{# Using a new value for the size argument below requires creating the
   corresponding avatar-cutter-$size class. #}
% macro avatar_img(account, size=98, alt='')
<div class="avatar-cutter-{{ size }}"><div class="avatar-centerer">
<img class="avatar" src="{{ avatar_url(account) }}" alt="{{ alt or _('Avatar') }}" />
</div></div>
% endmacro

% macro avatar_default()
<img class="avatar" src="{{ website.asset('avatar-default.png') }}" alt="{{ _('Default avatar') }}" />
% endmacro
