% from 'templates/macros/avatar-url.html' import avatar_img with context

% macro account_elsewhere(account, edit=False)
    % set platform = account.platform_data
    <div class="account">
        <span aria-hidden="true">{{ platform_icon_large(platform) }}</span>
        <a class="account-link" rel="me" href="{{ account.html_url }}">
            <span class="sr-only">{{ platform.display_name }}:</span>
            <span class="account-username">{{ account.friendly_name_long }}</span>
        </a>
        % if edit
            <form action="/{{ account.participant.username }}/elsewhere/delete"
                  method="POST" class="inline-block js-submit">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                 <input type="hidden" name="platform" value="{{ platform.name }}">
                 <input type="hidden" name="domain" value="{{ account.domain }}">
                 <input type="hidden" name="user_id" value="{{ account.user_id }}">
                 <button class="btn btn-danger btn-sm">{{ _('Disconnect') }}</button>
            </form>
        % endif
    </div>
% endmacro

% macro auth_button(platform, action, user_id='', user_id_type=None, btn_cls='btn btn-primary', form_cls='', participant=None, extra_scopes=(), disabled=False, disabled_msg=None)
    <form action="/on/{{ platform }}/redirect" method="post"
          class="auth-button {{ platform }} {{ form_cls }}"
          {% if disabled %} disabled title="{{ disabled_msg or _('This is not supported yet') }}" data-toggle="tooltip" {% endif %}>
        <input type="hidden" name="action" value="{{ action }}" />
        % set then=b64encode_s(request.path.raw + ('?' + request.qs.raw if request.qs else '')).strip()
        <input type="hidden" name="then" value="{{ then }}" />
        <input type="hidden" name="user_id" value="{{ user_id }}" />
        % if user_id_type
        <input type="hidden" name="user_id_type" value="{{ user_id_type }}" />
        % endif
        <input type="hidden" name="p_id" value="{{ participant and participant.id or '' }}" />
        % if any(extra_scopes)
        <input type="hidden" name="extra_scopes" value="{{ ' '.join(filter(None, extra_scopes)) }}" />
        % endif
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <button class="{{ btn_cls }}">{{ caller() }}</button>
    </form>
% endmacro

% macro platform_icon_small(platform)
    <img class="icon icon-16" src="{{ platform.icon_16 }}" alt="{{ platform.display_name }}" />
% endmacro

% macro platform_icon_large(platform)
    <img class="icon icon-32" src="{{ platform.icon_32 }}" alt="{{ platform.display_name }}" />
% endmacro

% macro user_lookup_form()
    <form action="/on/" class="form-group">
    <div class="form-inline">
        <input name="user_name" placeholder="{{ _('username') }}" autocorrect="off"
               spellcheck="false" size="12" type="text" class="form-control">
        <select class="form-control" name="platform">
            % for platform in website.platforms.hasattr('x_user_name')
            <option value="{{ platform.name }}">{{ platform.display_name }}</option>
            % endfor
        </select>
        <button class="btn btn-default">{{ _("Go") }}</button>
    </div>
    </form>
% endmacro
