% macro icon_span(classes)
    <span class="{{ classes }}" aria-hidden="true"></span>
% endmacro

% macro glyphicon(name, sr='')
    <span class="glyphicon glyphicon-{{ name }}" aria-hidden="true" {% if sr %} title="{{ sr }}" {% endif %}></span>
    % if sr
        <span class="sr-only">{{ sr }}</span>
    % endif
% endmacro

% macro fontawesome(name, sr='')
    <span class="fa fa-{{ name }}" aria-hidden="true" {% if sr %} title="{{ sr }}" {% endif %}></span>
    % if sr
        <span class="sr-only">{{ sr }}</span>
    % endif
% endmacro

% macro unicode_symbol(symbol, title, classes="")
    <span class="symbol {{ classes }}" aria-hidden="true" title="{{ title }}">{{ symbol }}</span>
    <span class="sr-only">{{ title }}</span>
% endmacro
