% set icon_aliases = {
    'advertise': 'broadcast',
    'bank-account': 'bank2',
    'change-image': 'images',
    'create-profile': 'file-person',
    'direct-debit': 'bank2',
    'disconnect': 'x-lg',
    'discontinue': 'stop-fill',
    'donations': 'gift',
    'enter': 'box-arrow-in-right',
    'external-link': 'box-arrow-up-right',
    'exclamation-sign': 'exclamation-circle-fill',
    'exit': 'box-arrow-right',
    'explore': 'globe2',
    'feed': 'rss',
    'homepage': 'house',
    'index': 'list',
    'info-sign': 'info-circle',
    'integrate': 'gear',
    'locale': 'translate',
    'manual': 'hand-index',
    'mark-as-read': 'eye-fill',
    'markdown': 'markdown-fill',
    'mastodon': 'mastodon',
    'ok': 'check-circle',
    'payment-card': 'credit-card',
    'pledge': 'balloon-heart',
    'private': 'eye-slash',
    'public': 'globe2',
    'ok-sign': 'check-circle',
    'pay': 'cash',
    'print': 'printer',
    'question-sign': 'question-circle',
    'refresh': 'arrow-clockwise',
    'remove': 'x-lg',
    'secret': 'incognito',
    'secure': 'shield-check',
    'set-up': 'sliders',
    'smile': 'emoji-smile',
    'stats': 'bar-chart',
    'team': 'people',
    'text-prompt': 'input-cursor-text',
    'users': 'person-add',
    'warning-sign': 'exclamation-triangle-fill',
}

% macro icon(name, sr='', size=16)
    % set name = icon_aliases.get(name, name)
    % if soft_assert(name in website.icon_names, "unknown icon name %r" % name)
        <span aria-hidden="true" {% if sr %} title="{{ sr }}"{% endif %}{#
            #}><svg class="icon icon-{{ size }}"{#
                #}><use xlink:href="{{ website.asset('icons.svg', domain=False) }}#{{ name }}"/></svg></span>
    % else
        <img aria-hidden="true" class="icon icon-{{ size }}" {% if sr %} title="{{ sr }}"{% endif %} src="/assets/nonexistent" />
    % endif
    % if sr
        <span class="sr-only">{{ sr }}</span>
    % endif
% endmacro

% macro unicode_symbol(symbol, title, classes="")
    <span class="symbol {{ classes }}" aria-hidden="true" title="{{ title }}">{{ symbol }}</span>
    <span class="sr-only">{{ title }}</span>
% endmacro
