% macro pages_links(pages_urls, hash='')
    <ul class="pager">
        % if pages_urls.get('first')
            <li class="previous"><a href="?page={{ b64encode_s(pages_urls['first']) + hash }}">
                ⇤ {{ _("First") }}
            </a></li>
        % endif
        % if pages_urls.get('prev')
            <li><a href="?page={{ b64encode_s(pages_urls['prev']) + hash }}">
                ⇠ {{ _("Previous") }}
            </a></li>
        % endif
        % if pages_urls.get('next')
            <li><a href="?page={{ b64encode_s(pages_urls['next']) + hash }}">
                {{ _("Next") }} ⇢
            </a></li>
        % endif
        % if pages_urls.get('last')
            <li class="next"><a href="?page={{ b64encode_s(pages_urls['last']) + hash }}">
                {{ _("Last") }} ⇥
            </a></li>
        % endif
    </ul>
% endmacro

% macro simple_pager(current_page, has_more)
    % if current_page > 1 or has_more
    <ul class="pager">
        % if current_page > 1
            % set prev_page = None if current_page == 2 else current_page - 1
            <li class="previous"><a href="{{ request.qs.derive(page=prev_page) }}">
                ← {{ _("Previous") }}
            </a></li>
        % endif
        % if has_more
            <li class="next"><a href="{{ request.qs.derive(page=current_page + 1) }}">
                {{ _("View More") if current_page == 1 else _("Next") }} →
            </a></li>
        % endif
    </ul>
    % endif
% endmacro
