% macro password_form(participant)
    % if not participant.has_password
        <p>{{ _(
            "Setting a password allows you to log in directly, instead of waiting "
            "for a single-use link sent via email. Keep in mind that Liberapay is "
            "a financial service, use a strong password!"
        ) }}</p>
    % endif
    <form action="{{ participant.path('settings/edit') }}" method="POST" class="form-inline">
        <input name="csrf_token" type="hidden" value="{{ csrf_token }}" />
        <input name="back_to" type="hidden" value="{{ participant.path('settings/') }}" />
        <input name="email" value="{{ participant.get_email_address() or '' }}"
               aria-hidden="true" class="out-of-sight" tabindex="-1" />
        % if participant.has_password and user.session_type != 'em'
        <div class="form-group">
        <input type="password" name="cur-password" class="form-control"
               placeholder="{{ _('Current password') }}" />
        </div>
        % endif
        <div class="form-group">
        <input type="password" name="new-password" autocomplete="new-password" class="form-control"
               minlength="{{ constants.PASSWORD_MIN_SIZE }}" maxlength="{{ constants.PASSWORD_MAX_SIZE }}"
               placeholder="{{ _('New password') }}" />
        </div>
        <button class="btn btn-default">{{ _("Go") }}</button>
    </form>
% endmacro
