% from "templates/macros/icons.html" import icon with context

% macro card_brands()
    <span aria-hidden="true" class="card-brands">
    {{ website.read_asset('card_brands/american-express.svg')|safe }}
    {{ website.read_asset('card_brands/cartes-bancaires.svg')|safe }}
    {{ website.read_asset('card_brands/diners.svg')|safe }}
    {{ website.read_asset('card_brands/discover.svg')|safe }}
    {{ website.read_asset('card_brands/jcb.svg')|safe }}
    {{ website.read_asset('card_brands/mastercard.svg')|safe }}
    {{ website.read_asset('card_brands/unionpay.svg')|safe }}
    {{ website.read_asset('card_brands/visa.svg')|safe }}
    </span>
    <span class="sr-only">American Express, Cartes Bancaires, Diners, Discover, JCB, Mastercard, UnionPay, Visa</span>
% endmacro

% macro describe_payment_methods(tippee, currency=None)
% if tippee.payment_providers == 0
    {{ _(
        "{username} hasn't configured any payment method yet, so your donation "
        "cannot actually be processed right now. We will notify you when payment "
        "becomes possible.",
        username=tippee.username
    ) }}
% elif tippee.payment_providers == 2
    {{ _(
        "Donations to {username} are processed through PayPal.",
        username=tippee.username
    ) }}
% else
    % set payment_methods = []
    % if tippee.payment_providers.__and__(1)
        % do payment_methods.append(_(
            "a credit or debit card ({list_of_card_brands})",
            list_of_card_brands=[
                "American Express", "Cartes Bancaires", "Diners", "Discover",
                "JCB", "Mastercard", "UnionPay", "Visa"
            ],
        ))
        % if currency in (None, 'EUR') and tippee.can_receive_grouped_payment_from(ANON)
            % do payment_methods.append(_("a euro bank account (SEPA Direct Debit)"))
        % endif
    % endif
    % if tippee.payment_providers.__and__(2)
        % do payment_methods.append(_("a PayPal account"))
    % endif
    {{ _(
        "Donations to {username} can be paid using: {list_of_payment_methods}.",
        username=tippee.username,
        list_of_payment_methods=locale.List(payment_methods, 'or')
    ) }}
% endif
% endmacro

% macro payment_methods_icons(tippee, currency=None)
<span class="payment-icons" title="{{ describe_payment_methods(tippee, currency) }}"
      data-toggle="tooltip" data-placement="bottom">
    % if tippee.payment_providers.__and__(1)
        {{ icon('payment-card', _("Payment Card")) }}
        % if currency in (None, 'EUR') and tippee.can_receive_grouped_payment_from(ANON)
            {{ icon('bank-account', _("Direct Debit")) }}
        % endif
    % endif
    % if tippee.payment_providers.__and__(2)
        {{ icon('paypal', "PayPal") }}
    % endif
</span>
% endmacro

% macro payment_method_icon(method)
{{ icon('payment-card', _("Credit/Debit Card")) if method == 'stripe-card' else
   icon('bank-account', _("Direct Debit")) if method == 'stripe-sdd' else
   icon('paypal', "PayPal") if method == 'paypal' else
   '' }}
% endmacro
