% from "templates/macros/icons.html" import fontawesome

% macro describe_payment_methods(tippee)
{{ _(
    "{username} hasn't configured any payment method yet, so your donation "
    "cannot actually be processed right now. We will notify you when payment "
    "becomes possible.",
    username=tippee.username
) if tippee.payment_providers == 0 else _(
    "Donations to {username} can be paid using a credit or debit card "
    "({list_of_card_brands}), or by direct debit of a Euro bank account "
    "(for donations in Euro only).",
    username=tippee.username,
    list_of_card_brands=["Visa", "Mastercard", "American Express", "UnionPay", "Discover", "Diners", "JCB"],
) if tippee.payment_providers == 1 else _(
    "Donations to {username} are processed through PayPal.",
    username=tippee.username
) if tippee.payment_providers == 2 else _(
    "Donations to {username} can be paid using: a credit or debit card "
    "({list_of_card_brands}), a Euro bank account (SEPA Direct Debit), or "
    "a PayPal account.",
    username=tippee.username,
    list_of_card_brands=["Visa", "Mastercard", "American Express", "UnionPay", "Discover", "Diners", "JCB"],
) }}
% endmacro

% macro payment_methods_icons(tippee, currency=None)
<span class="payment-icons" title="{{ describe_payment_methods(tippee) }}"
      data-toggle="tooltip" data-placement="bottom">
    % if tippee.payment_providers.__and__(1)
        {{ fontawesome('credit-card', _("Credit/Debit Card")) }}
        % if not currency or currency == 'EUR'
            {{ fontawesome('bank', _("Direct Debit")) }}
        % endif
    % endif
    % if tippee.payment_providers.__and__(2)
        {{ fontawesome('paypal', "PayPal") }}
    % endif
</span>
% endmacro

% macro payment_method_icon(method)
{{ fontawesome('credit-card', _("Credit/Debit Card")) if method == 'stripe-card' else
   fontawesome('bank', _("Direct Debit")) if method == 'stripe-sdd' else
   fontawesome('paypal', "PayPal") if method == 'paypal' else
   '' }}
% endmacro
