% from "templates/macros/icons.html" import glyphicon

% macro postal_address_form_v2(prefix='postal_address', saved=None, required=True)

    % set required = 'required' if required else ''

    <label>
        <span>{{ _("Country") }}</span>
        <select name="{{ prefix }}.country" class="form-control country" {{ required }}>
            <option></option>
            % set country = saved.country|default('') or user.guessed_country
            % for code, name in locale.countries.items()
                <option value="{{ code }}" {{ 'selected' if code == country }}>{{ name }}</option>
            % endfor
        </select>
    </label>

    <label>
        <span>{{ _("Region (state, province, island…)") }}
            <span title='{{ _(
                      "You can leave this field empty if your country does not use regions in postal addresses."
                  ) }}' data-toggle="tooltip" data-placement="top">{{
                glyphicon('question-sign')
            }}</span>
        </span>
        <input name="{{ prefix }}.region" class="form-control" maxlength=100
               value="{{ saved.region|default('') }}" />
    </label>

    <label>
        <span>{{ _("City") }}</span>
        <input name="{{ prefix }}.city" class="form-control" {{ required }} maxlength=100
               value="{{ saved.city|default('') }}" />
    </label>

    <label>
        <span>{{ _("Postal code") }}</span>
        <input name="{{ prefix }}.postal_code" class="form-control" {{ required }} maxlength=50
               size=6 value="{{ saved.postal_code|default('') }}" />
    </label>

    <label>
        <span>{{ _("Address within the city") }}</span>
        <textarea name="{{ prefix }}.local_address" class="form-control" {{ required }} rows=2 maxlength=200>{{
            saved.local_address|default('')
        }}</textarea>
    </label>

% endmacro
