% macro search_form(autocomplete=True, autofocus=False)
    <form action="/search" class="search" method="get">
        <div class="form-group">
            <div class="input-group">
                <input type="text" name="q" class="form-control search"
                       placeholder="{{ _('Search Liberapay') }}"
                       value="{{ query|default('', true) }}"
                       {{ 'autofocus' if autofocus else '' }}
                       {% if not autocomplete %} autocomplete="off" {% endif %} />
                <div class="input-group-btn">
                    <button class="btn btn-default">{{ _("Go") }}</button>
                </div>
            </div>
        </div>
    </form>
% endmacro
