% from "templates/macros/icons.html" import icon with context

% set CLASSES = ('info', 'success', 'warning', 'danger')

% macro get_cls(m)
    {{ 'info' if m['last_week'] is none else
       CLASSES[min(max(int(m['nominal_take'] / (m['last_week'].convert(m['nominal_take'].currency) or 1) * 2 - 1), 0), 3)] }}
% endmacro

% macro team_takes_table(team, cls='')
    % set members = team.get_members()
    % set last_payday, next_payday = website.compute_previous_and_next_payday_dates()
    % if user.id in members and members[user.id]['max_this_week']
        <p>{{ _(
            "Your nominal take from the {0} team is limited to {1} this week. "
            "{2}Why?{3}",
            team.username,
            members[user.id]['max_this_week'],
            '<a href="/about/teams#throttling">'|safe, '</a>'|safe
        ) }}</p>
    % endif
    <table class="table valign-middle team {{ cls }}">
      <thead>
        <tr>
          <th></th>
          <th>{{ _("Last Payday") }}<br><small>({{ locale.format_date(last_payday) if last_payday else _("n/a") }})</small></th>
          <th colspan=2>{{ _("Next Payday") }}<br><small>({{ locale.format_date(next_payday) }})</small></th>
        </tr>
        <tr>
          <th>{{ _("Member") }}</th>
          <th>{{ _("Nominal Take") }}</th>
          <th>{{ _("Nominal Take") }}</th>
          <th>{{ _("Actual Take") }}</th>
        </tr>
      </thead>
      <tbody>
        % for member in members.values()
        <tr>
            <td><a href="/{{ member.username }}/">{{ member.username }}</a></td>
            <td>{{
                _("n/a") if member.last_week is none else
                _("auto") if member.last_week.amount == -1 else
                locale.format_money(member.last_week)
            }}</td>
            % set nominal_take = member.nominal_take
            % set cell_cls = get_cls(member) if nominal_take != member.last_week else ''
            % if member.id == user.id
                <td class="{{ cell_cls or 'active' }}">
                    <form action="/~{{ team.id }}/income/take?back_to={{ urlquote(request.line.uri) }}"
                          method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                        <div class="input-group">
                            % set take_currency = nominal_take.currency
                            % set currencies = set([take_currency, user.main_currency, team.main_currency])
                            % if len(currencies) > 1
                                <div class="input-group-btn">
                                    <select class="btn btn-default" name="currency">
                                    % for c in constants.CURRENCIES
                                        % if c in currencies
                                        <option value="{{ c }}" {{ 'selected' if c == take_currency }}>{{
                                            locale.currency_symbols.get(c, c)
                                        }}</option>
                                        % endif
                                    % endfor
                                    </select>
                                </div>
                            % else
                                <div class="input-group-addon">{{ locale.currency_symbols.get(take_currency, take_currency) }}</div>
                                <input type="hidden" name="currency" value="{{ take_currency }}" />
                            % endif
                            <input class="form-control" name="take" value="{{
                                locale.format_money(nominal_take, format='amount_only') if nominal_take.amount >= 0 else ''
                            }}" placeholder="auto" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" title="{{ _('Update my nominal take') }}">{{
                                    icon('check-lg')
                                }}</button>
                            </div>
                        </div>
                    </form>
                </td>
            % elif nominal_take.amount == -1
                <td class="{{ 'text-'+cell_cls }}">{{ _("auto") }}</td>
            % else
                <td class="{{ 'text-'+cell_cls }}">{{ locale.format_money(nominal_take) }}</td>
            % endif
            % set fuzzy_take = member.actual_amount.fuzzy_sum(nominal_take.currency)
            <td{% if fuzzy_take.fuzzy %} title="{{ locale.format_money_basket(member.actual_amount) }}"{% endif %}>{{
                '~' if fuzzy_take.fuzzy else '' }}{{ locale.format_money(fuzzy_take)
            }}</td>
        </tr>
        % endfor
        <tr class="leftover">
            <td>
            <span class="help-title" title="{{ _(
                    'Unused income will be consumed in following weeks, it does '
                    'not accrue in the team account. A team cannot own money '
                    'because it is not a legal entity.'
                ) }}" data-toggle="tooltip" data-placement="bottom">{{ _("Leftover") }}</span></td>
            <td></td>
            <td></td>
            % set fuzzy_leftover = members.leftover.fuzzy_sum(team.main_currency)
            <td class="{{ 'info' if members.leftover else '' }}"{% if fuzzy_leftover.fuzzy
             %} title="{{ locale.format_money_basket(members.leftover) }}"{% endif %}>{{
                '~' if fuzzy_leftover.fuzzy else '' }}{{ locale.format_money(fuzzy_leftover)
            }}</td>
        </tr>
      </tbody>
    </table>
% endmacro
