% from "templates/macros/icons.html" import icon with context
% from "templates/macros/payment-methods.html" import payment_methods_icons with context

% macro tip_form(tippee, tip=None, disabled='')
    % set tippee_is_stub = tippee.__class__.__name__ == 'AccountElsewhere'
    % set tippee_p = tippee.participant if tippee_is_stub else tippee
    % set pledging = tippee_p.payment_providers == 0 or not tippee_p.accepts_tips
    % set tippee_name = tippee.friendly_name if tippee_is_stub else tippee.username
    % set tip = tip or user.get_tip_to(tippee_p, currency)
    % set tip_currency = tip.amount.currency
    % set new_currency, accepted_currencies = user.get_currencies_for(tippee, tip)
    % if request.qs.get('currency') in accepted_currencies
        % set new_currency = request.qs['currency']
    % endif
    % set currency_mismatch = tip_currency not in accepted_currencies
    % if tip.renewal_mode > 0 and not pledging
        % if currency_mismatch
        <p class="alert alert-warning">{{ _(
            "Your current donation to {name} is in {currency}, but they now only "
            "accept donations in {accepted_currency}. You can convert your donation "
            "to that currency, or discontinue it."
            , name=tippee_name
            , currency=Currency(tip_currency)
            , accepted_currency=Currency(new_currency)
        ) if len(accepted_currencies) == 1 else _(
            "Your current donation to {name} is in {currency}, but they no longer "
            "accept that currency. The suggested new currency is the {accepted_currency}, "
            "but you can choose another one."
            , name=tippee_name
            , currency=Currency(tip_currency)
            , accepted_currency=Currency(new_currency)
        ) }}</p>
        % else
        <p>{{ _(
            "You are currently donating {money_amount} per week to {recipient_name}. "
            "The form below enables you to modify or stop your donation."
            , money_amount=tip.periodic_amount, recipient_name=tippee_name
        ) if tip.period == 'weekly' else _(
            "You are currently donating {money_amount} per month to {recipient_name}. "
            "The form below enables you to modify or stop your donation."
            , money_amount=tip.periodic_amount, recipient_name=tippee_name
        ) if tip.period == 'monthly' else _(
            "You are currently donating {money_amount} per year to {recipient_name}. "
            "The form below enables you to modify or stop your donation."
            , money_amount=tip.periodic_amount, recipient_name=tippee_name
        ) }}</p>
        % endif
    % else
        <p>{{ _("Please select or input an amount:") }}</p>
    % endif
    <form action="/~{{ assert(tip.tippee) }}/tip" method="POST" class="your-tip">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <input type="hidden" name="currency" value="{{ new_currency }}" />
        <div class="form-group">
            {{ tip_select(tip, new_currency, tippee, disabled) }}
        </div>
    </form>
    % if len(accepted_currencies) > 1
        <br>
        <p>{{ ngettext(
            "The {currency_name} isn't your preferred currency? {n} other is supported:",
            "The {currency_name} isn't your preferred currency? {n} others are supported:",
            n=len(accepted_currencies) - 1, currency_name=Currency(new_currency)
        ) if tippee_is_stub else ngettext(
            "The {currency_name} isn't your preferred currency? {username} also accepts {n} other:",
            "The {currency_name} isn't your preferred currency? {username} also accepts {n} others:",
            n=len(accepted_currencies) - 1, currency_name=Currency(new_currency), username=tippee_name
        ) }}</p>
        <form action="" method="GET" class="form-inline">
            <select class="form-control" name="currency">
            % set paypal = tippee_p.payment_providers.__and__(2)
            % for c, translated_currency_name in locale.supported_currencies.items()
                % if c in accepted_currencies and c != new_currency
                <option value="{{ c }}">
                    {{ translated_currency_name }}
                    ({{ locale.currency_symbols.get(c, c) }})
                    % if paypal and c not in constants.PAYPAL_CURRENCIES
                        ({{ _("not supported by PayPal") }})
                    % endif
                </option>
                % endif
            % endfor
            </select>
            <button class="btn btn-default">{{ _("Switch") }}</button>
        </form>
    % endif
% endmacro

% macro tip_input(new_currency, period, periodic_amount, disabled='', accepted_currencies=None)
    <div class="form-inline inline-block">
        <div class="input-group">
            <div class="input-group-addon">{{ locale.currency_symbols.get(new_currency, new_currency) }}</div>
            <input type="hidden" name="currency" value="{{ new_currency }}" />
            <input type="tel" inputmode="decimal" name="amount" id="amount" placeholder="{{ _('Amount') }}"
                   class="amount form-control"
                   data-required-if-checked="#custom-amount-radio"
                   value="{{ locale.format_money(periodic_amount, format='amount_only')
                             if periodic_amount else '' }}"
                   {{ disabled }} />
        </div>
        % set period = request.qs.get('period') or period or 'weekly'
        <div class="btn-group btn-group-radio">
            % set periods = [
                ('weekly', _("per week")),
                ('monthly', _("per month")),
                ('yearly', _("per year")),
            ]
            % for value, label in periods
                <label class="btn btn-default">
                    <input type="radio" name="period" value="{{ value }}" {{ 'checked' if period == value }} />
                    <div class="btn-text">{{ label }}</div>
                </label>
            % endfor
        </div>
    </div>
% endmacro

% macro tip_select(tip, new_currency, tippee, disabled='')
    % set tippee_is_stub = tippee.__class__.__name__ == 'AccountElsewhere'
    % set tippee_p = tippee.participant if tippee_is_stub else tippee
    % set pledging = tippee_p.payment_providers == 0 or not tippee_p.accepts_tips
    % set tippee_name = tippee.friendly_name if tippee_is_stub else tippee.username
    % set tip_is_standard = []
    <ul class="list-group radio-group">
    % set tip_amount_in_new_currency = tip.amount.convert(new_currency)
    % for std_tip in constants.STANDARD_TIPS[new_currency]
        % set amount_is_a_match = std_tip.weekly == tip_amount_in_new_currency
        % if amount_is_a_match
            {# Resetting a variable inside a loop is messed up as of Jinja2 3.1.2, so we mutate a list instead. #}
            % do tip_is_standard.append(True)
        % endif
        <li class="list-group-item">
        <label>
            <input type="radio" name="selected_amount" value="{{ std_tip.weekly.amount }}"
                   {{ 'checked' if amount_is_a_match }} />
            <div class="radio-label">
                <h5 class="list-group-item-heading">{{ _(std_tip.label) }}</h5>
                <p class="list-group-item-text">{{ _(
                    "{0} per week ~ {1} per month ~ {2} per year",
                    std_tip.weekly,
                    std_tip.monthly,
                    std_tip.yearly,
                ) }}</p>
            </div>
        </label>
        </li>
    % endfor
        % set period = request.qs.get('period') or tip.period
        % set querystring_amount = (
            request.qs.get_money_amount('amount', new_currency, default=None)
            if new_currency == request.qs.get('currency') else
            None
        )
        % set periodic_amount = (
            None if tip_is_standard else
            tip.periodic_amount.convert(new_currency) or querystring_amount
        )
        <li class="list-group-item">
        <label>
            <input type="radio" id="custom-amount-radio" name="selected_amount" value="custom" required
                   {{ 'checked' if periodic_amount else '' }} />
            <div class="radio-label">
                <h5 class="list-group-item-heading">{{ _("Custom") }}</h5>
                {{ tip_input(new_currency, period, periodic_amount, disabled) }}
            </div>
        </label>
        </li>
    </ul>
    % if 'amount' in request.qs and not 'currency' in request.qs
        <p class="alert alert-warning">The <code>amount</code> value in the URL was ignored because the <code>currency</code> is missing.</p>
    % endif
    <p>{{ _("Please choose how this donation should be renewed:") }}</p>
    <ul class="list-group radio-group">
        <li class="list-group-item">
        <label>
            <input type="radio" name="renewal_mode" value="2" required
                   {{ 'checked' if tip.renewal_mode == 2 else '' }} />
            <div class="radio-label">
                <h5 class="list-group-item-heading">{{ _("Automatic renewal") }}</h5>
                <p class="list-group-item-text">{{ _(
                    "We'll attempt to charge your card or bank account. You will be notified at least two days before.",
                ) }}</p>
            </div>
        </label>
        </li>
        <li class="list-group-item">
        <label>
            <input type="radio" name="renewal_mode" value="1" required
                   {{ 'checked' if tip.renewal_mode == 1 else '' }} />
            <div class="radio-label">
                <h5 class="list-group-item-heading">{{ _("Manual renewal") }}</h5>
                <p class="list-group-item-text">{{ _(
                    "A reminder to renew your donation will be sent to you via email.",
                ) }}</p>
            </div>
        </label>
        </li>
    </ul>
    {{ tip_visibility_choice(
        tippee_name,
        tippee_p.recipient_settings.patron_visibilities,
        tippee_p.payment_providers,
        tip
    ) }}
    <br>
    <button class="btn btn-primary btn-lg btn-block" {{ disabled }}>{{
        (_("Modify your pledge") if pledging else _("Modify your donation"))
        if tip.renewal_mode > 0 else
        (_("Pledge") if pledging else _("Donate"))
    }}</button>
    % if tip.renewal_mode > 0
    <br>
    <button class="btn btn-danger btn-lg btn-block" name="selected_amount" value="0">{{
        _("Cancel the pledge") if pledging else _("Discontinue the donation")
    }}</button>
    % elif tippee_p.payment_providers
    <p class="text-center">{{ payment_methods_icons(tippee_p, new_currency) }}</p>
    % elif not pledging
    <p class="text-muted">{{ icon('info-sign') }} {{ _(
        "{username} hasn't configured any payment method yet, so your donation "
        "cannot actually be processed right now. We will notify you when payment "
        "becomes possible.",
        username=tippee_name
    ) }}</p>
    % endif
% endmacro

% macro tip_visibility_choice(tippee_name, patron_visibilities, payment_providers, tip)
    % set paypal_only = payment_providers == 2
    % if paypal_only
        % if patron_visibilities == 0
            % set patron_visibilities = 2
        % elif patron_visibilities.__and__(1)
            % set patron_visibilities = patron_visibilities.__xor__(1).__or__(2)
        % endif
    % endif
    % if patron_visibilities == 1
    <input type="hidden" name="visibility" value="1" />
    <p class="text-info">{{ icon('info-sign') }} {{ _(
        "{username} has chosen not to see who their patrons are, so your donation will be secret.",
        username=tippee_name
    ) }}</p>
    % elif patron_visibilities == 2 or paypal_only and not patron_visibilities
    <input type="hidden" name="visibility" value="2" />
    <p class="text-info">{{ icon('info-sign') }} {{ _(
        "This donation won't be secret, you will appear in {username}'s private list of patrons.",
        username=tippee_name
    ) }}</p>
    % elif patron_visibilities == 4
    <input type="hidden" name="visibility" value="3" />
    <p class="text-warning">{{ icon('info-sign') }} {{ _(
        "{username} discloses who their patrons are, your donation will be public.",
        username=tippee_name
    ) }}</p>
    % elif patron_visibilities
    <p>{{ _("Please select a privacy level for this donation:") }}</p>
    <ul class="list-group radio-group">
        % if patron_visibilities.__and__(1)
        <li class="list-group-item">
        <label>
            <input type="radio" name="visibility" value="1" required
                   {{ 'checked' if tip.visibility == 1 else '' }} />
            <div class="radio-label">
                <h5 class="list-group-item-heading">{{ _("Secret donation") }}</h5>
                <p class="list-group-item-text">{{ _(
                    "Only you will know that you donate to {username}.",
                    username=tippee_name
                ) }}</p>
            </div>
        </label>
        </li>
        % endif
        % if patron_visibilities.__and__(2)
        <li class="list-group-item">
        <label>
            <input type="radio" name="visibility" value="2" required
                   {{ 'checked' if tip.visibility == 2 else '' }} />
            <div class="radio-label">
                <h5 class="list-group-item-heading">{{ _("Private donation") }}</h5>
                <p class="list-group-item-text">{{ _(
                    "You will appear in {username}'s private list of patrons.",
                    username=tippee_name
                ) }}</p>
            </div>
        </label>
        </li>
        % endif
        % if patron_visibilities.__and__(4)
        <li class="list-group-item">
        <label>
            <input type="radio" name="visibility" value="3" required
                   {{ 'checked' if tip.visibility == 3 else '' }} />
            <div class="radio-label">
                <h5 class="list-group-item-heading">{{ _("Public donation") }}</h5>
                <p class="list-group-item-text">{{ _(
                    "Everybody will be able to see that you support {username}.",
                    username=tippee_name
                ) }}</p>
            </div>
        </label>
        </li>
        % endif
    </ul>
    % else
    <input type="hidden" name="visibility" value="1" />
    <p class="text-muted">{{ icon('info-sign') }} {{ _(
        "{username} hasn't yet specified whether they want to see who their patrons are, "
        "so your donation will be secret.",
        username=tippee_name
    ) }}</p>
    % endif
% endmacro
