^L
if not request.user.ANON:
    request.redirect('/subscribe/payment.html')
^L
{% extends offer.html %}
{% block head2 %}
<style>
    .submit A {
        color: #00E;
        font-size: 11px;
    }
    .submit A:hover {
        background: transparent;
    }
</style>
<script>
    Logstown.wire('informed', function()
    {
        var wEmailField = $('#field-email').width();
        var wEmailControl = $('#control-email').width();
        var wPasswordField = $('#field-password').width();
        var wPasswordControl = $('#control-password').width();
        var registering = true; // immediately toggled by first call to lets

        function lets(e)
        {
            if (e)
            {
                e.stopPropagation();
                e.preventDefault();
            }

            (registering ? letsSignIn : letsRegister)();
            $('#control-email').focus();
            $('#problem').empty();
            return false;
        };

        function letsSignIn(e)
        {
            registering = false;
            $('#field-confirm').hide();
            $('#field-password').width(wEmailField);
            $('#control-password').width(wEmailControl);
            $('#field-password I').hide();
            $('#control-sign-in').text('Sign In');
            $('#control-sign-in').attr('acting', 'Signing In');
            $('#control-sign-in').attr('standby', 'Sign In');
            $('#field-sign-in A').text('Register');
            $('FORM').attr('action', '/ajax/sign-in.json');
        };

        function letsRegister(e)
        {
            registering = true;
            $('#field-confirm').show();
            $('#field-password').width(wPasswordField);
            $('#control-password').width(wPasswordControl);
            $('#field-password I').show();
            $('#control-sign-in').text('Register');
            $('#control-sign-in').attr('acting', 'Registering');
            $('#control-sign-in').attr('standby', 'Register');
            $('#field-sign-in A').text('Sign In');
            $('FORM').attr('action', '/ajax/register.json');
        };

        // Add in the context switcher.
        $('#field-sign-in').prepend('<a href=""></a>');
        $('#field-sign-in A').after('&nbsp;&nbsp;&nbsp;&nbsp;');
        $('#field-sign-in A').click(lets);
        $('#field-sign-in A').keyup(function(e) 
        {
            if (e.which === 32) // space
                lets();
        });

        // Configure the tabindex.
        $('#control-email').attr('tabindex', 1);
        $('#control-password').attr('tabindex', 2);
        $('#control-confirm').attr('tabindex', 3);
        $('#control-sign-in').attr('tabindex', 4);
        $('#field-sign-in A').attr('tabindex', 5);

        // Go!
        lets();
    });
</script>
{% end %}
{% block form %}

    1 4 Sign In or Register

    *Email
    *[50](password)Password{6+ characters};*[50](password)Confirm
    (submit)Sign In|Signing In

{% end %}
