.cc-ba {
    width: 300px;

    form {
        margin-bottom: 1.2em;
        h2 {
            font: bold 14px $Ideal;
            text-transform: uppercase;
        }
    }

    .info {
        font: normal 11px/13px $Ideal;
        padding-top: 20px;
    }
    label {
        display: block;
        font: normal 10px $Ideal;
        margin: 8px 0 0;
        padding: 0;
    }
    label[for], label > span:first-child {
        display: block;
        text-transform: uppercase;
    }
    .half {
        display: inline-block;
        width: 148px;
    }
    .half.right {
        padding-left: 5px;
    }
    input[type="radio"] + label {
        display: inline;
        margin: 0;
    }
    input[type="radio"]:disabled + label {
        color: #888;
    }
    input:not([type]), input[type="text"] {
        font: normal 11pt/14pt $Ideal;
        width: 100%;
        margin: 0;
        padding: 3px;
        border: 1px solid $light-brown;
        outline: none;
    }
    input[type="radio"] {
        vertical-align: middle;
    }

    input:focus {
        border-color: $green;
    }
    input#cvv { width: 50px; }
    input#expiration_month { width: 35px; }
    input#expiration_year { width: 35px; margin-left: 1px !important; }
    #feedback {
        .details li {
            margin: 0;
            padding: 0 0 0 2em;
            text-indent: -2em;
            font: normal 12px $Ideal;
        }
    }
    select {
        font-size: 12.15px; // hack for Chosen to get a 292px width
    }
    #save {
        margin-top: 1.2em;
    }

    input.invalid {
        box-shadow: rgb(255, 0, 0) 0 0 1.5px 1px;
    }
    input.invalid:focus {
        box-shadow: rgba(255, 0, 0, 0.4) 0 0 2px 2px;
    }
    .invalid-msg {
        $background: #eee;
        $border: #aaa;
        background: $background;
        border: 1px solid $border;
        border-radius: 5px;
        display: none;
        font: normal 11px/13px $Ideal;
        margin: 7px 0 0 -12px;
        padding: 12px;
        position: absolute;

        &::after, &::before {
            background: transparent;
            border-style: solid outset solid solid;
            border-color: transparent;
            content: '';
            height: 0;
            left: 4px;
            position: absolute;
            top: -16px;
            width: 0;
        }
        &::after {
            border-width: 7px;
            border-bottom-color: $background;
            margin-left: 1px;
            margin-top: 2px;
        }
        &::before {
            border-width: 8px;
            border-bottom-color: $border;
        }
    }
    input.invalid:focus + .invalid-msg {
        display: block;
    }
}
