.cc-ba {
    text-align: left;

    .constrain-width {
        width: 300px;
        margin-bottom: 20px;
    }
    form {
        h2 {
            font: bold 14px $Ideal;
            text-transform: uppercase;
        }
    }

    .half {
        width: 150px;
    }
    .full {
        clear: both;
        text-align: right;
        padding-top: 5px;
    }
    .info {
        font: normal 11px/13px $Ideal;
        padding-top:20px;
        width: 300px;
    }
    .left {
        float: left;
    }
    .right {
        float: left;
    }
    label {
        display: block;
        font: normal 10px $Ideal;
        margin: 8px 0 0;
        padding: 0;
        text-transform: uppercase;
    }
    input[type="radio"] + label {
        display: inline;
        margin: 0;
    }
    input[type="radio"]:disabled + label {
        color: #888;
    }
    input:not([type]), input[type="text"] {
        font: normal 11pt/14pt $Ideal;
        width: 292px;
        margin: 0;
        padding: 3px;
        border: 1px solid $light-brown;
        outline: none;
    }
    input.disabled {
        color: $light-brown;
    }
    input[type="radio"] {
        vertical-align: middle;
    }

    .half input {
        width: 137px;
    }
    .right.half label,
    .right.half input {
        margin-left: 5px;
    }
    input:focus {
        border-color: $green;
    }
    .float {
        float: left;
    }
    .city          input { width: 137px; }
    .state         input { width: 43px; }
    .zip           input { width: 75px; }
    .card_number   input { width: 292px; }
    .cvv           input { width: 50px; }
    input.expiration_month { width: 35px;}
    input.expiration_year  { width: 35px; margin-left: 1px !important;}
    .not-first label,
    .not-first input {
        margin-left: 10px;
    }
    .nav {
        text-align: center;
    }
    #feedback {
        .details li {
            margin: 0;
            padding: 0 0 0 2em;
            text-indent: -2em;
            font: normal 12px $Ideal;
        }
    }
    select {
        font-size: 12.15px; // hack for Chosen to get a 292px width
    }
}
