.giving {
    .note {
        font: italic 12px/14px $Ideal;
    }

    .pane {
        float: left;
        padding-right: 40px;
        &:last-child {
            padding-right: 0;
        }
    }

    th {
        font: bold 12px/14px $Ideal;
        padding-bottom: 5px;
        vertical-align: bottom;
        &.total {
            font-weight: normal;
            font-family: $Mono;
            text-align: right;
        }
    }
    td {
        font: normal 12px/14px $Mono;
        padding-bottom: 2px;
        text-align: left;
        &.recipient {
            font-family: $Ideal;
        }
        &.amount {
            text-align: right;
        }
    }
    th, td {
        white-space: nowrap;
        padding-right: 15px;
        &:last-child {
            padding-right: 0;
        }
    }
}
