.hall-of-fame {
    dt {
        font-family: $Ideal;
    }
    dd {
        font: normal 10px/12px $Ideal;
        a {
            color: $black;
            &:hover {
                color: $green;
            }
        }
    }
}
