.on-confirm {
    padding: 1.5em 0 0;

    .scenario td {
        padding: 6pt;
        width: 33%;
    }
    .participant {
        position: relative;
        width: 96pt;
        display: inline-block;
        border: 2px solid $brown;
        border-radius: 6pt;
        font: normal 12px $Ideal;
        color: $brown;
        background: white url("clipped-heart.png") bottom right no-repeat;
        text-align: left;
        overflow: hidden;
        padding: 6pt 0 6pt 9pt;
    }
    .participant img, img.platform-icon {
        width: 12px;
        height: 12px;
    }
    .participant b {
        font-size: 11pt;
    }
    .participant td {
        padding: 0;
    }
    .participant th {
        font-weight: normal;
    }
    .other, .abandoned {
        font: normal 10px $Ideal;
    }
    .abandoned {
        text-align: center;
        overflow: hidden;
    }
    .nix {
        border-color: $light-brown;
    }
    .other b {
        font-size: 9pt;
    }
}
