#profile-edit {
    .statement {
        textarea {
            width: 98%;
            padding: 1%;
            resize: vertical;
        }
        textarea, select.langs {
            margin-top: 6px;
        }
        .help {
            font: normal 12px/12px $Ideal;
        }
    }
    .goal {
        #goal-custom {
            text-align: right;
            width: 6pc;
        }
    }
    .cryptocoin {
        .address {
            font-size: 13px;
        }
        .edit > .not-empty, .delete {
            display: none;
        }
        &.not-empty {
            .empty {
                display: none;
            }
            .edit > .not-empty, .delete {
                display: inline-block;
            }
        }
        .buttons {
            margin-top: 3px;
        }
    }
}
