#profile-edit {
    font-family: $Ideal;

    .js-edit form.edit {
        display: none;
    }
    .username {
        input {
            width: 6em;
        }
        .warning {
            margin-top: 5px;
            display: block;
            color: red;
        }
    }
    .statement {
        textarea {
            width: 98%;
            padding: 1%;
            resize: vertical;
        }
        textarea, select.langs {
            margin-top: 6px;
        }
        .help {
            font: normal 12px/12px $Ideal;
        }
    }
    .goal {
        #goal-custom {
            text-align: right;
            width: 6pc;
        }
    }
    .api-key {
        span {
            font: normal 10pt/12pt $Mono;
            background: #EEE;
            padding: 3pt;
        }
        .buttons {
            padding: 3pt 0;
            button {
                margin-top: 3pt;
            }
        }
    }
    .email-submit {
        .address input {
            width: 100%;
            margin: 5px 0;
        }
        .buttons > button {
            margin-top: 3pt;
        }
    }
    .bitcoin {
        .address {
            font-size: 13px;
        }
    }
}
