"""This page allows users to confirm their intent to subscribe.
"""
from samurai.payment_method import PaymentMethod

#=========================================================================== ^L

pmt = request.user.session.get('payment_method_token')
if not pmt:
    request.redirect('/subscription/create.html')
pmt = PaymentMethod.find(pmt)

subscription = request.user.session.get('subscription') 
if subscription is not None:
    request.redirect('/subscription/')


title = "Subscribe"
#=========================================================================== ^L

{% extends "form.html" %}
{% block head2 %}
<style>
</style>
<script>
</script>
{% end %}
{% block already %}

<div id="unpegged-2" class="unpegged">
    <h3><span><b>Step 1 <i>of</i> 3:</b> Register or Sign In</span></h3>
    <div class="line"></div>

    <p>You are signed in as {{ request.user.session['email'] }}. <a
        href="/sign/out.html">Sign out</a>.</p>
</div>

<div id="unpegged-2" class="unpegged">
    <h3><span><b>Step 2 <i>of</i> 3:</b> Credit Card Details</span></h3>
    <div class="line"></div>

    <p>You are using your credit card, 
    <code>************{{ pmt.last_four_digits }}</code>. 
    <a href="/subscription/create.html?change=1">Change</a>.</p>
</div>

{% end %}
{% block form %}

    3 3 Confirm Subscription

    (help) "Your subscription costs &lt;b&gt;$9 per month&lt;/b&gt;." \
    (help) "You will be billed &lt;b&gt;in advance on the first&lt;/b&gt; of every month." \
    (help) "Your &lt;b&gt;first bill will be for $7&lt;/b&gt;, to cover the rest of this month." \
    (help) "Your credit card details are &ltb&gt;securely stored&lt;/b&gt; by &lt;a href='https://samurai.feefighters.com/merchants/7b79175baca336eaf4bfe8c8/verify' target='_blank'&gt;Samurai&lt;/a&gt;, our secure payments partner." \
    (help) "You may &lt;a href='/subscription/cancel.html'&gt;&lt;b&gt;cancel&lt;/b&gt;&lt;/a&gt; your subscription at any time. You will receive a prorated refund for the rest of that month, and then your credit card details will be purged."
    (help) "&lt;b&gt;Thank you for your subscription!&lt;/b&gt; &lt;code&gt;:-)&lt;/code&gt;"

    (submit) Yes, subscribe me.|Finalizing subscription ...
    
{% end %}
