"""This page allows users to file their credit card details with us.
"""
import datetime

import samurai.config
from aspen import Response
from logstown import db
from samurai.payment_method import PaymentMethod

#=========================================================================== ^L

title = "Subscribe"
N = 3

request.allow('GET')

if request.user.ANON:
    response = Response(401)
    response.sign_in_form = { "title": title
                            , "step": "Register or Sign In"
                            , "N": N
                             }
    raise response


# Load current details from Samurai.
# ==================================
# If we have nothing in Samurai for this user, then they'll definitely get the 
# form. Otherwise we'll bump them to the next step unless they ask to stay 
# here.

pmt = request.user.session.get('payment_method_token')
if pmt is not None:
    if not request.qs.one('change'): # can force this form via querystring
        request.redirect('/subscription/confirm.html')
    pmt = PaymentMethod.find(pmt)


# Set up some content helpers.
# ============================

def get(name):
    out = ""
    if pmt is not None:
        out = getattr(pmt, name, "")
        if out is None:
            out = ""
    return out

def get_last_four():
    last_four = get('last_four_digits')
    if last_four:
        last_four = "************" + last_four
    return last_four

def get_expiry():
    month = get('expiry_month')
    year = get('expiry_year')
    out = ''
    if month and year:
        out = "%02d/%s" % (int(month), year)
    return out

#=========================================================================== ^L

{% extends form.html %}
{% block head2 %}
<style>
    #field-card-type P {
        margin: 0;
        padding: 9px 0 0;
        position: relative;
    }
    #field-card-type IMG {
    }
</style>
<script src="https://samurai.feefighters.com/assets/api/samurai.js"></script>
<script>
    Logstown.wire('informed', function()
    {
        function errback(a,b,c)
        {
            console.log(a,b,c);
        }

        function callback(data)
        {
            var pmt = data.payment_method.payment_method_token;
            jQuery.ajax(
                { url: "create.json"
                , type: "POST"
                , data: {"payment_method_token": pmt}
                , dataType: "json"
                , success: function()
                {
                    window.location.href = window.location.href;
                }
                 }
            );
        }

        function submit(e)
        {
            e.preventDefault();
            e.stopPropagation();

            Samurai.init(
                { merchant_key: '{{ samurai.config.merchant_key }}'
                , {% if samurai.config.sandbox %}sandbox: true{% end %}
                 }
            );
            
            var details = $(this).serializeObject();

            // parse out expiry parts
            var parts = details.expiry.split('/');
            details.expiry_month = parts[0];
            details.expiry_year = parts[1];
            delete details.expiry;

            // wrap for samurai
            data = { "credit_card": details
                   {% if pmt %}, "payment_method_token": "{{ pmt.payment_method_token }}"
                     {% end %}};

            Samurai.payment(data, callback);

            return false;
        }

        // Overwrite inform submit with a custom submit.
        $('FORM').off('submit').submit(submit);
        
        var errorHandler = new Samurai.PaymentErrorHandler($('FORM'));
        errorHandler.handleErrorsFromResponse(errback);

        // Use a mask for the expiration date.
        $('#control-expiry').mask('99/2099', {placeholder:'-'});
    });


</script>
{% end %}
{% block already %}

<div id="unpegged-2" class="unpegged">
    <h3><span><b>Step 1 <i>of</i> 3:</b> Register or Sign In</span></h3>
    <div class="line"></div>

    <p>You are signed in as {{ request.user.session['email'] }}. <a
        href="/sign/out.html">Sign out</a>.</p>
</div>

{% end %}
{% block form %}

    2 3 Credit Card Details 

    (help) "Your credit card details are securely stored by &lt;a href='https://samurai.feefighters.com/merchants/7b79175baca336eaf4bfe8c8/verify' target='_blank'&gt;Samurai&lt;/a&gt;, our secure payments partner."

    [50] 'first_name'   First Name  "{{ get('first_name') }}"\
    [50] 'last_name'    Last Name   "{{ get('last_name') }}"
         'address_1'    Address 1   "{{ get('address_1') }}"
         'address_2'    Address 2   "{{ get('address_2') }}"
    [55] 'city'         City        "{{ get('city') }}" \
    [15] 'state'        State       "{{ get('state') }}" \
    [30] 'zip'          ZIP         "{{ get('zip') }}"
   *     'card_number'  Card Number "{{ get_last_four() }}"
   *[21] 'cvv'          CVV         "" \
   *[35] 'expiry'       Expiration  "{{ get_expiry() }}" \
   *[44] 'card-type'    (shell)     "&nbsp;&lt;img src='cards.png' /&gt;" 

    (submit) Save Credit Card Details|Saving Credit Card Details

{% end %}
