# ========================================================================== ^L

if request.user.ANON:
    request.redirect('create.html')
if request.user.session['subscribed_on'] is None:
    request.redirect('create.html')

on = request.user.session['subscribed_on']
through = request.user.session['subscribed_through']

# ========================================================================== ^L

{% extends "base.html" %}
{% block content %}
<h2>Your Subscription</h2>

<p>You subscribed on {{ on }}.</p>

{% if through is None %}
<p>Your first bill has not posted yet.</p>
{% else %}
<p>You are subscribed through {{ through }}.</p>
{% end %}

<p><a href="cancel.html">Cancel</a>.</p>
{% end %}
