@import url("https://fonts.googleapis.com/css?family=Lato:300,900");

.gittip-0001 {
    width: 84pt;
    display: inline-block;
    border: 2px solid #614C3E;
    border-radius: 6pt;
    font: normal 9pt/12pt Lato, sans-serif;
    color: #614C3E;
    background: white url("heart.gif") 64pt 31pt no-repeat;
    text-align: left;
}
.gittip-0001-padding {
    display: block;
    padding: 6pt 0 6pt 9pt;
}
.gittip-0001 B {
    font-size: 12pt;
    line-height: 14pt;
}
.gittip-0001 A {
    color: #2A8F79;
}
