@import url("https://fonts.googleapis.com/css?family=Lato:300,900");

.gittip-widget {
	font: normal 9pt/12pt Lato, sans-serif;
	color: #614C3E;
}

.gittip-widget b {
	font-size: 12pt;
	line-height: 14pt;
}

.gittip-widget a {
	color: #2A8F79;
}

.gittip-0002 {
	width: 84pt;
	display: inline-block;
	border: 2px solid #614C3E;
	border-radius: 6pt;
	background: white url("heart.gif") 64pt 31pt no-repeat;
	text-align: left;
}

.gittip-0002 .gittip-inner {
	display: block;
	padding: 6pt 0 6pt 9pt;
}
