import traceback

import balanced
from aspen import json, log, Response
from gittip import billing
from gittip.networks import github

# ========================================================================== ^L

if not user.ANON:
    balanced_account_uri = user.balanced_account_uri

    status = "not connected"
    if balanced_account_uri:
        working = not bool(user.last_ach_result)
        status = "connected" if working else "not connected"

    if balanced_account_uri:
        try:
            card = billing.BalancedBankAccount(balanced_account_uri)
        except:  # balanced is unavailable (or balanced_account_uri is bad?)
            log(traceback.format_exc())
            payouts_down = True
        else:
            assert balanced_account_uri == card['id']
            payouts_down = False
    
    username = user.id
# ========================================================================== ^L
{% extends templates/base.html %}


{% block body %}
{% if user.ANON %}
<div id="their-voice">
<h2 class="first">Credit Card</h2>

<p>Sign in <a href="{{ github.oauth_url(website, u'opt-in', u'/credit-card.html') }}">with
GitHub</a>, and then you&rsquo;ll be able to add or change your credit card.
Thanks! :-)</p>

</div>

{% else %}
<script>
    $(document).ready(function()
    {
        Gittip.initPayment("{{ balanced.Marketplace.my_marketplace.uri }}", "{{ user.id }}");
    });
</script>
<style>
    #feedback {
        position: absolute;
        width: 220px;
        left: 360px;
    }
    #feedback H3 {
        margin-top: 0;
    }
    #feedback .details P {
        font-size: 9pt;
        line-height: 12pt;
        margin: 0 ! important;
        padding: 0 0 0 1em;
        text-indent: -1em;
        overflow: hidden;
    }
    FORM {
        width: 300px;
    }
    {% if not balanced_account_uri %}
    #delete {
        display: none;
    }
    {% end %}
</style>
<div id="their-voice">

    <h2 class="first">You are <a href="/{{ user.id }}/">{{ user.id }}</a>.</h2>
    <h2>Your <b>bank account</b> is <span id="status">{{ status }}</span>.</h2>
    
    {% if payouts_down %}

    <p>We had a problem contacting <a
        href="https://www.balancedpayments.com/">our payment processor</a>.
    Could I ask if you&rsquo;d be willing to try again later? Thanksorry.
    :-(</p>

    {% else %}

    <p>When you receive money on Gittip we 
    {% if balanced_account_uri %}will{% else %}can{% end %} automatically 
    deposit it into your bank account. If you don't connect a bank account then
    your money will accumulate within Gittip, and will be used to regift 
    others.<p>

    <p>Bank account information is stored and processed by <a
        href="https://www.balancedpayments.com/">Balanced</a>.</p>

    {% if balanced_account_uri %}

    <p>Your current card is <b>{{ card['last4'] }}</b>.</p>

    <h2>Change your card on file.</h2>
    {% elif stripe_customer_id %}

    <p>Your current card is <b>{{ card['last4'] }}</b>.</p>

    <h2>Change your card on file.</h2>
    {% end %}

    <form id="payment" class="special">
        <div id="feedback">{% if user.last_bill_result %}
        <h3><span>Failure</span></h3>
        <div class="details">
        <p>{{ user.last_bill_result }}</p>
        </div>
        {% end %}</div>


        <h3>Required</h3>

        <div class="float card_number">
            <label for="card_number">Credit Card Number</label>
            <input id="card_number" />
        </div>

        <div class="float expiry not-first">
            <label for="expiry">Expiration</label>
            <input id="expiry" />
        </div>

        <div class="float cvv not-first">
            <label for="cvv">CVV</label>
            <input id="cvv" />
        </div>

        <div class="clear"></div>


        <h3>Optional</h3>

        <label for="name">Full Name on Card</label>
        <input id="name" value="{{ card['name'] }}" />

        <div class="clear"></div>

        <label for="address_1">Address 1</label>
        <input id="address_1" value="{{ card['address_1'] }}" />

        <label for="address_2">Address 2</label>
        <input id="address_2" value="{{ card['address_2'] }}" />


        <div class="half left">
            <label for="state">State or Province</label>
            <input id="state" value="{{ card['state'] }}" />
        </div>

        <div class="half right">
            <label for="zip">ZIP or Postal Code</label>
            <input id="zip" value="{{ card['zip'] }}" />
        </div>

        <div class="clear"></div>

        <div class="full">
            <img src="/assets/{{ __version__ }}/cards.png" />
            <button class="selected" id="save"
            type="submit">Save</button>
        </div>
        {% end %}
    </form>

    <div id="delete"> 
    <h2>Delete credit card.</h2>

    <p>Your credit card details will immediately be completely purged from
    Gittip.</p>

    <form action="credit-card.json" class="special">
        <input type="hidden" name="action" value="delete"> 
        <button>Delete my credit card</button>
    </form>
    </div>

</div>
{% end %}
{% end %}
