import traceback
from datetime import datetime, timedelta

import balanced
from aspen import json, log, Response
from gittip import billing, MONTHS
from gittip.networks import github

# ========================================================================== ^L
balanced_account_uri = None
payouts_down = False
account = None
bank_account = None

if not user.ANON:
    balanced_account_uri = user.balanced_account_uri

    status = "not connected"
    if balanced_account_uri:
        working = user.last_ach_result == ""
        status = "connected" if working else "not connected"
        account = balanced.Account.find(balanced_account_uri)

        try:
            bank_account = billing.BalancedBankAccount(balanced_account_uri)
        except Exception:  # balanced is unavailable (or balanced_account_uri is bad?)
            log(traceback.format_exc())
            payouts_down = True
        else:
            if bank_account.is_setup:
                assert balanced_account_uri == bank_account['account_uri']

    username = user.id

# ========================================================================== ^L
{% extends templates/base.html %}


{% block body %}
{% if user.ANON %}
<div id="their-voice">
<h2 class="first">Bank Account</h2>

<p>Sign in <a href="{{ github.oauth_url(website, u'opt-in', u'/bank-account.html') }}">with
GitHub</a>, and then you&rsquo;ll be able to add or change your bank account.
Thanks! :-)</p>

</div>

{% else %}
<script>
    $(document).ready(function()
    {
        Gittip.initPayout("{{ balanced.Marketplace.my_marketplace.uri }}", "{{ user.id }}");
    });
</script>
<style>
    #feedback {
        position: absolute;
        width: 220px;
        left: 360px;
    }
    #feedback H3 {
        margin-top: 0;
    }
    #feedback .details P {
        font-size: 9pt;
        line-height: 12pt;
        margin: 0 ! important;
        padding: 0 0 0 1em;
        text-indent: -1em;
        overflow: hidden;
    }
    FORM {
        width: 300px;
    }
    {% if not balanced_account_uri %}
    #delete {
        display: none;
    }
    {% end %}
</style>
<div id="their-voice">

    <h2 class="first">You are <a href="/{{ user.id }}/">{{ user.id }}</a>.</h2>
    <h2>Your <b>bank account</b> is <span id="status">{{ status }}</span>.</h2>

    {% if payouts_down %}

    <p>We had a problem contacting <a
        href="https://www.balancedpayments.com/">our payment processor</a>.
    Could I ask if you&rsquo;d be willing to try again later? Thanksorry.
    :-(</p>

    {% else %}

    <p>When you receive money on Gittip we
    {% if bank_account and bank_account.is_setup %}will{% else %}can{% end %}
    automatically deposit it into your bank account. If you don&rsquo;t connect
    a bank account then your money will accumulate within Gittip unless you
    regift it to others.<p>

    <p>Bank account information is stored and processed by <a
        href="https://www.balancedpayments.com/">Balanced</a>.</p>

    {% if account and 'merchant' in account.roles %}

    <h3>Identity Verification &nbsp; &#x2714;</h3>

    <h3>Routing Information</h3>

    {% if bank_account and bank_account.is_setup %}

    <p>Your current account is a
    <b>{{ bank_account['bank_name'] }}</b> account ending in
    <b>{{ bank_account['last_four'] }}</b>.</p>

    {% end %}
    {% end %}

    <form id="payout" class="special">

        <div id="feedback">{% if user.last_ach_result %}
            <h3><span>Failure</span></h3>
            <div class="details">
                <p>{{ user.last_ach_result }}</p>
            </div>
        {% end %}</div>

        {% if not account or 'merchant' not in account.roles %}

        <h3>Identity Verification</h3>

        <div>
        <label for="name">Your Legal Name</label>
        <input id="name" value="" />
        </div>

        <div class="clear"></div>

        <div>
            <label for="address_1">Street Address</label>
            <input id="address_1" value="" />
        </div>

        <div>
            <label for="address_1">City</label>
            <input id="address_1" value="" />
        </div>

        <div class="half left">
            <label for="state">State or Province</label>
            <input id="state" value="" />
        </div>

        <div class="half right">
            <label for="zip">ZIP or Postal Code</label>
            <input id="zip" value="" />
        </div>

        <div class="clear"></div>

        <div>
            <label for="address_1">Country (<a href="https://github.com/whit537/www.gittip.com/issues/126">non-US?</a>)</label>
            <input id="zip" value="United States of America" disabled="true"
                class="disabled" />
        </div>

        <div>
            <label for="phone_number">Contact Phone Number</label>
            <input id="phone_number" value="" />
        </div>

        <div class="left">
            <label for="dob-year">Date of Birth</label>
            <select id="dob-month">
                {% for i in range(1, 13) %}
                <option value="{{ i }}">{{ MONTHS[i] }}</option>
                {% end %}
            </select>
            <select id="dob-day">
                {% for i in range(1, 32) %}
                <option value="{{ i }}">{{ i }}</option>
                {% end %}
            </select>
            <select id="dob-year">
            {% for i in range(1900, datetime.utcnow().year - 17) %}
                <option value="{{ i }}" {{ 'selected="selected"' if i == 1990 else '' }}>{{ i }}</option>
            {% end %}
            </select>
        </div>

        <div class="clear"></div>

        <h3>Routing Information</h3>

        {% end %}

        <div class="float">
            <label for="account_name">Name on Bank Account</label>
            <input id="account_name" autofocus="autofocus" />
        </div>

        <div class="float account_number">
            <label for="account_number">Bank Account Number</label>
            <input id="account_number" />
        </div>

        <div class="float routing_number">
            <label for="routing_number">Routing Number</label>
            <input id="routing_number" />
        </div>

        <div class="clear"></div>

        <div class="full">
            <button class="selected" id="save"
            type="submit">Save</button>
        </div>
        {% end %}
    </form>

    <div id="delete">
        <h2>Disconnect bank account.</h2>

        <p>Your bank account details will immediately be completely purged from
        Gittip.</p>

        <form action="bank-account.json" class="special" method="POST">
            <input type="hidden" name="action" value="delete">
            <button>Disconnect my bank account</button>
        </form>
    </div>

</div>
<div id="powered-by-balanced">
    <a href="https://www.balancedpayments.com">Payments By Balanced</a>
</div>
{% end %}
{% end %}
