from logstown import db, validate
from logstown.authentication import authentic, hash 

#=========================================================================== ^L

if request.POST:
    email = request.user.session['email']
    current = request.body.one('current')
    password = request.body.one('password')
    confirm = request.body.one('confirm')
    problem = ""

    if not problem:
        if not authentic(email, current):
            problem = ("Sorry, you didn&rsquo;t provide the correct current "
                       "password.")
    if not problem:
        problem = validate.password(password, confirm)
        hashed = hash(password)

    SQL = "UPDATE users SET hash=%s WHERE email=%s"
    db.execute(SQL, (hashed, email))

#=========================================================================== ^L

{% extends "base.html" %}
{% block content %}
<h2>Change Your Password</h2>

<form action="/change-password.html" method="POST">
    <label>Current Password</label>
    <input type="password" name="current" />
    <br />
    <br />
    <label>New Password <i>(6+ characters)</i></label>
    <input type="password" name="password" />
    <br />
    <br />
    <label>Confirm Password</label>
    <input type="password" name="confirm" />
    <br />
    <br />
    <label>&nbsp;</label>
    <input type="submit" value="Change Password" />
</form>
{% end %}

