from aspen import Response
from gittip import db, AMOUNTS
from gittip.elsewhere import github
^L

try:
    limit = min(int(qs.get('limit', 10)), 100)
    offset = int(qs.get('offset', 0))
except ValueError:
    raise Response(400)

receivers = db.fetchall("""

    SELECT tippee, claimed_time, sum(amount) AS amount
      FROM (    SELECT DISTINCT ON (tipper, tippee)
                       amount
                     , tippee
                  FROM tips
                  JOIN participants p ON p.id = tipper
                  JOIN elsewhere ON elsewhere.participant_id = tippee
                 WHERE last_bill_result = ''
                   AND elsewhere.is_locked = false
                   AND is_suspicious IS NOT true
              ORDER BY tipper, tippee, mtime DESC
              ) AS foo
      JOIN participants p ON p.id = tippee
     WHERE is_suspicious IS NOT true
  GROUP BY tippee, claimed_time
  ORDER BY amount DESC
  LIMIT %s
  OFFSET %s

""", (limit, offset))

givers = db.fetchall("""

    SELECT tipper, anonymous, sum(amount) AS amount
      FROM (    SELECT DISTINCT ON (tipper, tippee)
                       amount
                     , tipper
                  FROM tips
                  JOIN participants p ON p.id = tipper
                  JOIN participants p2 ON p2.id = tippee
                  JOIN elsewhere ON elsewhere.participant_id = tippee
                 WHERE p.last_bill_result = ''
                   AND p.is_suspicious IS NOT true
                   AND p2.claimed_time IS NOT NULL
                   AND elsewhere.is_locked = false
              ORDER BY tipper, tippee, mtime DESC
              ) AS foo
      JOIN participants p ON p.id = tipper
     WHERE is_suspicious IS NOT true
  GROUP BY tipper, anonymous
  ORDER BY amount DESC
  LIMIT %s
  OFFSET %s

""", (limit, offset))
^L
{% extends templates/base.html %}

{% block heading %}

    <!--
    <p class="below-header">
        <span class="nowrap">Set up recurring gift tips to people who</span>
        <span class="nowrap">make the world better. <a href="/about/">Learn more ...</a></span>
    </p>
    -->

    <script>
        $(document).ready(Gittip.initJumpToPerson);
    </script>

    <span>tip someone</span>
    <form action="." method="get">
        <fieldset>
            <input type="text" class="" name="github_username"
            value="" placeholder="Enter a GitHub username" />
        </fieldset>
    </form>

    <!--
    <h2>Tip someone!</h3>
    <form id="jump">
        Enter a <select>
            <option value="twitter">Twitter</option>
            <option value="github">GitHub</option>
        </select> username:
        <span class="nowrap">
            <input placeholder="" />
            <button class="selected small" type="submit">Go</button>
        </span>
    </form>
    -->

{% end %}
{% block body %}

    <h1>Leaderboard</h1>
    <section class="top-receivers">
        <div class="top group">
            <h2>Top Receivers</h2>
            <button href="#">View Unclaimed</button>
        </div>
        <ul class="group">
            {% for i, receiver in enumerate(receivers, start=1) %}
            <li>
                <a href="/{{ receiver['tippee'] }}/" class="mini-user">
                    <span class="inner">
                        <span class="avatar" style="background-image: url('img/avatars/whit537.gif')">
                            <span class="rank">{{ i }}</span>
                        </span>
                        <span class="money">{{ receiver['amount'] }}</span>
                        <span class="name">{{ receiver['tippee'] }}</span>
                    </span>
                </a>

            </li>
            {% end %}
        </ul>
    </section>
    <section class="top-givers">
        <h2>Top Givers</h2>
        <ul class="group">
            {% for i, giver in enumerate(givers, start=1) %}
            <li>
                <a href="/{{ giver['tipper'] }}/" class="mini-user">
                    <span class="inner">
                        <span class="avatar" style="background-image: url('img/avatars/whit537.gif')">
                            <span class="rank">{{ i }}</span>
                        </span>
                        <span class="money">{{ giver['amount'] }}</span>
                        <span class="name">{{ giver['tipper'] }}</span>
                    </span>
                </a>

            </li>
            {% end %}
        </ul>
    </section>

    <!--
    <h2>Leaderboard
        <span class="small"><a href="/about/unclaimed.html">Unclaimed</a></span>
    </h2>

    <div id="givers">

        <h3 class="first">Top Givers</h3>

        <table>
            {% for i, giver in enumerate(givers, start=1) %}
            <tr>
                <td>{{ i }}.</td>
                <td class="amount">$</td>
                <td class="amount">{{ giver['amount'] }}</td>
                {% if giver['anonymous'] %}
                <td class="unclaimed">anonymous{% if user.ADMIN %}
                    <a class="help" href="/{{ giver['tipper'] }}/">{{ giver['tipper'] }}</a>
                {% end %}</td>
                {% else %}
                <td><a href="/{{ giver['tipper'] }}/">{{ giver['tipper'] }}</a></td>
                {% end %}
            </tr>
            {% end %}
        </table>

    </div>

    <div id="receivers">

        <h3 class="first">Top Receivers</h3>

        <table>
            {% for i, receiver in enumerate(receivers, start=1) %}
            <tr{% if receiver['claimed_time'] is None %} class="unclaimed"{% end %}>
                <td>{{ i }}.</td>
                <td class="amount">$</td>
                <td class="amount">{{ receiver['amount'] }}</td>
                <td><a href="/{{ receiver['tippee'] }}/">{{ receiver['tippee'] }}</a>
                    {% if receiver['claimed_time'] is None %}<br /><span class="small help">unclaimed!</span>{% end %}
                </td>
            </tr>
            {% end %}
        </table>

    </div>


    <h2 class="clear">Gittip happens every Thursday.</h2>

    <p>The amounts above are what the Gittip community is willing to give as
    a weekly gift to each person, but only if the person accepts it. Gittip is
    <b>opt-in</b>. We never collect money on a person&rsquo;s behalf until that
    person opts in by claiming their account.</p>

    <p class="help">Amounts are based on tips from people with a
    {% if user.ANON %}working credit card{% else %}<a href="/credit-card.html">working
        credit card</a>{% end %} on file. If a card stops working this week
    then the actual amount distributed can be lower. If someone doesn&rsquo;t
    have a working card but does have a positive Gittip balance themselves then
    the actual amount distributed can be higher.  Make sense?</p>

    -->

{% end %}
