through = request.user.session['sponsor_through']
if through is None:
    # Their first bill hasn't posted yet. XXX: Reason about race condition.
    through = "as soon as you click the button"
else:
    through = "on " + through

title = "Cancel Sponsorship"

# ========================================================================== ^L

{% extends "form.html" %}
{% block form %}

    1 1

    (help) "Your sponsorship will end {{ through }}." \
    (help) "Your credit card details will be purged."
    (help) "&lt;b&gt;Sorry.&lt;/b&gt; &lt;code&gt;:-(&lt;/code&gt;"

    (submit) Cancel Sponsorship|Canceling Your Sponsorship

{% end %}
