"""This page allows users to confirm their intent to sponsor.
"""
from samurai.payment_method import PaymentMethod

#=========================================================================== ^L

pmt = request.user.session.get('payment_method_token')
if not pmt:
    request.redirect('/sponsorship/create.html')
pmt = PaymentMethod.find(pmt)

sponsorship = request.user.session.get('sponsorship') 
if sponsorship is not None:
    request.redirect('/sponsorship/')


title = "Sponsor Me"
#=========================================================================== ^L

{% extends "form.html" %}
{% block head2 %}
<style>
</style>
<script>
</script>
{% end %}
{% block already %}

<div id="unpegged-2" class="unpegged">
    <h3><span><b>Step 1 <i>of</i> 3:</b> Register or Sign In</span></h3>
    <div class="line"></div>

    <p>You are signed in as {{ request.user.session['email'] }}. <a
        href="/sign/out.html">Sign out</a>.</p>
</div>

<div id="unpegged-2" class="unpegged">
    <h3><span><b>Step 2 <i>of</i> 3:</b> Credit Card Details</span></h3>
    <div class="line"></div>

    <p>You are using your credit card, 
    <code>************{{ pmt.last_four_digits }}</code>. 
    <a href="/sponsorship/create.html?change=1">Change</a>.</p>
</div>

{% end %}
{% block form %}

    3 3 Confirm Sponsorship

    (help) "Your sponsorship costs &lt;b&gt;$9 per month&lt;/b&gt;." \
    (help) "You will be billed &lt;b&gt;in advance on the second&lt;/b&gt; of every month." \
    (help) "Your credit card details are &ltb&gt;securely stored&lt;/b&gt; by &lt;a href='https://samurai.feefighters.com/merchants/7b79175baca336eaf4bfe8c8/verify' target='_blank'&gt;Samurai&lt;/a&gt;, our secure payments partner." \
    (help) "You may &lt;a href='/sponsorship/cancel.html'&gt;&lt;b&gt;cancel&lt;/b&gt;&lt;/a&gt; your sponsorship at any time, and your credit card details will be purged."
    (help) "&lt;b&gt;Thank you for your sponsorship!&lt;/b&gt; &lt;code&gt;:-)&lt;/code&gt;"

    (submit) Yes, I will sponsor you.|Finalizing sponsorship ...
    
{% end %}
