from logstown import db
from samurai.processor import Processor

#=========================================================================== ^L


email = request.user.session['email']
pmt = request.user.session['payment_method_token']
amount = int(request.body.one('amount'))
Processor.purchase(pmt, amount)

RECORD = "INSERT INTO transactions (email, amount) VALUES (%s, %s)"
db.execute(RECORD, (email, amount,))


#=========================================================================== ^L

{% extends "base.html" %}
{% block content %}
<h2>Thank you!</h2>
<p>You have paid ${{ amount }}.</p>

<p><a href="/pay-money.html">Pay more</a>.</p>
{% end %}
