.payments-by {
    background-image: url("payments-by.png");
    background-size: cover;
    width: 200px;
    height: 24px;
    float: right;
    margin-bottom: 5px;
    padding-left: 6pt;
    > a {
        line-height: 24pt;
    }
}

