#content .profile-statement {
    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    blockquote {
        border-left:.5em solid #eee;
        padding: 0 2em;
        margin-left:0;
        max-width: 476px;
    }

    h1, h2 {
        letter-spacing: 0;
        text-transform: none;
    }
    h1 {
        color: $green;
        font-size: 26px;
        font-weight: normal;
        margin: 26px 0 16px;
    }
    h2 {
        color: inherit;
        font-size: 18px;
        font-weight: bold;
        margin: 18px 0 16px;
    }
}
