% from 'templates/macros/avatar-url.html' import avatar_img with context
% from "templates/macros/icons.html" import icon with context

<li class="dropdown dropdown-hover">
<button class="dropdown-toggle navbar-btn" type="button"
        data-toggle="dropdown">
    <div class="inline-block" aria-hidden="true">{{ avatar_img(user, size=28) }}</div>
    <span class="sr-only">{{ _("Your account") }}</span>
    <span class="caret"></span>
</button>
<ul class="dropdown-menu dropdown-menu-right">
    <li><a href="/{{ user.username }}/">{{ _("Profile") }}</a></li>
    <li><a href="/{{ user.username }}/giving/">{{ _("Giving") }}</a></li>
    <li class="level2"><a href="/{{ user.username }}/routes/">{{ _("Payment Instruments") }}</a></li>
    <li class="level2"><a href="/{{ user.username }}/giving/schedule">{{ _("Payment Schedule") }}</a></li>
    <li><a href="/{{ user.username }}/receiving/">{{ _("Receiving") }}</a></li>
    <li class="level2"><a href="/{{ user.username }}/patrons/">{{ _("Patrons") }}</a></li>
    <li class="level2"><a href="/{{ user.username }}/payment/">{{ _("Payment Processors") }}</a></li>
    <li><a href="/{{ user.username }}/ledger/">{{ _("Ledger") }}</a></li>
    <li><a href="/{{ user.username }}/identity">{{ _("Identity") }}</a></li>
    <li><a href="/{{ user.username }}/settings/">{{ _("Account") }}</a></li>
    <li><a href="/{{ user.username }}/emails/">{{ _("Emails") }}</a></li>
    <li><a href="/{{ user.username }}/notifications">{{ _("Notifications") }}</a></li>
    <li><a href="/{{ user.username }}/widgets/">{{ _("Widgets") }}</a></li>
    <li class="divider"></li>
    <li><a href="/about/teams">{{ _("Create a new team") }}</a></li>
    {#<li><a href="/for/new">{{ _("Create a new community") }}</a></li>#}
    <li class="divider"></li>
    <li>
        % set method_is_unsafe = request.method not in constants.SAFE_METHODS
        <form action="/sign-out" method="POST" {% if method_is_unsafe %} target="_blank" {% endif %}>
            <input name="back_to" type="hidden" value="{{ '/' if method_is_unsafe else request.line.uri.decoded }}" />
            <input name="csrf_token" type="hidden" value="{{ csrf_token }}" />
            <button class="btn navbar-btn" type="submit">{{ icon('exit') }} <span>{{ _("Sign out") }}</span></button>
        </form>
    </li>
</ul>
</li>

% if user.pending_notifs
<li><a href="/{{ user.username }}/notifications"
       title="{{ _('Notifications') }}"
       class="{{ 'navbar-warning' if user.pending_notifs else '' }}">
    {{ icon('exclamation-sign') }}
    <span class="sr-only">{{ _("Notifications") }}</span>
    % if user.pending_notifs
        <span class="pending-notifs">{{ user.pending_notifs }}</span>
    % endif
</a></li>
% endif
