% from "templates/macros/icons.html" import icon with context

% if request.method in constants.SAFE_METHODS
<li class="dropdown dropdown-hover locale">
    <button class="dropdown-toggle navbar-btn" type="button"
            data-toggle="dropdown"
            title="{{ _('Switch to another language') }}">
        {{ icon('locale') }}
        <span class="text">{{ locale.language_name }}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
    % for l_name, l in website.lang_list
        <li {% if l.tag == locale.global_tag %} class="active" {% endif %}
            ><a href="{{ l.base_url }}{{ request.line.uri.decoded }}" rel="alternate" hreflang="{{ l.tag }}"
                ><span lang="{{ l.tag }}">{{ l_name }}</span>{% if l.completion <= 0.99 %} &nbsp; <small>{{
                    _("({x_percent} not yet translated)", x_percent=locale.format_percent(l.missing_translations))
                    if l.missing_translations >= 0.01 else
                    _("({x_percent} machine translated)", x_percent=locale.format_percent(l.fuzzy_translations))
                    if l.fuzzy_translations >= 0.01 else
                    ""
                }}</small>{% endif %}</a></li>
    % endfor
        <li role="separator" class="divider"></li>
        <li><a href="https://hosted.weblate.org/engage/liberapay/?utm_source=liberapay-navbar"
               target="_blank" rel="noopener noreferrer"
               >{{ icon('external-link') }}&nbsp;{{ _("Help us translate Liberapay") }}</a></li>
    </ul>
</li>
% endif
