"""This page allows users to file their credit card details with us.
"""
import datetime

import samurai.config
from logstown import db
from samurai.payment_method import PaymentMethod

#=========================================================================== ^L


# Get the user's payment_method_token, if they have one.
# ======================================================
# If it comes to us in the querystring, that means we're getting a redirect
# back from Samurai, and we want to save it. Otherwise we expect it in the 
# session.

pmt = request.qs.one('payment_method_token')
if pmt is not None: # We got sent back here after POSTing ourself to Samurai.
    session_token = request.user.session['session_token']
    PMT = "UPDATE users SET payment_method_token=%s WHERE session_token=%s"
    db.execute(PMT, (pmt, session_token,))
else:
    pmt = request.user.session.get('payment_method_token')


# Download details from Samurai.
# ==============================
# If the user has not submitted this form at all yet, then pmt will be None.

save_edit = "Save a"
if pmt is not None:
    save_edit = "Edit your"
    pmt = PaymentMethod.find(pmt)
save_edit_2 = save_edit.split()[0]


# Set up some content helpers.
# ============================

def get(name):
    out = ""
    if pmt is not None:
        out = getattr(pmt, name, "")
        if out is None:
            out = ""
    return out

def get_last_four():
    last_four = get('last_four_digits')
    if last_four:
        last_four = "************" + last_four
    return last_four

def gen_months():
    for month in range(1, 13):
        target = get('expiry_month') # returns int
        yield ( month
              , str(month).zfill(2)
              , ' selected="true"' if month == target else ""
               )

def gen_years():
    # XXX Make this smarter to extend the range to include the users's actual 
    # year (their card expires in 2011 and they don't login again until 2012, 
    # e.g.)
    this_year = datetime.datetime.now().year
    for year in range(this_year, this_year + 5):
        target = get('expiry_year') # returns int
        yield (year, ' selected="true"' if year == target else "")


#=========================================================================== ^L
 
{% extends "base.html" %}
{% block head %}
<script>
    $(document).ready(function() {
        $('#credit_card_first_name').focus();
    });
</script>
{% end %}

{% block content %}
<style>@import url("offer.css");</style>
<script src="offer.js"></script>
<script>$(document).ready(Lt.main);</script>

<h2>Offer a Class</h2>


<div id="workflow" workflow="/classes/offer.workflow"></div>



    <div id="step1" class="toplevel">
        <h3><span><b>Step 1 <span>of</span> 6:</b> Register or Sign In</span></h3>
        <div id="feedback"></div>
        <form action="/ajax/sign-in.json" method="POST">
            <label for="email">Email</label>
            <input class="start-here text" id="email" 
                name="email" tabindex="1" />
            
            <label for="password">Password <i>(6+ characters)</i></label>
            <input type="password" name="password" 
                id="password" class="text" tabindex="2" />

            <div id="confirm-box">
                <label for="confirm">Confirm Password</label>
                <input type="password" name="confirm"
                    id="confirm" class="text" tabindex="3" />
            </div>

            <div class="submit-button"> 
                <a id="other" href="" tabindex="5" >Register</a>
                <button type="submit" class="submit button darkgreen" 
                    tabindex="4" id="submit">Sign In</button>
            </div>
        </form>
    </div>
    <div id="step2" class="toplevel ddisabled">
        <h3><span><b>Step 2 <span>of</span> 6:</b> Profile</span></h3>
        <form>
            <div>
                <label>Full Name</label>
                <input name="full-name" />
            </div>
            <div>
                <label>About You</label>
                <textarea></textarea>
            </div>
            <div>
                <label>Link for More Info</label>
                <input name="homepage" />
            </div>
            <div class="submit-button"> 
                <button type="submit">Save Profile</button>
            </div>
        </form>
    </div>
    <div id="step3" class="toplevel ddisabled">
        <h3><span><b>Step 3 <span>of</span> 6:</b> Class Details</span></h3>
        <form>
            <div>
                <label>Class Name</label>
                <input name="class-name" />
            </div>
            <div>
                <label>What?</label>
                <textarea></textarea>
            </div>
            <div>
                <label>When?</label>
                <input />
            </div>
            <div>
                <label>Where?</label>
                <input />
            </div>
            <div class="submit-button"> 
                <button type="submit">Save Class Details</button>
            </div>
        </form>
    </div>
    <div id="step4" class="toplevel ddisabled">
        <h3><span><b>Step 4 <span>of</span> 6:</b> Pricing</span></h3>
        <form>
            <div>
                <label>Spots Available</label>
                <input />
            </div>
            <div>
                <label>Price Per Slot</label>
                <input />
            </div>
            <div class="submit-button"> 
                <button type="submit">Set Pricing</button>
            </div>
        </form>
    </div>
    <div id="step5" class="toplevel ddisabled">
        <h3><span><b>Step 5 <span>of</span> 6:</b> {{ save_edit }} Credit Card</span></h3>

        <form action="https://api.samurai.feefighters.com/v1/payment_methods" 
              method="POST" class="samurai">

            <input name="redirect_url" type="hidden" 
                value="{{ request.x.base }}/credit-card.html" />
            <input name="merchant_key" type="hidden" 
                value="{{ samurai.config.merchant_key }}" />
            {% if samurai.config.sandbox %}
            <input name="sandbox" type="hidden" value="true" />
            {% end %}
            {% if pmt %}
            <input name="payment_method_token" type="hidden" 
                value="{{ pmt.payment_method_token }}" />
            {% end %}

            <fieldset>
                <div class="field-group share" id="credit_card_name_group">
                    <div style="width: 152px;">
                        <label for="credit_card_first_name">First Name</label>
                        <input id="credit_card_first_name" 
                            style="width: 140px;"
                            name="credit_card[first_name]" 
                            size="30" type="text" 
                            value="{{ get('first_name') }}" />
                    </div>
                    <div style="width: 152px;">
                        <label for="credit_card_last_name">Last Name</label>
                        <input id="credit_card_last_name"
                        style="width: 140px;"
                        name="credit_card[last_name]" size="30" type="text" 
                        value="{{ get('last_name') }}" />
                    </div>
                </div>
                <div class="field-group" id="credit_card_address_group">
                    <div>
                        <label for="credit_card_address_1">Address 1</label>
                        <input class="div-6" id="credit_card_address_1" 
                        name="credit_card[address_1]" size="30" type="text" 
                        value="{{ get('address_1') }}" />
                    </div>
                    <div>
                        <label for="credit_card_address_2">Address 2</label>
                        <input class="div-6" id="credit_card_address_2" 
                        name="credit_card[address_2]" size="30" type="text" 
                        value="{{ get('address_2') }}" />
                    </div>
                </div>
                <div class="field-group share" id="location_group">
                    <div style="width: 100px;">
                        <label for="credit_card_city">City</label>
                        <input id="credit_card_city" name="credit_card[city]" 
                        style="width: 88px;"
                        size="30" type="text" value="{{ get('city') }}" />
                    </div>
                    <div style="width: 92px;">
                        <label for="credit_card_state">State</label>
                        <input class="div-1" id="credit_card_state" 
                        style="width: 80px;"
                        name="credit_card[state]" size="30" type="text" 
                        value="{{ get('state') }}" />
                    </div>
                    <div style="width: 100px;">
                        <label for="credit_card_zip">Zip</label>
                        <input class="div-2" id="credit_card_zip" 
                        style="width: 88px;"
                        name="credit_card[zip]" size="30" type="text" 
                        value="{{ get('zip') }}" />
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group share" id="credit_card_info_group">
                    <div style="width: 220px;">
                        <label for="credit_card_card_number">Card number</label>
                        <input id="credit_card_card_number" 
                            name="credit_card[card_number]" size="30" type="text" 
                            style="width: 208px;"
                            value="{{ get_last_four() }}" autocomplete="off" />
                        <label data-samurai-card-previews="" class="show-accepted">
                            <span class="visa"></span>
                            <span class="mastercard"></span>
                            <span class="amex"></span>
                            <span class="discover"></span>
                        </label>
                    </div>
                    <div style="width: 84px;" id="samurai_card_cvv">
                        <label for="credit_card_cvv">CVV</label>
                        <input class="div-1" id="credit_card_cvv" 
                        style="width: 72px;"
                        name="credit_card[cvv]" size="30" type="text" 
                        value="{{ get('cvv') }}" autocomplete="off" />
                    </div>
                </div>
                <div class="field-group" id="credit_card_expiration">
                    <div>
                        <label for="credit_card_expiry_month">Expires on</label>
                        <select id="credit_card_expiry_month" 
                            name="credit_card[expiry_month]">
                            {% for val, display, selected in gen_months() %}
                            <option value="{{ val }}"{{ selected }}>{{ display }}</option>
                            {% end %}
                        </select>
                        <select id="credit_card_expiry_year" 
                            name="credit_card[expiry_year]">
                            {% for val, selected in gen_years() %}
                            <option value="{{ val }}"{{ selected }}>{{ val }}</option>
                            {% end %}
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="submit-button">
                <button type="submit" 
                    class="button darkgreen">{{ save_edit_2 }} Card on 
                    File</button>
                <!--span class="loading" style=""></span-->
                <span class="results" style="display: none;"></span>
            </div>
        </form>
    </div>
    <div id="step6" class="toplevel ddisabled">
        <h3><span><b>Step 6 <span>of</span> 6:</b> Publish Your Class</span></h3>
    </div>
</form>





{% end %}
