#body {
    width: 316px;
}
.step {
    border: 1px solid #301403;
    border-style: solid none none;
    margin: 4em 0 1em;
    padding: 0 0 0;
}
H3 {
    font: normal 16px/16px Cabin;
    padding: 0 0.5em;
    margin: -8px 0 0 12px;
    color: #301403;
}
H3 B {
    text-transform: uppercase;
}
H3 B I {
    font-weight: normal;
    font-size: 9pt;
    text-transform: none;
}
H3 SPAN {
    padding: 0 10px;
    background: white;
}
LABEL {
    font: normal 9pt/12pt Cabin;
    display: block;
    margin: 1em 0 0;
}
INPUT {
    color: #301403;
    width: 304px;
    border: 1px solid #999;
    padding: 5px;
    font: 16pt/20pt Cabin, sans-serif;
}
TEXTAREA {
    padding: 5px;
    width: 304px;
    height: 200px;
}

.field.button {
    padding-top: 1em;
    text-align: right;
}
BUTTON {
    font: 12pt/12pt Cabin, sans-serif;
    padding: 6px 10px 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #999;
    color: white;
    border-color: #0D4035;
    background: -moz-linear-gradient(top, #2A8F79, #0D4035);
    background: -o-linear-gradient(top, #2A8F79, #0D4035);
    background: -webkit-gradient( linear
                                , 0% 0%
                                , 0% 100%
                                , from(#2A8F79)
                                , to(#0D4035)
                                 );
    background: linear-gradient(top, #2A8F79, #0D4035);
    background-repeat: repeat-x;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
    text-shadow:-1px -1px 0 rgba(0,0,0,.3);
}
BUTTON:hover, BUTTON.focused {
    background: -moz-linear-gradient(top, #2A8F79, #0A382E);
    background: -o-linear-gradient(top, #2A8F79, #0A382E);
    background: -webkit-gradient( linear
                                , 0% 0%
                                , 0% 100%
                                , from(#2A8F79)
                                , to(#04221B)
                                 );
    background: linear-gradient(top, #2A8F79, #0A382E);
}
BUTTON:active {
    /* http://somadesign.ca/demos/buttons-redux.html */
    -moz-box-shadow
        :0 .33em 1em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
    -webkit-box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
    box-shadow:
        0 .33em 2em rgba(0,0,0,.67) inset,
        1px 1px 0 rgba(255,255,255,.25) inset, 
        -1px -1px 0 rgba(255,255,255,.25) inset;
}
