"""This page allows users to file their credit card details with us.
"""
import datetime

import samurai.config
from logstown import db
from samurai.payment_method import PaymentMethod

#=========================================================================== ^L


"""
# Get the user's payment_method_token, if they have one.
# ======================================================
# If it comes to us in the querystring, that means we're getting a redirect
# back from Samurai, and we want to save it. Otherwise we expect it in the 
# session.

pmt = request.qs.one('payment_method_token')
if pmt is not None: # We got sent back here after POSTing ourself to Samurai.
    session_token = request.user.session['session_token']
    PMT = "UPDATE users SET payment_method_token=%s WHERE session_token=%s"
    db.execute(PMT, (pmt, session_token,))
else:
    pmt = request.user.session.get('payment_method_token')


# Download details from Samurai.
# ==============================
# If the user has not submitted this form at all yet, then pmt will be None.

save_edit = "Save a"
if pmt is not None:
    save_edit = "Edit your"
    pmt = PaymentMethod.find(pmt)
save_edit_2 = save_edit.split()[0]


# Set up some content helpers.
# ============================

def get(name):
    out = ""
    if pmt is not None:
        out = getattr(pmt, name, "")
        if out is None:
            out = ""
    return out

def get_last_four():
    last_four = get('last_four_digits')
    if last_four:
        last_four = "************" + last_four
    return last_four

def gen_months():
    for month in range(1, 13):
        target = get('expiry_month') # returns int
        yield ( month
              , str(month).zfill(2)
              , ' selected="true"' if month == target else ""
               )

def gen_years():
    # XXX Make this smarter to extend the range to include the users's actual 
    # year (their card expires in 2011 and they don't login again until 2012, 
    # e.g.)
    this_year = datetime.datetime.now().year
    for year in range(this_year, this_year + 5):
        target = get('expiry_year') # returns int
        yield (year, ' selected="true"' if year == target else "")
"""

title = "Offer a Class"
#=========================================================================== ^L
 
{% extends "base.html" %}
{% block head %}
<script>
    $(document).ready(function() {
        $('#credit_card_first_name').focus();
    });
</script>
{% end %}

{% block content %}
<style>@import url("offer.css");</style>
<script src="offer.js"></script>
<script src="jquery.workflow.js"></script>
<script>$(document).ready(Offer.main);</script>

<h2>Offer a Class</h2>

<div id="workflow">
    authenticate    Register or Sign In
    profile         Profile
    class           Class Details
    pricing         Pricing
    publish         Pay and Publish
</div>

{% end %}
