{% from 'templates/avatar-url.html' import avatar_img with context %}

{% macro account_row(platform, accounts, auth_button) %}
    {% set account = accounts.get(platform.name, None) %}
    <tr class="{{ 'has-avatar' if account }}">
        <td class="account-type">
            <div class="sanity-preserving-wrapper">
                {% if account != None %}
                    {{ avatar_img(account) }}
                {% endif %}
              <img class="platform" src="{{ website.asset_url }}/{{ platform.name }}.png" />
            </div>
        </td>
        <td class="account-details">
            {% if account %}
                <a class="account-username" rel="me" href="{{ account.html_url|e }}"
                    >{{ (account.user_name or account.user_id)|e }}
                    {% if account.display_name and account.display_name != account.user_name %}
                        ({{ account.display_name|e }})
                    {% endif %}
                </a>
            {% endif %}

            <div class="account-type">{{ platform.display_name }}</div>
        </td>
        <td class="account-action">
            {% if user.participant == participant %}
                {% if account == None %}
                    {% set allow_team = participant.IS_PLURAL and platform.is_team_admin %}
                    {% set cls = allow_team and 'user_name_prompt' or '' %}
                    {% call auth_button(platform.name, 'connect', class=cls) %}
                        + {{ _("Add") }}
                    {% endcall %}
                {% else %}
                    <div class="account-delete" title="{{ _("Disconnect") }}"
                            data-platform="{{ platform.name }}"
                            data-user_id="{{ account.user_id }}">
                    </div>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endmacro %}
