{% macro account_row(platform, accounts, auth_button) %}
    {% set account = accounts.get(platform.name, None) %}
    <tr>
        <td class="account-type">
            <img src="/assets/{{ platform.name }}.png" />
        </td>
        <td class="account-details">
            <div class="account-type">{{ platform.display_name }}</div>
            {% if account == None %}
                <span class="none">None</span>
                {% if not user.ANON and user.participant == participant %}
                    {% call auth_button(platform.name, 'connect') %}
                        + Add
                    {% endcall %}
                {% endif %}
            {% else %}
                <img class="avatar" src="{{ get_avatar_url(account)|e }}"/>
                <a class="account-username" rel="me" href="{{ account.html_url|e }}"
                    >{{ account.user_name|e }}
                    {% if account.display_name and account.display_name != account.user_name %}
                        ({{ account.display_name|e }})
                    {% endif %}
                </a>
                {% if user.participant == participant %}
                    <div class="account-delete close" title="Disconnect"
                            data-platform="{{ platform.name }}"
                            data-user_id="{{ account.user_id }}">
                    </div>
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endmacro %}
