{% macro account_row(platform, accounts, auth_button) %}
    {% set account = accounts.get(platform.name, None) %}
    <tr>
        <td class="account-type">
            <img src="/assets/{{ platform.name }}.png" />
        </td>
        <td class="account-details">
            {% if account == None %}
                {% if not user.ANON and user.participant == participant %}
                    {% call auth_button(platform.name, 'connect') %}
                        Connect a {{ platform.display_name }} account
                    {% endcall %}
                {% else %}
                    No {{ platform.display_name }} account connected.
                {% endif %}
            {% else %}
                <a rel="me" href="{{ account.html_url|e }}"
                    ><img class="avatar" src="{{ get_avatar_url(account)|e }}"
                    />{{ account.user_name|e }}
                    {% if account.display_name and account.display_name != account.user_name %}
                        ({{ account.display_name|e }})
                    {% endif %}
                </a>
                {% if user.participant == participant %}
                    <button class="account-delete"
                            data-platform="{{ platform.name }}"
                            data-user_id="{{ account.user_id }}">
                        Disconnect
                    </button>
                {% endif %}
                <div class="account-type">on {{ platform.display_name }}</div>
            {% endif %}
        </td>
    </tr>
{% endmacro %}
