{% macro auth_button(platform, action, user_name='') %}
    <form action="/on/{{ platform|e }}/redirect" method="post" class="auth-button">
        <input type="hidden" name="action" value="{{ action|e }}" />
        <input type="hidden" name="then" value="{{ path.decoded|e }}" />
        <input type="hidden" name="user_name" value="{{ user_name|e }}" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token|e }}" />
        <button type="submit">{{ caller()|e }}</button>
    </form>
{% endmacro %}
