<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <title>{% if title %}{{ title|e }} - {% endif %}Gittip</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ website.asset_url }}/gittip.css" type="text/css">
    <link rel="apple-touch-icon-precomposed" href="{{ website.asset_url }}/touch/icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" href="{{ website.asset_url }}/touch/icon-76x76.png" sizes="76x76">
    <link rel="apple-touch-icon-precomposed" href="{{ website.asset_url }}/touch/icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon-precomposed" href="{{ website.asset_url }}/touch/icon-152x152.png" sizes="152x152">

    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <div id="header">
            <table><tr><td class="logo">
                <h1>
                    <a href="/">
                        <img src="{{ website.asset_url }}/logo.png"
                             alt="Gittip" />
                    </a>
                </h1>
                </td><td class="motto luxury">
            <a href='/about/charts.html'>{{ website.gnactive }} users exchanging ${{ website.gtransfer_volume }} per week</a>
            </td></tr></table>
            {% if user.ANON %}
              {% include "templates/sign-in-using.html" %}
            {% else %}
            <div class="you-are">
                <a href="/{{ user.participant.username }}/">{{ user.participant.username }}</a> &ndash;
                <a id="sign-out" href="/sign-out.html">sign out</a>
                <div class="quick-stats">
                  Giving: <a href="/{{ user.participant.username }}/giving/">
                              <span class="my-total-giving">${{ user.participant.get_dollars_giving() }}<span>/wk
                          </a>
                  <br />
                  Receiving: <b>${{ user.participant.get_dollars_receiving() }}/wk</b>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div id="hero">
        <div class="container">
            {% block heading %}
            {% if title %}
            <h2 class="top"><span>{{ title }}</span></h2>
            {% endif %}
            {% endblock %}
        </div>
    </div>

    <div class="container">
        {% block killbox %}
        <div class="box">
            {% block box %}{% endblock %}
        </div>
        {% endblock %}
        <div id="page" class="group">
            {% block page %}{% endblock %}
        </div>

        <div id="footer">
            <div class="social">
                <a href="https://twitter.com/gittip"><img src="{{ website.asset_url }}/icons/twitter.16.png" /></a>
            </div>
            <ul>
                <li><a href='http://blog.gittip.com/'>Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="https://github.com/gittip/www.gittip.com">Source</a></li>
                <li><a href='/about/faq.html'>FAQ</a></li>
                <li><a href='/about/stats.html'>Stats</a></li>
                <li><a href='/about/charts.html'>Charts</a></li>
                <li><a href="/about/terms/">Terms</a></li>
                <li><a href="/about/privacy/">Privacy</a></li>
                <li><a href='/about/fraud/'>Fraud</a></li>
                <li><a href='http://building.gittip.com/appendices/colophon'>Colophon</a></li>
                <li><a href='/security.txt'>Security</a></li>
            </ul>
        </div>
    </div>

    {%if website.segment_key %}
    <script type="text/javascript">
      // Create a queue, but don't obliterate an existing one!
      window.analytics = window.analytics || [];

      // A list of the methods in Analytics.js to stub.
      window.analytics.methods = ['identify', 'group', 'track',
        'page', 'pageview', 'alias', 'ready', 'on', 'once', 'off',
        'trackLink', 'trackForm', 'trackClick', 'trackSubmit'];

      // Define a factory to create stubs. These are placeholders
      // for methods in Analytics.js so that you never have to wait
      // for it to load to actually record data. The `method` is
      // stored as the first argument, so we can replay the data.
      window.analytics.factory = function(method){
        return function(){
          var args = Array.prototype.slice.call(arguments);
          args.unshift(method);
          window.analytics.push(args);
          return window.analytics;
        };
      };

      // For each of our methods, generate a queueing stub.
      for (var i = 0; i < window.analytics.methods.length; i++) {
        var key = window.analytics.methods[i];
        window.analytics[key] = window.analytics.factory(key);
      }

      // Define a method to load Analytics.js from our CDN,
      // and that will be sure to only ever load it once.
      window.analytics.load = function(key){
        if (document.getElementById('analytics-js')) return;

        // Create an async script element based on your key.
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.id = 'analytics-js';
        script.async = true;
        script.src = ('https:' === document.location.protocol
          ? 'https://' : 'http://')
          + 'cdn.segment.io/analytics.js/v1/'
          + key + '/analytics.min.js';

        // Insert our script next to the first script element.
        var first = document.getElementsByTagName('script')[0];
        first.parentNode.insertBefore(script, first);
      };

      // Add a version to keep track of what's in the wild.
      window.analytics.SNIPPET_VERSION = '2.0.9';

      // Load Analytics.js with your key, which will automatically
      // load the tools you've enabled for your account. Boosh!
      window.analytics.load("{{ website.segment_key }}");

      // Make the first page call to load the integrations. If
      // you'd like to manually name or tag the page, edit or
      // move this call however you'd like.
      window.analytics.page();
    </script>
    {% endif %}

    <script src="{{ website.asset_url }}/jquery.min.js"></script>

    <!-- Used on the profile edit page for the community chooser. -->
    <script src="{{ website.asset_url }}/chosen.jquery.min.js"></script>

    <script src="{{ website.asset_url }}/tipr.min.js"></script>

    <script src="{{ website.asset_url }}/bootstrap-dropdown.js"></script>

    <script src="{{ website.asset_url }}/utils.js"></script>
    <script src="{{ website.asset_url }}/gittip.js"></script>
    <script>$(document).ready(Gittip.init);</script>
    {% block scripts %}

    {% endblock %}
</body>
</html>
