<!DOCTYPE html>
<html>
    <head>
        <title>Gittip Gift Economy</title>
        <style>
            @import url("/assets/{{ __version__ }}/gittip.css");
        </style>
        <script src="/assets/jquery-1.7.1.min.js"></script>
        <script src="/assets/jquery.maskedinput-1.3.min.js"></script>
        <script src="/assets/{{ __version__ }}/gittip.js"></script>
    </head>
    <body><div id="body">
        {% block heading %}
        <h2>Gittip is <b><a href="/">a gift economy</a></b>.</h2>
        {% if not user.ANON and user.id != username %}
        <h2>
            You are <a href="/{{ user.id }}/">{{ user.id }}</a>.
            <span class="small"><a href="/sign-out.html">Sign out</a></span>
        </h2>
        {% end %} 
        {% end %}
        {% block body %}{% end %}
    </div></body>
</html>
