% set communities = participant.get_communities()
% if communities or edit
    <h3 id="communities">{{ _("Communities") }}</h3>
% if edit
    <form action="/{{ participant.username }}/communities.json" method="POST"
          class="js-submit" data-on-success="fadeOut:li">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <input type="hidden" name="back_to" value="{{ request.line.uri }}#communities">
% endif
    <ul class="communities memberships">
        % for community in communities
        <li>
            <a href="/for/{{ community.name }}/">{{ community.pretty_name }}</a>
            <div class="nmembers">{{
                ngettext("with {n} other", "with {n} others", community.nmembers - 1)
            }}</div>
            % if edit
                <button name="do" value="leave:{{ community.id }}"
                        class="btn btn-default btn-xs">{{ _('Leave') }}</button>
            % endif
        </li>
        % endfor
    </ul>
% if edit
    </form>
    <p><a class="btn btn-default" href="/explore/">{{ _("Explore communities") }}</a></p>
% endif
% endif
