% macro community_chooser(communities)
    <form class="community-chooser" data-add-msg='{{ _("Start a new community") }}'>
        <select data-placeholder='{{ _("Find or create a community…") }}'>
            <option></option>
            % for community in communities
            <option value="{{ community.name }}">{{ community.name }} -
            {{ ngettext("{n} member", "{n} members", community.nmembers) }} -
            {{ ngettext("{n} subscriber", "{n} subscribers", community.nsubscribers) }}
            </option>
            % endfor
        </select>
    </form>
% endmacro
