<h2>Connected Accounts</h2>
<table id="accounts">
    <tr>
        <td class="account-type">
            <img src="/assets/twitter.png" />
        </td>
        <td class="account-details">
            {% if twitter_account == None %}
                {% if not user.ANON and user.participant == participant %}
                    Connect a <a href="{{ twitter.oauth_url(website, unicode('connect'))|e }}">Twitter account</a>.
                {% else %}
                    No Twitter account connected.
                {% endif %}
            {% else %}
            <a rel="me" href="{{ twitter_account.get_url() }}"
                ><img class="avatar"
                src="{{ twitter_account.user_info.get('profile_image_url_https', '/assets/%s/no-avatar.png' % website.version )|e }}"
                />{{ twitter_account.user_info.get('screen_name')|e }}
                {% if twitter_account.user_info.get('name') and twitter_account.user_info.get('name') != twitter_account.user_info.get('screen_name') %}
                ({{ twitter_account.user_info.get('name')|e }})
                {% endif %}
            </a>
            <div class="account-type">on Twitter</div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/octocat.png" />
        </td>
        <td class="account-details">
            {% if github_account == None %}
                {% if not user.ANON and user.participant == participant %}
                    Connect a <a href="{{ github.oauth_url(website, unicode('connect'))|e }}">GitHub account</a>.
                {% else %}
                    No GitHub account connected.
                {% endif %}
            {% else %}
            <a rel="me" href="{{ github_account.user_info.get('html_url', '')|e }}"
                ><img class="avatar" src="{{ github_account.user_info.get('avatar_url', '/assets/%s/no-avatar.png' % website.version)|e }}"
                />{{ github_account.user_info.get('login')|e }}
                {% if github_account.user_info.get('name') and github_account.user_info.get('name') != github_account.user_info.get('login') %}
                ({{ github_account.user_info.get('name')|e }})
                {% endif %}
            </a>
            <div class="account-type">on GitHub</div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/bitbucket.png" />
        </td>
        <td class="account-details">
            {% if bitbucket_account == None %}
                {% if not user.ANON and user.participant == participant %}
                    Connect a <a href="{{ bitbucket.oauth_url(website, unicode('connect'))|e }}">Bitbucket account</a>.
                {% else %}
                    No Bitbucket account connected.
                {% endif %}
            {% else %}
            <a rel="me" href="{{ bitbucket_account.user_info.get('html_url', '')|e }}"
                ><img class="avatar"
                src="{{ bitbucket_account.user_info.get('avatar', '/assets/%s/no-avatar.png' % website.version)|e }}"
                />{{ bitbucket_account.user_info.get('username') }}
                {% if bitbucket_account.user_info.get('display_name') and bitbucket_account.user_info.get('display_name') != bitbucket_account.user_info.get('username') %}
                ({{ bitbucket_account.user_info.get('display_name')|e }})
                {% endif %}
            </a>
            <div class="account-type">on Bitbucket</div>
            {% endif %}
        </td>
    </tr>
    <tr>
      <td class="account-type">
        <img src="/assets/bountysource.png" />
      </td>
      <td class="account-details">
        {% if bountysource_account == None %}
            {% if not user.ANON and user.participant == participant %}
                Connect a <a href="{{ bountysource.oauth_url(website, participant)|e }}">Bountysource account</a>.
            {% else %}
                No Bountysource account connected.
            {% endif %}
        {% else %}
            <a href="{{ bountysource_account.user_info.get('frontend_url', 'https://www.bountysource.com')|e }}"
                ><img class="avatar"
                      src="{{ bountysource_account.user_info.get('image_url', '/assets/%s/no-avatar.png' % website.version)|e }}"
            />{{ bountysource_account.user_info.get('display_name') }}
            {% if bountysource_account.user_info.get('first_name') and bountysource_account.user_info.get('last_name') %}
                ({{ bountysource_account.user_info.get('first_name')|e }} {{ bountysource_account.user_info.get('last_name')|e }})
            {% endif %}
            </a>
            <div class="account-type">on Bountysource</div>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td class="account-type">
        <img src="/assets/venmo.png" />
      </td>
      <td class="account-details">
        {% if venmo_account == None %}
            {% if not user.ANON and user.participant == participant %}
                Connect a <a href="{{ venmo.oauth_url(website) }}">Venmo account</a>.
            {% else %}
                No Venmo account connected.
            {% endif %}
        {% else %}
            <a href="{{ venmo_account.get_url() }}">
              <img class="avatar" src="{{ venmo_account.get_profile_image() }}">
              {{ venmo_account.get_user_name() }}
              ({{ venmo_account.get_display_name() }})
            </a>
            <div class="account-type">on Venmo</div>
        {% endif %}
      </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/openstreetmap.png" />
        </td>
        <td class="account-details">
            {% if openstreetmap_account == None %}
                {% if not user.ANON and user.participant == participant %}
                    Connect a <a href="{{ openstreetmap.oauth_url(website, unicode('connect'))|e }}">OpenStreetMap account</a>.
                {% else %}
                    No OpenStreetMap account connected.
                {% endif %}
            {% else %}
            <a rel="me" href="{{ openstreetmap_account.user_info.get('html_url', '')|e }}"
                ><img class="avatar"
                src="{{ openstreetmap_account.user_info.get('img_src', '/assets/%s/no-avatar.png' % website.version)|e }}"
                />{{ openstreetmap_account.user_info.get('username')|e }}
            </a>
            <div class="account-type">on OpenStreetMap</div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/balanced-avatar.png" />
        </td>
        <td class="account-details">
            {% if user.participant == participant %}

            <a href="/credit-card.html">Credit card</a>:
            <!--
            These spans are here because otherwise Chrome effs up the
            unicode(?!)
            -->
            <span>{% if participant.last_bill_result != "" %}&#x2718;{% else %}&#x2714;{% endif %}</span>
            &nbsp; &nbsp; &nbsp;
            <a href="/bank-account.html">Bank account</a>:
            <span>{% if participant.last_ach_result != "" %}&#x2718;{% else %}&#x2714;{% endif %}</span>

            {% else %}

            Credit card:
            <span>{% if participant.last_bill_result != "" %}&#x2718;{% else %}&#x2714;{% endif %}</span>
            &nbsp; &nbsp; &nbsp;
            Bank account:
            <span>{% if participant.last_ach_result != "" %}&#x2718;{% else %}&#x2714;{% endif %}</span>

            {% endif %}
            <div class="account-type">{% if user.ADMIN and participant.balanced_customer_href %}
                <a href="https://dashboard.balancedpayments.com/#/{{ participant.balanced_customer_href[4:] }}"
                    >on Balanced Payments</a>{% else %}on Balanced Payments{% endif %}</div>
        </td>
    </tr>
    <tr>
        <td class="account-type">
            <img src="/assets/bitcoin.png" />
        </td>
        <td class="account-details">

            {% if not user.ANON and user.participant == participant %}
                <div class="bitcoin">
            {% else %}
                <div>
            {% endif %}
                {% if participant.bitcoin_address %}
                    <a rel="me" href="http://blockchain.info/address/{{ participant.bitcoin_address }}">
                      {{ participant.bitcoin_address }}
                    </a>
                    {% if not user.ANON and user.participant == participant %}
                    <div class="edit-bitcoin">
                        (<a href="javascript:;" class="toggle-bitcoin">Edit</a>) Bitcoin address
                    </div>
                    {% else %}
                    <div class="account-type">
                        Bitcoin address
                    </div>

                    {% endif %}

                {% else %}
                    {% if not user.ANON and user.participant == participant %}
                        Add a <a href="javascript:;" class="toggle-bitcoin">Bitcoin address</a>.
                    {% else %}
                        No Bitcoin receiving address.
                    {% endif %}
                {% endif %}
            </div>
            <form class="bitcoin-submit">
                <div class="address">
                    <input type="text" class="bitcoin hidden"
                        {% if participant.bitcoin_address %}
                            value="{{ participant.bitcoin_address }}"
                        {% endif %}
                    >
                </div>
                <div class="buttons">
                    <button type="submit" class="bitcoin hidden">Save</button>
                    <button type="cancel" class="bitcoin cancel hidden">Cancel</button>
                </div>
            </form>

        </td>
    </tr>
</table>


