{% from 'templates/auth.html' import auth_button with context %}
{% from 'templates/account-row.html' import account_row with context %}

{% set own_account=(user.participant == participant) %}
<h2>{{ _("Social Profiles") }}</h2>
<table class="accounts">

    <!-- social profiles -->
    {% for platform in website.social_profiles %}
        {% if accounts[platform.name] or own_account %}
            {{ account_row(platform, accounts, auth_button) }}
        {% endif %}
    {% endfor %}

</table>

{% if participant.bitcoin_address or accounts[website.platforms.venmo.name] or own_account %}

{% if not user.ANON and own_account %}
<h2>{{ _("Other Receiving Options") }}</h2>
{% else %}
<h2>{{ _("Other Giving Options") }}</h2>
{% endif %}
<table class="accounts">

    <!-- one-off receiving options -->
    {% if participant.bitcoin_address or own_account %}
    {% set addr = participant.bitcoin_address or '' %}
    {% set url = 'https://blockchain.info/address/'+addr if addr else 'javascript:;' %}
    <tr>
        <td class="account-type">
            <img src="{{ website.asset('bitcoin.png') }}" />
        </td>
        <td class="account-details">
            <div class="{{ 'bitcoin' if own_account else '' }}">
                <a class="address" rel="me" href="{{ url }}">{{ addr }}</a>
            </div>
            <form class="bitcoin-submit">
                <div class="address">
                    <input type="text" class="bitcoin hidden" value="{{ addr }}" />
                </div>
                <div class="buttons">
                    <button type="submit" class="bitcoin hidden">{{ _("Save") }}</button>
                    <button type="cancel" class="bitcoin cancel hidden">{{ _("Cancel") }}</button>
                </div>
            </form>

            <div class="account-type">Bitcoin</div>
        </td>
        <td class="account-action">
            {% if own_account %}
            <button class="toggle-bitcoin">
                {{ _("Edit") if addr else _("+ Add") }}
            </button>
            {% endif %}
        </td>
    </tr>
    {% endif %}

    {% if accounts[website.platforms.venmo.name] or own_account %}
        {% include "templates/venmo-account.html" %}
    {% endif %}
</table>

{% endif %}
