% from 'templates/avatar-url.html' import avatar_img with context

% macro account_elsewhere(platform, accounts, auth_button)
    % set account = accounts.get(platform.name, None)
    <div class="account">
        % if account
            <a class="account-link" rel="me" href="{{ account.html_url }}">
                <img class="account-type" src="{{ platform.logo }}" />
                <span class="account-username">{{ account.friendly_name_long }}</span>
            </a>
        % else
            <img class="account-type" src="{{ platform.logo }}" />
            <span class="account-username">{{ platform.display_name }}</span>
        % endif
        % if edit
            &nbsp;&nbsp;&nbsp;
            % if account
            <form action="/{{ account.participant.username }}/elsewhere/delete"
                  method="POST" class="inline-block js-submit">
                 <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                 <input type="hidden" name="platform" value="{{ platform.name }}">
                 <input type="hidden" name="domain" value="{{ account.domain }}">
                 <input type="hidden" name="user_id" value="{{ account.user_id }}">
                 <button class="btn btn-danger btn-sm">{{ _('Disconnect') }}</button>
            </form>
            % else
                % call auth_button(platform.name, 'connect', btn_cls='btn btn-default btn-sm', participant=participant)
                    {{ _("Connect") }}
                % endcall
            % endif
        % endif
    </div>
% endmacro
