{% extends base.html %}

{% block head %}
  <style>
    .box .nav { padding: 10px 0; }
    .box { margin-top: -28px; }
    #hero { padding-bottom: 0; }
    #hero h2.top { padding-bottom: 67px; }
  </style>
{% end %}

{% block heading %}
  <h2 class="top"><span>For Contributors</span></h2>
{% end %}

{% block box %}
  {% set current_page = path.raw.split('/')[3] %}
  {% set nav_base = "/for/contributors" %}
  <div class="nav">
    {% set pages = [('/', 'Getting Started'), ('/mission-statement.html', 'Mission Statement'), ('/where-we-work.html', 'Where We Work'), ('/ways-to-help/', 'Ways to Help')] %}
    {% include nav.html %}
  </div>
  {% if len(path.raw.split('/')) > 4 %}
  {% set current_page = path.raw.split('/')[4] %}
  {% set nav_base = "/for/contributors/ways-to-help" %}
  <div class="nav level-1">
    {% set pages = [('/tell-people-about-gittip.html', 'Tell People About Gittip'), ('/support-users.html', 'Support Users'), (None, None), ('/build-gittip.html', 'Build Gittip'), ('/train-new-contributors.html', 'Train New Contributors')] %}
    {% include nav.html %}
  </div>
  {% end %}
{% end %}
