// Fonts
$Helvetica: 'Helvetica Neue', Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
$Mensch: 'Mensch', $Helvetica;

// Colors
$green: #2A8F79;
$brown: #614C3E;
$light-brown: #B2A196;
$gray: #58595B;
$light-gray: #D0D2D3;
$lighter-gray: #E6E6E6;
$black: #231F20;
$light-red: #F99;

@font-face {
    /* Props to http://www.fontsquirrel.com/ and http://www.losttype.com/. */
    font-family: 'Mensch';
    src: url('../fonts/mensch.eot');
    src: url('../fonts/mensch.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mensch.woff') format('woff'),
         url('../fonts/mensch.ttf') format('truetype'),
         url('../fonts/mensch.svg#Mensch') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Mixins
@mixin border-radius($radius: 5px) {
    -webkit-background-clip: padding-box;
    -webkit-border-radius: $radius;
    -moz-background-clip: padding-box;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;
}
@mixin box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
@mixin inset-box-shadow($horizontal: 0px, $vertical: 1px, $blur: 2px, $color: #CCC) {
  -webkit-box-shadow: inset $horizontal $vertical $blur $color;
  -moz-box-shadow: inset $horizontal $vertical $blur $color;
  box-shadow: inset $horizontal $vertical $blur $color;
}
@mixin multi-color-border($top, $sides, $bottom) {
    border-top: 1px solid $top;
    border-left: 1px solid $sides;
    border-right: 1px solid $sides;
    border-bottom: 1px solid $bottom;
}
@mixin multi-border-radius($topLeft: 5px, $topRight: 5px, $bottomRight: 5px, $bottomLeft: 5px) {
    -webkit-border-top-left-radius: $topLeft;
    -webkit-border-top-right-radius: $topRight;
    -webkit-border-bottom-right-radius: $bottomRight;
    -webkit-border-bottom-left-radius: $bottomLeft;
    -moz-border-radius-topleft: $topLeft;
    -moz-border-radius-topright: $topRight;
    -moz-border-radius-bottomright: $bottomRight;
    -moz-border-radius-bottomleft: $bottomLeft;
    border-top-left-radius: $topLeft;
    border-top-right-radius: $topRight;
    border-bottom-right-radius: $bottomRight;
    border-bottom-left-radius: $bottomLeft;
}
@mixin vertical-gradient($start: #000, $stop: #FFF) { background: ($start + $stop) / 2;
    background: -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin vertical-gradient-with-image($image, $start: #000, $stop: #FFF) {
    background: ($start + $stop) / 2 $image;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($start), to($stop));
    background: $image, -moz-linear-gradient(center top, $start 0%, $stop 100%);
    background: $image, -moz-gradient(center top, $start 0%, $stop 100%);
}
@mixin opacity($op) {
    -khtml-opacity: $op;
    -moz-opacity: $op;
    opacity: $op;
}

// Page
html, body {
    ackground: $brown;
}
body {
    color: $black;
    font: normal 16px $Helvetica;
    text-rendering: optimizeLegibility;
}
.main-padding { 
    width: 960px;
    margin: 0 auto;
    position: relative;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a {
    color: $green;
    text-decoration: none;
}
a img {
    border: 0;
}
p, dd {
    margin: 0;
    padding: 0 0 1em;
    line-height: 130%;
}
dt {
    font-weight: bold;
    margin: 1em 0 0.25em;
}
pre {
    font: 9pt/13pt monospace;
    margin: 0 0 1em 1em;
    padding: 0;
    overflow: auto;
}

// Utils
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.hidden {
    display: none;
}
input {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.clear {
    clear: both;
}
.centered {
    margin: 0 auto;
}
.highlight {
    background: #FFFE26;
}

// Modules
.mini-user {
    background: white;
    border: 4px solid #DEE0E0;
    display: block;
    float: left;
    width: 100%;
    @include border-radius(3px);

    span.inner {
        border: 1px solid #B6B7B9;
        display: block;
        min-height: 50px;
        padding: 5px;

        span.avatar {
            background: transparent url('avatar-default.gif') center center no-repeat;
            background-size: cover;
            display: block;
            min-height: 70px;
            position: relative;

            span.rank {
                background: #444041;
                bottom: 4px;
                color: white;
                display: block;
                font: normal 12px $Mensch;
                left: 4px;
                padding: 3px 5px 3px 6px;
                position: absolute;
                text-align: center;
                @include border-radius(2px);
            }
        }
        span.money {
            color: $black;
            display: block;
            font: bold 18px $Helvetica;
            margin: 7px 0 5px 0;
        }
        span.name {
            display: block;
            font: normal 11px $Helvetica;
            margin: 3px 0;
        }
    }

    &.anonymous {
        opacity: 0.33;
    }
}
a.mini-user {
    span.name {
        color: $green;
    }
}
span.mini-user {
    border-color: white;
    span.name {
        color: $black;
    }
}
a.mini-user:hover {
    border: 4px solid #A49C97;
    text-decoration: none;

    span.inner {
        border-color: #7D6250;
    }
}
button {
    background: $gray;
    border: 3px solid rgba($gray, 0.33);
    color: white;
    font: bold 11px $Helvetica;
    letter-spacing: 1px;
    margin: 0 0 0 1px;
    padding: 4px 10px;
    text-transform: uppercase;
    @include border-radius(3px);
    cursor: pointer;
    display: inline;
}
button:hover {
    border-color: $gray;
    background: $lighter-gray;
    color: $gray;
}
button.selected {
    border-color: rgba(#FFF, 0.9);
    background: $green;
    color: white;
}
button.selected:hover {
    border-color: rgba($green, 0.5);
    background: $lighter-gray;
    color: $gray;
}

// Global
#header {
    background: white;
    padding: 10px 0;

    td {
        text-align: center;
        vertical-align: middle;
    }
    h1 {
        line-height: 100%;
    }
    .logo {
        padding-right: 18px;
    }
    .motto {
        border-left: 2px solid $light-gray;
        font: bold 10px $Helvetica;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 18px;
    }
    div.login {
        padding-top: 18px;
        position: absolute;
        top: 0;
        right: 0;
        font: normal 13px $Helvetica;
    }
}

#hero {
    background: transparent url('hero-bg.png') top left repeat;
    border: 1px solid $light-gray;
    border-style: solid none;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    z-index: 1;

    .main-padding {
        color: #231F20;
    }

    h2 {
        span {
            background: transparent url('hero-bg.png') top left repeat;
            display: inline-block;
            padding: 0 10px;
        }
    }
    h2.top {
        letter-spacing: -3px;
        font: normal 35px $Mensch;
        padding: 50px 0 35px 0;

        span {
            background: transparent url('hero-bg.png') top left repeat;
            display: inline-block;
            padding: 0 10px;
        }
        &:after {
            background: $black;
            content: "";
            display: block;
            height: 1px;
            margin-top: -17px;
        }
    }
    h1 {
        letter-spacing: -4px;
        font: normal 64px/64px $Mensch;
        padding-bottom: 20px;
    }
    h2.bottom {
        padding-bottom: 20px;
        span.button-container {
            display: inline-block;
            padding: 0 10px;

            button {
                font-size: 14px;
            }
        }
        &:after {
            background: $black;
            content: "";
            display: block;
            height: 1px;
            margin-top: -16px;
        }
    }
}
#box {
    text-align: center;
    background: white;
    margin: -80px auto 0;
    border: 5px solid rgba($brown, 0.5);
    width: 480px;
    @include border-radius(3px);
    position: relative;
    z-index: 2;

    h1 {
        font: bold 22px $Helvetica;
        color: $brown;
    }
    h2 {
        font: bold 16px $Helvetica;
        color: $brown;
    }

    .help {
        font: normal 14px/18px $Helvetica;
        color: $black;

        &.with-padding {
            padding: 10px;
        }
    }

    .on-homepage {
        padding: 20px 0;

        h1 {
            padding-bottom: 15px;
        }
    }

    .is-suspicious-indicator {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        font: normal 10px $Helvetica;
        text-transform: uppercase;
        color: $black;
    }

    label.is-suspicious-knob {
        display: block;
        position: absolute;
        top: 2px;
        right: 5px;
        font: normal 9px $Helvetica;
        text-transform: uppercase;
        color: $black;

        input {
            position: relative;
            top: 3px;
        }
    }

    .on-profile {
        width: 100%;

        &.is-suspicious { 
            background: $light-red;
        }
        .picture {
            width: 138px;
            height: 138px; 

            img {
                width: 128px;
                height: 128px;

                /* Without this we are inline-block and we get an extra 4px.
                 * Is that due to line-height, maybe? */
                display: block;
                margin: 5px;
            }
        }

        .giving-receiving {
            padding-left: 15px;
            text-align: left;
        }
        .amount {
            color: $black;
            font: bold 56px $Helvetica;
        }
        .per-week {
            color: $black;
            font: normal 12px $Helvetica;
        }
        .pad-sign {
            padding-left: 36px;
        }
        form {
            margin-bottom: 0;
            margin-top: 12px;

            input {
                width: 30%;
            }
        }
    }

    .buttons {
        padding: 5px;

        h2 {
            color: $black;
            font: bold 10px $Helvetica;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0 0 3px;
        }

        &.tips {
            border-top: 1px solid rgba($brown, 0.2);
            background: $lighter-gray;

            #payment-prompt {
                display: none;
                margin: 10px 0 5px;

                &.needed {
                    display: block;
                }
                &.really-needed {
                    display: block;
                }
            }
        }

        &.nav {
            border-top: 1px solid rgba($brown, 0.5);
            background: $light-gray;
        }
    }
}
#page #leaderboard {
    ul {
        margin: 0 0 20px 0;

        li {
            display: block;
            float: left;
            margin: 0;
            min-width: 90px;
            padding: 2px;
            width: 10%;
        }
    }
}
#page {
    padding: 20px 0 0;
    background: white;

    h1 {
        color: #6D6E70;
        font: normal 35px $Mensch;
        letter-spacing: -2px;
        margin: 35px 0 20px 0;
        text-transform: uppercase;
    }
    
    h2 {
        color: $brown;
        font: bold 14px $Helvetica;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 35px 0 8px;
    }
    
    &.about {
        h1 {
            margin: 0;
        }
        p {
            color: #6D6E70;
            font: normal 16px/24px $Helvetica;
            margin: 20px 0;
        }
        div.meta {
            border-left: 1px solid #231F20;
            padding-left: 50px;

            p {
                color: #929497;
                font: normal 13px/21px $Helvetica;
            }
        }
    }

    .col1 {
        width: 460px;
        float: left;
    }
    .col2 {
        width: 460px;
        float: right;
    }
}
#footer {
    margin: 4em 0 1em;
    border-top: 1px solid $black;
    padding: 0.5em 0 0;
    text-align: right;
    font: normal 12px/16px $Helvetica;
}


#accounts {
    margin-bottom: 12pt;

    td {
        text-align: left;
        vertical-align: middle;
        line-height: 100%;

        &.account-type {
            border-right: 1pt solid #B2A196;
            padding: 6pt 6pt 6pt 0;

            IMG {
                width: 36pt;
                height: 36pt;
            }
        }
    }
    DIV.account-type {
        font-size: x-small;
        clear: both;
        color: #B2A196;
    }
    .account-details {
        padding-left: 6pt;
    }
    IMG.avatar {
        width: 24pt;
        height: 24pt;
        float: left;
        margin-right: 3pt;
    }
}

#members {
    list-style: none;
    margin-bottom: 12pt;
    margin: 0 auto;

    TD {
        padding: 0 0 0.5em 0;
        text-align: left;
    }
    IMG {
        width: 18pt;
        height: 18pt;
        margin-right: 6pt;
        float: left;
    }
}


.tip-distribution {

    /** This is blatantly copied from stats.html. We should really fix
        that somehow. **/

    .dollar-sign {
        padding: 0 2pt 0 24pt;
        text-align: right;
    }
    .amount {
        padding: 0 6pt 0 0;
        text-align: right;
    }
    .amount-change {
        padding: 6pt 0 6pt 24pt;
        text-align: left;
    }
    .count {
        text-align: left;
        white-space: nowrap;
    }
    .count SPAN.number {
        font-size: 8pt;
    }
    .count SPAN.bar {
        background: $light-brown;
        display: inline-block;
        margin-right: 3pt;
        height: 9pt;
    }
    .count SPAN.bar.green {
        background: $green;
    }
}


#profile-edit {
    BUTTON.save, BUTTON.cancel {
        display: none;
    }
    .participant_id {
        INPUT {
            width: 6em;
            display: none;
        }
        .warning {
            margin-top: 5px;
            display: block;
            color: red;
            display: none;
        }
    }
    .statement {
        TEXTAREA {
            width: 98%;
            height: 126pt; /* 18pt * 7 rows; overriden in js */
            padding: 1%
        }
        .help {
            font: normal 12px/12px $Helvetica;
        }
    }
    .goal {
        TABLE.edit {
            display: none;
        }
        TD {
            text-align: left;
        }
        #goal-custom {
            text-align: right;
            width: 6pc;
        }
        LI {
            margin-bottom: 1em;
        }
    }
}


#history {
    th {
        padding: 0 3pt;
    
        b {
            font-weight: 300;
            font-size: 9pt;
        }
    }
    td {
        padding: 1pt 3pt;
        font-size: 9pt;
        line-height: 10pt;
        text-align: right;

        h2 {
            text-align: left;
        }
    }
    .head td {
        font-size: 9pt;
        white-space: normal;
        text-align: left;
        border-bottom: 1px solid #614C3E;
    }
    td.card, td.fees, td.debits {
        color: red;
    }
    .head td.card, .head td.fees, .head td.debits {
        color: #614C3E;
    }
    td.notes {
        text-align: left;
    }
    .fees {
        border-right: 1px solid #614C3E;
        text-align: right;
    }
    .outside {
        border-right: 1px solid #614C3E;
        text-align: right ! important;
    }
}


/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    
}
