
% from "templates/macros/fine-uploader.html" import fine_uploader_template with context
% from "templates/macros/postal-addresses.html" import postal_address_form with context

% macro file_input(name)
    <div class="fine-uploader" name="{{ name }}"></div>
    <br>
    % set docs = already_uploaded.get(name) or ()
    % if docs
        <p>{{ ngettext(
            "You have uploaded {n} document of this type:",
            "You have uploaded {n} documents of this type:",
            len(docs)
        ) }}</p>
        <p>
        % for doc in docs
            % if doc.status == 'VALIDATION_ASKED'
                <span class="fa fa-spinner fa-spin text-info"></span>
                {{ _("Document #{id} is awaiting validation.", id=doc.id) }}
            % elif doc.status == 'VALIDATED'
                <span class="glyphicon glyphicon-ok-circle text-success"></span>
                {{ _("Document #{id} has been validated.", id=doc.id) }}
            % elif doc.status == 'REFUSED'
                <span class="glyphicon glyphicon-ban-circle text-danger"></span>
                {{ _("Document #{id} has been rejected: {refused_reason_type} - {refused_reason_message}.", **doc.get_field_dict()) }}
            % endif
            <br/>
        % endfor
        </p>
        % if docs[0].status == 'REFUSED'
            <p>{{ _("If you need assistance you can send an email to support@liberapay.com.") }}</p>
        % endif
    % endif
% endmacro

{{ fine_uploader_template(cls='', dropzone=False, edit_filenames=False) }}

% include "templates/sandbox-warning.html"

% if account.PersonType == 'NATURAL'

    <label>
        <span>{{ _("Occupation") }}</span>
        <input name="Occupation" required size=30 maxlength=255
               class="form-control" value="{{ account.Occupation or '' }}" />
        <p class="help-block">{{ _("Your main professional activity.") }}</p>
    </label>

    <br>
    <label>
        <span>{{ _("Income Range") }}</span>
        <select name="IncomeRange" class="form-control" required>
            <option></option>
            % set saved = account.IncomeRange
            % set prev_threshold = None
            % for i, threshold in constants.KYC_INCOME_THRESHOLDS
                <option value="{{ i }}" {{ 'selected' if i == saved else '' }}>{{
                    _("Less than {0}", threshold) if loop.first else
                    _("More than {0}", threshold) if loop.last else
                    _("Between {0} and {1}", prev_threshold, threshold)
                }}</option>
                % set prev_threshold = threshold
            % endfor
        </select>
        <p class="help-block">{{ _("How much money you earn per year, approximately.") }}</p>
    </label>

    <h3>{{ _("Postal Address") }}</h3>
    {{ postal_address_form(saved=account.Address if account else None) }}

    <h3>{{ _("Identity Proof") }}</h3>
    <p>{{ _("Passport, or ID Card (front and back), or UK driving licence.") }}</p>
    {{ file_input('IDENTITY_PROOF') }}<br>

% elif account.PersonType == 'LEGAL'

    <h3>{{ _("Organization Information") }}</h3>

    <h4>{{ _("Headquarters Address") }}</h4>
    {{ postal_address_form(prefix='Headquarters', saved=account.HeadquartersAddress if account else None) }}

    % if account.LegalPersonType != 'SOLETRADER'
    <h4>{{ _("Articles of Association") }}</h4>
    <p>{{ _("Certified articles of association (Statute) - formal memorandum stated by the entrepreneurs, in which the following information is mentioned: business name, activity, registered address, shareholding.") }}</p>
    {{ file_input('ARTICLES_OF_ASSOCIATION') }}<br>
    % endif

    <h4>{{ _("Registration Proof") }}</h4>
    % if account.LegalPersonType == 'BUSINESS'
    <p>{{ _("Extract from the Company Register issued within the last three months.") }}</p>
    % else
    <p>{{ _("Proof of registration from the official authority.") }}</p>
    % endif
    {{ file_input('REGISTRATION_PROOF') }}<br>

    % if account.LegalPersonType == 'BUSINESS'
    <h4>{{ _("Shareholder Declaration") }}</h4>
    <p>{{ _(
        "Please download and fill the {link_start}shareholder declaration form{link_end}.",
        link_start='<a href="https://www.mangopay.com/terms/shareholder-declaration/Shareholder_Declaration-EN.pdf">'|safe,
        link_end='</a>'|safe
    ) }}</p>
    {{ file_input('SHAREHOLDER_DECLARATION') }}<br>
    % endif

    <h3>{{ _("Legal Representative Information") }}</h3>
    <p>{{ _("The following fields are about the organization's legal representative (you, probably).") }}</p>

    <label>
        <span>{{ _("Email") }}</span>
        <input name="LegalRepresentativeEmail" type="email" autocomplete="email"
               class="form-control" required pattern=".*@.*" />
    </label>

    <h4>{{ _("Postal Address") }}</h4>
    {{ postal_address_form(prefix='LegalRepresentative', saved=account.LegalRepresentativeAddress if account else None) }}

    <h4>{{ _("Identity Proof") }}</h4>
    <p>{{ _("Passport, or ID Card (front and back), or UK driving licence.") }}</p>
    {{ file_input('IDENTITY_PROOF') }}<br>

% endif

<p class="alert alert-info">{{
    _("The following file formats are supported: {0}.", constants.KYC_DOCS_EXTS_STR) + " " +
    _("The maximum size of each file is {0}MB.", constants.KYC_DOC_MAX_SIZE_MB)
}}</p>
