
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="/assets/{{ __version__ }}/openco.js"></script>

<div id="openco" ng-app="Gittip.openco">

    <div id="weeks" class="group">
        <div id="this-week">
            {% set nbackers = participant.get_number_of_backers() %}
            <h2>This Week</h2>
            <div class="fine">Gittip will receive about</div>
            <div class="amount">${{ participant.get_dollars_receiving() }}</div>
            <div class="fine">from {{ nbackers }} patron{{ '' if nbackers == 1 else 's' }}</div>
        </div>
        <div id="last-week">
            <h2>Last Week</h2>
            <div class="fine">Gittip received <b>$24</b> from</div>
            <div class="account"><img src="https://si0.twimg.com/profile_images/2182907658/heroku-logo-for-facebook_bigger.png" /></div>
            <div class="fine">See <a href="./patrons/">all patrons</a></div>
        </div>
    </div>

    <div class="group" ng-controller="Gittip.openco.IdentificationsCtrl">
        <div id="my-identifications">
            <h2>Who does the most work?</h2>

            <p class="fine">This info is <b>private</b>.</p>

            <table>
                <tr ng-repeat="participant in identifications">
                    <td>&#123;{ participant.username }}</td>
                    <td>
                        <input type="radio"
                               name="weight-&#123;{ participant.username }}"
                               value="&#123;{ weight }}"
                               ng-repeat="weight in weights"
                               ng-model="participant.weight"
                               ng-change="change(participant, weight)"
                               />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="lookup-container">
                      <br />
                      <form ng-submit="doAdd()">
                          <input tabindex="1" id="query"
                                 autocomplete="off"
                                 placeholder="Enter a Gittip username"
                                 ng-model="query"
                                 ng-change="doLookup()"
                             />&nbsp;&nbsp;<button type="submit"
                                             tabindex="2">Add</button>
                      </form>
                      <ul id="lookup-results">
                        <li ng-repeat="participant in lookup">
                          <span>&#123;{ participant.username }}</span>
                        </li>
                      </ul>
                </tr>
            </table>
        </div>

        <div id="crowd">
            <h2>Where it Goes.</h2>

            <p class="fine">This info is <b>public</b>.</p>

            <p class="fine">This is how the money is split. It is based on
            everyone's vote for who does the most work.</p>

            <table>
                <tr ng-repeat="participant in identifications">
                    <td>&#123;{ participant.username }}</td>
                    <td>&#123;{ participant.weight}}</td>
                </tr>
            </table>
        </div>
    </div>

</div>
