% from "templates/repos.html" import show_repo with context

% set repos = participant.get_repos_for_profile()
% if repos
<p>{{ _("The following repositories are currently displayed on your profile:") }}</p>
<form action="{{ participant.path('repos') }}" class="js-submit"
      data-on-success="fadeOut:.repo" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
    % for repo in repos
        {{ show_repo(repo, unlist=True) }}
    % endfor
</form>
<hr>
% endif

<p>{{
    _("Liberpay can import a list of your team's repositories from:") if participant.kind == 'group' else
    _("Liberpay can import a list of your repositories from:")
}}</p>
<p>
% for platform in website.platforms.hasattr('api_repos_path')
% if participant.kind == 'group' and platform.has_teams and not hasattr(platform, 'is_team_member')
<button class="btn btn-default" disabled title="{{ _('This is not supported yet') }}"
    >{{ platform.display_name }}</button> &nbsp;&nbsp;
% else
<a class="btn btn-default" href="{{ participant.path('repos/' + platform.name) }}"
    >{{ platform.display_name }}</a> &nbsp;&nbsp;
% endif
% endfor
</p>
