<form id="jump" class="form-inline">
    <input placeholder="{{ _('username') }}" autocomplete="off" autocorrect="off"
           spellcheck="false" size="12" type="text" class="form-control">
    <select class="form-control">
        <option value="twitter">Twitter</option>
        <option value="facebook">Facebook</option>
        <option value="github">GitHub</option>
        <option value="bitbucket">Bitbucket</option>
    </select>
    <button class="btn btn-default">{{ _("Go") }}</button>
</form>
