<form action="/on/" class="form-group">
<div class="form-inline">
    <input name="user_name" placeholder="{{ _('username') }}" autocorrect="off"
           spellcheck="false" size="12" type="text" class="form-control">
    <select class="form-control" name="platform">
        <option value="twitter">Twitter</option>
        <option value="github">GitHub</option>
        <option value="bitbucket">Bitbucket</option>
    </select>
    <button class="btn btn-default">{{ _("Go") }}</button>
</div>
</form>
