% include "templates/form-repost.html"

% if state.get('log-in.error')
    <p class="alert alert-danger">{{ state['log-in.error'] }}</p>
% endif

<div class="form-group">
<input name="log-in.id" autocomplete="email" class="form-control" size=40
       required placeholder="{{ _('Email address') }}" />
</div>

<div class="form-group">
<input name="log-in.password" class="form-control" size=25
       type="password" autocomplete="current-password"
       placeholder="{{ _('Password (optional)') }}" />
</div>

<p class="help-block">{{ _(
    "Leave the previous field empty if your account doesn't have a password, "
    "or if you've lost it. We'll send you a login link via email."
) }}</p>

<button class="btn btn-default">{{ _("Go") }}</button>
