<div>
    % if not edit
    <h3>{{ _("Members") }}</h3>
    % endif
    % from "templates/macros/avatar-url.html" import avatar_img with context
    % set takes = participant.get_current_takes()
    % for t in takes
        <div class="mini-user">
            <a href="/{{ t.member_name }}/">
                {{ avatar_img(t) }}
                <span class="name">{{ t.member_name }}</span>
            </a>
        </div>
    % endfor
    <br>
    <a class="btn btn-default" href="{{ participant.path('income/') }}"
        >{{ _("View income shares") }}</a><br>
    % if edit
        <br>
        % include "templates/team-invite.html"
    % endif
</div>
