<div>
    <h3 class="{{ 'banderole default' if edit else '' }}">{{ _("Members") }}</h3>
    % from "templates/avatar-url.html" import avatar_img with context
    % set takes = participant.get_current_takes()
    % for t in takes
        <div class="mini-user">
            <a href="/{{ t.member_name }}/">
                {{ avatar_img(t) }}
                <span class="name">{{ t.member_name }}</span>
            </a>
        </div>
    % endfor
    <br>
    <p><a class="btn btn-default" href="{{ participant.path('income/') }}"
          >{{ _("View income shares") }}</a></p>
    % if edit
        <br>
        % include "templates/team-invite.html"
    % endif
</div>
