<div>
    <h3>{{ _("Members") }}</h3>
    % from "templates/avatar-url.html" import avatar_url with context
    % set takes = participant.get_current_takes()
    <ul class="people">
    % for t in takes
        <li class="panel panel-default mini-user">
            <a href="/{{ t.member_name }}/">
                <img class="avatar" src="{{ avatar_url(t) }}" />
                <span class="name">{{ t.member_name }}</span>
            </a>
        </li>
    % endfor
    </ul>
    % if edit
        <br>
        % include "templates/team-invite.html"
    % endif
</div>
