<form class="my-tip{{ " anon" if user.ANON else "" }}">
    <div class="tip-controls">
        <div class="tip-amount">
            $ <input type="text" class="my-tip" min="0" max="{{ '1000' if participant.IS_PLURAL else '100' }}" value="{{ my_tip }}" data-tippee="{{ tippee }}"> / {{ _("week") }}
        </div>

        <ul class="tip-suggestions">
            <li><a href="#">$100</a></li>
            <li><a href="#">$25</a></li>
            <li><a href="#">$10</a></li>
            <li><a href="#">$2</a></li>
            <li><a href="#" class="cents">25¢</a></li>
        </ul>
    </div>

    <div class="tip-actions">
        <button class="confirm-tip" disabled>{{ _("Confirm") }}</button><br>
        <a href="#" class="cancel-tip">{{ _("Cancel") }}</a>
    </div>
</form>
