<form class="my-tip{{ " anon" if user.ANON else "" }}">
    <div class="tip-controls">
        <div class="tip-amount">
            $ <input type="text" class="my-tip" min="0" max="{{ '1000' if participant.IS_PLURAL else '100' }}" value="{{ my_tip }}" data-tippee="{{ tippee }}"> / {{ _("week") }}
        </div>

        <ul class="tip-suggestions">
            {% for amount in (100, 25, 10, 2, 0.25) %}
                <li><a href="#" data-decimal="{{ format_decimal(amount) }}">{{
                    format_currency(amount, 'USD')
                }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="tip-actions">
        <button class="confirm-tip" disabled>{{ _("Confirm") }}</button><br>
        <a href="#" class="cancel-tip">{{ _("Cancel") }}</a>
    </div>
</form>
