% from "templates/icons.html" import icon_span

% macro nav(items, base='')
    % set current = request.path.raw.startswith(base) and request.path.raw[len(base):].lstrip('/').split('/', 1)[0]
    % for item in items
        % set slug = item[0]
        % set options = item[2] or {}
        % set icon = options['icon']
        % set icon = icon_span(icon) if icon else ''
        <li{% if slug.strip('/') == current %} class="active"{% endif %}>
            % if options['subnav']
                % set button_extra_cls = 'dropdown-toggle-form' if options['form'] else ''
                <div class="dropdown dropdown-hover">
                    <a class="dropdown-toggle navbar-btn {{ button_extra_cls }}"
                       href="{{ base }}{{ slug }}" data-toggle="dropdown" aria-expanded="true">
                        {{ icon }}
                        <span>{{ item[1] }}</span>
                    </a>
                    % if options['role']
                        <div class="dropdown-menu" role="{{ options['role'] }}">{{ options['subnav'] }}</div>
                    % else
                        <ul class="dropdown-menu" role="menu">{{ options['subnav'] }}</ul>
                    % endif
                </div>
            % else
                <a href="{{ base }}{{ slug }}">{{ icon }} {{ item[1] }}</a>
            % endif
        </li>
    % endfor
% endmacro

% macro nav_about()
    {{ nav([
        ('/', _('Introduction')),
        ('/faq', _('FAQ')),
        ('/global', _('Global')),
        ('/teams', _('Teams')),
        ('/stats', _('Stats')),
        ('/alternatives', _('Alternatives')),
        ('/legal', _('Legal')),
        ('/feeds', _('Feeds')),
        ('/contact', _('Contact')),
        ('/security', _('Security'))
    ], base='/about') }}
% endmacro

% macro nav_explore()
    {{ nav([
        ('/', _('Overview')),
        ('/teams', _('Teams')),
        ('/organizations', _('Organizations')),
        ('/individuals', _('Individuals')),
        ('/pledges', _('Unclaimed Donations')),
        ('/repositories', _('Repositories')),
        ('/elsewhere', _('Social Networks')),
        ('/communities', _('Communities')),
    ], base='/explore') }}
% endmacro

% macro nav_profile_edit(participant)
    % if participant.is_person
        {{ nav([
            ('/username', _('Name')),
            ('/avatar', _('Avatar')),
            ('/currencies', _('Currencies')),
            ('/goal', _('Goal')),
            ('/statement', _('Statement')),
            ('/elsewhere', _('Accounts Elsewhere')),
            ('/repositories', _('Repositories')),
            ('/teams', _('Teams')),
            ('/communities', _('Communities')),
            ('/privacy', _('Privacy')),
        ], base=participant.path('edit')) }}
    % else
        {{ nav([
            ('/username', _('Name')),
            ('/avatar', _('Avatar')),
            ('/currencies', _('Currencies')),
            ('/goal', _('Goal')),
            ('/statement', _('Statement')),
            ('/elsewhere', _('Accounts Elsewhere')),
            ('/repositories', _('Repositories')),
            ('/members', _('Members')),
            ('/privacy', _('Privacy')),
        ], base=participant.path('edit')) }}
    % endif
% endmacro

% macro querystring_nav(key, values, current)
    % for value, title in values
        <li{% if value == current %} class="active"{% endif %}>
            <a href="?{{ key }}={{ value }}">{{ title }}</a>
        </li>
    % endfor
% endmacro
