% from "templates/macros/icons.html" import glyphicon

% if request.method in ('GET', 'HEAD')
<li class="dropdown dropdown-hover locale">
    <button class="dropdown-toggle navbar-btn" type="button"
            data-toggle="dropdown"
            title="{{ _('Switch to another language') }}">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <span class="text">{{ locale.language_name }}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
    % for l_completion, l_code, l_name, l_url in website.lang_list
        <li {% if l_code == locale.language %} class="active" {% endif %}
            ><a href="{{ l_url }}{{ request.line.uri.decoded }}" rel="alternate" hreflang="{{ l_code }}"
                >{{ l_name }}{% if l_completion <= 0.99 %} &nbsp; <small>{{
                    _("({x_percent} translated)", x_percent=locale.format_percent(l_completion))
                }}</small>{% endif %}</a></li>
    % endfor
        <li role="separator" class="divider"></li>
        <li><a href="https://hosted.weblate.org/engage/liberapay/?utm_source=liberapay-navbar"
               target="_blank" rel="noopener noreferrer"
               ><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
               {{ _("Help us translate Liberapay") }}</a></li>
    </ul>
</li>
% endif
