{% from 'templates/avatar-url.html' import avatar_img with context %}

{% extends "templates/base.html" %}

{% block sidebar %}

{% set prefix = user.participant == participant and "my-" or "" %}
{% set anon_giving = participant.anonymous_giving %}
{% set g = participant.giving %}
{% set anon_receiving = participant.anonymous_receiving %}
{% set r = participant.receiving %}
{% set giving_str = '' if anon_giving else format_currency(g, "USD") %}
{% set receiving_str = '' if anon_receiving else format_currency(r, "USD") %}

{% set params = {
    "giving": "<span class='" + prefix + "total-giving'>" + giving_str + "</span>",
    "receiving": "<span class='" + prefix + "total-receiving'>" + receiving_str + "</span>",
    "username": participant.username,
    "topstart": "<h2 class='pad-sign'>",
    "topend": "</h2>",
    "midstart": "<div class='number'>",
    "midend": "</div>",
    "bottomstart": "<div class='unit pad-sign'>",
    "bottomend": "</div>"
} %}

<div class="avatar">
    <a href="/{{ participant.username }}/">{{ avatar_img(participant) }}</a>
</div>

{% if user.ADMIN %}
<label class="is-suspicious-knob" data-username="{{ participant.username }}">
    Suspicious
    <input type="checkbox"
        {% if participant.is_suspicious %}checked="true"{% endif %} />
</label>
{% elif participant.is_suspicious %}
<div class="is-suspicious-indicator">Suspicious</div>
{% endif %}

<div class="padding {% if participant.is_suspicious %} is-suspicious{% endif %}">
    {% if anon_giving and anon_receiving %}
        <h2>{{ _("{0} gives and receives anonymously", participant.username) }}</h2>
    {% elif anon_giving and r == 0 %}
        <h2>{{ _("{0} gives anonymously", participant.username) }}</h2>
    {% elif anon_receiving and g == 0 %}
        <h2>{{ _("{0} receives anonymously", participant.username) }}</h2>
    {% elif g > 0 and not anon_giving and anon_receiving %}
        {{ _("{topstart}{username} gives{topend} {midstart}{giving}{midend} {bottomstart}per week, and receives anonymously{bottomend}", **params) }}
    {% elif r > 0 and not anon_receiving and anon_giving %}
        {{ _("{topstart}{username} receives{topend} {midstart}{receiving}{midend} {bottomstart}per week, and gives anonymously{bottomend}", **params) }}
    {% elif g > 0 and r > 0 and g > r and not anon_giving and not anon_receiving %}
        {{ _("{topstart}{username} gives{topend} {midstart}{giving}{midend} {bottomstart}per week, and receives {receiving}{bottomend}", **params) }}
    {% elif g > 0 and r > 0 and r >= g and not anon_giving and not anon_receiving %}
        {{ _("{topstart}{username} receives{topend} {midstart}{receiving}{midend} {bottomstart}per week, and gives {giving}{bottomend}", **params) }}
    {% elif g > 0 and r == 0 and not anon_giving %}
        {{ _("{topstart}{username} gives{topend} {midstart}{giving}{midend} {bottomstart}per week{bottomend}", **params) }}
    {% elif g == 0 and r > 0 and not anon_receiving %}
        {{ _("{topstart}{username} receives{topend} {midstart}{receiving}{midend} {bottomstart}per week{bottomend}", **params) }}
    {% else %}
        {% set age = participant.get_age_in_seconds() %}
        <h2>
            {% if age < 60 %}
            {{ _("{0} just joined Gratipay! :D", participant.username) }}
            {% elif age < (60 * 60 * 24 * 7) %}
            {{ _("{0} joined recently", participant.username) }}
            {% else %}
            {{ _("{0} is quietly watching the Gratipay world", participant.username) }}
            {% endif %}
        </h2>
    {% endif %}
</div>

{% if participant.accepts_tips %}
{% if (user.ANON or (participant != user.participant)) %}
{% include "templates/participant.tip.html" %}
{% endif %}
{% endif %}

{% if participant.username == 'aaronsw' %}
<div class="nav level-3">
    <a href="http://news.ycombinator.com/item?id=5046845">RIP :`(</a>
</div>
<!--

After following Aaron's career for a decade, I interacted with him for the
first time three days before he committed suicide:

    https://twitter.com/aaronsw/status/288664016723791873

:`(

-->
{% endif %}

{% block nav %}{% endblock %}

{% endblock %}
