{% extends base.html %}
{% block body %}
    <div id="their-voice">
        {% block their_voice %}{% end %}
    </div>

    {% if can_tip and user.ANON %}
        <h2>Sign in 
            <a href="{{ github_oauth_url(username) }}">with 
            Github</a> to tip {{ username }}.</h2>
    {% elif can_tip  %}
        {% if user.id != username %}
            <h2>Your weekly tip to {{ username }} is:</h2>

            <div id="tips">
                {% for amount in AMOUNTS %}
                <button amount="{{ amount }}" tippee="{{ username }}"
                    class="tip{{ ' selected' if amount == my_tip else '' }}">${{ amount }}</button>
                {% end %}
            </div>
            {% if user.pmt is None %}
            <p id="payment-prompt"{% if my_tip > 0 %} 
            class="needed"{% end %}>You&rsquo;ll need to receive tips or set up
            a <a href="/credit-card.html">credit card</a> before your tip can 
            go through.</p>
            {% elif user.last_bill_result %}
            <p id="payment-prompt" class="really-needed">You&rsquo;ll need to 
            receive tips or <a href="/credit-card.html">fix your credit 
                card</a> before your tip can go through.</p>
            {% end %}

            <p>Tips are <a href="/about/#details">anonymous</a>, and 
            {{ username }} receives the <a href="/about/#details">full face
                value</a>.</p>

        {% end %}
    {% end %}
{% end %}
