{% extends "templates/base.html" %}

{% block box %}

{% set prefix = user.participant == participant and "my-" or "" %}
{% set anon_giving = participant.anonymous_giving %}
{% set g = participant.get_dollars_giving() %}
{% set giving = anon_giving and "anonymously" or "$"+str(g) %}
{% set anon_receiving = participant.anonymous_receiving %}
{% set r = participant.get_dollars_receiving() %}
{% set receiving = anon_receiving and "anonymously" or "$"+str(r) %}

<table class="on-profile{% if participant.is_suspicious %} is-suspicious{% endif %}">
    <tr>
        <td class="picture">
            <a href="/{{ participant.username }}/"><img src="{{ get_avatar_url(participant)|e }}" /></a>
        </td>
        <td class="giving-receiving">
        {% if anon_giving and anon_receiving %}
            <h2>{{ participant.username }} gives and receives anonymously</h2>
        {% elif not anon_giving and g > 0 and (g > r or anon_receiving) %}
            <h2 class="pad-sign">{{ participant.username }} gives</h2>
            <div class="number">
                <span class="{{prefix}}total-giving">{{ giving }}</span>
            </div>
            <div class="unit pad-sign">
                per week{% if r > 0 or anon_receiving %}, and receives
                    {{ receiving }}
                {% endif %}
            </div>
        {% elif not anon_receiving and r > 0 and (r >= g or anon_giving) %}
            <h2 class="pad-sign">{{ participant.username }} receives</h2>
            <div class="number">
                <span class="total-receiving">{{ receiving }}</span>
            </div>
            <div class="unit pad-sign">
                per week{% if g > 0 or anon_giving %}, and gives
                    <span class="{{prefix}}total-giving">{{ giving }}</span>
                {% endif %}
            </div>
        {% else %}
            {% set age = participant.get_age_in_seconds() %}
            <h2>{{ participant.username }}
                {% if age < 60 %}
                just joined Gittip! :D
                {% elif age < (60 * 60 * 24 * 7) %}
                joined recently
                {% else %}
                is quietly watching the Gittip world
                {% endif %}
            </h2>
        {% endif %}
        </td>
    </tr>
</table>

{% if participant.accepts_tips %}
{% if (user.ANON or (participant != user.participant)) %}
{% include "templates/participant.tip.html" %}
{% endif %}
{% endif %}

{% block nav %}{% endblock %}

{% if participant.username == 'aaronsw' %}
<div class="nav level-3">
    <a href="http://news.ycombinator.com/item?id=5046845">RIP :`(</a>
</div>
<!--

After following Aaron's career for a decade, I interacted with him for the
first time three days before he committed suicide:

    https://twitter.com/aaronsw/status/288664016723791873

:`(

-->
{% endif %}

{% if user.ADMIN %}
<label class="is-suspicious-knob" data-username="{{ participant.username }}">
    Suspicious
    <input type="checkbox"
        {% if participant.is_suspicious %}checked="true"{% endif %} />
</label>
{% elif participant.is_suspicious %}
<div class="is-suspicious-indicator">Suspicious</div>
{% endif %}

{% endblock %}


{% block body %}

            <h2>Share</h2>

            <!-- http://developers.facebook.com/docs/reference/plugins/like/ -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-like" data-send="false" data-width="120" data-show-faces="false"></div>


            <!-- https://dev.twitter.com/docs/tweet-button -->
            <a href="https://twitter.com/share" 
               class="twitter-share-button" data-lang="en" 
               data-text="I just tipped a hard-working genius with Gittip. You can too:" 
               data-url="https://www.gittip.com/">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


            <!-- http://www.google.com/webmasters/+1/button/ -->
            <g:plusone size="small" annotation="inline" width="120"></g:plusone>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>

{% endblock %}
