<div class="tip">
    {% if locked %}
        <div class="help with-padding">
            {{ _("This account has been locked by its owner.") }}
        </div>
    {% elif user.ANON %}
        {% include "templates/sign-in-using-to-give.html" %}
    {% else %}

        {% set my_tip = format_decimal(user.participant.get_tip_to(participant.username)['amount']) %}
        {% set tippee = participant.username %}
        {% include "templates/my-tip.html" %}

        {% if user.participant.last_bill_result == None %}

        <div id="payment-prompt" class="help{% if my_tip > 0 %} needed{% endif %}">
            {{ _("Back your gift with a {0}credit card{1} to make sure it goes through!",
                "<a href='/credit-card.html' class='highlight'>", "</a>") }}
        </div>
        {% elif user.participant.last_bill_result %}
        <div id="payment-prompt" class="help really-needed">
            {{ _("Fix your {0}credit card{1} to make sure your gifts go through!",
                "<a href='/credit-card.html' class='highlight'>", "</a>") }}
        </div>
        {% endif %}

    {% endif %}
</div>
