<p>{{ _(
    "Liberapay's recurrent donations system is designed to provide a "
    "stable crowdfunded basic income to creators, enabling them to keep "
    "doing great work that benefits everyone. Ready to contribute? Then "
    "let's get started:"
) }}</p>
<p>{{ _(
    "People who contribute to the commons need you to support their work. "
    "Building free software, spreading free knowledge, these things take "
    "time and cost money, not only to do the initial work, but also to "
    "maintain it over time."
) }}</p>
