% macro privacy_form(participant)
    <form action="{{ participant.path('settings/edit') }}" method="POST" class="js-submit">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
        <input type="hidden" name="back_to" value="{{ request.path.raw }}" />
        <input type="hidden" name="privacy" value="{{ constants.PRIVACY_FIELDS_S }}" />
        <div class="checkbox">
        % for name, label in constants.PRIVACY_FIELDS.items()
        <label>
            <input type="checkbox" name="{{ name }}" {{ 'checked' if participant[name].__and__(1) else '' }} />
            {{ _(label) }}
        </label>
        <br />
        % endfor
        </div>
        <button class="btn btn-default">{{ _("Save changes") }}</button>
    </form>
% endmacro
