<div class="col1">

    <!-- Statement -->
    <form class="statement">
        <h2>{{ _("Statement") }}
            <button tabindex="200" class="edit">{{ _("Edit") }}</button>
            <button tabindex="203" class="save" type="submit">{{ _("Save") }}</button>
            <button tabindex="204" class="cancel" type="cancel">{{ _("Cancel") }}</button>
        </h2>

        <div class="edit">
            <select tabindex="201" name="number" id="statement-select">
                <option value="singular"
                    {{ "selected" if participant.number == 'singular' else ''}}>
                    {{ I_AM_MAKING.format("...") }}
                </option>
                <option value="plural"
                    {{ "selected" if participant.number != 'singular' else ''}}>
                    {{ WE_ARE_MAKING.format("...") }}
                </option>
            </select>
            <textarea tabindex="202">{{ participant.statement }}</textarea>
            <span class="help">{{ _("Markdown supported.") }}
                <a href="https://daringfireball.net/projects/markdown/basics" target="_blank">{{ _("What is markdown?") }}</a>
                (<a href="https://github.com/gratipay/gratipay.com/tree/master/gratipay/utils/markdown.py" target="_blank">{{ _("View source.") }}</a>)
            </span>
        </div>

        <div class="view markdown-output">
            {{ markdown.render(MAKING.format(participant.statement)) }}
        </div>
    </form>


    <!-- Memberships -->
    {% include "templates/team-listing.html" %}
    {% include "templates/community-listing.html" %}
    {% if not communities %}
    {#
        Still show the communities heading in this case. Otherwise it's set in
        community-listing.html. See https://github.com/gratipay/gratipay.com/pull/1916.
    #}
    <h2>{{ _("Communities") }}</h2>
    {% endif %}
    <a href="/for/">{{ _("Join Communities") }}</a>

</div>
<div class="col2">

    <!-- Funding Goal -->
    <form class="goal">
        <h2>{{ _("Funding Goal") }}
            <button tabindex="400" class="edit">{{ _("Edit") }}</button>
            <button tabindex="401" class="save" type="submit">{{ _("Save") }}</button>
            <button tabindex="402" class="cancel" type="cancel">{{ _("Cancel") }}</button>
        </h2>
        <div class="view">
            {% if user.participant.goal > 0 %}
            {{ GOAL }}
            {% elif user.participant.goal == 0 %}
            {{ PATRON }}
            {% elif user.participant.goal == None %}
            {{ GRATEFUL }}
            {% else %}
            {{ PATRON_NO_GOAL }}
            {% endif %}
        </div>
        <table class="edit"><tr><td>

            <input tabindex="403" type="radio" name="goal" id="goal-yes" value="custom"
            {% if user.participant.goal > 0 %} checked="true"{% endif %}/>
            <label for="goal-yes">{{ GOAL_PARTS[0] }}$</label><input
                name="goal_custom" id="goal-custom"
            {% if (user.participant.goal == None) or (user.participant.goal <= 0) %}
            {% else %}
            value="{{ format_decimal(user.participant.goal) }}"
            {% endif %} />
            <label for="goal-yes">{{ GOAL_PARTS[1] }}</label>

            <br />

            <input tabindex="404" type="radio" name="goal" id="goal-null" value="null"
            {% if user.participant.goal == None %} checked="true"{% endif %}/>
            <label for="goal-null">{{ GRATEFUL }}</label>

            <br />

            <input tabindex="405" type="radio" name="goal" id="goal-0" value="0.00"
            {% if user.participant.goal == 0 %} checked="true"{% endif %}/>
            <label for="goal-0">{{ PATRON }}</label>

            <br />

            <input tabindex="406" type="radio" name="goal" id="goal-negative"
                   value="-1"
            {% if (user.participant.goal != None) and user.participant.goal < 0 %} checked="true"{% endif %}/>
            <label for="goal-negative">{{ PATRON_NO_GIFTS }}</label>

        </td></tr></table>
    </form>

    {% include "templates/charts-for-user.html" %}


    <!-- Connected Accounts -->
    {% include "templates/connected-accounts.html" %}

</div>
<div class="clear"></div>

{% if participant.receiving > 0 %}
{% set tip_distribution = participant.get_tip_distribution()[0] %}
<div class="col1">
    <h2>{{ _("Tips Received, by Number of Tips") }}</h2>
    {% include "templates/tip-distribution.html" %}
</div>

<div class="col2">
    <h2>{{ _("Tips Received, by Dollar Amount") }}</h2>
    <table class="tip-distribution">
        {% for amount, ncontributors, summed, pcontributors, psummed in tip_distribution %}
        <tr>
            <td class="dollar-sign">$</td>
            <td class="amount">{{ amount }}</td>
            <td colspan="2"></td>
            <td class="count">
                <span class="green bar" style="width: {{ psummed * 240 }}pt"></span>
                {{ "%5.1f" % (psummed * 100) }}%
                <span class="number">(${{ summed }})</span>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}
