{% extends "templates/participant.html" %}

{% block head %}
    <link rel="payment" type="text/html" title="Give weekly gift on Gratipay"
        href="https://gratipay.com/{{ username }}/" />
    <meta name="twitter:card" content="summary" />
    <meta name="og:url" content="https://gratipay.com/{{ username }}/" />
    <meta name="og:type" content="profile" />
    <meta name="og:title" content="{{ participant.get_og_title() }}" />
    {% if statement %}
    <meta name="og:description" content="{{ excerpt_intro(statement)|e }}" />
    {% else %}
    <meta name="og:description" content="Gratipay is a weekly gift exchange" />
    {% endif %}
    {% if participant.avatar_url %}
    <meta name="og:image" content="{{ participant.avatar_url|e }}" />
    {% endif %}
    <meta name="og:image" content="{{ website.asset('gratipay.opengraph.png') }}" />

    {% if participant.search_opt_out %}
    <meta name="robots" content="noindex,nofollow" />
    {% endif %}
{% endblock %}


{% block scripts %}
    {% if user.ADMIN %}<script src="{{ website.asset('admin.js') }}"></script>{% endif %}
    <script>$(document).ready(Gratipay.tips.init)</script>
    <script>$(document).ready(function() {
      $('#goal-custom').on('click change', function() {
        $('#goal-yes').attr('checked', true)
      })
    })</script>
{% endblock %}

{% block subnav %}
{% set current_page = path.raw.split('/')[2] %}
{% set show_members = participant.show_as_team(user) %}
{% set show_receiving = (user.participant == participant or not participant.anonymous_receiving) and participant.accepts_tips %}
{% set show_profile = show_members or show_receiving %}
{% set pages = [ ('/',           _('Profile'),      True,           show_profile)
               , ('/receiving/', _('Receiving'),    True,           show_receiving)
               , ('/members/',   _('Members'),      show_members,   show_members)
               , ('/giving/',    _('Giving'),       True,           False)
               , ('/history/',   _('History'),      True,           False)
               , ('/widgets/',   _('Widgets'),      True,           False)
               , ('/account/',   _('Account'),      True,           False)
               , ('/events/',    _('Events'),       False,          False)
                ] %}
{% set pages = filter_profile_subnav(user, participant, pages) %}
{% if pages %}
<ul class="nav">
    {% for slug, name, show_them, show_others in pages %}
    <li{% if slug == '/members/' %} class="members{% if not participant.show_as_team(user) %} hidden{% endif %}"{% endif %}><a href="/{{ participant.username }}{{ slug }}"{% if slug.strip('/') == current_page %} class="selected"{% endif %}>{{ _(name) }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
