<div class="dropdown">
<button class="dropdown-toggle navbar-dropdown" type="button"
        data-toggle="dropdown" aria-expanded="true">
    {{ user.username }}
    <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
    <li><a href="/{{ user.username }}/edit">{{ _("Profile") }}</a></li>
    <li><a href="/{{ user.username }}/giving/">{{ _("Giving") }}</a></li>
    <li><a href="/{{ user.username }}/receiving/">{{ _("Receiving") }}</a></li>
    <li><a href="/{{ user.username }}/wallet/">{{ _("Wallet") }}</a></li>
    <li class="level2"><a href="/{{ user.username }}/wallet/payin">{{ _("Add money") }}</a></li>
    <li class="level2"><a href="/{{ user.username }}/wallet/payout">{{ _("Withdraw money") }}</a></li>
    <li><a href="/{{ user.username }}/settings/">{{ _("Settings") }}</a></li>
    <li><a href="/{{ user.username }}/emails/">{{ _("Emails") }}</a></li>
    <li><a href="/{{ user.username }}/widgets/">{{ _("Widgets") }}</a></li>
</ul>
</div>