{% extends "templates/participant.html" %}
{% block scripts %}
    {% if user.ADMIN %}<script src="{{ website.asset('admin.js') }}"></script>{% endif %}
    <script>$(document).ready(Gratipay.tips.init)</script>
    <script>$(document).ready(function() {
      $('#goal-custom').on('click change', function() {
        $('#goal-yes').attr('checked', true)
      })
    })</script>
{% endblock %}

{% block subnav %}
{% set current_page = path.raw.split('/')[2] %}
{% set show_members = participant.show_as_team(user) %}
{% set show_receiving = (user.participant == participant or not participant.anonymous_receiving) and participant.goal >= 0 %}
{% set show_profile = show_members or show_receiving %}
{% set pages = [ ('/',           _('Profile'),      True,           show_profile)
               , ('/giving/',    _('Giving'),       True,           False)
               , ('/receiving/', _('Receiving'),    True,           show_receiving)
               , ('/history/',   _('History'),      True,           False)
               , ('/widgets/',   _('Widgets'),      True,           False)
               , ('/account/',   _('Account'),      True,           False)
               , ('/members/',   _('Members'),      show_members,   show_members)
               , ('/events/',    _('Events'),       False,          False)
                ] %}
{% set pages = filter_profile_subnav(user, participant, pages) %}
{% if pages %}
<ul class="nav">
    {% for slug, name, show_them, show_others in pages %}
    <li{% if slug == '/members/' and not participant.show_as_team(user) %} class="hidden"{% endif %}><a href="/{{ participant.username }}{{ slug }}"{% if slug.strip('/') == current_page %} class="selected"{% endif %}>{{ _(name) }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
