{% from 'templates/avatar-url.html' import avatar_img with context %}

<div class="avatar {{ 'is-suspicious' if participant.is_suspicious }}">
    <a href="/{{ participant.username }}/">{{ avatar_img(participant) }}</a>

    {% if user.is_admin %}
    <label class="is-suspicious-label">
        Suspicious
        <input type="checkbox" data-username="{{ participant.username }}"
            {% if participant.is_suspicious %}checked="true"{% endif %} />
    </label>
    {% elif participant.is_suspicious %}
    <div class="is-suspicious-label">Suspicious</div>
    {% endif %}
</div>

<div class="mono">
    {% set g = participant.giving %}
    {% set r = participant.receiving %}
    {% set goal = participant.goal %}
    {% set hide_giving = participant.hide_giving %}
    {% set hide_receiving = participant.hide_receiving %}
    {% set giving_str = '[' + _('hidden') + ']' if hide_giving else format_currency(g, "USD") %}
    {% set receiving_str = '[' + _('hidden') + ']' if hide_receiving else format_currency(r, "USD") %}

    <table>
        <tr>
            <td class="left">{{ _('Gives') }}</td>
            <td class="right">{{ giving_str }}</td>
        </tr>
        <tr>
            <td class="left">{{ _('Receives') }}</td>
            <td class="right total-receiving" data-tippee="{{ participant.id }}">{{
                receiving_str if participant.accepts_tips else '&mdash;'|safe
            }}</td>
        </tr>
        {% if goal > 0 %}
        <tr>
            <td class="left">{{ _('Goal') }}</td>
            <td class="right">{{ format_currency(goal, "USD") }}</td>
        </tr>
        {% endif %}
    </table>

    {% if participant.join_time %}
    <p>{{ _('Joined') }} {{ to_age(participant.join_time, add_direction=True) }}.</p>
    {% endif %}
    {% if participant.status == 'closed' %}
    <p>Closed {{ to_age(participant.closed_time, add_direction=True) }}.</p>
    {% endif %}
</div>

{% if participant.accepts_tips and participant != user %}
{% include "templates/your-tip.html" %}
{% endif %}
