% from "templates/nav.html" import nav_profile_edit with context

% extends "templates/base.html"

{% block heading %}{% endblock %}

% block content
<br>
<div class="flex-row block-xs">
    <div class="collapse-xs">
        <button class="btn" type="button"
                data-toggle="collapse" data-target="#subnav-collapse"
                >{{ title + (': ' + subhead if subhead else '') }} <span class="caret"></span></button>
        <ul class="nav nav-tabs-vertical" id="subnav-collapse">
            <li class="header"><h1>{{ participant.username }}</h1></li>
            {{ nav_profile_edit(participant) }}
            <li class="divider"></li>
            <li class="not-a-tab"><a href="{{ participant.path('') }}">{{ _("View") }}</a></li>
        </ul>
    </div>
    <div class="profile-edit">
        % if 'success' in request.qs
            % set success = request.qs.pop('success')
            <div class="alert alert-success">{{
                b64decode_s(success) if success else
                _("The changes have been saved.")
            }}</div>
        % endif
        {% block form %}{% endblock %}
    </div>
</div>
% endblock
