<div class="col1">

    <h2 class="first">You are
        <b class="participant_id">{{ escape(user.id) }}</b>
        <span class="participant_id"><form>
            <input name="participant_id" value="{{ escape(user.id) }}"/>
            <button id="save-participant_id" type="submit" class="selected small">Save</button>
            <button id="cancel-participant_id" type="cancel" class="small">Cancel</button>
        </form></span>
        <button id="edit-participant_id" class="small selected">Edit</button>.

        <span class='small' id='username_edit_warning'>Have you linked to your
        Gittip profile from other websites? Be sure to update those links!</span>
    </h2>

    <h2>Your balance is ${{ user.balance }}.</h2>

    <h2>You give <span id="total-giving">${{ total }}</span> per week.</h2>

    <p>
        <input name="anonymous" class="anonymous" type="checkbox"
            {% if participant.anonymous %}checked="true"{% end %} />
        <label for="anonymous" class="anonymous">Show as
            &ldquo;anonymous&rdquo; on leaderboard.</label>
    </p>


    <h2>What is your personal funding goal on Gittip?</h2>

    <form class="goal">
        <blockquote>

            <table><tr><td>

            <input type="radio" name="goal" id="goal-yes" value="custom"
            {% if user.goal > 0 %} checked="true"{% end %}/>
            <label for="goal-yes">My goal is to receive
                $<input name="goal_custom" id="goal-custom"
                {% if (user.goal is None) or (user.goal == 0) %}
                {% else %}
                value="{{ locale.format("%.2f", user.goal, grouping=True) }}"
                {% end %} />
                per week on Gittip.</label>

            <br />

            <input type="radio" name="goal" id="goal-0" value="null"
            {% if user.goal is None %} checked="true"{% end %}/>
            <label for="goal-0">I&rsquo;m grateful for tips, but I don&rsquo;t
                have a specific funding goal.</label>

            <br />

            <input type="radio" name="goal" id="goal-null" value="0.00"
            {% if user.goal == 0 %} checked="true"{% end %}/>
            <label for="goal-null">I&rsquo;m not here to receive tips.
                I&rsquo;ll generally regift them.</label>

            </td></tr><tr><td class="buttons">

            <button id="save-goal" type="submit" class="small selected">Save</button>
            <button id="cancel-goal" type="cancel" class="small">Cancel</button>

            </td></tr></table>

        </blockquote>
    </form>

    <h2>You receive ${{ backed_amount }} per week.
        <span class="small"><a href="history.html">History</a></span>
    </h2>

    {% if backed_amount > 0 %}

    {% include "tip-distribution.html" %}

    <table id="tip-distribution">
        {% for amount, ncontributors, summed, pcontributors, psummed in giving_chart %}
        <tr>
            {% if str(amount) == '-1' %}
            <td class="amount" colspan="2">Other</td>
            {% else %}
            <td class="dollar-sign">$</td>
            <td class="amount">{{ amount }}</td>
            {% end %}
            <td colspan="2"></td>
            <td class="count">
                <span class="green bar" style="width: {{ psummed * 300 }}pt"></span>
                {{ "%5.1f" % (psummed * 100) }}%
                <span class="number">(${{ summed }})</span>
            </td>
        </tr>
        {% end %}
    </table>
    {% end %}

    </div>
    <div class="col2">


    <h2>Contribution</h2>

    <form class="statement"
        {% if participant.statement %}style="display: none;"{% end %}>
        <blockquote>
            {{ MAKING }} ...
            <textarea>{{ participant.statement }}</textarea>
            <span class="help">Newlines and links are converted to HTML.</span>
            <button id="save-statement" type="submit" class="selected small">Save</button>
            <button id="cancel-statement" type="cancel" class="small">Cancel</button>
        </blockquote>
    </form>

    <blockquote id="my-statement" class="statement"
        {% if not participant.statement %}style="display: none"{% end %}>
            {{ MAKING }} <span>
            {{ wrap(participant.statement) }}</span><br />
        <button class="small selected">Edit</button>
    </blockquote>

    <blockquote id="my-goal" class="goal">
        <div>
        {% if user.goal > 0 %}
        My goal is to receive ${{ locale.format("%.2f", user.goal, grouping=True) }} per week on Gittip.
        {% elif user.goal == 0 %}
        I&rsquo;m not here to receive tips. I&rsquo;ll generally regift them.
        {% else %}
        I&rsquo;m grateful for tips, but I don&rsquo;t have a specific funding
        goal.
        {% end %}
        </div>
        <button class="small selected">Edit</button>
    </blockquote>
    {% include "connected-accounts.html" %}
</div>
