% from 'templates/avatar-url.html' import avatar_img with context
% from "templates/icons.html" import glyphicon
% from "templates/profile-goal-bar.html" import profile_goal_bar with context

% macro profile_box_full(participant)
    % call profile_box(participant)
        {{ profile_box_full_col2(participant) }}
    % endcall
% endmacro

% macro profile_box_embedded(participant, nmembers=None)
    % call profile_box(participant, embedded=True)
        {{ profile_box_embedded_col2(participant, nmembers=nmembers) }}
    % endcall
% endmacro

% macro profile_box(participant, embedded=False)
    <div class="panel panel-default profile-box {{ 'profile-box-embedded' if embedded }}"
         {% if embedded %} href="{{ participant.path('') }}" {% endif %}>
        <div class="panel-body">
            <div class="avatar-col">
                % if embedded
                    <a href="{{ participant.path('') }}">{{
                        avatar_img(participant, size=120)
                    }}</a>
                % else
                    {{ avatar_img(participant, size=120) }}
                % endif

                % if edit
                    <a class="btn btn-default" href="#avatar"
                        >{{ _("Modify your avatar") }}</a>
                % elif participant.join_time and not embedded
                <p class="join-time">{{ _('Joined {0} ago.', to_age(participant.join_time)) }}</p>
                % endif
                % if participant.status == 'closed'
                <p>{{ _('Closed {0} ago.', to_age(participant.closed_time)) }}</p>
                % endif
            </div>

            <div class="col-right">
                {{ caller() }}
            </div>
        </div>
    </div>
% endmacro

% macro profile_box_full_col2(participant)
    % set username = participant.username
    % set giving = participant.giving
    % set receiving = participant.receiving
    % set goal = participant.goal
    % set giving_str = Money(giving, 'EUR')
    % set receiving_str = Money(receiving, 'EUR')
    % set goal_str = goal and Money(goal, 'EUR')

    % if participant.hide_giving or participant.hide_receiving
        <p>{{ _("{0} doesn't publish how much they give and receive.", username) }}</p>
    % elif goal == None
        % if participant.kind != 'group'
            <p>{{ _("{0} receives {1} and gives {2} per week.", username, receiving_str, giving_str) }}</p>
        % else
            <p>{{ _("{0} receives {1} per week.", username, receiving_str, giving_str) }}</p>
        % endif
    % elif goal > 0
        % if receiving == 0
            <p>{{ _("{0}'s goal is to receive {1} per week.", username, goal_str) }}</p>
            <p>{{ _("Be the first to contribute!") }}</p>
        % else
            <h1>{{ username }}</h1>
            {{ profile_goal_bar(participant) }}
        % endif
    % else
        <p>{{ _("{0} gives {1} per week.", username, giving_str) }}</p>
    % endif

    % if participant.accepts_tips
        % set tip = user.get_tip_to(participant)
        % set donate_path = participant.path('donate')
        % if tip['amount']
            <a class="btn btn-default" href="{{ donate_path }}">{{
                _("Modify your donation ({0})", Money(tip['amount'], 'EUR'))
            }}</a>
        % else
            <a class="btn btn-donate {{ 'btn-lg' if goal is none or receiving < goal else '' }}"
               href="{{ donate_path }}">
                {{ glyphicon('thumbs-up') }}
                <span>{{ _("Donate") }}</span>
            </a>
        % endif
    % else
        <p>{{ _("This user doesn't accept donations.") }}</p>
    % endif
% endmacro

% macro profile_box_embedded_col2(participant, nmembers=None)
    % set username = participant.username
    % set receiving = participant.receiving
    % set goal = participant.goal

    <h4><a href="/{{ username }}/">{{ username }}</a></h4>

    % if participant.hide_receiving
    % elif goal == None
        <p>{{ _("Income: {0}/week", Money(receiving, 'EUR')) }}</p>
    % elif goal > 0
        {{ profile_goal_bar(participant) }}
    % else
        <p>{{ _("This user doesn't accept donations.") }}</p>
    % endif

    % if nmembers
        {{ ngettext("{n} member", "{n} members", nmembers) }}
    % endif
% endmacro
