% from "templates/nav.html" import nav_settings with context

% extends "templates/base.html"

% block main
<div class="content-with-nav nav-left">
    <div class="nav-col">
        <input id="subnav-settings" class="subnav-toggler sr-only" type="checkbox" />
        <label for="subnav-settings">{{ title + (': ' + subhead if subhead else '') }} <span class="caret"></span></label>
        <ul class="nav nav-aside">
            <li class="header"><h1>{{ participant.username }}</h1></li>
            {{ nav_settings(participant) }}
        </ul>
    </div>
    <div class="content-col">
        % if 'success' in request.qs
            % set success = request.qs.pop('success')
            <div class="alert alert-success">{{
                b64decode_s(success) if success else
                _("The changes have been saved.")
            }}</div>
        % endif
        {% block content %}{% endblock %}
    </div>
</div>
% endblock
