% extends "templates/base.html"

% block subnav
    {% set pages = ([
        ('/giving/', _("Giving")),
        ('/receiving/', _("Receiving")),
        ('/ledger/', _("Ledger")),
        ('/wallet/', _("Wallet")),
        ('/payment/', _("Payment Processors")),
        ('/identity', _("Identity")),
        ('/settings/', _("Settings")),
    ] if participant.mangopay_user_id else [
        ('/giving/', _("Giving")),
        ('/receiving/', _("Receiving")),
        ('/ledger/', _("Ledger")),
        ('/payment/', _("Payment Processors")),
        ('/identity', _("Identity")),
        ('/settings/', _("Settings")),
    ] if participant.is_person else [
        ('/receiving/', _("Receiving")),
    ]) + [
        ('/emails/', _("Emails")),
        ('/widgets/', _("Widgets")),
    ] + ([
        ('/admin', "Admin")
    ] if user.is_admin else []) %}
    % from "templates/nav.html" import nav with context
    <div class="collapse-md">
    <button class="btn btn-default" type="button"
            data-toggle="collapse" data-target="#subnav-collapse"
            >{{ title + (': ' + subhead if subhead else '') }} <span class="caret"></span></button>
    <ul class="nav nav-tabs" id="subnav-collapse">
        {{ nav(pages, base='/'+participant.username) }}
    </ul>
    </div>
% endblock
