% include "templates/form-repost.html"

<p>{{ _("Please input your email address:") }}</p>
<div class="form-group">
<input name="sign-in.email" type="email" autocomplete="email" class="form-control"
       required pattern=".*@.*"
       placeholder="{{ _('Email') }}" />
</div>

<button class="btn btn-default">{{ _("Go") }}</button>

<br><br>
<p class="alert alert-info">{{ _(
    "By creating a Liberapay account you accept our {0}Terms of Service{1}.",
    '<a href="/about/legal#terms">'|safe, '</a>'|safe,
) }}</p>
