% macro sign_up_form(select_currency=True)
<input type="hidden" name="sign-in.token" value="{{ generate_session_token() }}" />

% include "templates/form-repost.html"

<p>{{ _("Please input your email address:") }}</p>
<div class="form-group">
<input name="sign-in.email" type="email" autocomplete="email" class="form-control"
       required pattern=".*@.*"
       placeholder="{{ _('Email') }}" />
</div>

% if select_currency
<p>{{ _("and select your preferred currency:") }}</p>
<div class="form-group">
% from "templates/currencies.html" import currency_buttons with context
{{ currency_buttons('sign-in.currency', currency) }}
</div>
% endif

<button class="btn btn-default">{{ _("Go") }}</button>

<br><br>
<p class="alert alert-info">{{ _(
    "By creating a Liberapay account you accept our {0}Terms of Service{1}.",
    '<a href="/about/legal#terms">'|safe, '</a>'|safe,
) }}</p>
% endmacro
