{% from 'templates/auth.html' import auth_button with context %}

<div class="sign-in">
  <div class="dropdown">
    <button class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    {% for platform in website.signin_platforms %}
      <li class="{{ platform.name }}">
        {% call auth_button(platform.name, 'opt-in') %}
            {{ platform.display_name }}
        {% endcall %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
