<div class="row">
<form class="col-md-6 form-inline" action="" method="POST">

    % include "templates/form-repost.html"
    <input name="csrf_token" type="hidden" value="{{ csrf_token }}" />

    <h2>{{ _("Log in") }}</h2>

    % if request.log_in_failed
        <p class="alert alert-error">{{ _("Bad username or password") }}</p>
    % endif

    <input name="log-in.username" autocomplete="username" class="form-control"
           required placeholder="{{ _('Username') }}" />
    <input name="log-in.password" type="password" autocomplete="current-password" class="form-control"
           required placeholder="{{ _('Password') }}" />

    <button class="btn btn-default">{{ _("Go") }}</button>

</form>
<form class="col-md-6" action="" method="POST">

    <h2>{{ _("Create an account") }}</h2>

    % include "templates/form-repost.html"
    <input name="csrf_token" type="hidden" value="{{ csrf_token }}" />

    <div class="form-group">
    <input name="sign-in.username" autocomplete="username" class="form-control"
           required maxlength="{{ constants.USERNAME_MAX_SIZE }}"
           placeholder="{{ _('Username') }}" />
    </div>
    <div class="form-group">
    <input name="sign-in.email" type="email" autocomplete="email" class="form-control"
           required pattern=".*@.*"
           placeholder="{{ _('Email') }}" />
    </div>
    <div class="form-group">
    <input name="sign-in.password" type="password" autocomplete="new-password" class="form-control"
           required minlength="{{ constants.PASSWORD_MIN_SIZE }}"
                    maxlength="{{ constants.PASSWORD_MAX_SIZE }}"
           placeholder="{{ _('Password') }}" />
    </div>
    <div class="form-group form-inline">
        <select id="kind" name="sign-in.kind" class="form-control">
            <option value="individual">{{ _("Individual") }}</option>
            <option value="organization">{{ _("Organization") }}</option>
        </select>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" name="sign-in.terms" value="agree" required />
            {{ _("I accept {0}Liberapay's Terms of Service{1}",
                 '<a href="/about/legal#terms">'|safe,
                 '</a>'|safe) }}
        </label>
    </div>

    <button class="btn btn-default">{{ _("Go") }}</button>

</form>
</div>