<div class="sign-in">
  <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign in <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li class="twitter">
        <a href="{{ website.platforms.get('twitter').oauth_url(u'opt-in', path.decoded) }}">
          Twitter
        </a>
      </li>
      <li class="github">
        <a href="{{ website.platforms.get('github').oauth_url(website, u'opt-in', path.decoded) }}">
          GitHub
        </a>
      </li>
      <li class="bitbucket">
        <a href="{{ website.platforms.get('bitbucket').oauth_url(u'opt-in', path.decoded) }}">
          Bitbucket
        </a>
      </li>
    </ul>
  </div>
</div>
