{% if not user.ANON and user.participant.suggested_payment > 0 and user.participant.is_free_rider is none %}
<div class="support-gittip">
    <div class="cta">
        {% if website.support_current < 30 %}Only {% endif %}
        {{ website.support_current }}% of active users also <a href="/Gittip/">support Gittip</a>.
        {% if website.support_goal %}
        Will you help us reach {{ website.support_goal }}%?
        {% else %}
        Will you join them?
        {% endif %}
    </div>
    <div class="knobs">
        <button class="low" data-amount="{{ cta_low[0] }}">{{ cta_low[1] }}</button><button
            class="high" data-amount="{{ cta_high[0] }}">{{ cta_high[1] }}</button>
        <a class="other" href="/Gittip/">Other</a><a class="no-thanks" href="">No thanks</a>
    </div>
    <div class="help">
        We fund Gittip solely through your voluntary payments!
        <a href="/about/pricing">Learn more</a>.
    </div>
</div>
{% endif %}
