% set CLASSES = ('info', 'success', 'warning', 'danger')

% macro get_cls(m)
    {{ CLASSES[min(max(int(m['nominal_take'] / (m['last_week'] or 1) * 2 - 1), 0), 3)] }}
% endmacro

% macro team_takes_table(team, cls='')
    % set members = team.get_members()
    % if user.id in members and members[user.id]['max_this_week']
        <p>{{ _(
            "Your nominal take from the {0} team is limited to {1} this week. "
            "{2}Why?{3}",
            team.username,
            format_decimal(members[user.id]['max_this_week'], '#,##0.00'),
            '<a href="/about/teams#throttling">'|safe, '</a>'|safe
        ) }}</p>
    % endif
    <table class="table valign-middle team {{ cls }}">
      <thead>
        <tr>
          <th></th>
          <th>{{ _("Last Payday") }}</th>
          <th colspan=2>{{ _("Next Payday") }}</th>
        </tr>
        <tr>
          <th>{{ _("Member") }}</th>
          <th>{{ _("Nominal Take") }}</th>
          <th>{{ _("Nominal Take") }}</th>
          <th>{{ _("Actual Take") }}</th>
        </tr>
      </thead>
      <tbody>
        % for member in members.values()
        <tr>
            <td><a href="/{{ member.username }}/">{{ member.username }}</a></td>
            <td>{{ format_decimal(member.last_week, '#,##0.00') }}</td>
            % set cell_cls = get_cls(member) if member.nominal_take != member.last_week else ''
            % if member.id == user.id
                <td class="{{ cell_cls or 'active' }}">
                    <form action="/~{{ team.id }}/income/take?back_to={{ urlquote(request.line.uri) }}"
                          method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
                        <div class="input-group">
                            <input class="form-control" name="take" value="{{ format_decimal(member.nominal_take, '#,##0.00') }}" />
                            <span class="input-group-btn"><button class="btn btn-default" title="{{ _("Update my nominal take") }}" type="submit"><i class="fa fa-edit"></i></button></span>
                        </div>
                    </form>
                </td>
            % else
                <td class="{{ 'text-'+cell_cls }}">{{ format_decimal(member.nominal_take, '#,##0.00') }}</td>
            % endif
            <td>{{ format_currency(member.actual_amount, 'EUR') }}</td>
        </tr>
        % endfor
        <tr class="leftover">
            <td>
            <span class="help-title" title="{{ _(
                    'Unclaimed income stays in the wallets of donors, it does '
                    'not accrue in the team account. As teams are not legal '
                    'entities, we cannot hold money in their names.'
                ) }}">{{ _("Leftover") }}</span></td>
            <td></td>
            <td></td>
            <td class="{{ 'info' if members.leftover else '' }}"
                >{{ format_currency(*members.leftover) }}</td>
        </tr>
      </tbody>
    </table>
% endmacro
