    <table class="tip-distribution">
        % for amount, ncontributors, summed, summed_converted, pcontributors, psummed in tip_distribution
        <tr>
            <td class="amount">{{ format_money(amount) }}</td>
            <td class="count">
                <div class="wrapper">
                <span class="bar width-{{ int(pcontributors * 100) }}"></span>
                {{- format_percent(pcontributors) }}
                <span class="number">({{ ncontributors }})</span>
                </div>
            </td>
        </tr>
        % endfor
    </table>
