    <table class="tip-distribution">
        % for amount, ncontributors, summed, pcontributors, psummed in tip_distribution
        <tr>
            <td class="currency-symbol">€</td>
            <td class="amount">{{ amount }}</td>
            <td class="count">
                <span class="bar" style="width:{{ pcontributors * 240 }}pt"></span>
                {{ "%5.1f" % (pcontributors * 100) }}%
                <span class="number">({{ ncontributors }})</span>
            </td>
        </tr>
        % endfor
    </table>
