"""Show information about a single participant. It might be you!
"""
from gittip import AMOUNTS
from gittip.utils import get_participant

# ========================================================================== ^L

participant = team = get_participant(request, restrict=False)
if team.type != 'open group':
    request.redirect('../')
locked = False
tip_or_pledge = "tip"
hero = "Team Members"
title = team.username     # used in the title tag
username = team.username  # used in footer shared with on/$platform/
                                  # pages
github_account, twitter_account, bitbucket_account, bountysource_account = \
                                                  team.get_accounts_elsewhere()

# ========================================================================== ^L
{% extends templates/profile.html %}

{% block page %}
<script src="/assets/{{ __version__ }}/gittip/team.js"></script>
<script>$(document).ready(Gittip.team.init);</script>

<div id="team" class="col0">
  <table>
      <tr>
        <th>Member</th>
        <th class="figure">Take ($)</th>
        <th class="figure">Balance ($)</th>
        <th class="figure">Take (%)</th>
      </tr>
      <tr>
        <td></td>
        <td class="figure take"></td>
        <td class="figure balance">
          {{ participant.get_dollars_receiving() }}
        </td>
        <td class="figure percentage"></td>
      </tr>
      {% if user == team %}
      <tr>
        <td colspan="4" id="lookup-container">
          <form>
              <input tabindex="1" id="query"
                     autocomplete="off"
                     placeholder="Enter a Gittip username"
                 />&nbsp;<button type="submit"
                                 tabindex="2">Add</button>
          </form>
          <ul id="lookup-results"></ul>
        </td>
      </tr>
      {% end %}
      <tbody id="members"></tbody>
  </table>
</div>
{% end %}
