html, body, #wrapper { height: 100%; }

body {
    background: #434343 url("pennies.jpg") no-repeat;
    background-size: 100% auto;
    background-position: 0 -54px;
    line-height: 100%;
}

#header {
    background: transparentize($white, 0.1);
    border-bottom: 1px solid $brown;

    h1 {
        line-height: 100%;
        height: 78px;
        overflow: hidden;
        float: left;
        a {
            display: inline-block;
            border-top: 4px solid transparent;
            padding: 6px 10px 10px;
            img {
                display: inline-block;
                width: 180px;
            }
            &:hover {
                border-top-color: $gold;
                background: transparentize($gold, 0.8);
            }
        }
    }
    .nav {
        line-height: 100%;
        display: inline-block;
        height: 78px;
        float: left;
        margin-left: 15px;

        li {
            float: left;
            margin: 0;
            a {
                height: 78px;
                font: normal 16px/16px $Ideal;
                display: inline-block;
                padding: 27px 25px 31px;
                border-top: 4px solid transparent;
                color: $black;
                &.selected {
                    border-top-color: $brown;
                    background: transparentize($brown, 0.9);
                    font-weight: bold;
                }
                &:hover {
                    border-top-color: $gold;
                    background: transparentize($gold, 0.8);
                }
            }
        }
    }
    .you-are {
        float: right;
        white-space: nowrap;
        .quick-stats {
            font: normal 11px/13px $Mono;
        }
        li {
            text-align: right;
            float: left;
            a#sign-out {
                padding-right: 20px; // tweak to make icon placement look right
                .icon {
                    font: normal 20px/20px 'icomoon';
                }
            }
        }
    }
}

#main {
    display: table;
    height: 100%;
    table-layout: fixed;
    width: 100%;
}

#sidebar {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    padding: 20px;
    background: transparentize($brown, 0.1);
    color: $white;

    div.avatar {
        margin-bottom: 20px;
        &.is-suspicious {
            background: transparentize($light-red, 0.1);
        }
        img {
            width: 160px;
            height: 160px;
            @include border-radius(5px);
        }
    }

    .nav {
        margin: 0 -20px;
        li {
            margin: 0;
        }
        a {
            padding: 5px 20px 5px 38px;
            text-indent: -20px;
            display: block;
            color: $white;
            font-weight: normal;
            border-left: 2px solid transparent;
            &.selected {
                border-color: $gold;
                background: transparentize($gold, 0.8);
                color: $white;
                font-weight: bold;
            }
            &:hover {
                border-color: $gold;
                background: transparentize($gold, 0.8);
            }
        }
    }

    .right {
        text-align: right;
    }

    p, table {
        line-height: 150%;
    }

    table {
        width: 100%;
        margin-bottom: 10px;
        .left {
            padding-right: 10px;
        }
    }

    .is-suspicious-label {
        text-align: right;
        padding: 3px 0;
        font-size: 10px;
        text-transform: uppercase;
        display: block;
    }

    .sign-in-to {
        line-height: 125%;
        margin-top: 50px;
        .dropdown-toggle {
            margin-bottom: 3px;
        }
    }
}

#content {
    display: table-cell;
    vertical-align: top;
    font: 300 16px/27px $Chronicle;
    padding: 0 40px 40px;
    background: transparentize($white, 0.03);

    h1 {
        color: $black;
        font: bold 28px/33px $Ideal;
        margin: 40px 0 5px 0;
    }
    .nav {
        @include clearfix;
        line-height: 100%;
        display: block;
        position: relative;
        margin-bottom: 20px;
        li {
            display: inline;
            margin: 0;
            float: left;
            padding: 0 5px;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
            a {
                font: normal 14px/14px $Ideal;
                height: 24px;
                display: inline-block;
                padding: 5px 0;
                margin-bottom: 5px;
                color: $gray;
                &.selected {
                    padding-bottom: 3px;
                    border-bottom: 2px solid $green;
                    font-weight: bold;
                }
                &:hover {
                    background: transparentize($gold, 0.8);
                }
            }
        }
    }
    a:hover {
        background: transparentize($gold, 0.8);
    }
    ul {
        list-style: outside disc;
    }
}

.col {
    width: auto;
    margin: 0 auto;
}

.col0, .col1 {
    width: 50%;
}

.col0 {
    min-width: 420px;
}

.row {
    margin: 0 -20px;
    @include clearfix;
}

.col1 {
    float: left;
    padding: 0 20px;
}

.payment-footer {
    font: normal 12px $Ideal;
    text-align: center;
}

#footer {
    background: transparentize($white, 0.1);
    border-top: 1px solid $brown;
    padding: 10px 40px;
    text-align: right;
    font-size: 13px;
    line-height: 13px;
    @include clearfix;

    li {
        display: inline-block;
        margin: 0;

        a {
            display: inline-block;
            margin: 0 0.3em;
            padding: 0.25em 0.5em;
        }

        &:first-child:before {
            content: none;
        }
    }
}
