// Pretty sure I want to kill this whole file.

.box {
    text-align: center;

    h1 {
        font: bold 22px $Ideal;
        color: $brown;
    }
    h2 {
        font: bold 14px $Ideal;
        text-transform: uppercase;
        color: $brown;
    }

    .help {
        font: normal 14px/18px $Ideal;
        color: $black;

        &.with-padding {
            padding: 10px;
        }
    }

    .ready {
        padding-left: 15px;
    }
    .number {
        font: bold 56px $Ideal;
    }
    .unit {
        font: normal 12px $Ideal;
    }

    .on-community {
        padding: 10px;
    }

    .on-elsewhere {
        width: 100%;

        .offset {
            width: 138px;
            height: 138px;
        }

        .picture {
            width: 138px;
            height: 138px;

            img {
                width: 128px;
                height: 128px;

                /* Without this we are inline-block and we get an extra 4px.
                 * Is that due to line-height, maybe? */
                display: block;
                margin: 5px;
            }
        }
    }
}
