// Pretty sure I want to kill this whole file.

.box {
    text-align: center;

    h1 {
        font: bold 22px $Ideal;
        color: $brown;
    }
    h2 {
        font: bold 14px $Ideal;
        text-transform: uppercase;
        color: $brown;
    }

    .help {
        font: normal 14px/18px $Ideal;
        color: $black;

        &.with-padding {
            padding: 10px;
        }
    }

    .as-content {
        padding: 20px;
        &.left {
            text-align: left;
        }

        h1 {
            padding-bottom: 15px;
        }

        input {
            padding: 2px;
            width: 8em;
        }
    }

    .is-suspicious-indicator {
        display: block;
        position: absolute;
        top: 5px;
        right: 5px;
        font: normal 10px $Ideal;
        text-transform: uppercase;
        color: $black;
    }

    label.is-suspicious-knob {
        display: block;
        position: absolute;
        top: 2px;
        right: 5px;
        font: normal 9px $Ideal;
        text-transform: uppercase;
        color: $black;

        input {
            position: relative;
            top: 3px;
        }
    }

    .ready {
        padding-left: 15px;
    }
    .number {
        font: bold 56px $Ideal;
    }
    .unit {
        font: normal 12px $Ideal;
    }

    .on-community {
        padding: 10px;
    }

    .on-elsewhere {
        width: 100%;

        .offset {
            width: 138px;
            height: 138px;
        }

        .picture {
            width: 138px;
            height: 138px;

            img {
                width: 128px;
                height: 128px;

                /* Without this we are inline-block and we get an extra 4px.
                 * Is that due to line-height, maybe? */
                display: block;
                margin: 5px;
            }
        }
    }

    .on-profile {
        width: 100%;

        &.is-suspicious {
            background: $light-red;
        }
        .picture {
            width: 138px;
            height: 138px;

            img {
                width: 128px;
                height: 128px;

                /* Without this we are inline-block and we get an extra 4px.
                 * Is that due to line-height, maybe? */
                display: block;
                margin: 5px;
            }
        }
        td {
            text-align: left;
        }
        .pad-sign {
            padding-left: 36px;
        }
        /*
        form {
            margin-bottom: 0;
            margin-top: 12px;

            input {
                width: 30%;
            }
        }
        */
    }

    .on-confirm {
        padding: 35px 0 0;

        h2 {
            font: bold 14px $Ideal;
            text-transform: uppercase;
            margin: 35px 0 8px;
        }
        .nav {
            margin: 35px 0 0;
            h2 {
                margin: 8px 0;
            }
        }

        .scenario {
            margin: 0 auto;
        }
        .scenario td {
            padding: 6pt;
            width: 33%;
        }
        #nix {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -16px 0 0 -16px;
        }
        .participant {
            position: relative;
            width: 96pt;
            display: inline-block;
            border: 2px solid $brown;
            border-radius: 6pt;
            font: normal 12px $Ideal;
            color: $brown;
            background: white url("clipped-heart.png") bottom right no-repeat;
            text-align: left;
            overflow: hidden;
        }
        .participant-padding {
            display: block;
            padding: 6pt 0 6pt 9pt;
        }
        .participant img, img.platform-icon {
            width: 12px;
            height: 12px;
        }
        .participant b {
            font-size: 11pt;
        }
        .participant td {
            padding: 0;
        }
        .participant th {
            font-weight: normal;
        }
        .other, .abandoned {
            font: normal 10px $Ideal;
        }
        .abandoned {
            text-align: center;
            overflow: hidden;
        }
        .nix {
            border-color: $light-brown;
        }
        .other b {
            font-size: 9pt;
        }
    }


    .on-form {
        text-align: left;

        .constrain-width {
            margin: 0 auto 35px;
            width: 300px;
        }
        form {
            h2 {
                font: bold 14px $Ideal;
                text-transform: uppercase;
                margin: 35px 0 8px;
            }
        }

        .half {
            width: 150px;
        }
        .full {
            clear: both;
            text-align: right;
            padding-top: 5px;
        }
        #other {
            font: normal 9pt/14pt Arial, sans-serif;
            color: #00E;
            cursor: pointer;
            margin-right: 1em;
        }
        #other:hover {
            text-decoration: underline;
        }
        .info{
            font-size:10px;
            padding-top:20px;
        }
        .left {
            float: left;
        }
        .right {
            float: left;
        }
        label {
            display: block;
            font: normal 10px $Ideal;
            margin: 8px 0 0;
            padding: 0;
            text-transform: uppercase;
        }
        input[type="radio"] + label {
            display: inline;
            margin: 0;
        }
        input[type="radio"]:disabled + label {
            color: #888;
        }
        input:not([type]), input[type="text"] {
            font: normal 11pt/14pt $Ideal;
            width: 292px;
            margin: 0;
            padding: 3px;
            border: 1px solid $light-brown;
            outline: none;
        }
        input.disabled {
            color: $light-brown;
        }
        input[type="radio"] {
            vertical-align: middle;
        }

        .half input {
            width: 137px;
        }
        .right.half label,
        .right.half input {
            margin-left: 5px;
        }
        input:focus {
            border-color: $green;
        }
        .float {
            float: left;
        }
        .city          input { width: 137px; }
        .state         input { width: 43px; }
        .zip           input { width: 75px; }
        .card_number   input { width: 292px; }
        .cvv           input { width: 50px; }
        input.expiration_month { width: 35px;}
        input.expiration_year  { width: 35px; margin-left: 1px !important;}
        .not-first label,
        .not-first input {
            margin-left: 10px;
        }
        .nav {
            text-align: center;
        }
        #feedback {
            .details li {
                margin: 0;
                padding: 0 0 0 2em;
                text-indent: -2em;
                font: normal 12px $Ideal;
            }
        }
        select {
            font-size: 12.15px; // hack for Chosen to get a 292px width
        }
    }
}

