#sidebar .cta {
    padding: 0 20px;
    margin: 0 0 40px;
    text-align: right;

    h2 {
        margin: 0;
        padding: 0 0 10px;
        color: $white;
    }

    .payment-amount {
        /* Match content h1 */
        font: bold 28px/37px $Ideal;
    }
    .per-week {
        margin-bottom: 10px;
        font: normal 14px/14px $Ideal;
    }

    form.your-tip {
        input {
            display: none;
            width: 120px;
            height: 33px;
            text-align: right;
            font: bold 28px/28px $Ideal;
            color: $black;
        }
        .save, .cancel {
            display: none;
        }
    }
    button {
        background: $white;
        color: $brown;
        &.edit, &.join {
            background: $gold;
        }
        &.edit.not-zero, &.cancel, &.leave {
            background: transparentize($white, 0.5);
        }
        &:hover {
            background: $green !important;
            color: $white;
        }
    }

    #payment-prompt {
        font-size: smaller;
        margin: 0;
        padding: 20px 0 0;
        a {
            color: $gold;
            &:hover {
                color: $white;
            }
        }
    }
}
