.sign-in {
    display: inline-block;
    vertical-align: middle;
    .dropdown-toggle {
        background: $green;
        @include border-radius(3px);
        color: #fff;
        padding: 0 8px;
        display: block;
        font-size: 13px;
        line-height: 25px;
        .caret {
            border-top: 4px solid #fff;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            margin-top: 11px;
        }
        &.highlight {
            @include box-shadow(0, 0, 8px, $green);
            background: $darker-green;
        }
    }
    .open .dropdown-toggle, .dropdown-toggle:hover {
        background: $darker-green;
    }
    .dropdown-menu {
        top: 24px;
        @include border-radius(3px);
        border: 0;
        box-shadow: none;
        background: $green;
        min-width: 140px;
        li {
            margin: 0;
            &.facebook button {
                @include has-icon("facebook");
            }
            &.google button {
                @include has-icon("google");
            }
            &.twitter button {
                @include has-icon("twitter");
            }
            &.github button {
                @include has-icon("github");
            }
            &.bitbucket button {
                @include has-icon("bitbucket");
            }
            &.openstreetmap button {
                @include has-icon("openstreetmap");
            }
            &:hover button {
                background: $darker-green;
            }
        }
        button {
            color: #fff;
            display: block;
            width: 100%;
            padding: 3px 8px;
            margin: 0;
            text-align: left;
            position: relative;
            font-size: 13px;
            border: none;
            @include border-radius(0);
            background: none;
        }
        button:before {
            position: absolute;
            top: 4px;
            right: 5px;
        }
        form {
            display: block;
            margin: 0;
            padding: 0;
        }
    }
    #header & {
        float: right;
        &:hover {
            .dropdown-toggle {
                background: transparentize($gold, 0.8);
                padding-top: 27px;
                border-top: 4px solid $gold;
            }
        }
        .dropdown-toggle {
            @include border-radius(0);
            background: none;
            padding: 31px 10px 31px 40px;
            color: $black;

            font-size: 16px;
            line-height: 16px;

            .caret {
                border-top: 5px solid $black;
                border-right: 5px solid transparent;
                border-left: 5px solid transparent;
                margin-top: 6px;
            }
        }
        .dropdown-menu {
            left: auto;
            top: 76px;
            right: 0;
            @include border-radius(0);
            background: transparentize($gold, 0.8);
            button {
                color: $black;
                &:hover {
                    background: transparentize($brown, 0.8);
                }
            }
        }
    }
}
