.tip {
    background: $gold;
    color: $brown;
    padding: 20px;
    margin: 0 0 40px;
    text-align: center;
}

form.my-tip {
    &.changed {
        .reset-tip {
            cursor: pointer;
            display:inline;
        }
        .confirm-tip {
            cursor: pointer;
            display:inline;
        }
        .cancel-tip {
            display:none;
        }
    }
}

input.my-tip {
    width: 90px;
    height: 28px;
    text-align: right;
    font: bold 24px/28px $Ideal;
}
