form.my-tip {
    &.changed {
        .reset-tip {
            cursor: pointer;
            display:inline;
        }
        .confirm-tip {
            cursor: pointer;
            display:inline;
        }
        .cancel-tip {
            display:none;
        }
    }
}

input.my-tip {
    width: 90px;
    height: 28px;
    text-align: right;
    font: bold 24px/28px $Ideal;
}
