div.my-tip {
    line-height: 1.7em;
    overflow: hidden;

    .tip-controls {
        text-align: right;
        width: 60%;
        float: left;

        .tip-suggestions {
            display: inline-block;
            font-size: 0.9em;

            li {
                float: left;
                margin: 0;

                &:before {
                    content: ", ";
                }

                &:first-child:before {
                    content: "";
                }
            }
        }
    }

    .tip-actions {
        width: 38%;
        float: right;
        text-align: left;
        border-left: 1px solid $brown;
        padding-left: 1.9%;

        .cancel-tip {
            font-size: 0.9em;
        }
    }
}
