* {
    box-sizing: border-box;
}

body {
    color: $black;
    font: normal 16px/21px $Ideal;
    min-width: 320px;
    text-rendering: optimizeLegibility;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a {
    color: $green;
    text-decoration: none;
    font-weight: bold;
}
a img {
    border: 0;
}
p, dd {
    margin: 0 0 1em;
    padding: 0;
}
h2 {
    color: $black;
    font: bold 14px/14px $Ideal;
    text-transform: uppercase;
    margin: 2em 0 0.5em;
}
dt {
    font-weight: bold;
    margin: 1em 0 0.3em;
}
dt:target, dt:target + dd {
    -webkit-animation: target-fade 3s 1;
    -moz-animation: target-fade 3s 1;
}
@-webkit-keyframes target-fade {
    0% { background-color: rgba(yellow,.3); }
    100% { background-color: rgba(yellow,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(yellow,.3); }
    100% { background-color: rgba(yellow,0); }
}
pre {
    font: 11px/13px monospace;
    margin: 0 0 11px 11px;
    padding: 0;
    overflow: auto;
}
li {
    margin: 0 0 0.5em 2em;
}
ol {
    margin: 1em 0 0;
}
p + ol, p + ul {
    margin-top: -0.5em;
}
ol + p, ul + p {
    margin-top: 1em;
}
ol li {
    list-style: outside decimal;
}
ol.upper-roman li { list-style-type: upper-roman; }
ol.upper-alpha li { list-style-type: upper-alpha; }
ol.decimal li { list-style-type: decimal; }
ol.lower-roman li { list-style-type: lower-roman; }
ol.lower-alpha li { list-style-type: lower-alpha; }


textarea {
    @include border-radius(3px);
    border: 1px solid $brown;
}

input {
    &[type="text"], &[type="number"], &[type="password"] {
        @include border-radius(3px);
        height: 22px;
        border: 1px solid $brown;
        padding: 0 4px;
        line-height: 22px;
    }

    &[type="number"] {
        text-align: right;
    }
}

table.simple {
    margin: 0 auto 1em;
    th, td {
        padding-right: 1em;
    }
    th {
        font-weight: bold;
    }
    td.right {
        text-align: right;
        padding-right: 42px;
    }
}
.mono {
    font: normal 12px/16px $Mono;
}
