[Unit]
Description=Cloudflare Tunnel daemon for web app #%i
After=network.target webapp@%i.service
Wants=network.target
BindsTo=webapp@%i.service

[Service]
Type=notify
ExecStart=/usr/local/bin/cloudflared --no-autoupdate tunnel --config /etc/cloudflared/cloudflared.conf --protocol h2mux run
User=cloudflared
Group=cloudflared
Restart=on-failure
RestartSec=5s
