[Unit]
Description=Web application daemon #%i
Requires=webapp@%i.socket

[Service]
User=webapp
Group=webapp
Type=notify
WorkingDirectory=/var/app/current/
EnvironmentFile=/opt/elasticbeanstalk/deployment/env
Sockets=webapp@%i.socket
ExecStart=/var/app/venv/staging-LQM1lest/bin/python app.py --bind fd:3

Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=web

# When stopping, send the initial SIGTERM to the main process only.
KillMode=mixed
