title = "Why &ldquo;Logstown&rdquo;?"
youtube = "X55ObRhlcMA"
^L
{% extends "page.html" %}
{% block html %}

<h3>See Also</h3>
<p>
    <a href="http://en.wikipedia.org/wiki/Logstown">Logstown</a> (Wikipedia)
    <br />
    <a href="/pages/logstown/">What is Logstown?</a>
</p>

<h3><i>Welcome to Logstown</i></h3>

<p>by <a href="http://www.robertgriffing.com/">Robert Griffing</a></p>
<p><a href="Welcome-to-Logstown.jpg"><img
        src="Welcome-to-Logstown.small.jpg"></a></p>

<p>Depicted here is the arrival of French forces&mdash;priest included&mdash;at
the village of Logstown in the run-up to the French and Indian War. This moment
symbolizes the thick, intersecting tensions of geopolitics, commerce, religion,
cross-cultural engagement, and face-to-face village life. Can we symbolically
revisit this moment, and proceed differently?</p>

{% end %}
