#body {
    width: 316px;
}
FORM {
    margin: 50px 0 0;
    padding: 0 0 0;
}
H1 { padding : 0; }
H2 { margin: 50px 0; }
H3 {
    font: normal 16px/16px Cabin;
    padding: 0;
    color: #614C3E;
    text-align: center;
}
H3 SPAN {
    padding: 0 10px;
    background: white;
}
H3 B {
    text-transform: uppercase;
}
H3 B I {
    font-weight: normal;
    font-size: 9pt;
    text-transform: none;
}
#problem {
    color: red;
}
DIV.field {
    float: left;
}
DIV.unpegged {
    margin-bottom: 1em;
}
DIV.line {
    border-bottom: 1px solid #614C3E;
    margin-top: -10px;
    height: 0px;
}
DIV.pegged {
    position: fixed;
    top: 0px;
    left: 50%;
    width: 356px;
    margin-left: -178px;
    display: none;
    overflow: hidden;
    height: 25px;
}
DIV.header {
    width: 376px;
    margin-left: -10px;
    background: white;
    border-bottom: 1px solid #614C3E;
}
DIV.header.shadow {
    -moz-box-shadow: 0 3px 5px #614C3E;
    -o-box-shadow: 0 3px 3px #614C3E;
    -webkit-box-shadow: 0 3px 3px #614C3E;
    box-shadow: 0 0px 4px #614C3E;
}

LABEL {
    font: normal 9pt/12pt Cabin;
    display: block;
    margin: 1em 0 0;
}
LABEL I {
    margin-left: 0.25em;
    font: normal italic 8.5pt/12pt Cabin;
}
INPUT {
    color: #301403;
    border: 1px solid #614C3E;
    width: 304px;
    padding: 5px;
    font: 16pt/20pt Cabin;
}
TEXTAREA {
    color: #301403;
    border: 1px solid #614C3E;
    width: 304px;
    height: 200px;
    padding: 5px;
    font: 12pt/16pt Cabin;
}

.submit {
    padding-top: 1em;
    text-align: right;
}
.dollar LABEL {
    padding-left: 7px;
}
.password INPUT {
    letter-spacing: 0.25em;
}
